Repository VOREStation/VOREStation, pull requests merged in 2018-03, with the labels that each got.

#3168 Lasshseeki Korss' EAL implant
  config/custom_items.txt
Labels: Type: Fluff

#3174 Make syringes not require 3 clicks to inject
  code/_helpers/mobs.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Task: Send this to Polaris

#3183 Reorganzied Holo Minimaps into SSholomaps subsystem.
  code/__defines/subsystems.dm
  code/controllers/subsystems/holomaps_vr.dm
  code/modules/holomap/generate_holomap.dm
  code/modules/holomap/holomap_datum.dm
  code/modules/holomap/station_holomap.dm
  vorestation.dme
Labels: Type: Refactor

#3186 Remove Spaceacillin
  code/__defines/chemistry.dm
  code/modules/organs/organ.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Task: Send this to Polaris

#3190 Adds the first one of the new fancy animated mawtails, 2 extra tail types, and 2 extra ear types.
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#3128 Adds hollow bones trait
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
  code/modules/organs/organ_external.dm
Labels: Type: Feature/Suggestion

#3200 Reduce qdel log file by 150000%
  code/controllers/subsystems/garbage.dm
Labels: Pri: 2-Severe, Task: Send this to Polaris, Type: Bug

#3208 Prevent ghosts from ejecting borgs from rechargers
  code/game/machinery/rechargestation.dm
Labels: Task: Send this to Polaris, Type: Bug

#3206 Gives RD explorer comms
  code/game/objects/items/devices/radio/encryptionkey_vr.dm
Labels: Type: Feature/Suggestion

#3211 POLARIS: Move Topic() log to debug_log
  code/world.dm
Labels: Task: Send this to Polaris

#3214 Fixes #3209, fixes the cancel button in ears/wings/tail selection clearing the respective selection
  code/modules/client/preference_setup/vore/01_ears.dm
  code/modules/mob/living/simple_animal/vore/shadekin/shadekin.dm
Labels: Type: Bug

#3219 Log additional engine information to game log
  code/modules/mob/new_player/new_player.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/power/smes.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Task: Send this to Polaris

#3223 Readd include_name param on key_name because it's used
  code/_helpers/logging.dm
Labels: Type: Bug

#3225 Tooltip framework + Mob tooltips
  code/_helpers/mobs.dm
  code/game/atoms.dm
  code/modules/client/client defines.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/client/ui_style.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/animals/bat.dm
  code/modules/mob/living/simple_animal/animals/bear.dm
  code/modules/mob/living/simple_animal/animals/carp.dm
  code/modules/mob/living/simple_animal/animals/cat.dm
  code/modules/mob/living/simple_animal/animals/corgi.dm
  code/modules/mob/living/simple_animal/animals/crab.dm
  code/modules/mob/living/simple_animal/animals/farm_animals.dm
  code/modules/mob/living/simple_animal/animals/fox_vr.dm
  code/modules/mob/living/simple_animal/animals/giant_spider.dm
  code/modules/mob/living/simple_animal/animals/goose.dm
  code/modules/mob/living/simple_animal/animals/lizard.dm
  code/modules/mob/living/simple_animal/animals/mouse.dm
  code/modules/mob/living/simple_animal/animals/parrot.dm
  code/modules/mob/living/simple_animal/animals/penguin.dm
  code/modules/mob/living/simple_animal/animals/slime.dm
  code/modules/mob/living/simple_animal/animals/spiderbot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/vore/awoo.dm
  code/modules/mob/living/simple_animal/vore/catgirl.dm
  code/modules/mob/living/simple_animal/vore/fennec.dm
  code/modules/mob/living/simple_animal/vore/frog.dm
  code/modules/mob/living/simple_animal/vore/gaslamp.dm
  code/modules/mob/living/simple_animal/vore/horse.dm
  code/modules/mob/living/simple_animal/vore/otie.dm
  code/modules/mob/living/simple_animal/vore/panther.dm
  code/modules/mob/living/simple_animal/vore/wah.dm
  code/modules/mob/living/simple_animal/vore/wolf.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/tooltip/tooltip.dm
  code/modules/tooltip/tooltip.html
  interface/skin.dmf
  vorestation.dme
Labels: Task: Send this to Polaris

#3119 Preliminary rewrite of pipe construction.
  code/ATMOSPHERICS/_atmos_setup.dm
  code/ATMOSPHERICS/_atmospherics_helpers.dm
  code/ATMOSPHERICS/atmospherics.dm
  code/ATMOSPHERICS/components/binary_devices/algae_generator_vr.dm
  code/ATMOSPHERICS/components/binary_devices/binary_atmos_base.dm
  code/ATMOSPHERICS/components/binary_devices/circulator.dm
  code/ATMOSPHERICS/components/binary_devices/dp_vent_pump.dm
  code/ATMOSPHERICS/components/binary_devices/passive_gate.dm
  code/ATMOSPHERICS/components/binary_devices/pipeturbine.dm
  code/ATMOSPHERICS/components/binary_devices/pump.dm
  code/ATMOSPHERICS/components/binary_devices/volume_pump.dm
  code/ATMOSPHERICS/components/omni_devices/filter.dm
  code/ATMOSPHERICS/components/omni_devices/mixer.dm
  code/ATMOSPHERICS/components/omni_devices/omni_base.dm
  code/ATMOSPHERICS/components/portables_connector.dm
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/ATMOSPHERICS/components/trinary_devices/mixer.dm
  code/ATMOSPHERICS/components/trinary_devices/trinary_base.dm
  code/ATMOSPHERICS/components/tvalve.dm
  code/ATMOSPHERICS/components/unary/cold_sink.dm
  code/ATMOSPHERICS/components/unary/heat_exchanger.dm
  code/ATMOSPHERICS/components/unary/heat_source.dm
  code/ATMOSPHERICS/components/unary/outlet_injector.dm
  code/ATMOSPHERICS/components/unary/unary_base.dm
  code/ATMOSPHERICS/components/unary/vent_pump.dm
  code/ATMOSPHERICS/components/unary/vent_scrubber.dm
  code/ATMOSPHERICS/components/valve.dm
  code/ATMOSPHERICS/mainspipe.dm
  code/ATMOSPHERICS/pipes/cap.dm
  code/ATMOSPHERICS/pipes/he_pipes.dm
  code/ATMOSPHERICS/pipes/manifold.dm
  code/ATMOSPHERICS/pipes/manifold4w.dm
  code/ATMOSPHERICS/pipes/pipe_base.dm
  code/ATMOSPHERICS/pipes/simple.dm
  code/ATMOSPHERICS/pipes/tank.dm
  code/ATMOSPHERICS/pipes/universal.dm
  code/ATMOSPHERICS/pipes/vent.dm
  code/__defines/construction.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/machinery/pipe/pipe_recipes.dm
  code/modules/multiz/pipes.dm
  icons/atmos/heat.dmi
  icons/atmos/junction.dmi
  icons/obj/pipe-item.dmi
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Refactor

#3226 Reduce double admin logs
  code/_helpers/logging.dm
  code/modules/admin/admin.dm
  code/modules/admin/verbs/adminpm.dm
Labels: Task: Send this to Polaris

#3249 Fix tooltip style sanitize
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Task: Send this to Polaris

#3243 Ventcrawl Anim + VS Fix
  code/modules/mob/animations.dm
  code/modules/ventcrawl/ventcrawl.dm
Labels: Task: Send this to Polaris

#3246 Allow species-specific statpanels
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
Labels: Task: Send this to Polaris

#3248 UI Tweak involving species rarity
  code/modules/client/preference_setup/general/03_body.dm
Labels: Task: Send this to Polaris

#3247 Fix several organ bugs + Prometheans
  code/modules/organs/organ_external.dm
  code/modules/organs/organ_icon.dm
  code/modules/organs/subtypes/standard.dm
Labels: Task: Send this to Polaris

#3244 Prevent infections from healing you, small tweaks
  code/modules/organs/organ.dm
Labels: Task: Send this to Polaris

#3235 Adds an alt vulp tail style.
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#3250 Add eye color to shapeshifters
  code/modules/mob/living/carbon/human/species/species_shapeshift.dm
  code/modules/mob/living/carbon/human/species/station/prometheans.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Task: Send this to Polaris

#3255 Fix incorrect robolimb checks
  code/game/machinery/adv_med.dm
  code/game/machinery/kitchen/cooking_machines/fryer.dm
  code/modules/mob/living/bot/farmbot.dm
  code/modules/mob/living/bot/medbot.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/virus2/effect.dm
Labels: Task: Send this to Polaris

#3242 Communicator + NIF Refactor
  code/game/objects/items/devices/communicator/UI.dm
  code/game/objects/items/devices/communicator/communicator.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/nifsoft/nif.dm
  code/modules/nifsoft/software/14_commlink.dm
Labels: Task: Send this to Polaris

#3229 Vore fixes and additions. (gurgledeath item drop, vorepanel load button, corrupt prettyboi)
  code/modules/mob/living/simple_animal/vore/badboi.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/mob/vore64x32.dmi
Labels: Type: Feature/Suggestion, Type: Icon, Type: Vore-Related

#3170 Return of the Fluff Items Workshop
  code/modules/vore/fluffstuff/custom_guns_vr.dm
  code/modules/vore/fluffstuff/guns/crestrose.dm
  code/modules/vore/fluffstuff/guns/dominator.dm
  code/modules/vore/fluffstuff/guns/gunsword.dm
  icons/vore/custom_guns_vr.dmi
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#3159 Arachnoborg sprite set.
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  icons/mob/robots_vr.dmi
Labels: Type: Icon

#3234 Fixes #3192, Teshari Hiding
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/living_powers.dm
Labels: Task: Send this to Polaris

#3251 Heal robolimbs when you heal everything
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/living.dm
Labels: Task: Send this to Polaris

#3265 "0x32" is not a valid single-bit flag
  code/__defines/mobs.dm
  code/game/gamemodes/changeling/powers/revive.dm
  code/modules/mob/living/carbon/metroid/life.dm
Labels: Task: Send this to Polaris

#3260 Fix a call to the wrong update icons in prom regen
  code/modules/mob/living/carbon/human/human_powers.dm
Labels: Task: Send this to Polaris

#3263 Make borg recharger test more robust + FBP Cells
  code/game/machinery/rechargestation.dm
  code/modules/organs/organ_external_vr.dm
  code/modules/organs/subtypes/nano.dm
  code/modules/organs/subtypes/standard.dm
  vorestation.dme
Labels: Task: Send this to Polaris

#3266 Refactor typing overlay and robot overlays
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/say.dm
  code/modules/mob/say_vr.dm
  code/modules/mob/typing_indicator.dm
  code/modules/multiz/zshadow.dm
Labels: Task: Send this to Polaris

#3275 MouseDown closes tooltips too
  code/modules/mob/mob.dm
Labels: Task: Send this to Polaris

#3274 POLARIS: Fix pipelayer and restore pipe pulling
  code/__defines/math.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/pipe/pipelayer.dm
Labels: Task: Send this to Polaris

#3272 Fix a couple organ dropping bugs
  code/modules/organs/organ.dm
  code/modules/organs/organ_external.dm
Labels: Task: Send this to Polaris

#3271 Reduce chance of cophorizine limb breaks
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Task: Send this to Polaris

#3269 Fixes several runtimes
  code/game/objects/items.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/syringes_vr.dm
  code/modules/vore/resizing/holder_micro_vr.dm
Labels: Task: Send this to Polaris

#3282 More logs
  code/game/atoms.dm
  code/modules/mob/living/say.dm
  code/modules/vore/resizing/resize_vr.dm
Labels: Task: Send this to Polaris

#3290 Allow crawling through vertical pipes
  code/modules/multiz/movement.dm
Labels: Task: Send this to Polaris

#3289 Another recharger fix
  code/game/machinery/rechargestation.dm
Labels: Task: Send this to Polaris

#3295 Fix holders sending their held mob to nullspace
  code/modules/mob/holder.dm
  code/modules/vore/eating/living_vr.dm
Labels: Task: Send this to Polaris

#3294 Stop annoying messages from guts
  code/game/atoms.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/mob.dm
  code/modules/organs/organ_external.dm
  code/modules/vore/eating/belly_obj_vr.dm
Labels: Task: Needs Testing, Type: Bug, Type: Vore-Related

#3305 Ventcrawling assistance
  code/_onclick/hud/hud.dm
  code/modules/ventcrawl/ventcrawl.dm
  icons/mob/screen1.dmi
Labels: Task: Send this to Polaris, Type: Polaris icon files

#3309 Lazylen species restricted list
  code/modules/clothing/clothing.dm
Labels: Task: Send this to Polaris

#3312 16 Bugfixes/Features
  code/game/machinery/cryopod.dm
  code/game/mecha/mech_bay.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/events/grubinfestation_vr.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/animals/giant_spider.dm
  code/modules/mob/living/voice/voice.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/organs/organ_icon.dm
  code/modules/surgery/robotics.dm
  code/modules/vore/eating/living_vr.dm
  icons/obj/robot_storage.dmi
Labels: Task: Send this to Polaris, Type: Old Code Port

#3349 changes hairstyles to use species defines
  code/__defines/mobs_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/new_player/sprite_accessories_vr.dm
Labels: Type: Refactor

#3348 Adds in Floppy Bunny ears.
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/vore/ears_vr.dmi
Labels: Type: Feature/Suggestion, Type: Icon

#3347 Increase prom limb health by 60%
  code/modules/organs/subtypes/slime_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#3343 Fixes handheld cameras
  code/modules/paperwork/photography.dm
Labels: Type: Bug

#3340 Balance pass on custom species traits
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
Labels: Type: Feature/Suggestion

#3342 Makes rads not kill people in stomachs
  code/datums/repositories/radiation.dm
Labels: Type: Feature/Suggestion

#3345 Resh - Navy HoS Jacket
  config/custom_items.txt
Labels: Type: Fluff
