Repository VOREStation/VOREStation, pull requests merged in 2018-10, with the labels that each got.

#4296 Restores phoron scrubbing to vents
  code/ATMOSPHERICS/components/unary/vent_scrubber_vr.dm
  vorestation.dme
Labels: Sev: 2-High, Type: Feature/Suggestion

#4226 Adds Security Eyepatch
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/clothing/glasses/hud_vr.dm
Labels: Type: Feature/Suggestion

#4365 Critical maploader fix
  code/modules/awaymissions/gateway.dm
  code/modules/maps/tg/reader.dm
Labels: Sev: 1-Blocker, Type: Bug

#4374 Add base turfs to a few areas
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/submaps/beach/_beach.dm
  maps/tether/tether_areas2.dm
Labels: Type: Map

#4344 Reverts species settings
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
Labels: Task: Requires Discussion

#4426 Replaces awoo with wolfgirl
  code/datums/supplypacks/recreation_vr.dm
  code/game/objects/items/weapons/shields_vr.dm
  code/game/objects/structures/crates_lockers/largecrate_vr.dm
  code/modules/mob/living/simple_animal/vore/wolfgirl.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/mob/vore.dmi
  icons/obj/weapons_vr.dmi
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_items_vr.dmi
  icons/vore/custom_onmob_vr.dmi
  vorestation.dme
Labels: Type: Refactor

#4356 ERT Equipment Redo
  code/game/objects/items/weapons/storage/firstaid_vr.dm
  code/modules/reagents/reagent_containers/pill_vr.dm
  maps/tether/tether-10-colony.dmm
  vorestation.dme
Labels: Type: Map
