Repository VOREStation/VOREStation, pull requests merged in 2018-02, with the labels that each got.

#3004 Ion gun / EMP bugfix and refactor
  code/modules/organs/internal/organ_internal_vr.dm
  code/modules/projectiles/guns/energy/special_vr.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/projectiles/projectile/special_vr.dm
  maps/tether/submaps/alienship/_alienship.dm
  vorestation.dme
Labels: Task: Send this to Polaris

#3017 Fixes dead mobs finishing noms.
  code/modules/vore/eating/belly_vr.dm
Labels: Type: Bug

#3023 Adds newspapering, fixes mob digestion toggle, and other tweaks
  code/modules/mob/living/simple_animal/animals/cat_vr.dm
  code/modules/mob/living/simple_animal/animals/fox_vr.dm
  code/modules/mob/living/simple_animal/vore/zz_vore_overrides.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/simple_animal_vr.dm
Labels: Type: Bug, Type: Feature/Suggestion

#3055 Fix same-size mobs walking on each other and being unable to bump doors.
  code/modules/mob/living/living.dm
  code/modules/vore/resizing/resize_vr.dm
Labels: Type: Bug

#3057 Make turf obfuscation lists lazy
  code/modules/mob/freelook/chunk.dm
  code/modules/mob/freelook/update_triggers.dm
Labels: Task: Send this to Polaris

#3058 Half character-join lag
  code/__defines/misc.dm
  code/_helpers/mobs.dm
  code/datums/datacore.dm
  code/datums/outfits/outfit.dm
  code/game/jobs/job_controller.dm
  code/game/objects/items/weapons/id cards/station_ids.dm
  code/global.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/new_player/new_player.dm
Labels: Task: Send this to Polaris

#3065 Utility to test NanoUI templates outside of BYOND.
  tools/nano-tester/.gitignore
  tools/nano-tester/README.md
  tools/nano-tester/index.html
  tools/nano-tester/index.js
  tools/nano-tester/initialData.json
  tools/nano-tester/package.json
Labels: Type: Feature/Suggestion, Type: Misc

#3071 Make gas turbine constructable and operational
  code/_helpers/unsorted.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/modules/power/turbine.dm
  nano/templates/turbine_computer.tmpl
Labels: Task: Send this to Polaris, Type: Feature/Suggestion, Type: Refactor

#3076 Tweak Tesla Grounding Rods
  code/modules/power/tesla/energy_ball.dm
Labels: Task: Send this to Polaris

#3085 Fix several Destroy() related things
  code/controllers/subsystems/garbage.dm
  code/controllers/subsystems/transcore_vr.dm
  code/datums/EPv2.dm
  code/datums/mixed.dm
  code/datums/progressbar.dm
  code/game/objects/items/devices/communicator/communicator.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/modules/mob/login_vr.dm
  code/modules/mob/mob_planes.dm
  code/modules/mob/mob_planes_vr.dm
  code/modules/nano/modules/nano_module.dm
  code/modules/nifsoft/software/14_commlink.dm
  code/modules/resleeving/implant.dm
Labels: Task: Send this to Polaris, Type: Bug

#3083 Fix mapped in pipes pver openspace turfs
  code/ATMOSPHERICS/pipes.dm
  icons/atmos/pipes.dmi
Labels: Pri: 1-Blocker, Task: Send this to Polaris, Type: Bug, Type: Polaris Bug

#3068 Adds Timeclock Terminals: A machine for viewing your PTO balance.
  code/game/machinery/computer/timeclock_vr.dm
  code/game/objects/items/weapons/circuitboards/circuitboards_vr.dm
  icons/obj/machines/timeclock_vr.dmi
  nano/templates/timeclock_vr.tmpl
  vorestation.dme
Labels: Type: Feature/Suggestion

#3098 Stop candles from messaging the universe when they light.
  code/game/objects/items/weapons/candle.dm
Labels: Task: Send this to Polaris, Type: Bug

#3093 Eliminated duplicate code in trinary components.
  code/ATMOSPHERICS/atmospherics.dm
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/ATMOSPHERICS/components/trinary_devices/mixer.dm
  code/ATMOSPHERICS/components/trinary_devices/trinary_base.dm
  code/ATMOSPHERICS/components/tvalve.dm
Labels: Task: Send this to Polaris, Type: Refactor

#3091 Adds a toggle to the bluespace jumpsuit
  code/modules/clothing/under/miscellaneous_vr.dm
Labels: Type: Feature/Suggestion

#3078 Adds "monster tamer" drink, plus some chimera tweaks.
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_vr.dm
  code/modules/reagents/Chemistry-Recipes_vr.dm
Labels: Type: Bug, Type: Feature/Suggestion

#3097 Adds Siren jumpsuit
  code/modules/client/preference_setup/loadout/loadout_gloves_vr.dm
  code/modules/client/preference_setup/loadout/loadout_shoes_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Type: Fluff

#3096 Improve two image cleanups
  code/modules/mob/animations.dm
  code/modules/mob/living/say.dm
Labels: Task: Send this to Polaris

#3100 Eliminated more duplicate code in trinary components: Rondo of T-Valves
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/ATMOSPHERICS/components/trinary_devices/mixer.dm
  code/ATMOSPHERICS/components/trinary_devices/trinary_base.dm
  code/ATMOSPHERICS/components/tvalve.dm
  code/game/machinery/pipe/construction.dm
  maps/northern_star/polaris-1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-09-solars.dmm
  maps/virgo/virgo-1.dmm
Labels: Task: Send this to Polaris, Type: Refactor

#3084 Changes Tasald's Revolver Sprite
  icons/vore/custom_guns_vr.dmi
Labels: Type: Icon

#3103 Fix mode_name on guns always being null
  code/modules/projectiles/gun.dm
Labels: Task: Send this to Polaris, Type: Polaris Bug

#3106 Allow alteration of mob default see_invisible
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living_defines.dm
Labels: Task: Send this to Polaris

#3111 say() safety check on client
  code/modules/mob/living/say.dm
Labels: Task: Send this to Polaris, Type: Bug

#3082 Adds BeyondMyLife's custom clothes
  code/modules/vore/fluffstuff/custom_boxes_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  config/custom_items.txt
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#3115 Maps in timeclocks
  code/game/machinery/computer/timeclock_vr.dm
  icons/obj/machines/timeclock_vr.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#3114 Tweak MA constructor
  code/datums/mutable_appearance.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/simple_animal/vore/shadekin/shadekin.dm
  code/modules/vore/fluffstuff/guns/nsfw.dm
Labels: Task: Send this to Polaris

#3113 Adds a generic 'aura animation' system, applies to resizing
  code/_helpers/icons.dm
  code/modules/vore/resizing/resize_vr.dm
Labels: Task: Send this to Polaris

#3124 Make cryopods check area first, then range
  code/game/machinery/cryopod.dm
Labels: Task: Send this to Polaris

#3122 Fix oversight in not-late-join jobs without spawnpoints on the map
  code/game/jobs/job_controller.dm
Labels: Pri: 2-Severe, Task: Send this to Polaris, Type: Bug

#3120 Remove unnecessary SA code
  code/modules/mob/emote.dm
  code/modules/mob/living/say.dm
  code/modules/vore/eating/simple_animal_vr.dm
Labels: Task: Send this to Polaris

#3126 Port SSoverlays
  code/__defines/items_clothing.dm
  code/__defines/math.dm
  code/__defines/stat_tracking.dm
  code/__defines/subsystems.dm
  code/_helpers/sorts/comparators.dm
  code/controllers/subsystems/overlays.dm
  code/game/atoms.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/vore/fluffstuff/guns/nsfw.dm
  vorestation.dme
Labels: Pri: 2-Severe, Task: Send this to Polaris, Type: Bug, Type: Byond Bug, Type: Refactor

#3137 Added WTFIsMyName to Xenohybrid Whitelist.
  config/alienwhitelist.txt
Labels: Type: Fluff

#3140 New Handy sprites for non-dog borg modules
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  icons/mob/robots_vr.dmi
Labels: Type: Icon

#3138 Gives prometheans the trash eater trait.
  code/modules/mob/living/carbon/human/species/station/prometheans_vr.dm
Labels: Type: Feature/Suggestion

#3133 Convert turfs to use add_overlays()
  code/ATMOSPHERICS/pipes.dm
  code/ZAS/Turf.dm
  code/_helpers/unsorted.dm
  code/controllers/subsystems/floor_decals.dm
  code/controllers/subsystems/overlays.dm
  code/game/machinery/alarm.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/flooring/turf_overlay_holder.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_icon.dm
  code/game/turfs/simulated/floor_types.dm
  code/game/turfs/simulated/outdoors/outdoors.dm
  code/game/turfs/simulated/outdoors/snow.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/simulated/wall_types_vr.dm
  code/game/turfs/simulated/water.dm
  code/game/turfs/snow/snow.dm
  code/game/turfs/space/cracked_asteroid.dm
  code/game/turfs/unsimulated/beach.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/multiz/turf.dm
  maps/tether/submaps/beach/_beach.dm
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Byond Bug, Type: Refactor

#3142 Rewrites vore
  code/__defines/atmos.dm
  code/__defines/sound.dm
  code/_macros_vr.dm
  code/controllers/subsystems/bellies_vr.dm
  code/datums/helper_datums/teleport_vr.dm
  code/game/area/areas.dm
  code/game/atoms_movable.dm
  code/game/machinery/adv_med_vr.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/objects/items/trash_vr.dm
  code/game/objects/structures/crates_lockers/closets/egg_vr.dm
  code/game/sound.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/carbon/human/examine_vr.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_species_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/examine.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
  code/modules/mob/living/silicon/robot/examine_vr.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/simple_animal/animals/cat_vr.dm
  code/modules/mob/living/simple_animal/animals/fish_vr.dm
  code/modules/mob/living/simple_animal/animals/fox_vr.dm
  code/modules/mob/living/simple_animal/animals/slime.dm
  code/modules/mob/living/simple_animal/simple_animal_vr.dm
  code/modules/mob/living/simple_animal/vore/otie.dm
  code/modules/mob/living/simple_animal/vore/shadekin/ability_procs.dm
  code/modules/mob/living/simple_animal/vore/shadekin/shadekin.dm
  code/modules/mob/living/simple_animal/vore/zz_vore_overrides.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Vore_vr.dm
  code/modules/vore/eating/belly_dat_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/contaminate_vr.dm
  code/modules/vore/eating/digest_act_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/simple_animal_vr.dm
  code/modules/vore/eating/transforming_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/fluffstuff/custom_boxes_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  code/modules/vore/fluffstuff/guns/sickshot.dm
  code/unit_tests/vore_tests_vr.dm
  vorestation.dme
Labels: Type: Vore-Related

#3139 Promethean Water Edits
  code/modules/mob/living/carbon/human/species/station/prometheans.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
Labels: Type: Feature/Suggestion

#3134 Fixes messed up tajaran deform icon naming.
  icons/mob/human_races/r_def_tajaran_vr.dmi
Labels: Type: Icon

#3157 Re-adds Eris tank sprites
  code/ATMOSPHERICS/pipes.dm
  code/ATMOSPHERICS/pipes/tank.dm
Labels: Pri: 3-Moderate, Type: Bug
