Repository VOREStation/VOREStation, pull requests merged in 2018-12, with the labels that each got.

#4500 Adds Kenzie's hypospray
  code/modules/vore/fluffstuff/custom_items_vr.dm
  config/custom_items.txt
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff

#4507 Fixes ingested organs giving way too much fat
  code/modules/vore/eating/digest_act_vr.dm
Labels: Sev: 2-High, Type: Bug

#4559 Updates anime eyes marking
  icons/mob/human_races/markings_vr.dmi
Labels: Type: Icon

#4560 Adds Varonis and Oreganovulgaris to Xenochimera Whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#4590 Removes the mimics from the station map levels
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-07-station3.dmm
Labels: Task: Requires Discussion, Type: Map

#4495 Collar tweaks
  code/controllers/Processes/scheduler.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
Labels: Type: Feature/Suggestion
