Repository VOREStation/VOREStation, pull requests merged in 2018-04, with the labels that each got.

#3360 Probably maybe fixes blank lines for prey
  code/modules/vore/eating/bellymodes_vr.dm
Labels: Type: Bug, Type: Vore-Related

#3369 Fixes infinite loop in FBP naming w/o client
  code/modules/surgery/robotics.dm
Labels: Pri: 2-Severe, Type: Bug

#3352 Adds Keypad Auth to CE Office
  maps/tether/tether-05-station1.dmm
Labels: Type: Feature/Suggestion, Type: Map

#3379 Fixes a bug. It's flatland zorren.
  code/__defines/mobs_vr.dm
Labels: Type: Bug

#3363 Fixes incorrect camera naming/networks.
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Bug

#3356 Adds bioprinter to medical
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#3384 Fixes vox not having hardsuit sprites.
  code/modules/clothing/clothing_vr.dm
  code/modules/clothing/spacesuits/rig/rig_pieces_vr.dm
Labels: Type: Bug

#3407 Changes wedding rings to be a subtype of ring
  code/modules/client/preference_setup/loadout/loadout_gloves_vr.dm
  code/modules/clothing/gloves/miscellaneous_vr.dm
  code/modules/clothing/rings/rings_vr.dm
  vorestation.dme
Labels: Type: Bug

#3358 Fixes feathered tesh tail into proper dual-color format.
  code/modules/vore/appearance/sprite_accessories_vr.dm
Labels: Type: Feature/Suggestion

#3418 Fix shuttle corner turfs disappearing when shuttle moves.
  code/game/turfs/simulated/floor_types.dm
Labels: Pri: 3-Moderate, Task: Send this to Polaris, Type: Bug

#3414 Adds the ability for meteors to be deflected by baseball bats
  code/game/atoms_movable_vr.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/gamemodes/meteor/meteors_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#3427 Makes the door button in EVA ACTUALLY WORK
  maps/tether/tether-06-station2.dmm
Labels: Type: Map

#3425 Adds compact defib to CC medbay. Closes #2287
  maps/tether/tether-10-colony.dmm
Labels: Type: Map

#3404 Adds a bunch of stuff to cargo selection.
  code/datums/supplypacks/costumes_vr.dm
  code/datums/supplypacks/hospitality_vr.dm
  code/datums/supplypacks/recreation_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#3428 Reduce abduction chance 1%->0.5%, add logs
  maps/tether/tether_shuttles.dm
Labels: Type: Feature/Suggestion

#3445 Fix Wall Frames - Several Ways
  code/_helpers/unsorted.dm
  code/game/machinery/frame.dm
  code/game/machinery/wall_frames.dm
  code/game/objects/items/apc_frame.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall_attacks.dm
Labels: Pri: 3-Moderate, Task: Send this to Polaris, Type: Bug

#3444 Couple more Protean fixes, + darksight
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_powers.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
Labels: Type: Bug, Type: Feature/Suggestion

#3443 Adds 'mode addons' feature to bellies to replace several modes
  code/__defines/belly_modes_vr.dm
  code/_macros_vr.dm
  code/modules/mob/living/simple_animal/animals/cat_vr.dm
  code/modules/mob/living/simple_animal/animals/fox_vr.dm
  code/modules/mob/living/simple_animal/simple_animal_vr.dm
  code/modules/mob/living/simple_animal/vore/shadekin/shadekin.dm
  code/modules/mob/living/simple_animal/vore/solargrub.dm
  code/modules/vore/eating/belly_dat_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_tf_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Vore-Related

#3441 Adds giant rat voremob.
  code/game/objects/structures/crates_lockers/largecrate_vr.dm
  code/modules/mob/living/simple_animal/vore/rous.dm
  code/modules/mob/living/simple_animal/vore/zz_vore_overrides.dm
  icons/mob/vore64x32.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Icon, Type: Vore-Related

#3438 Adds deer taur.
  code/game/objects/items/weapons/storage/backpack_vr.dm
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/back_vr.dmi
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Feature/Suggestion, Type: Icon

#3437 Fixes teal carpets.
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  icons/turf/flooring/carpet_vr.dmi
Labels: Type: Bug

#3436 Nerfs apex metabolism
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
Labels: Type: Feature/Suggestion

#3406 Adds SilencedMP5A5's fluff items
  code/modules/clothing/spacesuits/void/void_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  config/custom_items.txt
  icons/mob/taursuits_vr.dmi
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#3387 Fix Teshari Tail-hair Rendering
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Status: DO NOT MERGE

#3430 Lore updates
  code/modules/busy_space_vr/organizations.dm
  code/modules/lore_codex/codex.dm
  code/modules/lore_codex/lore_data_vr/important_locations.dm
  code/modules/lore_codex/lore_data_vr/main.dm
  code/modules/lore_codex/lore_data_vr/political_parties.dm
  code/modules/lore_codex/lore_data_vr/species.dm
  code/modules/paperwork/faxmachine.dm
  maps/tether/submaps/beach/_beach.dm
  vorestation.dme
Labels: Type: Fluff

#3467 Teshari stuff
  code/modules/mob/new_player/sprite_accessories_vr.dm
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/human_face_or_vr.dmi
  icons/mob/human_face_vr.dmi
  icons/mob/human_face_vr_add.dmi
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
Labels: Type: Fluff, Type: Icon

#3485 Sundry Fixes - Emitters, Bedsheets, Conveyors
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/power/singularity/emitter.dm
  code/modules/recycling/conveyor2.dm
Labels: Task: Send this to Polaris, Type: Bug

#3463 Makes donuts less of a strain on resources.
  code/modules/food/recipes_microwave_vr.dm
Labels: Task: Send this to Polaris

#3494 Remove tag var from all Tether maps
  maps/tether/submaps/aerostat/aerostat.dmm
  maps/tether/submaps/aerostat/submaps/Blackshuttledown.dmm
  maps/tether/submaps/aerostat/submaps/DecoupledEngine.dmm
  maps/tether/submaps/aerostat/submaps/Shack1.dmm
  maps/tether/submaps/alienship/alienship.dmm
  maps/tether/submaps/tether_misc.dmm
  maps/tether/submaps/tether_ships.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether-09-solars.dmm
  maps/tether/tether-10-colony.dmm
Labels: Type: Map

#3489 Adds public garden+juice bar, updates mapmerge2
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas2.dm
  tools/mapmerge2/Prepare Maps.bat
  tools/mapmerge2/dmm.py
  tools/mapmerge2/dmm2tgm.bat
  tools/mapmerge2/mapmerge.bat
  tools/mapmerge2/tgm2dmm.bat
Labels: Type: Bug, Type: Map

#3497 Nerf marble
  code/modules/materials/materials.dm
Labels: Task: Send this to Polaris, Type: Bug

#3493 Xenobio lab updates
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#3504 Allow K9s to use the hailer and law emotes
  code/modules/mob/living/silicon/robot/emote.dm
Labels: Type: Bug

#3491 Fixes brig common area disposal
  maps/tether/tether-06-station2.dmm
Labels: Type: Map

#3500 Rewrite brig timers to initialize properly
  code/game/machinery/doors/brigdoors.dm
Labels: Task: Send this to Polaris, Type: Bug

#3505 Drastically reduce Virgo 2 mob respawn count
  maps/tether/submaps/aerostat/_aerostat.dm
Labels: Type: Feature/Suggestion

#3503 Adds two gear painters to the map
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#3502 Make farmbots fill 10x faster
  code/modules/mob/living/bot/farmbot.dm
Labels: Type: Feature/Suggestion

#3492 Rewrite shadekin update_icons()
  code/modules/mob/living/simple_animal/vore/shadekin/shadekin.dm
Labels: Type: Bug, Type: Refactor

#3487 Added three custom items for hzdonut (Modified LeMat Fluff Weapon)
  config/custom_items.txt
Labels: Type: Fluff

#3501 Cleans up custom species icon base code
  code/__defines/mobs_vr.dm
  code/_helpers/global_lists.dm
  code/_helpers/global_lists_vr.dm
  code/modules/client/preference_setup/vore/07_traits.dm
  code/modules/mob/living/carbon/human/species/station/blank_vr.dm
Labels: Type: Bug

#3483 Add ability for shapeshifters to change ears, tails, wings
  code/modules/mob/living/carbon/human/species/species_shapeshift_vr.dm
  code/modules/mob/living/carbon/human/species/station/prometheans.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#3524 Fixed koi on Asteroid 1 not being poisonous
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#3546 Port /tg/ lavaland shelters
  code/__defines/misc_vr.dm
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/mapping_vr.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/modules/mining/shelter_atoms.dm
  code/modules/mining/shelters.dm
  icons/obj/device_alt.dmi
  icons/obj/survival_pod.dmi
  icons/obj/survival_pod_comp.dmi
  icons/obj/survival_pod_vend.dmi
  maps/submaps/shelters/shelter_1.dmm
  maps/submaps/shelters/shelter_2.dmm
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#3548 Adds missing Teshari DSI
  code/datums/supplypacks/science_vr.dm
  code/modules/organs/robolimbs.dm
  code/modules/organs/robolimbs_vr.dm
  icons/mob/human_races/cyberlimbs/DSITeshari/dsi_teshari.dmi
Labels: Type: Feature/Suggestion, Type: Icon

#3555 Ports /tg/ and/or Paradise ORM, + The Underdark
  code/game/objects/effects/temporary_visuials/miscellaneous.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/laserpointer_vr.dm
  code/game/objects/items/weapons/id cards/station_ids.dm
  code/modules/clothing/shoes/miscellaneous_vr.dm
  code/modules/mining/fulton.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mining/machine_unloading.dm
  code/modules/mining/orm_vr/construction.dm
  code/modules/mining/orm_vr/equipment_vendor.dm
  code/modules/mining/orm_vr/mine_point_items.dm
  code/modules/mining/resonator_vr.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator_vr.dm
  code/modules/reagents/reagent_containers/hypospray_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/effects/96x96_vr.dmi
  icons/mob/feet_vr.dmi
  icons/mob/items/lefthand_guns_vr.dmi
  icons/mob/items/lefthand_vr.dmi
  icons/mob/items/righthand_guns_vr.dmi
  icons/mob/items/righthand_vr.dmi
  icons/obj/clothing/shoes_vr.dmi
  icons/obj/device_alt.dmi
  icons/obj/fulton.dmi
  icons/obj/fulton_balloon.dmi
  icons/obj/gun_vr.dmi
  icons/obj/machines/mining_machines_vr.dmi
  icons/obj/mining_vr.dmi
  icons/obj/objects_vr.dmi
  icons/obj/projectiles_vr.dmi
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/submaps/tether_underdark.dmm
  maps/tether/submaps/underdark_pois/_templates.dm
  maps/tether/submaps/underdark_pois/boss_mob.dmm
  maps/tether/submaps/underdark_pois/hard_mob.dmm
  maps/tether/submaps/underdark_pois/normal_mob.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-08-mining.dmm
  maps/tether/tether_areas2.dm
  maps/tether/tether_defines.dm
  maps/tether/tether_things.dm
  maps/tether/tether_turfs.dm
  sound/items/fulext_deploy.wav
  sound/items/fultext_launch.wav
  sound/weapons/Kenetic_accel.ogg
  sound/weapons/kenetic_reload.ogg
  sound/weapons/resonator_blast.ogg
  sound/weapons/resonator_fire.ogg
  vorestation.dme
Labels: Type: Feature/Suggestion

#3553 Adds a sneaky room to Z2 bar maint
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#3561 Fixes an exploit with circuit printers
  code/modules/integrated_electronics/core/printer.dm
Labels: Pri: 2-Severe, Type: Bug

#3563 Fix missing descriptions on guns.
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
Labels: Task: Send this to Polaris

#3576 Removes carp burgers from burger crates, replaces with fries
  code/datums/supplypacks/hospitality_vr.dm
Labels: Type: Refactor

#3573 Removed underdark apc from alarm consoles
  maps/tether/submaps/tether_underdark.dmm
Labels: Type: Map

#3574 Trades an antibody scanner for a health analyzer
  maps/tether/tether-06-station2.dmm
Labels: Type: Bug, Type: Map

#3590 Xenochimera fixes post-cleanup
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
Labels: Type: Bug

#3601 Seed submaps first in underdark
  maps/tether/submaps/_tether_submaps.dm
Labels: Type: Bug

#3588 Makes file pathing for mobs not piss me off
  code/game/objects/structures/crates_lockers/largecrate_vr.dm
  code/modules/mob/living/simple_animal/vore/corrupt_hounds.dm
  code/modules/mob/living/simple_animal/vore/rat.dm
  code/modules/mob/living/simple_animal/vore/redpanda.dm
  maps/tether/submaps/admin_use/spa.dmm
  maps/tether/submaps/aerostat/_aerostat.dm
  maps/tether/tether_things.dm
  vorestation.dme
Labels: Type: Refactor

#3579 Adds warning signs to the entrance of the underdark
  code/game/objects/structures/signs.dm
  icons/obj/decals_vr.dmi
  maps/tether/submaps/tether_underdark.dmm
Labels: Type: Map
