Repository VOREStation/VOREStation, pull requests merged in 2018-07, with the labels that each got.

#3956 Security Overhaul
  code/game/turfs/flooring/flooring_decals_vr.dm
  icons/turf/flooring/decals_vr.dmi
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas.dm
  maps/tether/tether_areas2.dm
  maps/tether/tether_things.dm
Labels: Type: Map

#4012 Spawns off an alert in character setup.
  code/modules/mob/new_player/new_player_vr.dm
Labels: Sev: 1-Blocker, Type: Bug

#4022 Fixes Stairs in BYOND 512.1436
  code/modules/multiz/structures.dm
Labels: Sev: 2-High, Task: Send this to Polaris, Type: Bug, Type: Byond Bug
