Repository VOREStation/VOREStation, pull requests merged in 2019-09, with the labels that each got.

#5774 Fixes space tiles on V4
  maps/tether/submaps/beach/_beach.dm
Labels: Sev: 1-Blocker, Type: Bug

#5786 Fixes roiz tail clipping uniform off
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
Labels: Type: Bug

#5789 Fixes the washing bug with boots
  code/game/atoms.dm
  code/game/objects/items.dm
  code/modules/clothing/clothing.dm
Labels: Type: Bug

#5795 Restricts AI intercepting messages
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/events/money_spam.dm
  code/modules/gamemaster/actions/money_spam.dm
Labels: Type: Feature/Suggestion

#5794 Fixing missing hardsuit icons
  icons/mob/species/akula/helmet_vr.dmi
  icons/mob/species/akula/suit_vr.dmi
  icons/mob/species/fennec/helmet_vr.dmi
  icons/mob/species/fennec/suit_vr.dmi
  icons/mob/species/fox/helmet_vr.dmi
  icons/mob/species/fox/suit_vr.dmi
  icons/mob/species/nevrean/helmet_vr.dmi
  icons/mob/species/nevrean/suit_vr.dmi
  icons/mob/species/sergal/helmet_vr.dmi
  icons/mob/species/sergal/suit_vr.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
Labels: Type: Icon, Type: Polaris icon files

#5787 Adds additional set of equipment for miners and janitors
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#5781 Updates solgov paths due to Polaris change
  code/datums/outfits/outfit_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/under/accessories/torch_vr.dm
  code/modules/clothing/under/solgov_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  config/custom_items.txt
  icons/vore/custom_clothes_vr.dmi
  vorestation.dme
Labels: Type: Fluff

#5777 Implements healbelly permission pref
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
Labels: Type: Feature/Suggestion

#5776 Added tracking + chemical implants to orderable security crate(s)
  code/datums/supplypacks/security.dm
Labels: Type: Feature/Suggestion

#5785 Refactors job overrides into their own _vr files rather than all in one
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/assistant_vr.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/captain_vr.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/civilian_vr.dm
  code/game/jobs/job/engineering_vr.dm
  code/game/jobs/job/medical_vr.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/science_vr.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/security_vr.dm
  code/game/jobs/job/silicon_vr.dm
  code/game/jobs/job/special_vr.dm
  code/game/jobs/job/z_all_jobs_vr.dm
  vorestation.dme
Labels: Type: Refactor

#5796 Ports 6440 early
  code/datums/supplypacks/security.dm
  code/datums/supplypacks/security_vr.dm
  code/game/machinery/Sleeper.dm
Labels: Type: Bug

#5801 Makes parachuting easier
  maps/tether/submaps/tether_ships.dmm
Labels: Type: Map

#5803 Replaces capsule liquidfoods with MREs
  code/game/machinery/Sleeper.dm
  maps/submaps/shelters/shelter_1.dmm
  maps/submaps/shelters/shelter_2.dmm
  maps/submaps/shelters/shelter_3.dmm
Labels: Type: Feature/Suggestion, Type: Submap

#5819 Fixes morph icon issue + verbs
  code/modules/mob/living/simple_mob/subtypes/vore/morph/morph.dm
Labels: Type: Bug

#5816 Adds soap and a pair of towels to each dorm
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#5832 Adjusts RD's rigsuit
  code/modules/clothing/spacesuits/rig/suits/station_vr.dm
Labels: Type: Feature/Suggestion

#5813 Corrupt Maintenance Drone
  code/modules/mob/living/simple_mob/subtypes/mechanical/corrupt_maint_drone_vr.dm
  icons/mob/robots_vr.dmi
Labels: Type: Feature/Suggestion

#5811 A new Poi
  maps/tether/submaps/underdark_pois/Corridor.dmm
  maps/tether/submaps/underdark_pois/_templates.dm
Labels: Type: Submap

#5750 Adds pet pens to Head of Staff offices
  code/game/machinery/doors/brigdoors.dm
  code/modules/mob/living/simple_mob/subtypes/animal/pets/cat.dm
  code/modules/mob/living/simple_mob/subtypes/animal/sif/fluffy_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/sif/shantak.dm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#5753 Tether Station 2 Map QoL Additions Attempt 3
  maps/tether/tether-06-station2.dmm
Labels: Type: Feature/Suggestion, Type: Map

#5839 Miscellaneous Fixes
  code/modules/mob/new_player/new_player.dm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
Labels: Type: Bug, Type: Map

#5842 Corrupt Maintenance Drone Hotfix
  code/modules/mob/living/simple_mob/subtypes/mechanical/corrupt_maint_drone_vr.dm
  vorestation.dme
Labels: Type: Bug

#5840 Refactors Fluff Items, moves them to be loadout options
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_vr.dm
  code/modules/vore/fluffstuff/custom_boxes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  vorestation.dme
Labels: Type: Refactor

#5845 Remaps entirety of Medbay
  code/game/machinery/Sleeper.dm
  code/game/machinery/vending_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/pets/bird_vr.dm
  icons/obj/Cryogenic2_vr.dmi
  icons/obj/vending_vr.dmi
  icons/turf/flooring/decals_vr.dmi
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  vorestation.dme
Labels: Sev: 2-High, Task: Requires Discussion, Type: Map

#5837 Centcom Tweaks
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/firstaid_vr.dm
  code/game/objects/random/misc.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/clothing/under/nanotrasen_vr.dm
  code/modules/vore/fluffstuff/guns/nsfw.dm
  maps/tether/tether-10-colony.dmm
Labels: Type: Map

#5852 Updates nanomaps
  nano/images/nanomap_z1.png
  nano/images/nanomap_z10.png
  nano/images/nanomap_z2.png
  nano/images/nanomap_z3.png
  nano/images/nanomap_z5.png
  nano/images/nanomap_z6.png
  nano/images/nanomap_z7.png
  nano/images/nanomap_z8.png
  nano/images/nanomap_z9.png
Labels: Type: Map

#5847 Makes empty sprites for k92 eyes
  icons/mob/widerobot_vr.dmi
Labels: Task: Help Needed, Type: Bug

#5846 Shelter Capsule Improvements
  code/game/objects/items/weapons/storage/firstaid_vr.dm
  code/modules/mining/shelter_atoms.dm
  code/modules/mining/shelters.dm
  maps/submaps/shelters/shelter_1_roof.dmm
  maps/submaps/shelters/shelter_2_roof.dmm
  maps/submaps/shelters/shelter_3.dmm
  maps/submaps/shelters/shelter_4.dmm
  maps/submaps/shelters/shelter_a.dmm
Labels: Type: Bug, Type: Feature/Suggestion

#5838 Ports Sofas from CitRP
  code/game/objects/structures/stool_bed_chair_nest/chairs_vr.dm
  code/modules/materials/material_recipes_vr.dm
  icons/obj/furniture_vr.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion

#5836 Adds rig modules to R&D
  code/modules/research/designs_vr.dm
Labels: Type: Feature/Suggestion

#5834 Cargo hardsuit changes
  code/datums/supplypacks/misc_vr.dm
  code/modules/clothing/spacesuits/rig/suits/station_vr.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
Labels: Type: Feature/Suggestion

#5848 Protean Changes
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_powers.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
Labels: Task: Requires Discussion, Task: Requires Staff Discussion, Task: Work in Progress, Type: Feature/Suggestion

#5820 Makes morphs sturdier
  code/modules/mob/living/simple_mob/subtypes/vore/morph/morph.dm
Labels: Type: Feature/Suggestion

#5876 Abduction Ship Fix
  maps/tether/submaps/alienship/alienship.dmm
Labels: Type: Map

#5880 Adds timeclock to new medical entrance
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#5881 Fixes being unable to interact with nanoui completely
  code/game/machinery/machinery.dm
Labels: Sev: 1-Blocker

#5895 Prevents voremobs from trying to pounce inelligible targets
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
Labels: Type: Feature/Suggestion

#5894 Reduces attack speed of mobs across the board
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/giant_spider/giant_spider_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/carp_vr.dm
  code/modules/mob/living/simple_mob/subtypes/slime/slime_vr.dm
  vorestation.dme
Labels: Sev: 2-High, Type: Feature/Suggestion

#5892 Budget insuls now provide a minimum level of protection.
  code/modules/clothing/gloves/color.dm
Labels: Type: Feature/Suggestion

#5901 Shelter Capsule Deploy Check
  code/modules/mining/shelters.dm
Labels: Type: Bug

#5904 Minor ERT Tweaks
  maps/tether/tether-10-colony.dmm
Labels: Type: Map

#5905 Adds missing seeds to seed storage
  code/modules/hydroponics/seed_storage_vr.dm
Labels: Type: Bug

#5907 Nom the Communicators!
  code/_helpers/global_lists_vr.dm
Labels: Type: Feature/Suggestion

#5913 Earlyports fixes to sandstone and adminwall
  code/game/turfs/unsimulated/walls.dm
  code/modules/materials/material_recipes.dm
Labels: Type: Bug

#5898 Nerfs regular nanopaste, adds advanced one
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/stacks/nanopaste_vr.dm
  icons/obj/stacks_vr.dmi
  maps/tether/tether-10-colony.dmm
  vorestation.dme
Labels: Type: Feature/Suggestion

#5900 Severely nerfs number of ions
  maps/tether/submaps/aerostat/_aerostat.dm
  maps/tether/submaps/beach/_beach.dm
Labels: Type: Feature/Suggestion

#5902 Ports pan-slavic from Baystation
  code/__defines/species_languages_vr.dm
  code/game/objects/items/robot/robot_upgrades_vr.dm
  code/game/objects/items/weapons/implants/implant_vr.dm
  code/modules/mob/language/station_vr.dm
Labels: Type: Feature/Suggestion

#5910 Makes sushi require fish meat
  code/modules/food/recipes_microwave_vr.dm
Labels: Type: Feature/Suggestion

#5912 Adds Server alt-title of Intern
  code/datums/outfits/jobs/civilian.dm
  code/game/jobs/job/assistant_vr.dm
Labels: Type: Feature/Suggestion

#5886 Cell-Loaded Weapons reworks and implementations
  code/game/machinery/recharger.dm
  code/game/objects/random/misc.dm
  code/modules/research/designs_vr.dm
  code/modules/vore/fluffstuff/guns/cell_loaded/cell_loaded.dm
  code/modules/vore/fluffstuff/guns/cell_loaded/ml3m.dm
  code/modules/vore/fluffstuff/guns/cell_loaded/ml3m_cells.dm
  code/modules/vore/fluffstuff/guns/cell_loaded/nsfw.dm
  code/modules/vore/fluffstuff/guns/cell_loaded/nsfw_cells.dm
  code/modules/vore/fluffstuff/guns/nsfw.dm
  icons/obj/ammo_vr.dmi
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether-10-colony.dmm
  vorestation.dme
Labels: Task: Requires Staff Discussion, Type: Feature/Suggestion

#5736 Xenobiology Lab Rework - No longer WIP!
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas2.dm
  maps/tether/tether_defines.dm
Labels: Task: Requires Discussion, Task: Requires Staff Discussion, Type: Map

#5890 Remakes the entire tether midpoint
  code/game/area/Space Station 13 areas.dm
  code/game/objects/effects/step_triggers.dm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether_areas2.dm
Labels: Type: Map

#5896 Moves Planet definition to code
  code/game/turfs/unsimulated/planetary_vr.dm
  code/modules/gamemaster/actions/planet_weather_change.dm
  code/modules/planet/virgo3b_vr.dm
  maps/tether/tether.dm
  maps/tether/tether_defines.dm
  maps/tether/tether_turfs.dm
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Refactor

#5920 Removes underscores
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Bug, Type: Fluff

#5921 Adds Secondary Command Office
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas2.dm
Labels: Type: Map

#5922 Small Map Tweaks
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-10-colony.dmm
Labels: Type: Map

#5935 Fixes grab having big delay on deletion after throws
  code/modules/mob/living/living.dm
Labels: Sev: 1-Blocker, Task: Send this to Polaris

#5934 Xenoarchaeology Lab Update!
  maps/tether/tether-09-solars.dmm
  maps/tether/tether_areas2.dm
Labels: Type: Map

#5929 fix gun handle_suicide
  code/modules/projectiles/gun.dm
Labels: Task: Send this to Polaris, Type: Bug

#5938 Subspace Radio slot bugfixes
  code/game/objects/items/devices/radio/radio_vr.dm
  code/modules/clothing/spacesuits/rig/suits/station_vr.dm
Labels: Type: Bug

#5941 Thickbelly Functionality
  code/__defines/belly_modes_vr.dm
  code/modules/mob/living/living_defines_vr.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/living_vr.dm
Labels: Type: Feature/Suggestion

#5964 Adds Alien Translocator
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Feature/Suggestion

#5962 Refactors Special Ops shuttle into web shuttle
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-10-colony.dmm
  maps/tether/tether_areas2.dm
  maps/tether/tether_shuttles.dm
Labels: Type: Feature/Suggestion

#5975 Adds extra admin upload areas
  maps/tether/submaps/admin_use/fun.dm
Labels: Type: Submap

#5974 Adds shutters to space medical
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#5970 Makes Surface Medical Great Again
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas2.dm
  nano/images/nanomap_z2.png
  nano/images/nanomap_z3.png
Labels: Sev: 2-High, Task: Requires Discussion, Type: Map

#5984 Makes Surface Security Useful
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas2.dm
  nano/images/nanomap_z2.png
  nano/images/nanomap_z3.png
Labels: Sev: 2-High, Task: Requires Discussion, Type: Map

#5998 Adds Melanie's Skeleton
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff

#5996 Trades Library and Abandoned Library
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether_areas2.dm
  nano/images/nanomap_z3.png
  nano/images/nanomap_z5.png
Labels: Sev: 2-High, Task: Requires Discussion, Type: Map
