Repository VOREStation/VOREStation, pull requests merged in 2019-08, with the labels that each got.

#5552 Allows players to select, customize and save whitelisted species characters
  code/__defines/species_languages_vr.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/new_player/new_player_vr.dm
Labels: Type: Feature/Suggestion

#5478 Defib Scanners
  code/game/objects/items/devices/scanners.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#5514 Resprites Advanced Burn and Trauma Kits
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/medical_vr.dm
  icons/obj/stacks_vr.dmi
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Icon

#5528 Replaces "Terminated" with "Dismissed" as default rank removal
  code/game/machinery/computer/card.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  nano/templates/identification_computer.tmpl
  nano/templates/mod_identification_computer.tmpl
Labels: Type: Feature/Suggestion

#5546 Mining/Explorer Tweaks
  code/modules/catalogue/rewards/equipment_vendor.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
Labels: Type: Bug, Type: Feature/Suggestion

#5548 Adds quick wiki links to species pages
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
Labels: Type: Feature/Suggestion

#5561 Suit Sensors Selectable
  code/_helpers/global_lists_vr.dm
  code/modules/client/preference_setup/vore/09_misc.dm
  code/modules/client/preferences_vr.dm
  code/modules/clothing/clothing_vr.dm
  code/modules/mob/living/carbon/human/human_defines_vr.dm
  code/modules/mob/new_player/preferences_setup_vr.dm
Labels: Type: Feature/Suggestion

#5563 Fixes Science shooting range access
  maps/tether/tether-03-surface3.dmm
Labels: Type: Bug

#5577 Adds pilot qualification pin to loadout
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
Labels: Type: Feature/Suggestion

#5578 Adds an admin verb for spawning players as mobs with their vore prefs intact
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#5567 Adds Prototype Hypospray
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/hypospray_vr.dm
  code/modules/research/designs_vr.dm
Labels: Type: Feature/Suggestion

#5588 Turns NIFSoft disks into neuromods
  code/modules/nifsoft/nifsoft.dm
  icons/mob/items/lefthand_vr.dmi
  icons/mob/items/righthand_vr.dmi
  icons/obj/nanomods.dmi
Labels: Type: Icon

#5616 Replaces Mining Conveyors
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#5641 Removes armor values from Dayleen's Jackboots
  maps/tether/tether-03-surface3.dmm
Labels: Sev: 1-Blocker, Type: Map

#5640 Properly Remakes Civilian Power Grid
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#5568 Adds a compact defibrillator crate
  code/datums/supplypacks/medical_vr.dm
Labels: Type: Feature/Suggestion

#5581 Allows you to sit on someone's head
  code/modules/mob/mob_grab.dm
Labels: Type: Feature/Suggestion

#5608 Removes Awoo speech
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
Labels: Type: Feature/Suggestion

#5617 New Expedition Shuttle
  code/game/objects/structures/handrail_vr.dm
  icons/obj/handrail_vr.dmi
  maps/tether/submaps/aerostat/aerostat.dmm
  maps/tether/submaps/beach/beach.dmm
  maps/tether/submaps/space/debrisfield.dmm
  maps/tether/submaps/tether_ships.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas2.dm
  vorestation.dme
Labels: Type: Map

#5634 Restricts station use of manhack grenades and seismic charges
  code/game/objects/items/weapons/explosives_vr.dm
  code/game/objects/items/weapons/grenades/spawnergrenade_vr.dm
  code/modules/catalogue/rewards/equipment_vendor.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#5648 wasp taurs
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#5615 Resprites Crates (And stuff like the cargo tug)
  code/datums/supplypacks/medical_vr.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crates_vr.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/vehicles/cargo_train.dm
  icons/obj/storage_vr.dmi
  icons/obj/vehicles_vr.dmi
Labels: Task: Send this to Polaris, Type: Icon

#5666 Fixes potential stuck cargo in mining
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#5662 Emergency Hotfix
  code/game/gamemodes/gameticker.dm
  code/modules/fishing/fishing_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  config/custom_items.txt
  icons/mob/vore/taurs_vr.dmi
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_items_vr.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-07-station3.dmm
Labels: Sev: 1-Blocker

#5676 Fixes not being able to pick up or drop items in bellies
  code/_onclick/click.dm
  code/modules/mob/mob_movement.dm
Labels: Type: Bug

#5396 Allows Tails to Hide Bodyparts, Shoes & Clip Uniforms/Suits
  code/_helpers/icons_vr.dm
  code/game/objects/items.dm
  code/modules/clothing/clothing_vr.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/organ_external_vr.dm
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Feature/Suggestion, Type: Icon

#5689 Redemption Machine Changes
  code/modules/catalogue/cataloguer.dm
  code/modules/catalogue/rewards/construction.dm
  code/modules/catalogue/rewards/equipment_vendor.dm
  code/modules/catalogue/rewards/exp_point_items.dm
  code/modules/mining/ore_redemption_machine/construction.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  code/modules/mining/ore_redemption_machine/survey_vendor.dm
  maps/tether/tether-06-station2.dmm
  vorestation.dme
Labels: Sev: 2-High, Type: Refactor

#5692 Ports Polaris #6416 early
  icons/mob/modular_armor.dmi
  icons/obj/clothing/modular_armor.dmi
  icons/obj/pda_rugged.dmi
Labels: Type: Icon

#5712 Changes Ion Hivebots to not have EMP
  code/modules/mob/living/simple_animal/aliens/hivebot.dm
Labels: Type: Feature/Suggestion

#5708 Minor Fixes
  code/datums/supplypacks/hospitality_vr.dm
  code/game/objects/items/weapons/storage/firstaid_vr.dm
  code/modules/mob/living/simple_mob/subtypes/humanoid/mercs/mercs_vr.dm
  code/modules/reagents/reagent_containers/pill_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  maps/submaps/surface_submaps/plains/Thiefc_vr.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether-10-colony.dmm
  maps/tether/tether_telecomms.dm
Labels: Type: Bug, Type: Map, Type: Submap

#5719 Fixes slimes not dying outside
  code/modules/mob/living/simple_mob/life.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/living/simple_mob/subtypes/slime/xenobio/subtypes_vr.dm
Labels: Type: Feature/Suggestion

#5729 Cleanup of Areas Placement
  code/game/area/Space Station 13 areas_vr.dm
  maps/tether/tether_areas2.dm
Labels: Type: Map, Type: Refactor

#5737 Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Labels: Type: Misc

#5747 Early Polaris Ports
  code/ATMOSPHERICS/components/unary/outlet_injector.dm
  code/datums/supplypacks/misc.dm
  code/datums/supplypacks/misc_vr.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/trash_vr.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/game/objects/random/misc.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/gauntlets.dm
  code/modules/food/food/condiment.dm
  code/modules/food/food/snacks.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/materials/materials.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/worm.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/xenoarcheaology/finds/finds.dm
  icons/obj/food.dmi
  icons/obj/food_vr.dmi
  icons/obj/trash.dmi
  icons/obj/trash_vr.dmi
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether-10-colony.dmm
  vorestation.dme
Labels: Sev: 2-High

#5669 Adds Compact Cataloguers
  code/modules/catalogue/cataloguer_vr.dm
  maps/southern_cross/structures/closets/misc_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#5718 Adds morphs
  code/modules/mob/living/simple_mob/subtypes/vore/morph/morph.dm
  icons/mob/animal_vr.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion

#5731 Buffs Mini Translocator
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Feature/Suggestion

#5711 Mouse Tweaks, and fixes - Blame Polaris. <3
  code/global.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/mouse.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/mouse_vr.dm
  code/modules/mob/new_player/new_player.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#5745 Minor Fixes Part two
  code/controllers/subsystems/garbage.dm
  code/modules/mob/living/simple_mob/subtypes/animal/giant_spider/giant_spider_vr.dm
Labels: Type: Bug

#5749 Adds distillery to research chem lab
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#5754 Musician.dm Fix
  code/game/objects/structures/musician.dm
Labels: Task: Send this to Polaris, Type: Bug

#5755 Minor Bugfixes/Tweaks - Expedition-focused.
  code/game/turfs/unsimulated/sky_vr.dm
Labels: Type: Bug

#5756 Fixed an issue with multiple boot/shoe overlays.
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/modules/clothing/clothing.dm
Labels: Type: Bug

#5393 [WIP, DNM] Medbeam
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/medical_tools_vr.dm
  code/game/mecha/micro/mechfab_designs_vr.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/effects/temporary_visuals/projectiles/impact.dm
  code/game/objects/effects/temporary_visuals/projectiles/muzzle.dm
  code/game/objects/effects/temporary_visuals/projectiles/tracer.dm
  code/game/objects/effects/temporary_visuals/temproary_visual.dm~1fb83e6... Merge pull request #5959 from elgeonmb_suit++
  code/game/objects/random/misc.dm
  code/modules/projectiles/guns/energy/special_vr.dm
  code/modules/projectiles/projectile/beams_vr.dm
  code/modules/vore/fluffstuff/guns/nsfw.dm
  code/modules/vore/resizing/sizegun_vr.dm
  icons/mecha/mecha_equipment_vr.dmi
  icons/mob/items/lefthand_guns_vr.dmi
  icons/mob/items/righthand_guns_vr.dmi
  icons/obj/ammo_vr.dmi
  icons/obj/gun_vr.dmi
  icons/obj/projectiles_vr.dmi
  icons/vore/custom_guns_vr.dmi
  maps/tether/tether-10-colony.dmm
  vorestation.dme
Labels: Task: Work in Progress, Type: Feature/Suggestion

#5757 Buff Frontier Phasers by reducing charge time to sub-30 seconds.
  code/modules/vore/fluffstuff/custom_guns_vr.dm
Labels: Type: Feature/Suggestion
