Repository VOREStation/VOREStation, pull requests merged in 2019-12, with the labels that each got.

#6227 QoL/Fixy Stuff
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#6243 I improved mice
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/mouse_vr.dm
  code/modules/vore/resizing/resize_vr.dm
Labels: Task: Requires Staff Discussion, Type: Feature/Suggestion

#6267 Some more simplemob QoL and fixes.
  code/game/objects/items/devices/radio/headset_vr.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/mob/living/simple_mob/subtypes/vore/bee.dm
  code/modules/mob/living/simple_mob/subtypes/vore/catgirl.dm
  code/modules/mob/living/simple_mob/subtypes/vore/corrupt_hounds.dm
  code/modules/mob/living/simple_mob/subtypes/vore/deathclaw.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dragon.dm
  code/modules/mob/living/simple_mob/subtypes/vore/fennec.dm
  code/modules/mob/living/simple_mob/subtypes/vore/fennix.dm
  code/modules/mob/living/simple_mob/subtypes/vore/hippo.dm
  code/modules/mob/living/simple_mob/subtypes/vore/horse.dm
  code/modules/mob/living/simple_mob/subtypes/vore/otie.dm
  code/modules/mob/living/simple_mob/subtypes/vore/panther.dm
  code/modules/mob/living/simple_mob/subtypes/vore/rat.dm
  code/modules/mob/living/simple_mob/subtypes/vore/redpanda.dm
  code/modules/mob/living/simple_mob/subtypes/vore/shadekin/shadekin.dm
  code/modules/mob/living/simple_mob/subtypes/vore/snake.dm
  code/modules/mob/living/simple_mob/subtypes/vore/wolf.dm
  code/modules/mob/living/simple_mob/subtypes/vore/wolfgirl.dm
  code/modules/mob/living/simple_mob/subtypes/vore/zz_vore_overrides.dm
Labels: Type: Bug, Type: Feature/Suggestion

#6268 Dragor Vendor Changes
  code/game/machinery/vending.dm
  code/game/machinery/vending_vr.dm
Labels: Type: Feature/Suggestion

#6241 New Species: Black-Eyed Shadekin
  code/__defines/mobs_vr.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/new_player/sprite_accessories_vr.dm
  code/modules/organs/subtypes/shadekin_vr.dm
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  code/modules/vore/appearance/sprite_accessories_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#6222 Centcom/Tether Ship Changes
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/devices/translocator_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/obj/radio_vr.dmi
  maps/submaps/shelters/shelter_a.dmm
  maps/tether/submaps/admin_use/aro.dmm
  maps/tether/submaps/tether_ships.dmm
  maps/tether/tether-10-colony.dmm
  maps/tether/tether_areas2.dm
  maps/tether/tether_shuttle_defs.dm
  maps/tether/tether_things.dm
  vorestation.dme
Labels: Task: Needs Testing, Type: Feature/Suggestion, Type: Map, Type: Refactor

#6273 Misc Fixes
  code/ATMOSPHERICS/components/unary/vent_pump.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/holodeck/HolodeckObjects.dm
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-10-colony.dmm
Labels: Sev: 2-High, Task: Send this to Polaris, Type: Bug

#6275 Misc Tweaks Pt. 2
  code/game/objects/items/devices/spy_bug.dm
  code/game/objects/items/devices/translocator_vr.dm
  code/game/objects/items/weapons/melee/energy_vr.dm
  code/game/objects/items/weapons/shields_vr.dm
  code/modules/clothing/spacesuits/rig/suits/pmc.dm
  code/modules/reagents/reagent_containers/syringes.dm
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/mob/species/seromi/ears.dmi
  icons/mob/species/seromi/head.dmi
  icons/mob/species/seromi/suit.dmi
  icons/mob/species/seromi/uniform.dmi
  icons/obj/weapons_vr.dmi
  maps/tether/tether-10-colony.dmm
  maps/tether/tether_shuttles.dm
Labels: Type: Bug

#6282 Ports Baystation Timer Subsystem
  code/__defines/MC.dm
  code/controllers/subsystems/timer.dm
Labels: Task: Needs Testing, Type: Bug

#6286 Surface/Space Cmd Oversights
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
Labels: Type: Map

#6294 513 Compatability
  .travis.yml
  code/__defines/__513_compatibility.dm
  code/__defines/is_helpers.dm
  code/__defines/math.dm
  code/__defines/typeids.dm
  code/_compatibility/509/JSON Reader.dm
  code/_compatibility/509/JSON Writer.dm
  code/_helpers/text.dm
  code/_helpers/unsorted.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/supply_display.dm
  code/game/objects/items/weapons/paint.dm
  code/game/objects/structures/musician.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/view_variables/modify_variables.dm
  code/modules/flufftext/TextFilters.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/silicon/pai/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/blood.dm
  code/modules/organs/organ_external.dm
  code/modules/resleeving/infomorph.dm
  code/modules/scripting/Implementations/_Logic.dm
  code/modules/scripting/Options.dm
  code/modules/scripting/Scanner/Scanner.dm
  code/modules/surgery/generic.dm
  code/modules/xenoarcheaology/artifacts/replicator.dm
  code/modules/xenoarcheaology/finds/talking.dm
  vorestation.dme
Labels: Type: Refactor

#6300 Chat fix by Aronai
  code/_global_vars/lists/misc.dm
  code/modules/mob/emote.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/say.dm
  code/modules/mob/say_vr.dm
  vorestation.dme
Labels: Sev: 3-Moderate, Type: Bug

#6310 Fix nifsoft vendor runtime
  code/modules/nifsoft/nif_softshop.dm
Labels: Type: Bug

#6293 Lock Atmos Down Time
  code/modules/holomap/holomap_area.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas2.dm
  maps/tether/tether_defines.dm
Labels: Type: Map

#6311 Add synth reagent purge verb
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_powers_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#6328 Combat Drone Location Fixy
  code/modules/events/rogue_drones.dm
Labels: Type: Bug

#6161 Fix some people spawing without prybars
  code/datums/outfits/jobs/special_vr.dm
  code/game/jobs/job/special_vr.dm
  code/modules/mob/living/carbon/human/species/station/prometheans.dm
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Bug

#6313 More Map Fixes. Again.
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#6341 [Map] Brig Safety Lessons
  code/game/machinery/vending_vr.dm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-06-station2.dmm
Labels: Type: Feature/Suggestion, Type: Map

#6303 Minor bug fixes
  code/modules/admin/verbs/adminhelp.dm
Labels: Type: Bug

#6298 Buffs dogborg pounce
  code/modules/mob/living/silicon/robot/dogborg/dog_modules_vr.dm
Labels: Type: Feature/Suggestion

#6350 Fixes resizing for icons taller than 32p
  code/__defines/lighting.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/giant_spider/giant_spider_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/gaslamp_vr.dm
  code/modules/mob/living/simple_mob/subtypes/horror/Master.dm
  code/modules/mob/living/simple_mob/subtypes/horror/shittytim.dm
  code/modules/mob/living/simple_mob/subtypes/horror/timling.dm
  code/modules/mob/living/simple_mob/subtypes/vore/deathclaw.dm
  code/modules/mob/living/simple_mob/subtypes/vore/demon/demon.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dragon.dm
  code/modules/mob/living/simple_mob/subtypes/vore/panther.dm
  code/modules/mob/living/simple_mob/subtypes/vore/snake.dm
  code/modules/mob/living/simple_mob/subtypes/vore/zz_vore_overrides.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/resizing/resize_vr.dm
Labels: Type: Icon

#6370 Readjusts the disposals near bridge to work as intended
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#6360 Adds a new fish, measelsharks!
  code/modules/fishing/fishing_vr.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/recipes_microwave_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/fish_vr.dm
  icons/mob/shark.dmi
  icons/obj/food_vr.dmi
  maps/tether/submaps/beach/beach.dmm
Labels: Type: Feature/Suggestion, Type: Icon

#6362 makes glasses mass producable
  code/datums/autolathe/general_vr.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Feature/Suggestion

#6325 Boop Da Noses!
  code/modules/mob/living/carbon/human/species/species.dm
Labels: Type: Feature/Suggestion

#6353 PDA Status Display Tweak
  nano/templates/pda.tmpl
Labels: Type: Feature/Suggestion

#6367 Introduce more taur clothes.
  code/game/machinery/vending_vr.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous_vr.dm
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  icons/mob/items/lefthand_vr.dmi
  icons/mob/items/righthand_vr.dmi
  icons/mob/taursuits_cow_vr.dmi
  icons/mob/taursuits_drake_vr.dmi
  icons/mob/taursuits_feline_vr.dmi
  icons/mob/taursuits_horse_vr.dmi
  icons/mob/taursuits_lizard_vr.dmi
  icons/mob/taursuits_naga_vr.dmi
  icons/mob/taursuits_spider_vr.dmi
  icons/mob/taursuits_wolf_vr.dmi
  icons/obj/weapons_vr.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Icon

#6384 Implements ferality indicator for xenochimera
  code/_onclick/hud/_defines_vr.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/xenochimera_hud_vr.dm
  code/modules/mob/mob_defines_vr.dm
  icons/mob/chimerahud.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion
