Repository VOREStation/VOREStation, pull requests merged in 2020-11, with the labels that each got.

#9273 Species whitelist update (skylarks)
  config/alienwhitelist.txt
Labels: Type: Fluff

#9277 Adds MagpieMayhem to vox whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#9284 Adds a new marking.
  code/modules/mob/new_player/sprite_accessories_vr.dm
  icons/mob/human_races/markings_vr.dmi
Labels: Type: Icon

#9282 Makes the Chapel fancier
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#9280 updates species' whitelists
  config/alienwhitelist.txt
Labels: Type: Fluff

#9286 Event vendors and entertainer's vendor
  code/game/machinery/vending_machines_vr.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8900 Adds a ton of potential fluff alt-titles
  code/game/jobs/job/assistant_vr.dm
  code/game/jobs/job/captain_vr.dm
  code/game/jobs/job/civilian_vr.dm
  code/game/jobs/job/engineering_vr.dm
  code/game/jobs/job/exploration_vr.dm
  code/game/jobs/job/medical_vr.dm
  code/game/jobs/job/offduty_vr.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/science_vr.dm
  code/game/jobs/job/security_vr.dm
  code/game/jobs/job/special_vr.dm
  maps/tether/tether_jobs.dm
Labels: Type: Feature/Suggestion

#9275 Fix toeless knee and thigh high jackboots
  icons/mob/feet.dmi
Labels: Task: Send this to Polaris, Type: Icon

#9294 Adds the entry for Felina's witch hat to fluff item loadout
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#9304 Balance fixes and bugfixes
  code/game/objects/items/devices/uplink.dm
  code/modules/mob/living/say.dm
  maps/submaps/admin_use_vr/ert.dmm
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Map

#9307 Ports CitRP Protogen Head + Markings, Some Vox Markings, Teshari Markings, Ears + Tailss
  code/modules/mob/new_player/sprite_accessories_vr.dm
  code/modules/organs/robolimbs_vr.dm
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/effects/species_tails_vr.dmi
  icons/mob/human_races/cyberlimbs/c-tech/c_beast.dmi
  icons/mob/human_races/markings_vr.dmi
  icons/mob/monitor_icons_vr.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#9298 Adds Crescent-Moon Hair by Piperboobear
  code/modules/mob/new_player/sprite_accessories_vr.dm
  icons/mob/human_face_vr.dmi
  icons/mob/human_face_vr_add.dmi
Labels: Type: Icon

#9325 Removes Self-Surgery Toggle
  code/modules/mob/living/carbon/human/human.dm
  maps/expedition_vr/space/guttersite.dmm
Labels: Type: Map

#9310 PosterAdds
  code/game/objects/effects/decals/posters/voreposters_vr.dm
  icons/obj/contraband_vr.dmi
Labels: Type: Icon

#9301 Adding New Foods
  code/modules/food/food/snacks.dm
  code/modules/food/recipes_grill.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  icons/obj/food.dmi
Labels: Task: Send this to Polaris, Type: Icon

#9320 Expands Surfmed among other things take 2
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas.dm
  maps/tether/tether_defines.dm
Labels: Sev: 2-High, Type: Map

#9312 Ports a Boatload of Teshari Customization from CitRP, Chomp & YW, Small Update to Protogen Markings
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/client/preference_setup/loadout/loadout_xeno_vr.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/glasses_vr.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/suits/aliens/seromi_vr.dm
  code/modules/clothing/suits/utility_vr.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/clothing/under/xenos/seromi_vr.dm
  code/modules/mob/new_player/sprite_accessories_vr.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/species/seromi/deptcloak_vr.dmi
  icons/mob/species/seromi/deptjacket.dmi
  icons/mob/species/seromi/deptjacket_vr.dmi
  icons/mob/species/seromi/eyes.dmi
  icons/mob/species/seromi/gloves.dmi
  icons/mob/species/seromi/helmet_vr.dmi
  icons/mob/species/seromi/suit_vr.dmi
  icons/mob/species/seromi/teshari_cloak_vr.dmi
  icons/mob/species/seromi/teshari_hood_vr.dmi
  icons/mob/species/seromi/teshari_uniform.dmi
  icons/mob/species/seromi/ties.dmi
  icons/mob/species/seromi/ties_vr.dmi
  icons/obj/clothing/glasses.dmi
  vorestation.dme
Labels: Type: Icon

#9330 Eventy stuff and pet protections!
  code/game/machinery/event/stage_vr.dm
  code/modules/mob/living/simple_mob/donteatpets_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/mouse_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/softdog.dm
  icons/misc/event/stage.dmi
  icons/mob/vore.dmi
  maps/tether/tether-02-surface2.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#9338 Expands Surface Security among other things
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas.dm
  maps/tether/tether_defines.dm
Labels: Type: Map

#9344 Nanomaps actually generate correctly now
  .github/workflows/render_nanomaps.yml
Labels: Type: .git or .github

#9349 More ship and turret fixes
  code/game/machinery/portable_turret_vr.dm
  code/modules/admin/verbs/striketeam.dm
  maps/offmap_vr/om_ships/cruiser.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/pois_vr/debris_field/tinycarrier.dmm
Labels: Type: Map

#9335 Ports Cool Stuff from Bastion of Hestia/Vesta, Adds Eye Layer-Switching
  code/game/dna/dna2.dm
  code/game/dna/dna2_helpers.dm
  code/modules/client/preference_setup/vore/01_ears.dm
  code/modules/mob/living/carbon/human/emote_vr.dm
  code/modules/mob/living/carbon/human/human_powers_vr.dm
  code/modules/mob/living/carbon/human/species/species_shapeshift_vr.dm
  code/modules/mob/living/carbon/human/update_icons_vr.dm
  code/modules/mob/new_player/sprite_accessories_vr.dm
  code/modules/organs/organ_icon.dm
  code/modules/organs/robolimbs_vr.dm
  code/modules/organs/subtypes/standard.dm
  code/modules/vore/appearance/preferences_vr.dm
  code/modules/vore/appearance/sprite_accessories_vr.dm
  code/modules/vore/appearance/update_icons_vr.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/monitor_icons_vr.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
  icons/mob/vore/wings_vr.dmi
  vorestation.dme
Labels: Type: Icon

#9356 Fixxes some wires and tubes
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas.dm
Labels: Type: Map

#9337 Move away from Travis CI to GitHub Actions
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .travis.yml
  _build_dependencies.sh
  code/_away_mission_tests.dm
  code/_helpers/text.dm
  code/_map_tests.dm
  code/_unit_tests.dm
  code/controllers/subsystems/air.dm
  code/game/antagonist/station/rogue_ai.dm
  code/modules/awaymissions/zlevel.dm
  code/modules/research/prosfab_designs.dm
  code/modules/ventcrawl/ventcrawl.dm
  guides/Guide to Map Folders.md
  maps/submaps/engine_submaps/southern_cross/_engine_submaps.dm
  maps/submaps/engine_submaps_vr/tether/_engine_submaps.dm
  maps/submaps/space_submaps/debrisfield/debrisfield.dm
  maps/submaps/space_submaps/space.dm
  maps/submaps/surface_submaps/mountains/mountains.dm
  maps/submaps/surface_submaps/plains/plains.dm
  maps/submaps/surface_submaps/wilderness/wilderness.dm
  maps/tether/submaps/_tether_submaps.dm
  maps/~map_system/maps.dm
  tools/TagMatcher/tag-matcher.py
  tools/ci/build_tgui.sh
  tools/ci/compile_and_run.sh
  tools/ci/install_build_deps.sh
  tools/ci/install_byond.sh
  tools/ci/validate_files.sh
Labels: Type: .git or .github

#9359 Small tweaks
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#9361 ERT Ship Cleanup
  maps/submaps/admin_use_vr/ert.dmm
Labels: Type: Map

#9362 Prevent cyclic neighbor references in spreading plants
  code/modules/hydroponics/spreading/spreading.dm
Labels: Sev: 2-High, Task: Send this to Polaris, Type: Bug

#9363 November 25 2020 Microfix
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .travis.yml
  _build_dependencies.sh
  code/_away_mission_tests.dm
  code/_helpers/text.dm
  code/_map_tests.dm
  code/_unit_tests.dm
  code/controllers/subsystems/air.dm
  code/game/antagonist/station/rogue_ai.dm
  code/modules/awaymissions/zlevel.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/research/prosfab_designs.dm
  code/modules/ventcrawl/ventcrawl.dm
  guides/Guide to Map Folders.md
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z13.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z6.png
  icons/_nanomaps/tether_nanomap_z7.png
  maps/southern_cross/southern_cross-1.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/engine_submaps/southern_cross/_engine_submaps.dm
  maps/submaps/engine_submaps/southern_cross/engine_tesla.dmm
  maps/submaps/engine_submaps_vr/tether/_engine_submaps.dm
  maps/submaps/space_submaps/debrisfield/debrisfield.dm
  maps/submaps/space_submaps/space.dm
  maps/submaps/surface_submaps/mountains/mountains.dm
  maps/submaps/surface_submaps/plains/VRDen.dmm
  maps/submaps/surface_submaps/plains/plains.dm
  maps/submaps/surface_submaps/plains/plains_areas.dm
  maps/submaps/surface_submaps/wilderness/wilderness.dm
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas.dm
  maps/~map_system/maps.dm
  tools/TagMatcher/tag-matcher.py
  tools/ci/build_tgui.sh
  tools/ci/compile_and_run.sh
  tools/ci/install_build_deps.sh
  tools/ci/install_byond.sh
  tools/ci/validate_files.sh
  tools/github-actions/README.MD
  tools/github-actions/nanomap-renderer
Labels: Type: .git or .github, Type: Icon, Type: Map

#9365 Adds an APC
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#9364 Adds Radishfriend to whitelist for Clown
  config/jobwhitelist.txt
Labels: Type: Fluff, Type: Misc

#9366 Theoretically make nanomaps work via PR
  .github/workflows/render_nanomaps.yml
  maps/_map_system_readme.dm
Labels: Type: .git or .github

#9381 Fixes error presented in human sprites to have wierd black dot.
  icons/mob/human_races/r_human_vr.dmi
Labels: Type: Icon

#9378 Greek Chiton
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/suits/miscellaneous_vr.dm
  icons/mob/suit_vr.dmi
  icons/obj/clothing/suits_vr.dmi
Labels: Type: Icon

#9379 Horned succubi
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/vore/ears_vr.dmi
Labels: Type: Icon

#9376 Redesigning Surface Medical
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas.dm
Labels: Type: Map

#9374 Makes pixel shifting work with custom offsets
  code/modules/mob/mob.dm
Labels: Task: Send this to Polaris

#9333 Adds Nikki's Fluff Outfit For Nikki, + Rigsuit-Mounted Size Guns For Research
  code/game/objects/items/devices/translocator_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/spacesuits/rig/modules/specific/mounted_gun_vr.dm
  code/modules/research/mechfab_designs_vr.dm
  code/modules/vore/fluffstuff/custom_boxes_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  code/modules/vore/resizing/sizegun_vr.dm
  icons/obj/rig_modules_vr.dmi
  icons/vore/custom_clothes_left_hand_vr.dmi
  icons/vore/custom_clothes_right_hand_vr.dmi
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_32x48_vr.dmi
  icons/vore/custom_onmob_vr.dmi
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#9382 Add tintable doors
  code/game/machinery/doors/airlock_vr.dm
  code/game/machinery/doors/door_vr.dm
  code/game/machinery/doors/multi_tile_vr.dm
  icons/obj/doors/Door2x1tinted_vr.dmi
  icons/obj/doors/Doorsectinted_vr.dmi
  icons/obj/doors/doormedtinted_vr.dmi
  vorestation.dme
Labels: Type: Icon
