Repository VOREStation/VOREStation, pull requests merged in 2020-10, with the labels that each got.

#9152 Stop cucking me, Travis.
  code/game/objects/structures/flora/flora_vr.dm
  icons/obj/flora/amayastuff.dmi
Labels: Type: Icon

#9171 Standartizes gear_tweaks on _vr only items
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_gloves_vr.dm
  code/modules/client/preference_setup/loadout/loadout_head_vr.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
Labels: Type: Fluff

#9154 Fixed a minor issue that's kinda been overlooked for a while
  code/modules/mob/living/simple_mob/subtypes/mechanical/hivebot/ranged_damage_vr.dm
  code/modules/mob/living/simple_mob/subtypes/mechanical/hivebot/support_vr.dm
Labels: Type: Icon

#9142 Add more gas to the fuel depot
  maps/expedition_vr/space/_fueldepot.dm
  maps/expedition_vr/space/fueldepot.dmm
Labels: Type: Map

#9186 Fixes double chair
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#9196 Misc. Ship Fixes
  maps/offmap_vr/om_ships/gecko_cr.dmm
  maps/offmap_vr/om_ships/gecko_cr_wreck.dmm
  maps/offmap_vr/om_ships/gecko_sh.dmm
  maps/offmap_vr/om_ships/mackerel_hc.dmm
  maps/offmap_vr/om_ships/mackerel_hc_skel.dmm
  maps/offmap_vr/om_ships/mackerel_lc.dmm
  maps/offmap_vr/om_ships/mackerel_lc_wreck.dmm
  maps/offmap_vr/om_ships/mackerel_sh.dmm
  maps/offmap_vr/talon/talon1.dmm
Labels: Type: Map

#9148 'Closed eyes' markings
  code/modules/mob/new_player/sprite_accessories_vr.dm
  icons/mob/human_races/markings_vr.dmi
Labels: Type: Icon

#9224 Drink addons and sprites
  code/modules/food/drinkingglass/metaglass_vr.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_vr.dm
  code/modules/reagents/Chemistry-Recipes_vr.dm
  icons/obj/drinks_vr.dmi
Labels: Type: Icon

#9205 Minor Update to ERT Gear
  maps/submaps/admin_use_vr/ert.dmm
Labels: Type: Map

#9112 Removes single-line input on subtle and emotes, replaces with textbox
  code/modules/mob/say_vr.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#9250 Add Lamia Mobs (sprites by Prof. Smokey!)
  code/modules/mob/living/simple_mob/subtypes/vore/lamia.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  icons/mob/vore_lamia.dmi
  vorestation.dme
Labels: Type: Icon

#9244 Update tether_plains.dmm
  maps/tether/submaps/tether_plains.dmm
Labels: Type: Map

#9189 Salamander Trader
  code/game/trader_visit_vr.dm
  maps/offmap_vr/om_ships/salamander.dm
  maps/offmap_vr/om_ships/salamander.dmm
  maps/offmap_vr/om_ships/salamander_wreck.dmm
  maps/submaps/pois_vr/debris_field/_templates.dm
  maps/tether/submaps/_tether_submaps.dm
Labels: Type: Map

#9267 Adds Cabin mining pods to the maint loot pile
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/mining/shelter_atoms_vr.dm
  code/modules/mining/shelters_vr.dm
  maps/submaps/shelters/shelter_cab.dmm
Labels: Type: Map

#9270 Fixes salamander wreck active edges
  maps/offmap_vr/om_ships/salamander_wreck.dmm
Labels: Type: Map

#9272 another salamander active edge fix
  maps/offmap_vr/om_ships/salamander_wreck.dmm
Labels: Type: Map

#9271 Fixes active edge on gecko wreck
  maps/offmap_vr/om_ships/gecko_cr_wreck.dmm
Labels: Type: Map

#9269 New borgi poses and pupdozer anims
  icons/mob/widerobot_vr.dmi
Labels: Type: Icon
