Repository VOREStation/VOREStation, pull requests merged in 2020-02, with the labels that each got.

#6522 Additional VPN/Proxy/Tor checking
  code/controllers/configuration_vr.dm
  code/modules/client/client procs_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#6537 Sundry Bugfixes - Feburary
  code/modules/mob/living/simple_mob/subtypes/animal/passive/fish_vr.dm
  code/modules/mob/new_player/preferences_setup_vr.dm
  code/modules/vore/eating/living_vr.dm
  maps/RandomZLevels/labyrinth.dm
  maps/RandomZLevels/snowfield.dm
  maps/tether/submaps/gateway/snowfield.dm
Labels: Sev: 4-Minor, Type: Bug

#6552 Removes magic dust from random reagents accessible via randomized seeds
  code/modules/hydroponics/seed.dm
Labels: Type: Feature/Suggestion

#6429 Adds Morph Spawn event
  code/datums/ghost_query_vr.dm
  code/modules/events/event_container_vr.dm
  code/modules/events/morph_spawn_vr.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  vorestation.dme
Labels: Type: Feature/Suggestion

#6492 Fixes and re-implements Rogue Mining (Belt Mining)
  code/game/objects/random/mob_vr.dm
  code/modules/mining/mine_turfs_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/corrupt_hounds.dm
  code/modules/mob/living/simple_mob/subtypes/vore/wolf.dm
  code/modules/rogueminer_vr/asteroid.dm
  code/modules/rogueminer_vr/controller.dm
  code/modules/rogueminer_vr/roguemines_mobs.dm
  code/modules/rogueminer_vr/wrappers.dm
  code/modules/rogueminer_vr/zone_console.dm
  code/modules/rogueminer_vr/zonemaster.dm
  code/modules/shuttles/shuttles_vr.dm
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/submaps/rogue_mines/rogue_mine1.dmm
  maps/tether/submaps/rogue_mines/rogue_mine2.dmm
  maps/tether/submaps/rogue_mines/rogue_mine3.dmm
  maps/tether/submaps/rogue_mines/rogue_mine4.dmm
  maps/tether/submaps/tether_ships.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas2.dm
  maps/tether/tether_defines.dm
  maps/tether/tether_shuttle_defs.dm
  maps/~map_system/maps.dm
  vorestation.dme
Labels: Type: Map

#6439 Disable random blackouts during NIF adaptation
  code/modules/nifsoft/nif.dm
Labels: Type: Feature/Suggestion

#6511 Limits the locations at which drone pod can drop
  code/modules/events/drone_pod_vr.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_defines.dm
  maps/~map_system/maps.dm
Labels: Type: Feature/Suggestion

#6519 QoL to supplypacks related to Belt Mining
  code/datums/supplypacks/misc_vr.dm
Labels: Task: Requires Staff Discussion, Type: Feature/Suggestion

#6553 Adds logging to the breaking of devourable/feeding prefs
  code/modules/vore/eating/living_vr.dm
Labels: Type: Bug, Type: Feature/Suggestion

#6539 Makes explosive simulators give slightly more helpful results for ttvs
  code/game/machinery/bomb_tester_vr.dm
Labels: Type: Feature/Suggestion

#6524 Makes syndie beacon found in xenoarch use virgo-specific subtype
  code/modules/xenoarcheaology/artifacts/artifact_find.dm
Labels: Type: Feature/Suggestion

#6565 Fixes new tools on pupdozer being duplicated
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
Labels: Type: Bug

#6573 Prevents resleeving sickness from affecting hardvore victims
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/resleeving/resleeving_sickness.dm
Labels: Type: Bug, Type: Vore-Related

#6577 Character rename - Custom items update
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/organs/robolimbs_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  config/custom_items.txt
Labels: Type: Fluff

#6508 A ban-flinging QoL update
  code/modules/admin/DB ban/functions.dm
Labels: Type: Feature/Suggestion

#6586 Don't talk to strangers
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/randomverbs_vr.dm
Labels: Task: Send this to Polaris, Type: Bug

#6582 Replaces Tramadol maint pills with Paracetamol
  code/game/objects/items/weapons/storage/firstaid_vr.dm
  code/game/objects/random/misc.dm
  code/game/objects/random/mob_vr.dm
  code/game/objects/structures/loot_piles.dm
  code/game/objects/structures/trash_pile_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#6590 Add debugging logs in an effort to track down the Timer subsystem failure point.
  code/controllers/subsystems/timer.dm
Labels: Sev: 2-High

#6594 Fixes missing icons on comfy chairs and shuttle chairs
  icons/obj/furniture_vr.dmi
Labels: Type: Bug

#6581 Adds pineapple pizza to pizza voucher pool
  code/game/objects/items/falling_object_vr.dm
  code/game/objects/items/pizza_voucher_vr.dm
Labels: Type: Feature/Suggestion

#6613 Revert "Bandaid for helper.dm runtime lag"
  code/game/objects/items/devices/communicator/UI.dm
Labels: Type: Bug

#6614 [Map] Sofa Fix
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#6618 Minor Protean Balans Tweaks
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
  code/modules/organs/subtypes/nano.dm
Labels: Type: Feature/Suggestion

#6620 Adds a blue version of alien turfs
  code/game/machinery/doors/airlock_vr.dm
  code/game/turfs/simulated/wall_types_vr.dm
  icons/obj/doors/Dooralien_blue.dmi
  icons/turf/shuttle_alien_blue.dmi
  maps/tether/tether-10-colony.dmm
Labels: Type: Map

#6623 Add NTNet to Virgo Minitest Map
  maps/virgo_minitest/virgo_minitest-1.dmm
Labels: Type: Map

#6641 Fixes BL-3 Mecha Item Sprite
  code/game/mecha/equipment/tools/medigun_vr.dm
Labels: Type: Bug, Type: Icon

#6560 Adds Maintenance Predator random event
  code/datums/ghost_query_vr.dm
  code/modules/events/event_container_vr.dm
  code/modules/events/maintenance_predator_vr.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  vorestation.dme
Labels: Type: Feature/Suggestion

#6619 Fix Sundry Runtime Errors
  code/ATMOSPHERICS/components/omni_devices/filter.dm
  code/datums/wires/wires.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/hydroponics/seed.dm
  code/modules/mob/dead/observer/observer_vr.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/vore/eating/simple_animal_vr.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
Labels: Task: Send this to Polaris, Type: Bug, Type: Polaris Bug

#6603 Fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff

#6606 Adds biochemical dispenser to medical's chemistry
  code/modules/reagents/dispenser/cartridge_presets_vr.dm
  code/modules/reagents/dispenser/dispenser_presets_vr.dm
  icons/obj/chemical_vr.dmi
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Feature/Suggestion

#6622 Holowarrants can now only be authorized by an ID with HoS access
  code/game/objects/items/devices/holowarrant.dm
  code/modules/modular_computers/file_system/programs/security/digitalwarrant.dm
  maps/tether/tether-07-station3.dmm
Labels: Type: Feature/Suggestion

#6682 Central Fixes
  maps/tether/tether-10-colony.dmm
Labels: Type: Map

#6684 Fixes free clothing dispenser only handing shoes for money
  code/game/machinery/vending_vr.dm
Labels: Type: Bug
