Repository VOREStation/VOREStation, pull requests merged in 2020-09, with the labels that each got.

#8935 Jetpack cleanup, don't use fuel when unneeded
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/mob_movement.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#8922 Add the inducer to mining & survey vendors.
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  code/modules/mining/ore_redemption_machine/survey_vendor.dm
Labels: Type: Feature/Suggestion

#8967 Update taursuits_naga_vr.dmi
  icons/mob/taursuits_naga_vr.dmi
Labels: Type: Icon

#8969 Adds sprites for the new SWAT masks to virgo specific species and dmi's files
  icons/mob/species/akula/mask_vr.dmi
  icons/mob/species/fennec/mask_vr.dmi
  icons/mob/species/fox/mask_vr.dmi
  icons/mob/species/nevrean/mask_vr.dmi
  icons/mob/species/sergal/mask_vr.dmi
  icons/mob/species/seromi/masks_vr.dmi
Labels: Type: Icon

#7725 Add Romantical Whale's "Shiny Clothing"
  code/datums/supplypacks/recreation_vr.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/misc_vr.dm
  code/modules/clothing/masks/shiny_vr.dm
  code/modules/clothing/shoes/boots_vr.dm
  code/modules/clothing/suits/shiny.dm
  code/modules/clothing/under/accessories/shiny_vr.dm
  code/modules/clothing/under/shiny_vr.dm
  icons/mob/feet_vr.dmi
  icons/mob/mask_vr.dmi
  icons/mob/modular_shiny_vr.dmi
  icons/obj/clothing/masks_vr.dmi
  icons/obj/clothing/modular_shiny_vr.dmi
  icons/obj/clothing/shoes_vr.dmi
  maps/tether/tether-02-surface2.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Sound

#8993 Plant analyzer fix
  code/modules/hydroponics/trays/tray_tools.dm
Labels: Task: Send this to Polaris, Type: Polaris Bug

#8997 Hyena & Moth Ears
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/vore/ears_vr.dmi
Labels: Type: Icon

#9006 No changes option added to all cyclers, sprite check added.
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/suit_storage_unit_vr.dm
  icons/mob/species/vulpkanin/helmet.dmi
  icons/obj/clothing/species/vulpkanin/hats.dmi
Labels: Type: Icon

#8558 Guttersite under construction
  maps/expedition_vr/space/guttersite.dmm
Labels: Type: Map

#9019 Adds skunk taur
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  icons/mob/back_vr.dmi
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#9021 Rotated Wall Lockers
  icons/obj/closets/bases/wall.dmi
  icons/obj/closets/decals/wall.dmi
  icons/turf/shuttle_parts.dmi
Labels: Type: Icon

#9024 Add myself to the Protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#8959 Talon and Tether OSHA Pass
  maps/offmap_vr/talon/talon1.dmm
  maps/offmap_vr/talon/talon2.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether-08-mining.dmm
Labels: Type: Map

#9040 Adds a .dmi with a goonstation sprites and edits wall_types_vr.dm and floor_types_vr.dm
  code/game/turfs/simulated/floor_types_vr.dm
  code/game/turfs/simulated/wall_types_vr.dm
  icons/goonstation/turf/meatland.dmi
Labels: Type: Icon

#9095 Adds missing robotics rigsuit sprites
  icons/mob/species/akula/helmet_vr.dmi
  icons/mob/species/akula/suit_vr.dmi
  icons/mob/species/sergal/helmet_vr.dmi
  icons/mob/species/sergal/suit_vr.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
Labels: Type: Icon

#9060 Adds bee stripes marking by radiantaurora
  code/modules/mob/new_player/sprite_accessories_vr.dm
  icons/mob/human_races/markings_vr.dmi
Labels: Type: Icon

#9074 Makes Darker icon_add Versions of ArkStation Tesh Hair
  code/modules/mob/new_player/sprite_accessories_vr.dm
  icons/mob/human_face_vr_add.dmi
Labels: Type: Icon

#9101 Adds a new research cyborg model.
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  icons/mob/robots_vr.dmi
Labels: Type: Icon

#9103 Nanomaps GitHub action & TGUI Improvements
  .github/workflows/render_nanomaps.yml
  README.md
  code/datums/repositories/crew.dm
  code/modules/admin/admin_verb_lists.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/tgui/nanomapgen.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z13.png
  icons/_nanomaps/tether_nanomap_z14.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/_nanomaps/tether_nanomap_z5.png
  icons/_nanomaps/tether_nanomap_z6.png
  icons/_nanomaps/tether_nanomap_z7.png
  icons/_nanomaps/tether_nanomap_z8.png
  icons/_nanomaps/tether_nanomap_z9.png
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/interfaces/AtmosControl.js
  tgui/packages/tgui/interfaces/CrewMonitor.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/components/NanoMap.scss
  tools/github-actions/README.MD
  tools/github-actions/nanomap-renderer
  tools/github-actions/nanomap-renderer-invoker.sh
  vorestation.dme
Labels: Type: .git or .github, Type: Icon

#9104 Icons for NIFSoft Boxes
  code/modules/nifsoft/nifsoft.dm
  icons/obj/storage_vr.dmi
Labels: Type: Icon

#9088 Add Shadow Larkens laptop fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Task: Send this to Polaris, Type: Fluff, Type: Icon

#8926 Additional Ships
  code/game/objects/random/mapping_vr.dm
  code/modules/awaymissions/loot_vr.dm
  icons/obj/decals_vr.dmi
  maps/offmap_vr/om_ships/bearcat.dm
  maps/offmap_vr/om_ships/bearcat.dmm
  maps/offmap_vr/om_ships/gecko_cr.dmm
  maps/offmap_vr/om_ships/gecko_cr_wreck.dmm
  maps/offmap_vr/om_ships/gecko_sh.dmm
  maps/offmap_vr/om_ships/geckos.dm
  maps/offmap_vr/om_ships/mackerel_hc.dmm
  maps/offmap_vr/om_ships/mackerel_hc_skel.dmm
  maps/offmap_vr/om_ships/mackerel_lc.dmm
  maps/offmap_vr/om_ships/mackerel_lc_wreck.dmm
  maps/offmap_vr/om_ships/mackerel_sh.dmm
  maps/offmap_vr/om_ships/mackerels.dm
  maps/submaps/pois_vr/debris_field/_templates.dm
  maps/tether/submaps/_tether_submaps.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#9126 Adds Charles' Tophat
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
Labels: Type: Fluff

#8994 ERT & Mercenary Ship Remodels
  code/__defines/misc_vr.dm
  code/game/antagonist/outsider/ert_vr.dm
  code/game/machinery/portable_turret_vr.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe_vr.dm
  code/game/turfs/simulated/wall_types_vr.dm
  code/modules/materials/material_sheets_vr.dm
  code/modules/materials/materials_vr.dm
  icons/turf/wall_masks_vr.dmi
  maps/submaps/admin_use_vr/ert.dm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/ert_base.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/admin_use_vr/mercship.dm
  maps/tether/submaps/_tether_submaps.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#9128 Fix roundstart location for Site Manager
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#9107 Oregrubs
  code/modules/mob/living/simple_mob/subtypes/vore/oregrub.dm
  icons/mob/vore.dmi
  maps/expedition_vr/aerostat/_aerostat.dm
  maps/expedition_vr/beach/_beach.dm
  maps/tether/submaps/underdark_pois/underdark_things.dm
  vorestation.dme
Labels: Type: Icon

#9143 Talon Cleanup/Tweaks
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  icons/turf/areas_vr_talon.dmi
  maps/offmap_vr/talon/talon1.dmm
  maps/offmap_vr/talon/talon2.dmm
  maps/offmap_vr/talon/talon_areas.dm
Labels: Type: Icon, Type: Map

#9145 Dumb Shroom Juice Resprite
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/obj/drinks_vr.dmi
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#9144 Clara's Vacuum Flask
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#9141 Fixes #9099
  code/modules/clothing/suits/armor_vr.dm
  icons/mob/taursuits_wolf_vr.dmi
Labels: Type: Icon
