Repository VOREStation/VOREStation, pull requests merged in 2020-05, with the labels that each got.

#7545 Fix some missed click check stuff
  code/_onclick/ai.dm
  code/_onclick/cyborg.dm
  code/modules/mob/living/inventory.dm
Labels: Sev: 2-High, Task: Send this to Polaris

#7543 Make failing unit tests actually fail travis checks.
  code/ZAS/Atom.dm
  tools/travis/compile_and_run.sh
Labels: Sev: 2-High, Task: Send this to Polaris, Type: Bug

#7551 Further tweak move
  code/modules/mob/mob_movement.dm
Labels: Task: Send this to Polaris, Type: Bug

#7564 No wheelchair drifting
  code/modules/mob/mob_movement.dm
Labels: Task: Send this to Polaris, Type: Bug

#7566 Port Bay's Catwalks
  code/game/objects/structures.dm
  code/game/objects/structures/catwalk.dm
  code/modules/multiz/movement.dm
  code/modules/tables/tables.dm
  icons/turf/catwalks.dmi
Labels: Task: Send this to Polaris

#7579 Fix a couple more click bugs with synth pals
  code/_onclick/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Task: Send this to Polaris

#7597 Improve various smooth movement things
  code/datums/riding.dm
  code/game/atoms_movable.dm
  code/game/atoms_movable_vr.dm
  code/game/objects/buckling.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs_vr.dm
  code/game/turfs/turf.dm
  code/modules/ai/interfaces.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  code/modules/multiz/structures.dm
  code/modules/vehicles/vehicle.dm
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7600 Overmap Ship Pixel Movement
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/ship.dm
  code/modules/overmap/turfs.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7602 Adds 2 New Ears, a Tail & a Few Markings
  code/modules/mob/new_player/sprite_accessories_vr.dm
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#7598 Rapid Pipe Dispenser
  code/game/machinery/pipe/pipe_recipes.dm
  code/game/objects/items/weapons/RPD_vr.dm
  code/modules/client/asset_cache.dm
  code/modules/recycling/disposal-construction.dm
  icons/mob/items/lefthand_vr.dmi
  icons/mob/items/righthand_vr.dmi
  icons/obj/tools_vr.dmi
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7607 Fix Xenobio Slimes
  code/modules/ai/aI_holder_subtypes/slime_xenobio_ai.dm
  code/modules/ai/aI_holder_subtypes/slime_xenobio_ai_vr.dm
  code/modules/ai/ai_holder.dm
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Bug

#7617 Add radial menus for mech occupants
  code/game/mecha/mecha.dm
  icons/mob/radial.dmi
Labels: Task: Send this to Polaris

#7619 Aurora's floof, I mean fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Fluff

#7623 Add more iconstates to optable for status at a glance
  code/game/machinery/OpTable.dm
  icons/obj/surgery.dmi
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7622 Port Bay vitals monitors
  code/game/machinery/vitals_monitor.dm
  code/modules/research/designs/circuits/circuits_vr.dm
  icons/obj/heartmonitor.dmi
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-07-station3.dmm
  sound/machines/quiet_beep.ogg
  vorestation.dme
Labels: Type: Feature/Suggestion

#7552 Vore refactor V2
  code/_helpers/global_lists.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/bellymodes_tf_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/transforming_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  vorestation.dme
Labels: Type: Refactor, Type: Vore-Related

#7631 Fixes #7601
  code/modules/vore/eating/vorepanel_vr.dm
Labels: Type: Vore-Related

#7633 Add prefs for Be Morph, Be Maintpred, Be Lost Drone
  code/__defines/gamemode.dm
  code/datums/ghost_query.dm
  code/datums/ghost_query_vr.dm
  code/modules/client/preference_setup/antagonism/02_candidacy.dm
Labels: Task: Send this to Polaris

#7636 Fix condiment container infinite range
  code/modules/food/food/condiment.dm
Labels: Task: Send this to Polaris

#7637 Fix protein shaker name
  code/modules/food/drinkingglass/shaker.dm
Labels: Task: Send this to Polaris

#7639 Add cooldown to pen clicks
  code/modules/paperwork/pen.dm
Labels: Task: Send this to Polaris

#7649 Rewrite airlock electronics
  code/game/machinery/doors/airlock_electronics.dm
Labels: Task: Send this to Polaris

#7648 Update R&D Console, Autolathes
  code/game/machinery/autolathe.dm
  code/modules/research/rdconsole.dm
Labels: Task: Send this to Polaris

#7646 Prevent ghosts/others from messing with hydrotrays
  code/modules/hydroponics/trays/tray.dm
Labels: Task: Send this to Polaris

#7655 Make some progress bar activities exclusive
  code/__defines/mobs.dm
  code/_helpers/mobs.dm
  code/datums/progressbar.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/mob/mob_defines.dm
  code/modules/surgery/surgery.dm
  icons/effects/progressbar.dmi
Labels: Task: Send this to Polaris

#7670 Increase nightmode brightness slightly
  code/modules/power/lighting.dm
Labels: Task: Send this to Polaris

#7675 Add a better nightshift control
  code/modules/power/apc.dm
  nano/templates/apc.tmpl
Labels: Task: Send this to Polaris

#7677 Add Goon-style pushing of objects
  code/_helpers/time.dm
  code/_onclick/click.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7676 Refactor examining and some of getFlatIcon
  code/ATMOSPHERICS/atmospherics.dm
  code/_helpers/icons.dm
  code/_helpers/mobs.dm
  code/game/atoms.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/structures/barsign.dm
  code/game/objects/structures/cliff.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/walls.dm
  code/modules/client/asset_cache.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/clothing_vr.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/lockets.dm
  code/modules/customitems/item_spawning.dm
  code/modules/examine/examine.dm
  code/modules/food/drinkingglass/drinkingglass.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_controller.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/login.dm
  code/modules/projectiles/ammunition.dm
  code/modules/tables/tables.dm
  code/modules/vchat/vchat_client.dm
Labels: Task: Send this to Polaris

#7694 Fix for Resetting Character Slot to Default
  code/modules/client/preferences_savefile.dm
Labels: Task: Send this to Polaris, Type: Bug

#7699 Refactor some AI/borg join stuff
  code/__defines/misc.dm
  code/controllers/subsystems/ticker.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_helpers.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/renegade.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/stowaway.dm
  code/game/antagonist/station/thug.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/silicon.dm
  code/game/jobs/job_controller.dm
  code/modules/client/preferences_spawnpoints.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/transform_procs.dm
  maps/virgo_minitest/virgo_minitest-1.dmm
  maps/virgo_minitest/virgo_minitest_defines.dm
Labels: Task: Send this to Polaris

#7717 Check power on machine build
  code/game/machinery/machinery.dm
Labels: Task: Send this to Polaris

#7713 When looking at machines, don't allow mesons/material/etc
  code/game/machinery/machinery.dm
  code/modules/overmap/ships/computers/ship.dm
Labels: Task: Send this to Polaris

#7712 Add some ctrl/alt vehicle helper clicks
  code/modules/vehicles/bike.dm
  code/modules/vehicles/cargo_train.dm
Labels: Task: Send this to Polaris

#7711 Fix/rename some timing stuff
  code/_helpers/time.dm
  code/controllers/autotransfer.dm
  code/controllers/subsystems/game_master.dm
  code/controllers/subsystems/nightshift.dm
  code/game/gamemodes/game_mode_latespawn.dm
  code/game/machinery/exonet_node.dm
  code/game/machinery/newscaster.dm
  code/game/world.dm
  code/modules/events/event_container.dm
  code/modules/integrated_electronics/subtypes/time.dm
  maps/~map_system/maps.dm
Labels: Task: Send this to Polaris

#7709 Fix very curious orbit offset issue (513?)
  code/datums/orbit.dm
Labels: Task: Send this to Polaris

#7703 Redo teleporters to use nanoui
  code/_onclick/observer.dm
  code/game/machinery/teleporter.dm
  code/game/objects/items/weapons/teleportation.dm
  icons/obj/stationobjs_vr.dmi
  nano/templates/teleport_control.tmpl
Labels: Task: Send this to Polaris

#7705 Make multikey warning less rude
  code/modules/mob/login.dm
Labels: Task: Send this to Polaris

#7706 Prevent holopad chat from going to lobby
  code/modules/mob/new_player/new_player.dm
Labels: Task: Send this to Polaris

#7724 Make buildmode AI control reset home turfs when move orders given
  code/modules/admin/verbs/buildmode.dm
Labels: Task: Send this to Polaris

#7722 Another bunch of simplemob fixes
  code/modules/ai/ai_holder.dm
  code/modules/mob/living/simple_mob/appearance.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/corrupt_hounds.dm
  code/modules/mob/living/simple_mob/subtypes/vore/deathclaw.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dragon.dm
  code/modules/mob/living/simple_mob/subtypes/vore/hippo.dm
  code/modules/mob/living/simple_mob/subtypes/vore/horse.dm
  code/modules/mob/living/simple_mob/subtypes/vore/otie.dm
  code/modules/mob/living/simple_mob/subtypes/vore/panther.dm
  code/modules/mob/living/simple_mob/subtypes/vore/rat.dm
  code/modules/mob/living/simple_mob/subtypes/vore/wolf.dm
Labels: Task: Send this to Polaris

#7736 Fix various DM language issues
  code/controllers/autotransfer.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/RCD_vr.dm
  code/modules/media/mediamanager.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_modules_vr.dm
  code/modules/mob/living/silicon/robot/subtypes/lost_drone_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  maps/virgo_minitest/virgo_minitest.dm
Labels: Task: Send this to Polaris

#7738 Add bluespace flare to research designs
  code/modules/research/designs/misc.dm
Labels: Task: Send this to Polaris

#7748 Port over Hover Inventory and Body Zone Hover Indicator
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/weapons/storage/internal.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/arm_guards.dm
  code/modules/clothing/gloves/gauntlets.dm
  code/modules/clothing/masks/monitor.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/suits/armor.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
Labels: Task: Send this to Polaris

#7777 Fix turf icon issues
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_icon.dm
  code/game/turfs/simulated/lava.dm
  code/game/turfs/simulated/outdoors/outdoors.dm
  code/game/turfs/simulated/water.dm
  icons/turf/outdoors.dmi
  icons/turf/outdoors_edge.dmi
  maps/tether/tether_turfs.dm
Labels: Task: Send this to Polaris

#7786 Fix missing dash breaking numbers in URL ends
  code/modules/vchat/js/vchat.js
Labels: Task: Send this to Polaris

#7798 Put APCs and SMESes into GLOB lists to ease iteration
  code/controllers/subsystems/nightshift.dm
  code/game/gamemodes/cult/hell_universe.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/game/gamemodes/events.dm
  code/game/gamemodes/events/power_failure.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/HELPERS.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_manipulation.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_networking.dm
  code/modules/admin/verbs/debug.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/ion_storm.dm
  code/modules/gamemaster/event2/events/everyone/electrical_fault.dm
  code/modules/modular_computers/file_system/programs/engineering/rcon_console.dm
  code/modules/power/apc.dm
  code/modules/power/smes.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/xenoarcheaology/effects/cellcharge.dm
  code/modules/xenoarcheaology/effects/celldrain.dm
Labels: Task: Send this to Polaris

#7806 Adminnery!
  code/_helpers/global_lists.dm
  code/_helpers/logging.dm
  code/controllers/failsafe.dm
  code/defines/procs/statistics.dm
  code/game/verbs/ignore.dm
  code/game/verbs/ooc.dm
  code/game/verbs/who.dm
  code/game/world.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/pray.dm
  code/modules/client/client procs.dm
  code/modules/mob/logout.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/tgs/v5/chat_commands.dm
Labels: Task: Send this to Polaris

#7809 Fix an exploit
  code/modules/reagents/Chemistry-Machinery.dm
Labels: Sev: 1-Blocker, Task: Send this to Polaris, Type: Polaris Bug

#7812 Set proper base turfs on various away areas
  maps/tether/submaps/_tether_submaps.dm
Labels: Type: Map

#7819 Update hydro tray icons
  code/modules/hydroponics/trays/tray.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  icons/obj/hydroponics_machines_vr.dmi
Labels: Task: Send this to Polaris

#7827 Make intercom power change stateful
  code/datums/observation/power_change.dm
  code/game/objects/items/devices/radio/intercom.dm
  vorestation.dme
Labels: Task: Send this to Polaris

#7828 Clean up air tank processing and initialize
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/tanks/tanks.dm
Labels: Task: Send this to Polaris

#7829 Optimize flashlight processing
  code/game/objects/items/devices/flashlight.dm
Labels: Task: Send this to Polaris

#7830 Optimize suit cooler processing
  code/game/objects/items/devices/suit_cooling.dm
Labels: Task: Send this to Polaris

#7832 Optimize lighting processing
  code/modules/power/lighting.dm
Labels: Task: Send this to Polaris

#7833 Optimize geiger counter processing
  code/game/objects/items/devices/geiger.dm
Labels: Task: Send this to Polaris

#7835 Fix sofa icon layering
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: Task: Send this to Polaris

#7836 Only process rigs on a person
  code/modules/clothing/spacesuits/rig/rig.dm
Labels: Task: Send this to Polaris

#7839 Fix a blindness bug
  code/modules/mob/logout.dm
Labels: Task: Send this to Polaris

#7840 Fix mounted RCD with radial menu
  code/game/objects/items/weapons/RCD_vr.dm
Labels: Task: Send this to Polaris

#7850 Further add on to the alert system
  code/_onclick/hud/alert.dm
  code/_onclick/hud/hud.dm
  code/modules/mob/dead/observer/observer.dm
  icons/mob/screen/holo.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
  icons/mob/screen_alert.dmi
Labels: Task: Send this to Polaris

#7852 Ghost HUD, zMove HUD
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/_onclick/hud/alien_larva.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/robot.dm
  code/modules/ai/ai_holder.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/simple_mob/simple_hud.dm
  icons/mob/screen1_robot.dmi
  icons/mob/screen1_robot_vr.dmi
  icons/mob/screen_ai.dmi
  icons/mob/screen_ghost.dmi
  vorestation.dme
Labels: Task: Send this to Polaris

#7853 Fix glove runtime
  code/modules/clothing/clothing.dm
Labels: Task: Send this to Polaris

#7854 Fix xenobio AI runtime
  code/modules/ai/ai_holder.dm
Labels: Task: Send this to Polaris

#7856 Add inventory item tooltips
  code/game/objects/items.dm
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/client/preferences_toggle_procs.dm
Labels: Task: Send this to Polaris

#7864 2 catwalk fixes, climbing and decon
  code/game/objects/structures/catwalk.dm
  code/modules/multiz/movement.dm
Labels: Task: Send this to Polaris

#7866 Update github issues template with comments
  .github/ISSUE_TEMPLATE.md
Labels: Type: .git or .github

#7867 Update
  .github/ISSUE_TEMPLATE.md
  code/__defines/tgs.dm
  code/datums/supplypacks/misc.dm
  code/game/machinery/vending.dm
  code/game/objects/items/toys_vr.dm
  code/game/objects/random/misc.dm
  code/game/objects/structures/catwalk.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/multiz/movement.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  icons/obj/toy_vr.dmi
  maps/tether/tether-07-station3.dmm
Labels: Type: .git or .github

#7868 Update revinfo proc
  code/datums/helper_datums/getrev.dm
Labels: Task: Send this to Polaris

#7870 Add tooltips to ghost HUD buttons
  code/_onclick/hud/ghost.dm
Labels: Task: Send this to Polaris

#7871 Allow hiding other huds like ghost huds with F12
  code/_onclick/hud/hud.dm
Labels: Task: Send this to Polaris

#7872 Fix bad arg
  code/modules/mob/living/damage_procs.dm
Labels: Task: Send this to Polaris

#7873 Fix item-based alerts, and add a confused alert
  code/_onclick/hud/alert.dm
  code/modules/mob/living/life.dm
  icons/mob/screen_alert.dmi
Labels: Task: Send this to Polaris

#7883 Add mini HUDs to mechs, rigs
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/rigmech.dm
  code/game/mecha/mecha.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  icons/mob/screen_rigmech.dmi
  vorestation.dme
Labels: Task: Send this to Polaris

#7899 Adds Equine Facial Markings & Ears
  code/modules/mob/new_player/sprite_accessories_vr.dm
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/ears_vr.dmi
Labels: Type: Icon

#7897 Port over AI Opening Doors from Paradise
  code/game/machinery/camera/tracking.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Task: Send this to Polaris

#7900 Update BC glob patterns now that I know how they work
  .github/boring-cyborg.yml
Labels: Type: .git or .github

#7907 unfucks cavetrench poi conflict merge blooper
  maps/submaps/surface_submaps/mountains/CaveTrench.dmm
Labels: Type: Map

#7908 Add serial comma
  code/_helpers/_lists.dm
Labels: Task: Send this to Polaris

#7906 Mark whitelist edits as fluff type PRs.
  .github/boring-cyborg.yml
Labels: Type: .git or .github

#7904 Make blood generation less garbage
  code/game/objects/items.dm
Labels: Task: Send this to Polaris

#7910 Further molest revdata
  code/controllers/master.dm
  code/datums/helper_datums/getrev.dm
  code/game/world.dm
Labels: Task: Send this to Polaris

#7909 Gently refactor external_organs.dm
  code/modules/organs/organ_external.dm
Labels: Task: Send this to Polaris

#7920 tg(?) style stack autocombining
  code/game/objects/items/stacks/stack.dm
Labels: Task: Send this to Polaris

#7917 Attempt some performance improvements
  code/_helpers/unsorted.dm
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/mobs.dm
  code/controllers/subsystems/ticker.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/world.dm
  code/modules/ai/_defines.dm
  code/modules/ai/ai_holder.dm
  code/modules/ai/ai_holder_disabled.dm
  code/modules/integrated_electronics/subtypes/output.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/mob/mob.dm
Labels: Task: Send this to Polaris

#7922 Update
  .github/boring-cyborg.yml
  code/_helpers/_lists.dm
  code/_helpers/unsorted.dm
  code/controllers/master.dm
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/mobs.dm
  code/controllers/subsystems/ticker.dm
  code/datums/helper_datums/getrev.dm
  code/game/machinery/vending.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/trash_vr.dm
  code/game/turfs/simulated/floor_icon.dm
  code/game/world.dm
  code/modules/ai/_defines.dm
  code/modules/ai/ai_holder.dm
  code/modules/ai/ai_holder_disabled.dm
  code/modules/food/drinkingglass/shaker_vr.dm
  code/modules/integrated_electronics/subtypes/output.dm
  code/modules/mob/freelook/eye.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/mob/mob.dm
  code/modules/organs/organ_external.dm
  code/modules/reagents/Chemistry-Reagents_vr.dm
  code/modules/tgs/v5/chat_commands.dm
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
  maps/southern_cross/southern_cross-1.dmm
  maps/submaps/surface_submaps/mountains/CaveTrench.dmm
  vorestation.dme
Labels: Type: .git or .github, Type: Icon

#7923 Vulp Hazard Helmet MkIII
  icons/mob/species/vulpkanin/helmet.dmi
Labels: Type: Icon

#7924 Migrate isstorage()
  code/__defines/is_helpers.dm
  code/_macros_vr.dm
Labels: Task: Send this to Polaris

#7926 New jetpack sprite from Eris
  code/game/objects/items/weapons/tanks/jetpack.dm
  icons/obj/tank_vr.dmi
Labels: Type: Icon

#7931 New holopad icon
  code/game/machinery/hologram.dm
  icons/obj/stationobjs_vr.dmi
Labels: Type: Icon

#7932 Update old robot parts sprites
  icons/obj/robot_component.dmi
Labels: Task: Send this to Polaris, Type: Icon

#7933 Add grey railing
  code/game/objects/structures/railing.dm
  icons/obj/railing.dmi
Labels: Task: Send this to Polaris, Type: Icon

#7934 New modular component sprites
  icons/obj/modular_components.dmi
Labels: Task: Send this to Polaris, Type: Icon

#7935 Fixes to Snow Outpost Map, swap Phazon, beef up outpost
  maps/tether/submaps/gateway/snow_outpost.dmm
Labels: Type: Map

#7936 New ore chunk sprites, ore box sprite
  icons/obj/mining.dmi
Labels: Task: Send this to Polaris, Type: Icon

#7937 New janicart sprites/features
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/objs.dm
  code/game/objects/structures/janicart.dm
  icons/obj/janitor.dmi
  nano/templates/janitorcart.tmpl
Labels: Task: Send this to Polaris, Type: Icon

#7938 New implanter and camera sprites
  icons/obj/items.dmi
Labels: Task: Send this to Polaris, Type: Icon

#7939 Adds holoposters
  code/game/machinery/holoposter.dm
  code/modules/security levels/security levels.dm
  icons/obj/holoposter_vr.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#7940 Remove unused vendor sprites
  icons/obj/vending_vr.dmi
Labels: Type: Icon

#7945 Releeze
  SQL/feedback_schema.sql
  code/__defines/is_helpers.dm
  code/_macros_vr.dm
  code/game/machinery/hologram.dm
  code/game/machinery/holoposter.dm
  code/game/objects/items/paintkit.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/objs.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/railing.dm
  code/modules/admin/player_notes.dm
  code/modules/client/client procs.dm
  code/modules/security levels/security levels.dm
  code/modules/tgs/v5/chat_commands.dm
  icons/mob/custom_items_rig_boots.dmi
  icons/mob/custom_items_rig_gloves.dmi
  icons/mob/custom_items_rig_helmet.dmi
  icons/mob/custom_items_rig_suit.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/obj/custom_items_obj.dmi
  icons/obj/holoposter_vr.dmi
  icons/obj/items.dmi
  icons/obj/janitor.dmi
  icons/obj/mining.dmi
  icons/obj/modular_components.dmi
  icons/obj/railing.dmi
  icons/obj/robot_component.dmi
  icons/obj/stationobjs_vr.dmi
  icons/obj/tank_vr.dmi
  icons/obj/vending_vr.dmi
  maps/tether/submaps/gateway/snow_outpost.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  nano/templates/janitorcart.tmpl
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#7951 Performance tweaks
  code/__defines/flags.dm
  code/_helpers/game.dm
  code/_helpers/icons_vr.dm
  code/datums/observation/turf_enterexit.dm
  code/defines/obj.dm
  code/game/atoms.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/motion.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/flasher.dm
  code/game/objects/effects/alien/aliens.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/turfs/turf.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/proximity.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_facehugger.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/human/update_icons_vr.dm
  code/modules/mob/mob_defines.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/vore/appearance/sprite_accessories_vr.dm
  vorestation.dme
Labels: Task: Send this to Polaris

#7950 Fix mystery steel-leather
  code/game/machinery/washing_machine.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/awaymissions/loot_vr.dm
  code/modules/reagents/Chemistry-Recipes_vr.dm
Labels: Task: Send this to Polaris

#7944 added new emotes, edited awoo
  code/modules/mob/living/carbon/human/emote_vr.dm
  sound/voice/awoo.ogg
  sound/voice/baa.ogg
  sound/voice/baa2.ogg
  sound/voice/bork.ogg
  sound/voice/cursed/M Y A R P.ogg
  sound/voice/cursed/awoo_short.ogg
  sound/voice/cursed/azura.ogg
  sound/voice/cursed/cursedmeow.ogg
  sound/voice/cursed/francis.ogg
  sound/voice/cursed/poe_loud.ogg
  sound/voice/cursed/sam_michels.ogg
  sound/voice/deathgasp2.ogg
  sound/voice/geck.ogg
  sound/voice/growl.ogg
  sound/voice/hoot.ogg
  sound/voice/hypno.ogg
  sound/voice/long_awoo.ogg
  sound/voice/mar.ogg
  sound/voice/mrow.ogg
  sound/voice/rattle.ogg
  sound/voice/woof.ogg
  sound/voice/woof2.ogg
  sound/voice/wurble.ogg
Labels: Type: Feature/Suggestion, Type: Sound

#7954 Just entirely remove on_loc_moved
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/assemblies/clothing.dm
  code/modules/integrated_electronics/subtypes/output.dm
  code/modules/mob/mob_movement.dm
  code/modules/shieldgen/directional_shield.dm
Labels: Task: Send this to Polaris

#7956 Removes bad kinks
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#7958 Fix custom species synthetics' hunger alert icons
  code/modules/mob/living/carbon/human/life.dm
Labels: Task: Send this to Polaris

#7959 Refactor spacemoves
  code/_onclick/hud/skybox.dm
  code/game/area/Space Station 13 areas.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_movement.dm
Labels: Task: Send this to Polaris

#7960 Change stack autocombine
  code/game/objects/items/stacks/stack.dm
Labels: Task: Send this to Polaris

#7961 More fixes, performance
  code/_onclick/hud/skybox.dm
  code/game/area/Space Station 13 areas.dm
  code/game/objects/items/stacks/stack.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_movement.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#7964 Akula&Vulp Mask/Smoking Fixes
  icons/mob/species/akula/mask_vr.dmi
  icons/mob/species/vulpkanin/mask.dmi
Labels: Type: Icon

#7963 Log time dilation for metrics
  code/controllers/subsystems/time_track.dm
Labels: Task: Send this to Polaris

#7966 Add some more boring cyborg labels
  .github/boring-cyborg.yml
Labels: Type: .git or .github

#7975 Remove stat() sleeping
  code/modules/client/client procs.dm
Labels: Task: Send this to Polaris

#7974 Move openspace object updating to event listeners
  code/controllers/subsystems/open_space.dm
  code/modules/multiz/turf.dm
Labels: Task: Send this to Polaris

#7978 Talon Crew Unique Voidsuits
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/suit_storage_unit_vr.dm
  code/modules/clothing/spacesuits/void/event.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  icons/mob/helmet_vr.dmi
  icons/mob/spacesuit_vr.dmi
  icons/mob/species/skrell/helmet_vr.dmi
  icons/mob/species/skrell/suit_vr.dmi
  icons/mob/species/tajaran/helmet_vr.dmi
  icons/mob/species/tajaran/suit_vr.dmi
  icons/mob/species/unathi/helmet_vr.dmi
  icons/mob/species/unathi/suit_vr.dmi
  icons/mob/species/vulpkanin/helmet_vr.dmi
  icons/mob/species/vulpkanin/suit_vr.dmi
  icons/obj/clothing/helmets_vr.dmi
  icons/obj/clothing/spacesuits_vr.dmi
  icons/obj/clothing/species/skrell/helmets_vr.dmi
  icons/obj/clothing/species/skrell/spacesuits_vr.dmi
  icons/obj/clothing/species/tajaran/helmets_vr.dmi
  icons/obj/clothing/species/tajaran/spacesuits_vr.dmi
  icons/obj/clothing/species/unathi/helmets_vr.dmi
  icons/obj/clothing/species/unathi/spacesuits_vr.dmi
  icons/obj/clothing/species/vulpkanin/helmets_vr.dmi
  icons/obj/clothing/species/vulpkanin/spacesuits_vr.dmi
  maps/tether/submaps/offmap/talon.dm
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/submaps/offmap/talon2.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#7986 Fix 3 map issues
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#7988 Make protean deaths a bit more robust
  code/controllers/subsystems/mobs.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
  code/modules/mob/mob_defines_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
Labels: Task: Send this to Polaris

#7987 Talking changes
  code/modules/mob/language/language.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/say.dm
  code/modules/organs/organ.dm
  code/modules/organs/subtypes/machine.dm
Labels: Task: Send this to Polaris

#7989 Talon suits, protean fixes, map fixes, talking
  code/controllers/subsystems/mobs.dm
  code/game/antagonist/antagonist_helpers.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/suit_storage_unit_vr.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/change_appearance.dm
  code/modules/blob2/overmind/types/ravenous_macrophage.dm
  code/modules/clothing/spacesuits/void/event.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  code/modules/mob/language/language.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
  code/modules/mob/living/say.dm
  code/modules/mob/mob_defines_vr.dm
  code/modules/organs/organ.dm
  code/modules/organs/organ_icon.dm
  code/modules/organs/subtypes/machine.dm
  code/modules/vore/eating/belly_obj_vr.dm
  icons/mob/helmet_vr.dmi
  icons/mob/spacesuit_vr.dmi
  icons/mob/species/skrell/helmet_vr.dmi
  icons/mob/species/skrell/suit_vr.dmi
  icons/mob/species/tajaran/helmet_vr.dmi
  icons/mob/species/tajaran/suit_vr.dmi
  icons/mob/species/unathi/helmet_vr.dmi
  icons/mob/species/unathi/suit_vr.dmi
  icons/mob/species/vulpkanin/helmet_vr.dmi
  icons/mob/species/vulpkanin/suit_vr.dmi
  icons/obj/clothing/helmets_vr.dmi
  icons/obj/clothing/spacesuits_vr.dmi
  icons/obj/clothing/species/skrell/helmets_vr.dmi
  icons/obj/clothing/species/skrell/spacesuits_vr.dmi
  icons/obj/clothing/species/tajaran/helmets_vr.dmi
  icons/obj/clothing/species/tajaran/spacesuits_vr.dmi
  icons/obj/clothing/species/unathi/helmets_vr.dmi
  icons/obj/clothing/species/unathi/spacesuits_vr.dmi
  icons/obj/clothing/species/vulpkanin/helmets_vr.dmi
  icons/obj/clothing/species/vulpkanin/spacesuits_vr.dmi
  maps/tether/submaps/offmap/talon.dm
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/submaps/offmap/talon2.dmm
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Icon

#7994 Fix mining drill cell size
  code/game/objects/items/weapons/circuitboards/machinery/mining_drill.dm
  code/modules/mining/drilling/drill.dm
  maps/tether/tether-08-mining.dmm
Labels: Task: Send this to Polaris, Type: Map

#7996 Alleviate shapeshifter color issues
  code/_helpers/icons.dm
  code/modules/mob/living/carbon/human/species/species_shapeshift.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_powers.dm
Labels: Task: Send this to Polaris

#7998 Tweak beartraps, alerts
  code/_onclick/hud/alert.dm
  code/game/objects/items/weapons/traps.dm
  code/modules/mob/living/life.dm
Labels: Task: Send this to Polaris

#7999 Fix sinks washing things at a distance
  code/game/objects/structures/watercloset.dm
Labels: Task: Send this to Polaris

#8000 Fix rollerbed movement with buckled mobs
  code/game/objects/buckling.dm
  code/modules/mob/living/living.dm
Labels: Task: Send this to Polaris

#8024 Yet Another Foxship
  maps/tether/submaps/om_ships/aro2.dm
  maps/tether/submaps/om_ships/aro2.dmm
Labels: Type: Map

#8030 Stuff!!
  code/modules/mob/transform_procs.dm
  code/modules/vore/resizing/holder_micro_vr.dm
  maps/tether/submaps/om_ships/aro2.dm
  maps/tether/submaps/om_ships/aro2.dmm
Labels: Type: Map

#8036 Add safety to GPSes to avoid runtimes
  code/game/objects/items/devices/gps.dm
Labels: Task: Send this to Polaris

#8038 Fix some aro2.dmm bugs
  maps/tether/submaps/om_ships/aro2.dm
  maps/tether/submaps/om_ships/aro2.dmm
Labels: Type: Map

#8040 Warn VPN connectors better
  code/modules/client/client procs.dm
Labels: Task: Send this to Polaris

#8046 Surfluid pool tweak
  maps/tether/submaps/om_ships/aro2.dmm
Labels: Type: Map

#8045 Adds Xonkon to Alien Whitelist as Protean
  config/alienwhitelist.txt
Labels: Type: Fluff

#8047 Tweak tweak tweak tweak
  code/game/machinery/autolathe.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/mecha/mech_prosthetics.dm
  code/game/objects/structures/janicart.dm
  code/modules/client/client procs.dm
  code/modules/clothing/spacesuits/void/event.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
  code/modules/research/protolathe.dm
  config/alienwhitelist.txt
  html/changelogs/arokha-janicart.yml
  icons/mob/head.dmi
  icons/mob/spacesuit.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/spacesuits.dmi
  icons/obj/clothing/species/skrell/hats.dmi
  icons/obj/clothing/species/skrell/suits.dmi
  icons/obj/clothing/species/tajaran/hats.dmi
  icons/obj/clothing/species/tajaran/suits.dmi
  icons/obj/clothing/species/unathi/suits.dmi
  icons/obj/machines/research.dmi
  icons/obj/robotics.dmi
  icons/obj/stationobjs.dmi
  maps/tether/submaps/om_ships/aro2.dm
  maps/tether/submaps/om_ships/aro2.dmm
Labels: Type: Fluff, Type: Icon, Type: Map

#8048 Delete ghosts after 10 minutes if no client
  code/modules/mob/dead/observer/login.dm
  code/modules/mob/dead/observer/logout.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Task: Send this to Polaris

#8060 Added voidalynx to alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#8061 Vgs
  code/__defines/tgs.config.dm
  code/__defines/tgs.dm
  code/controllers/configuration.dm
  code/game/world.dm
  code/modules/client/client procs.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/api_vgs.dm
  config/alienwhitelist.txt
Labels: Type: Fluff

#8062 Fixes missing disposal pipes
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#8070 Uppen
  code/controllers/subsystems/ticker.dm
  code/game/objects/structures/fitness_vr.dm
  code/modules/admin/admin_attack_log.dm
  code/modules/client/client procs.dm
  code/modules/clothing/clothing_vr.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/power/singularity/particle_accelerator/particle_emitter.dm
  code/modules/vchat/js/vchat.js
  code/modules/vchat/vchat_client.dm
  html/changelogs/atermonera - vchat_exportlog.yml
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#8056 Update Alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#8074 Adds Phoenixx0 to whitelist for Vox
  config/alienwhitelist.txt
Labels: Type: Fluff

#8071 Fix tesla engine submap
  maps/submaps/engine_submaps/engine_tesla.dmm
Labels: Type: Map

#8059 Fix Talon voidsuits being spriteless for Virgo-specific species
  code/game/machinery/suit_storage_unit_vr.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  icons/mob/helmet_vr.dmi
  icons/mob/species/skrell/helmet_vr.dmi
  icons/mob/species/skrell/suit_vr.dmi
  icons/mob/species/tajaran/helmet_vr.dmi
  icons/mob/species/tajaran/suit_vr.dmi
  icons/mob/species/unathi/helmet_vr.dmi
  icons/mob/species/unathi/suit_vr.dmi
  icons/obj/clothing/spacesuits_vr.dmi
  icons/obj/clothing/species/skrell/helmets_vr.dmi
  icons/obj/clothing/species/tajaran/helmets_vr.dmi
Labels: Type: Icon

#8050 Redo respawning
  code/_helpers/global_lists.dm
  code/controllers/configuration.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/death.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  config/example/config.txt
Labels: Task: Send this to Polaris

#8075 Fixes, respawn change
  code/_helpers/global_lists.dm
  code/controllers/configuration.dm
  code/game/machinery/suit_storage_unit_vr.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/death.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  config/alienwhitelist.txt
  config/example/config.txt
  icons/mob/helmet_vr.dmi
  icons/mob/species/skrell/helmet_vr.dmi
  icons/mob/species/skrell/suit_vr.dmi
  icons/mob/species/tajaran/helmet_vr.dmi
  icons/mob/species/tajaran/suit_vr.dmi
  icons/mob/species/unathi/helmet_vr.dmi
  icons/mob/species/unathi/suit_vr.dmi
  icons/obj/clothing/spacesuits_vr.dmi
  icons/obj/clothing/species/skrell/helmets_vr.dmi
  icons/obj/clothing/species/tajaran/helmets_vr.dmi
  maps/submaps/engine_submaps/engine_tesla.dmm
Labels: Type: Fluff, Type: Icon, Type: Map

#8078 removes stacking eye_blurry from myelamine
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Task: Send this to Polaris, Type: Bug

#8081 Show sent PDA messages to sender
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#8083 Add a "Return to Menu" ghost HUD button
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  icons/mob/screen_ghost.dmi
Labels: Task: Send this to Polaris, Type: Icon

#8084 Relees
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/mob/screen_ghost.dmi
  icons/obj/vending.dmi
  maps/southern_cross/southern_cross-1.dmm
  maps/southern_cross/southern_cross-4.dmm
  maps/southern_cross/southern_cross-6.dmm
  maps/southern_cross/southern_cross-7.dmm
Labels: Type: Icon, Type: Map

#8086 Fix excessive green in saved logs
  code/modules/mob/hear_say.dm
Labels: Task: Send this to Polaris

#8085 Medihound inventory changes
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map
