Repository VOREStation/VOREStation, pull requests merged in 2020-06, with the labels that each got.

#8172 Be really specific about turf decal layers
  code/__defines/_planes+layers.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_decals.dm
Labels: Task: Send this to Polaris

#8171 Recipe and Icon fix
  code/modules/reagents/Chemistry-Recipes_vr.dm
  icons/obj/drinks_vr.dmi
Labels: Type: Icon

#8173 Blepdate
  code/__defines/_planes+layers.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/reagents/Chemistry-Recipes_vr.dm
  icons/obj/drinks_vr.dmi
Labels: Type: Icon

#8175 VVE Prep
  icons/mob/species/vulpkanin/helmet_vr.dmi
  icons/mob/species/vulpkanin/suit_vr.dmi
  icons/obj/clothing/species/vulpkanin/helmets_vr.dmi
  icons/obj/clothing/species/vulpkanin/spacesuits_vr.dmi
Labels: Type: Icon

#8174 Prevents lava from being blown up
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated/lava.dm
Labels: Task: Send this to Polaris

#8179 Don't blow up lava
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_types_eris.dm
  code/game/turfs/simulated/lava.dm
  code/modules/recycling/sortingmachinery.dm
  icons/mob/species/vulpkanin/helmet_vr.dmi
  icons/mob/species/vulpkanin/suit_vr.dmi
  icons/obj/clothing/species/vulpkanin/helmets_vr.dmi
  icons/obj/clothing/species/vulpkanin/spacesuits_vr.dmi
Labels: Type: Icon

#8181 Attempt to fix Ex shuttle airlock
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#8182 AI and shuttle
  code/modules/mob/living/simple_mob/subtypes/humanoid/mercs/mercs_vr.dm
  code/modules/mob/living/simple_mob/subtypes/mechanical/mecha/adv_dark_gygax.dm
  code/modules/mob/living/simple_mob/subtypes/mechanical/mecha/adv_dark_gygax_vr.dm
  maps/tether/tether-07-station3.dmm
  vorestation.dme
Labels: Type: Map

#8186 Benches, ammo
  maps/tether/submaps/om_ships/aro2.dmm
Labels: Type: Map

#8185 Adds get_cell to drill heads so you can use an inducer on them
  code/modules/mining/drilling/drill.dm
Labels: Task: Send this to Polaris

#8187 Random Crawlspace That Is There For No Reason
  code/datums/outfits/outfit_vr.dm
  code/modules/mining/drilling/drill.dm
  maps/tether/submaps/om_ships/aro2.dm
  maps/tether/submaps/om_ships/aro2.dmm
  vorestation.dme
Labels: Type: Map

#8177 Adds mermaid tails taur option
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#8188 Adds new emotes.
  code/modules/mob/living/carbon/human/emote_vr.dm
  sound/voice/Croak.ogg
  sound/voice/Meow.ogg
  sound/voice/Moo.ogg
  sound/voice/Snort.ogg
Labels: Type: Sound

#7801 New Engineering Tool - RMS: Rapid Material Synthesizer
  code/game/machinery/vending_vr.dm
  code/game/objects/items/weapons/RMS_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/mob/items/lefthand_vr.dmi
  icons/mob/items/righthand_vr.dmi
  icons/mob/radial_vr.dmi
  icons/obj/tools_vr.dmi
  vorestation.dme
Labels: Task: Requires Discussion, Type: Feature/Suggestion

#8193 Proof of concept Werebeasts can wear clothes!~
  icons/mob/species/werebeast/feet.dmi
  icons/mob/species/werebeast/masks.dmi
  icons/mob/species/werebeast/uniform.dmi
Labels: Type: Icon

#8224 Combine all nanoui templates into a single resource bundle.
  code/modules/client/asset_cache.dm
  code/modules/nano/nanoui.dm
  nano/js/nano_template.js
Labels: Task: Send this to Polaris

#8231 Expedition area fixes
  maps/tether/submaps/aerostat/aerostat.dmm
  maps/tether/submaps/gateway/snow_outpost.dmm
Labels: Type: Map

#8210 New overmap POI
  icons/obj/overmap_vr.dmi
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/submaps/space/_guttersite.dm
  maps/tether/submaps/space/guttersite.dmm
  maps/tether/tether_defines.dm
Labels: Type: Icon, Type: Map

#8232 Talon Suits & Jetpacks
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/suit_storage_unit_vr.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  icons/obj/clothing/species/unathi/helmets_vr.dmi
  maps/tether/submaps/offmap/talon.dm
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/submaps/offmap/talon2.dmm
Labels: Type: Icon, Type: Map

#8233 Broken RIG in Abandoned Crate Fix
  code/modules/mining/abandonedcrates.dm
Labels: Task: Send this to Polaris, Type: Bug

#8235 Brownstar icon fix
  icons/obj/drinks_vr.dmi
Labels: Type: Icon

#8225 Brings some variety and color to back to closets
  code/__defines/color.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions_vr.dm
  code/game/objects/structures/crates_lockers/closets/fitness.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/l3closet.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_vr.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  icons/obj/closets/decals/closet.dmi
Labels: Task: Send this to Polaris, Type: Icon

#8242 General Patch 1
  maps/tether/submaps/space/guttersite.dmm
Labels: Type: Map

#8243 Guttermap Hotfix
  code/game/jobs/job/silicon_vr.dm
  maps/tether/submaps/space/guttersite.dmm
Labels: Type: Map

#8244 Fixes cyborg rechargers not recharging
  code/game/machinery/machinery.dm
Labels: Task: Send this to Polaris

#8238 Adds in Food cart to the kitchen.
  code/game/objects/structures/kitchen_foodcart_vr.dm
  icons/obj/kitchen_vr.dmi
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#8245 General update
  maps/tether/submaps/space/guttersite.dmm
Labels: Type: Map

#8247 Upppp
  code/game/machinery/machinery.dm
  code/game/objects/structures/kitchen_foodcart_vr.dm
  icons/obj/kitchen_vr.dmi
  maps/tether/submaps/space/guttersite.dmm
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#8265 Adds in Werebeast clothing requested for event
  icons/mob/species/werebeast/uniform.dmi
Labels: Type: Icon

#8262 A little more gutter
  maps/tether/submaps/space/guttersite.dmm
Labels: Type: Map

#8274 Vox Phoron and Adminbus Backpacks
  code/datums/uplink/ammunition_vr.dm
  code/datums/uplink/medical_vr.dm
  code/datums/uplink/tools_vr.dm
  code/game/objects/items/weapons/storage/backpack_vr.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/tanks/tank_types_vr.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/modules/clothing/spacesuits/void/void_vr.dm
  icons/obj/clothing/backpack_vr.dmi
  icons/obj/storage_vr.dmi
  maps/tether/tether-07-station3.dmm
  vorestation.dme
Labels: Type: Bug, Type: Icon, Type: Map

#8277 Adds Emergency Lockers to Tour Bus
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8278 Adds few missing air alarms near new engineering passage
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#8283 Adds Zena's Shroud Suit Fluff Item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#8260 Introduce a SINGLE themed, colored explorer shield.
  code/datums/supplypacks/misc_vr.dm
  code/game/objects/items/weapons/shields_vr.dm
  code/game/objects/random/misc_vr.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/obj/weapons_vr.dmi
  vorestation.dme
Labels: Type: Icon

#8257 Adds medical graviton eyepatch
  code/modules/clothing/glasses/glasses_vr.dm
  icons/mob/eyes_vr.dmi
  icons/obj/clothing/glasses_vr.dmi
Labels: Type: Icon

#8291 Log all supply purchases for stats generation
  code/controllers/subsystems/supply.dm
Labels: Task: Send this to Polaris

#8267 Pips mess of clowns
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/Big.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/Clowns.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/bigclowns.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/bus.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/busclowns.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/c_shift.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/hespawner.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/honkelemental.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/regularclowns.dm
  icons/mob/mobs_monsters/TGClowns.dmi
  icons/mob/mobs_monsters/giantclowns.dmi
  icons/mob/mobs_monsters/newclowns.dmi
  sound/effects/Whipcrack.ogg
  vorestation.dme
Labels: Type: Icon, Type: Sound

#8290 Gutter patch 4
  maps/tether/submaps/space/guttersite.dmm
  vorestation.dme
Labels: Type: Map

#8293 U
  code/controllers/subsystems/supply.dm
  code/game/machinery/machinery.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/Big.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/Clowns.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/bigclowns.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/bus.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/busclowns.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/c_shift.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/hespawner.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/honkelemental.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mobs_monsters/clowns/regularclowns.dm
  code/modules/nano/interaction/default_vr.dm
  icons/mob/mobs_monsters/TGClowns.dmi
  icons/mob/mobs_monsters/giantclowns.dmi
  icons/mob/mobs_monsters/newclowns.dmi
  maps/tether/submaps/space/guttersite.dmm
  nano/To BYOND Cache.bat
  nano/Update BYOND Cache.py
  sound/effects/Whipcrack.ogg
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Sound

#8304 Fixes a few missing pixels on Zena's Shroud Suit
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Icon

#8307 Quickfix
  code/modules/reagents/Chemistry-Recipes_vr.dm
  maps/tether/submaps/space/guttersite.dmm
  vorestation.dme
Labels: Type: Map

#8308 Assorted Spacesuits & DMI Cleanup
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/suit_storage_unit_vr.dm
  code/modules/clothing/spacesuits/void/ert.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  code/modules/clothing/spacesuits/void/military_vr.dm
  icons/mob/head_vr.dmi
  icons/mob/spacesuit_vr.dmi
  icons/mob/species/skrell/helmet_vr.dmi
  icons/mob/species/skrell/suit_vr.dmi
  icons/mob/species/tajaran/helmet_vr.dmi
  icons/mob/species/tajaran/suit_vr.dmi
  icons/mob/species/unathi/helmet_vr.dmi
  icons/mob/species/unathi/suit_vr.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/helmet_vr.dmi
  icons/mob/species/vulpkanin/suit.dmi
  icons/mob/species/vulpkanin/suit_vr.dmi
  icons/obj/clothing/hats_vr.dmi
  icons/obj/clothing/species/skrell/spacesuits_vr.dmi
  icons/obj/clothing/species/tajaran/spacesuits_vr.dmi
  icons/obj/clothing/species/unathi/hats.dmi
  icons/obj/clothing/species/unathi/helmets_vr.dmi
  icons/obj/clothing/species/unathi/spacesuits_vr.dmi
  icons/obj/clothing/species/vulpkanin/hats.dmi
  icons/obj/clothing/species/vulpkanin/helmets_vr.dmi
  icons/obj/clothing/species/vulpkanin/spacesuits_vr.dmi
  icons/obj/clothing/species/vulpkanin/suits.dmi
  icons/obj/clothing/suits_vr.dmi
  maps/tether/submaps/admin_use/ert.dmm
  maps/tether/tether-07-station3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#8314 Add a Couple Nevrean Tails, Remove Duplicate Definition
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/effects/species_tails_vr.dmi
  icons/mob/vore/tails_vr.dmi
  icons/mob/vore/wings_vr.dmi
Labels: Type: Icon

#8311 [Map] Minor Pipefix
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#8310 A bunch of mob sprite tweaks plus a few new ones.
  code/modules/mob/living/simple_mob/subtypes/vore/otie.dm
  code/modules/mob/living/simple_mob/subtypes/vore/wolf.dm
  icons/mob/vore64x32.dmi
  maps/tether/submaps/underdark_pois/rykka_easter_egg.dmm
Labels: Type: Icon, Type: Map

#8319 ERT Style Expansion
  code/modules/clothing/spacesuits/void/ert.dm
  icons/mob/species/akula/suit_vr.dmi
  icons/mob/species/sergal/suit_vr.dmi
Labels: Type: Icon

#8315 Nickcrazy Fluff uniform application
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#8344 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#8337 Talon Bridge Point Defense
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/submaps/offmap/talon2.dmm
Labels: Type: Map

#8343 Removes Sam Poster
  code/game/objects/effects/decals/posters/voreposters_vr.dm
  icons/obj/contraband_vr.dmi
Labels: Type: Icon

#8330 Gutter medivac airlock
  maps/tether/submaps/space/_guttersite.dm
  maps/tether/submaps/space/guttersite.dmm
Labels: Type: Map
