Repository VOREStation/VOREStation, pull requests merged in 2020-04, with the labels that each got.

#7064 Update assemblies to modern coding standards
  code/_helpers/unsorted.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/modules/assembly/assembly.dm
  code/modules/assembly/helpers.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/igniter.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/mousetrap.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/shock_kit.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
  code/modules/assembly/voice.dm
Labels: Task: Send this to Polaris, Type: Refactor

#7099 Makes fish meat non-toxic, attempt number 2
  code/modules/food/food/snacks_vr.dm
Labels: Type: Feature/Suggestion

#7075 Allow wings with a secondary color
  code/game/dna/dna2.dm
  code/modules/client/preference_setup/vore/01_ears.dm
  code/modules/mob/living/carbon/human/species/species_shapeshift_vr.dm
  code/modules/mob/living/carbon/human/update_icons_vr.dm
  code/modules/vore/appearance/preferences_vr.dm
Labels: Type: Feature/Suggestion

#7082 Makes cloth footwraps colorable in loadout
  code/modules/client/preference_setup/loadout/loadout_xeno_vr.dm
Labels: Type: Feature/Suggestion

#7081 Improves *flip, adds Traceur trait
  code/modules/mob/living/carbon/human/emote_vr.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
Labels: Type: Feature/Suggestion

#7083 Port Point Defense Batteries
  code/__defines/color.dm
  code/__defines/misc.dm
  code/_global_vars/lists/misc.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/machinery.dm
  code/game/machinery/pointdefense.dm
  code/game/objects/items/weapons/circuitboards/machinery/ships.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/research/designs/circuits/circuits.dm
  icons/obj/pointdefense.dmi
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
  nano/templates/pointdefense_control.tmpl
  sound/machines/apc_nopower.ogg
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7085 Adds Ore/Gem Eater Trait
  code/modules/mining/ore.dm
  code/modules/mob/living/carbon/human/species/station/blank_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/vore/eating/living_vr.dm
Labels: Type: Feature/Suggestion

#7114 Fixes missing solars sprite
  icons/obj/computer.dmi
Labels: Type: Bug

#7108 Voidsuit Additions
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/suit_storage_unit_vr.dm
  code/modules/clothing/spacesuits/void/military_vr.dm
  icons/mob/species/akula/helmet_vr.dmi
  icons/mob/species/akula/suit_vr.dmi
  icons/mob/species/sergal/helmet_vr.dmi
  icons/mob/species/sergal/suit_vr.dmi
  icons/obj/clothing/species/akula/hats.dmi
  icons/obj/clothing/species/akula/suits.dmi
  icons/obj/clothing/species/sergal/hats.dmi
  icons/obj/clothing/species/sergal/suits.dmi
  maps/tether/tether-03-surface3.dmm
Labels: Type: Feature/Suggestion

#7110 Minor Security Voidsuit Helmet Updates
  icons/mob/species/vulpkanin/helmet.dmi
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7111 Gives slots to most fluff items
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_utility_vr.dm
Labels: Type: Feature/Suggestion

#7112 Adds Mechanicus Techpriest Robes
  code/modules/clothing/head/hood_vr.dm
  code/modules/clothing/suits/hooded_vr.dm
  icons/mob/head_vr.dmi
  icons/mob/suit_vr.dmi
  icons/obj/clothing/suits_vr.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion

#7140 Adds Vespa Medals
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  icons/mob/ties_vr.dmi
  icons/obj/clothing/collars_vr.dmi
  icons/obj/clothing/ties_vr.dmi
Labels: Type: Fluff, Type: Refactor

#7118 Ports Baystation Advanced Shield Generators
  code/__defines/shields.dm
  code/datums/supplypacks/engineering.dm
  code/datums/uplink/tools.dm
  code/datums/wires/shield_generator.dm
  code/game/atoms.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/objects/items/weapons/circuitboards/machinery/shieldgen.dm
  code/modules/ai/ai_holder_combat.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/meteors.dm
  code/modules/research/designs/circuits/circuits.dm
  code/modules/shieldgen/energy_shield.dm
  code/modules/shieldgen/handheld_defuser.dm
  code/modules/shieldgen/shield_diffuser.dm
  code/modules/shieldgen/shield_generator.dm
  code/modules/shieldgen/shield_modes.dm
  icons/obj/machines/shielding.dmi
  nano/templates/shield_generator.tmpl
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7172 Fixes zammyman215's whitelist and moves bacon12366 to the 'b ckey' list.
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#7174 Fixes two bugs
  code/modules/artifice/deadringer.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/spacesuits/void/void_vr.dm
Labels: Type: Bug

#7167 Fixes mob update_transform proc and mouse sizing
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/mouse_vr.dm
  code/modules/vore/resizing/resize_vr.dm
Labels: Type: Bug

#7116 Re-enables Slime Vore reaction, adjusts blocked lists for slimespawn reactions
  code/modules/reagents/Chemistry-Recipes_vr.dm
Labels: Type: Bug, Type: Feature/Suggestion

#7132 Generic shuttle
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/submaps/om_ships/generic_shuttle.dm
  maps/tether/submaps/om_ships/generic_shuttle.dmm
Labels: Type: Submap

#7160 Increases the Potential of Ore Eater & Adds Adminbus
  code/modules/mining/ore.dm
  code/modules/vore/eating/living_vr.dm
Labels: Type: Feature/Suggestion

#7145 Fix 2 minor issues
  code/controllers/subsystems/xenoarch.dm
  code/modules/vore/eating/leave_remains_vr.dm
Labels: Task: Send this to Polaris

#7159 2 fixes and Teshari maws
  code/controllers/subsystems/skybox.dm
  code/game/objects/effects/map_effects/map_effects.dm
  code/modules/looking_glass/lg_console.dm
  icons/skybox/skybox_vr.dmi
  maps/~map_system/maps.dm
Labels: Task: Send this to Polaris, Type: Bug

#7180 Fixes boot visibility with techpriest robes
  code/modules/clothing/suits/hooded_vr.dm
  maps/tether/submaps/admin_use/ert.dmm
Labels: Type: Bug

#7175 Fix offline vent pumps and scrubbers on loaded maps.
  code/controllers/subsystem.dm
  code/modules/maps/tg/map_template.dm
Labels: Sev: 3-Moderate, Task: Send this to Polaris

#7131 Vespa adjustments - review ready now
  maps/tether/submaps/om_ships/vespa.dm
  maps/tether/submaps/om_ships/vespa.dmm
Labels: Type: Submap

#7154 Adds 2 new pipe types
  code/ATMOSPHERICS/_atmospherics_helpers.dm
  code/ATMOSPHERICS/atmospherics.dm
  code/ATMOSPHERICS/components/binary_devices/pump.dm
  code/ATMOSPHERICS/components/portables_connector.dm
  code/ATMOSPHERICS/components/unary/vent_pump.dm
  code/ATMOSPHERICS/pipes/cap.dm
  code/ATMOSPHERICS/pipes/manifold.dm
  code/ATMOSPHERICS/pipes/manifold4w.dm
  code/ATMOSPHERICS/pipes/simple.dm
  code/ATMOSPHERICS/pipes/tank.dm
  code/ATMOSPHERICS/pipes/universal.dm
  code/__defines/construction.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/machinery/pipe/pipe_recipes.dm
  code/modules/multiz/pipes.dm
  icons/atmos/connector.dmi
  icons/atmos/manifold.dmi
  icons/atmos/pipe_underlays.dmi
  icons/atmos/pipes.dmi
  icons/atmos/pump.dmi
  icons/atmos/vent_pump.dmi
  icons/obj/pipes.dmi
  icons/obj/structures.dmi
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7156 Adds a space fuel depot
  icons/obj/overmap_vr.dmi
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/submaps/space/_fueldepot.dm
  maps/tether/submaps/space/fueldepot.dmm
  maps/tether/tether_defines.dm
Labels: Type: Submap

#7150 Refactor the gameticker controller into SSticker
  code/__defines/MC.dm
  code/__defines/gamemode.dm
  code/__defines/subsystems.dm
  code/controllers/Processes/ticker.dm
  code/controllers/subsystems/ticker.dm
  code/controllers/subsystems/vote.dm
  code/controllers/verbs.dm
  code/game/gamemodes/gameticker.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/mob/new_player/new_player.dm
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Refactor

#7176 Make glass firedoors constructable/deconstructable.
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/firedoor_assembly.dm
Labels: Task: Send this to Polaris

#7177 Refactor the Open Space controller into MC Subsystem
  code/__defines/subsystems.dm
  code/controllers/subsystems/open_space.dm
  code/modules/multiz/open_space_controller.dm
  code/modules/multiz/turf.dm
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Refactor

#7207 Adds new ear options
  code/modules/vore/appearance/sprite_accessories_vr.dm
Labels: Type: Icon

#7223 Adds K't's fishing rod whitelist
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#7210 Changes shuttle landing soon warning
  code/game/objects/effects/misc.dm
  icons/goonstation/featherzone.dmi
Labels: Task: Send this to Polaris, Type: Feature/Suggestion, Type: Icon

#7209 Replace ring in holo boxing ring with actual ring.
  code/game/objects/structures/fitness_vr.dm
  icons/obj/fitness_vr.dmi
  icons/turf/floors_vr.dmi
  maps/tether/submaps/tether_misc.dmm
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Icon

#7212 Gun Refactors and Changes
  code/datums/supplypacks/munitions_vr.dm
  code/modules/clothing/glasses/hud_vr.dm
  code/modules/projectiles/guns/energy/bsharpoon_vr.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/cell_loaded.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/ml3m.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/ml3m_cells.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/nsfw.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/nsfw_cells.dm
  code/modules/projectiles/guns/energy/crestrose_vr.dm
  code/modules/projectiles/guns/energy/dominator_vr.dm
  code/modules/projectiles/guns/energy/gunsword_vr.dm
  code/modules/projectiles/guns/energy/laser_vr.dm
  code/modules/projectiles/guns/energy/netgun_vr.dm
  code/modules/projectiles/guns/energy/protector_vr.dm
  code/modules/projectiles/guns/energy/pummeler_vr.dm
  code/modules/projectiles/guns/energy/sickshot_vr.dm
  code/modules/projectiles/guns/projectile/automatic_vr.dm
  code/modules/projectiles/guns/projectile/dartgun_vr.dm
  code/modules/projectiles/guns/projectile/pistol_vr.dm
  code/modules/projectiles/guns/projectile/revolver_vr.dm
  code/modules/projectiles/guns/projectile/shotgun_vr.dm
  code/modules/projectiles/guns/projectile/sniper_vr.dm
  code/modules/research/designs/weapons_vr.dm
  code/modules/vore/fluffstuff/custom_guns_vr.dm
  icons/obj/gun_vr.dmi
  maps/southern_cross/structures/closets/misc_vr.dm
  maps/tether/submaps/om_ships/cruiser.dmm
  maps/tether/tether_things.dm
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Refactor

#7211 Ship/Shuttle Console Construction
  code/controllers/subsystems/shuttles.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/game/objects/items/weapons/circuitboards/computer/shuttle.dm
  code/modules/overmap/champagne.dm
  code/modules/overmap/ships/computers/engine_control.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/computers/shuttle.dm
  code/modules/shuttles/shuttle.dm
  code/modules/shuttles/shuttle_console.dm
  code/modules/shuttles/shuttle_console_multi.dm
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7222 Make shield sprites look nicer hopefully
  code/__defines/is_helpers.dm
  code/modules/shieldgen/energy_shield.dm
  code/modules/shieldgen/shield_generator.dm
  icons/obj/machines/shielding.dmi
  maps/tether/submaps/om_ships/aro.dmm
  maps/tether/submaps/om_ships/cruiser.dmm
Labels: Task: Send this to Polaris, Type: Icon

#7231 Ports Polaris 6992 and some Urist backpacks
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/mob/back.dmi
  icons/mob/back_vr.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/clothing/backpack_vr.dmi
  icons/obj/gun2.dmi
  maps/submaps/shelters/shelter_4.dmm
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/submaps/om_ships/cruiser.dmm
Labels: Type: Icon

#7242 Don't sleep SSticker
  code/defines/procs/statistics.dm
Labels: Type: Bug

#7245 2 Technomancer things
  code/game/gamemodes/technomancer/catalog.dm
  code/game/gamemodes/technomancer/core_obj.dm
  code/game/gamemodes/technomancer/spell_objs.dm
  code/game/gamemodes/technomancer/spells/mark_recall.dm
  maps/tether/submaps/om_ships/aro.dmm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7256 Allow fighters to traverse overmap ships predictably
  code/game/mecha/combat/fighter.dm
  code/modules/multi-tile/multi-tile.dm
Labels: Task: Send this to Polaris

#7259 Fix Sundry Runtime Errors XII
  code/game/atoms_movable.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/vore/eating/vorepanel_vr.dm
Labels: Task: Send this to Polaris, Type: Bug

#7221 Port some power sprites from Bay
  code/ATMOSPHERICS/components/binary_devices/circulator.dm
  code/modules/power/cable.dm
  code/modules/power/generator.dm
  icons/obj/pipes.dmi
  icons/obj/power.dmi
Labels: Task: Send this to Polaris, Type: Icon

#7264 Adds nuclear reactor, Fixes
  code/modules/power/port_gen_vr.dm
  maps/tether/submaps/om_ships/cruiser.dmm
  vorestation.dme
Labels: Type: Submap

#7263 Make nonmodular atmos alert computers useless
  code/modules/modular_computers/file_system/programs/engineering/alarm_monitor.dm
Labels: Task: Send this to Polaris

#7266 Ports tg cablecoils instead of bay's
  code/modules/power/cable.dm
  icons/obj/power.dmi
Labels: Type: Icon

#7146 attempts to port syringe icons
  icons/obj/syringe_vr.dmi
Labels: Type: Icon

#7270 mercenary ship adjustments
  maps/tether/submaps/om_ships/mercship.dmm
Labels: Type: Submap

#7273 Remove the processScheduler
  code/_helpers/time.dm
  code/controllers/ProcessScheduler/.gitignore
  code/controllers/ProcessScheduler/LICENSE-AGPL
  code/controllers/ProcessScheduler/LICENSE-CC-BY-NC
  code/controllers/ProcessScheduler/README.md
  code/controllers/ProcessScheduler/bower.json
  code/controllers/ProcessScheduler/core/process.dm
  code/controllers/ProcessScheduler/core/processScheduler.dm
  code/controllers/ProcessScheduler/package.json
  code/controllers/subsystems/ticker.dm
  code/controllers/verbs.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/mob/mob.dm
  vorestation.dme
Labels: Task: Send this to Polaris

#7277 Swap overlay cache for appearance cache in SSskybox
  code/controllers/subsystems/skybox.dm
  code/game/turfs/space/space.dm
  maps/submaps/_helpers.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7282 Make every config var static
  code/controllers/configuration.dm
  code/controllers/configuration_vr.dm
Labels: Task: Send this to Polaris

#7286 Talon Tweaks
  maps/tether/submaps/offmap/talon.dm
  maps/tether/submaps/offmap/talon1.dmm
Labels: Type: Map

#7288 Fix runtime in mechs taking damage
  code/game/mecha/mecha.dm
Labels: Task: Send this to Polaris

#7289 Adjust Debris Field
  maps/tether/submaps/space/_debrisfield.dm
  maps/tether/submaps/space/debrisfield.dmm
Labels: Type: Submap

#7290 Fix atmos alarm console and PDA power console zlevel confinement
  code/game/machinery/computer/atmos_alert.dm
  code/game/objects/items/devices/PDA/cart.dm
Labels: Task: Send this to Polaris

#7301 Move skybox representation into things that can be changed
  code/modules/overmap/overmap_object.dm
  maps/tether/submaps/offmap/talon.dm
  maps/tether/submaps/offmap/talon.dmi
  maps/tether/submaps/om_ships/aro.dm
  maps/tether/submaps/om_ships/aro2.dm
  maps/tether/submaps/om_ships/cruiser.dm
Labels: Task: Send this to Polaris

#7303 Ports the disperser beam from Baystation.
  code/modules/overmap/disperser/disperser.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_circuit.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
  icons/obj/disperser.dmi
  icons/obj/munitions.dmi
  nano/templates/disperser.tmpl
  sound/effects/metalscrape1.ogg
  sound/effects/metalscrape2.ogg
  sound/effects/metalscrape3.ogg
  sound/machines/disperser_fire.ogg
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7302 Gives research department some fresh air
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#7311 Improve Ship Scanners
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/ship.dm
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/submaps/aerostat/_aerostat.dm
  maps/tether/submaps/beach/_beach.dm
  maps/tether/submaps/gateway/carpfarm.dm
  maps/tether/submaps/gateway/listeningpost.dm
  maps/tether/submaps/gateway/snow_outpost.dm
  maps/tether/submaps/gateway/snowfield.dm
  maps/tether/submaps/offmap/talon.dm
  maps/tether/submaps/om_ships/aro2.dm
  maps/tether/submaps/om_ships/cruiser.dm
  maps/tether/submaps/om_ships/generic_shuttle.dm
  maps/tether/submaps/om_ships/hybridshuttle.dm
  maps/tether/submaps/om_ships/mercship.dm
  maps/tether/submaps/om_ships/vespa.dm
  maps/tether/submaps/space/_debrisfield.dm
  maps/tether/submaps/space/_fueldepot.dm
  maps/tether/tether_defines.dm
Labels: Task: Send this to Polaris

#7310 Lazy ship/landable Overmap Levels
  code/modules/overmap/overmap_shuttle.dm
  code/modules/overmap/ships/landable.dm
  code/modules/overmap/spacetravel.dm
  code/modules/shuttles/landmarks.dm
  code/modules/shuttles/shuttle.dm
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Refactor

#7306 Deployable Escape Pods
  code/modules/mining/shelter_atoms.dm
  code/modules/mining/shelters.dm
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/submaps/om_ships/backup/aro.dmm
  maps/tether/submaps/om_ships/cruiser.dmm
  maps/tether/submaps/om_ships/shelter_5.dm
  maps/tether/submaps/om_ships/shelter_5.dmm
Labels: Type: Submap

#7312 Ports some sprites from Goonstation
  icons/goonstation/turf/martiantiles.dmi
  icons/goonstation/turf/timeholefull.dmi
  icons/goonstation/turf/voidwarp.dmi
Labels: Type: Icon

#6960 Allowing Custom Species access to DSI - Teshari prosthetic limbs.
  code/modules/organs/robolimbs_vr.dm
Labels: Type: Feature/Suggestion

#7213 [Map] Mining Ops Move
  maps/tether/submaps/backup/tether_misc.dmm
  maps/tether/submaps/rogue_mines/rogue_mine1.dmm
  maps/tether/submaps/rogue_mines/rogue_mine2.dmm
  maps/tether/submaps/rogue_mines/rogue_mine3.dmm
  maps/tether/submaps/rogue_mines/rogue_mine4.dmm
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether-08-mining.dmm
  maps/tether/tether_areas.dm
  maps/tether/tether_defines.dm
  maps/tether/tether_shuttle_defs.dm
  maps/tether/tether_shuttles.dm
  maps/~map_system/maps.dm
Labels: Task: Requires Staff Discussion, Type: Map

#7109 Conversion Kit Overhaul
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Feature/Suggestion

#7296 Nerfs Heat Damage
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7194 Adding the KMine: Mining dogborg
  code/global_vr.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/mob/dogborg_vr.dmi
  icons/mob/widerobot_vr.dmi
Labels: Task: Requires Staff Discussion, Type: Feature/Suggestion

#7322 Port some random clothes
  code/game/atoms_movable.dm
  code/game/machinery/vending_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/head/misc_vr.dm
  code/modules/clothing/shoes/miscellaneous_vr.dm
  code/modules/clothing/spacesuits/rig/rig_pieces_vr.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/void_vr.dm
  code/modules/clothing/suits/utility_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/mob/living/living_defines_vr.dm
  icons/mob/feet_vr.dmi
  icons/mob/head_vr.dmi
  icons/mob/suit_vr.dmi
  icons/mob/uniform_vr.dmi
  icons/obj/clothing/hats_vr.dmi
  icons/obj/clothing/shoes_vr.dmi
  icons/obj/clothing/suits_vr.dmi
  icons/obj/clothing/uniforms_vr.dmi
  maps/tether/tether-05-station1.dmm
Labels: Type: Feature/Suggestion, Type: Icon

#7346 Portable generators, RTGs, void cores
  code/modules/power/cells/device_cells_vr.dm
  code/modules/power/port_gen.dm
  code/modules/power/port_gen_vr.dm
  code/modules/research/designs/circuits/circuits_vr.dm
  icons/obj/power_vr.dmi
  maps/tether/submaps/om_ships/aro2.dmm
  vorestation.dme
Labels: Type: Feature/Suggestion

#7320 Adds most importiant piece of Lost Library equipment!
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#7318 Remove the need for fighter shields
  code/game/mecha/combat/fighter.dm
  code/game/mecha/equipment/tools/shield_omni.dm
  maps/tether/submaps/om_ships/aro2.dmm
Labels: Task: Send this to Polaris

#7323 Make Talon engines BEEFIER
  code/modules/overmap/ships/engines/gas_thruster_vr.dm
  code/modules/overmap/ships/engines/thermal.dm
  icons/turf/shuttle_parts64.dmi
  icons/turf/shuttle_parts96.dmi
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/tether_jobs.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#7324 Adds fancy tables
  code/modules/materials/materials_vr.dm
  code/modules/tables/presets_vr.dm
  icons/obj/tablesfancy_vr.dmi
  maps/tether/submaps/om_ships/aro2.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Feature/Suggestion, Type: Icon

#7326 Adds 2 new bedsheets
  code/game/objects/structures/bedsheet_bin_vr.dm
  icons/obj/items_vr.dmi
  maps/tether/submaps/admin_use/mercbase.dmm
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Icon

#7327 Teleporter hub sprite
  code/game/machinery/teleporter.dm
  icons/obj/teleporter_vr.dmi
Labels: Type: Icon

#7328 Biogenerator Sprite
  code/game/machinery/biogenerator.dm
  icons/obj/biogenerator_vr.dmi
Labels: Type: Icon

#7333 Washing machine sprites
  code/game/machinery/washing_machine.dm
  icons/obj/machines/washing_machine_vr.dmi
Labels: Type: Icon

#7335 Swap PA computer to cooler holo computer
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  icons/obj/machines/particle_accelerator_vr.dmi
Labels: Type: Icon

#7336 Blood vendor sprite
  code/game/machinery/vending_vr.dm
  icons/obj/vending_vr.dmi
Labels: Type: Icon

#7319 Port /tg/ telecomms sprites
  code/game/machinery/exonet_node.dm
  code/game/machinery/pda_multicaster.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/modular_computers/NTNet/NTNet_relay.dm
  icons/obj/stationobjs_vr.dmi
Labels: Type: Icon

#7314 Adjust ghosts hearing whispers/subtles
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/client/preferences_vr.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say_vr.dm
Labels: Type: Feature/Suggestion

#7344 Ports some plushies from Cit
  code/datums/supplypacks/misc.dm
  code/game/machinery/vending.dm
  code/game/objects/items/toys_vr.dm
  code/game/objects/random/misc.dm
  icons/obj/toy_vr.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion

#7345 Reenable Air Pump Soundloop
  code/ATMOSPHERICS/components/unary/vent_pump.dm
Labels: Type: Feature/Suggestion

#7329 Replace old binocular sprite
  code/game/objects/items/devices/binoculars.dm
  icons/obj/device_vr.dmi
Labels: Type: Icon

#7337 Assault Dropship, NDV Daedalus, and more!
  code/__defines/misc_vr.dm
  code/modules/mining/shelter_atoms.dm
  code/modules/mining/shelter_atoms_vr.dm
  code/modules/mining/shelters_vr.dm
  code/modules/reagents/dispenser/cartridge_presets_vr.dm
  code/modules/reagents/dispenser/dispenser_presets_vr.dm
  maps/submaps/shelters/shelter_4.dmm
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/submaps/om_ships/cruiser.dm
  maps/tether/submaps/om_ships/cruiser.dmm
  maps/tether/submaps/om_ships/shelter_5.dm
  maps/tether/submaps/om_ships/shelter_5.dmm
  maps/tether/submaps/om_ships/shelter_6.dm
  maps/tether/submaps/om_ships/shelter_6.dmm
  vorestation.dme
Labels: Type: Refactor, Type: Submap

#7343 Adds G R A V Y
  code/modules/admin/secrets/random_events/gravity_vr.dm
  code/modules/events/gravity_vr.dm
  code/modules/gamemaster/event2/events/everyone/gravity_vr.dm
  code/modules/power/gravitygenerator_vr.dm
  icons/obj/machines/gravity_generator.dmi
  maps/tether/tether-05-station1.dmm
  maps/tether/tether_areas.dm
  nano/templates/gravity_generator.tmpl
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Map

#7368 Fixes morph TF overwriting its verbs
  code/modules/mob/living/simple_mob/subtypes/vore/morph/morph.dm
Labels: Type: Bug

#7366 Add friends around the station
  code/game/machinery/deployable_vr.dm
  code/modules/materials/material_recipes.dm
  icons/obj/cardboard_cutout.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  vorestation.dme
Labels: Type: Feature/Suggestion

#7361 Make unbuckled shuttle movement more exciting
  code/modules/shuttles/shuttle.dm
  code/modules/shuttles/shuttles_vr.dm
  maps/tether/tether_shuttle_defs.dm
  maps/tether/tether_shuttles.dm
Labels: Type: Feature/Suggestion

#7372 Fixes broken nuclear reactor sprite
  code/modules/power/port_gen.dm
  code/modules/power/port_gen_vr.dm
  icons/obj/power_vr.dmi
  maps/tether/submaps/om_ships/cruiser.dmm
Labels: Type: Bug

#7391 Adds a bunch of adminbus backpacks
  code/game/objects/items/weapons/storage/backpack_vr.dm
Labels: Type: Feature/Suggestion

#7383 Swap window type on shipself boat
  maps/tether/submaps/om_ships/aro2.dmm
Labels: Type: Submap

#7384 VV Jump/Move To Coordinate
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/modules/admin/verbs/adminjump.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7395 More machinery power update_var() proc usage
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/game/gamemodes/malfunction/malf_hardware.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/bioprinter.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/exonet_node.dm
  code/game/machinery/floor_light.dm
  code/game/machinery/machinery.dm
  code/game/machinery/magnet.dm
  code/game/machinery/pda_multicaster.dm
  code/game/machinery/supplybeacon.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/objects/structures/holoplant.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/ships/computers/computer_shims.dm
  code/modules/power/fusion/core/_core.dm
  code/modules/power/fusion/gyrotron/gyrotron.dm
  code/modules/power/fusion/gyrotron/gyrotron_control.dm
  code/modules/power/gravitygenerator_vr.dm
  code/modules/power/lighting.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/research/server.dm
  code/modules/shieldgen/emergency_shield.dm
Labels: Task: Send this to Polaris, Type: Refactor

#7396 Porting over Service Hounds and k92 animations and other missing details.
  code/game/objects/items/weapons/storage/bags.dm
  code/global_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/mob/widerobot_vr.dmi
Labels: Type: Feature/Suggestion

#7399 Fixes some more submap issues
  maps/tether/submaps/om_ships/cruiser.dmm
  maps/tether/submaps/om_ships/generic_shuttle.dmm
Labels: Type: Submap

#7401 Port /tg/ RCDs, Inducers
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/RCD_vr.dm
  code/game/objects/items/weapons/RSF.dm
  code/game/objects/items/weapons/inducer_vr.dm
  code/modules/research/designs/misc_vr.dm
  code/modules/research/protolathe.dm
  icons/effects/effects_rcd.dmi
  icons/mob/items/lefthand_vr.dmi
  icons/mob/items/righthand_vr.dmi
  icons/obj/tools_vr.dmi
  maps/tether/submaps/om_ships/aro2.dmm
  vorestation.dme
Labels: Type: Feature/Suggestion

#7359 Adds the Healrod, atm just a resprite
  code/modules/projectiles/guns/energy/cell_loaded_vr/ml3m.dm
  icons/vore/custom_guns_vr.dmi
  icons/vore/custom_items_left_hand_vr.dmi
  icons/vore/custom_items_right_hand_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Type: Feature/Suggestion

#7405 Static Machinery Power
  code/__defines/machinery.dm
  code/controllers/subsystems/machines.dm
  code/game/area/areas.dm
  code/game/machinery/machinery.dm
  code/game/machinery/machinery_power.dm
  code/game/machinery/rechargestation.dm
  code/game/mecha/equipment/tools/energy_relay.dm
  code/game/objects/structures/electricchair.dm
  code/game/turfs/turf.dm
  code/modules/integrated_electronics/passive/power.dm
  code/modules/modular_computers/computers/modular_computer/power.dm
  code/modules/overmap/ships/computers/computer_shims.dm
  code/modules/power/apc.dm
  code/modules/power/power.dm
  code/modules/reagents/distilling/distilling.dm
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Refactor

#7411 Adds plastitanium r_wall and normal wall + wall_masks icons for them.
  code/game/turfs/simulated/wall_types_vr.dm
  icons/turf/wall_masks_vr.dmi
Labels: Type: Feature/Suggestion

#7417 Flip proteans back to protean panel on blob
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
Labels: Type: Feature/Suggestion

#7408 Add various admin-uploaded-map helpers
  maps/tether/submaps/admin_use/fun.dm
Labels: Type: Submap

#7426 Fix gas thrusters turning off when trying to burn.
  code/modules/overmap/ships/engines/gas_thruster.dm
Labels: Sev: 3-Moderate, Task: Send this to Polaris, Type: Bug

#7427 Forbid and sanitize out hyphen as language prefix
  code/modules/client/preference_setup/general/02_language.dm
Labels: Task: Send this to Polaris, Type: Bug

#7406 Optimize some machines for static power
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/hologram.dm
  code/modules/power/terminal.dm
Labels: Task: Send this to Polaris, Type: Refactor

#7456 Fix bad copypaste that broke sleevemates
  code/game/objects/items/weapons/inducer_vr.dm
Labels: Type: Bug

#7446 Tweak bluespace backpack radio
  code/controllers/communications.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/radio/radiopack.dm
Labels: Task: Send this to Polaris, Type: Bug

#7452 Remove unnecessary code, replace with area enter messages
  code/game/area/areas_vr.dm
  code/game/machinery/telecomms/presets_vr.dm
Labels: Type: Refactor

#7457 512 Compile, Ship Console Access Fix
  code/__defines/__513_compatibility.dm
  code/modules/overmap/ships/computers/computer_shims.dm
  code/modules/vore/resizing/grav_pull_vr.dm
Labels: Type: Bug

#7444 Redoes vorepanel to different text generation mechanism
  code/modules/vore/eating/vorepanel_vr.dm
Labels: Type: Refactor

#7466 Refactor move code
  code/datums/helper_datums/teleport.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/CableLayer.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/floorlayer.dm
  code/game/machinery/machinery_power.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/pipe/pipelayer.dm
  code/game/mecha/mecha.dm
  code/game/objects/buckling.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/explosion_particles.dm
  code/game/objects/items/shooting_range.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/game/objects/structures/target_stake.dm
  code/game/objects/structures/window.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/proximity.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/media/media_machinery.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/freelook/ai/update_triggers.dm
  code/modules/mob/freelook/mask/update_triggers.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life_vr.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/farm animals/goat.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/worm.dm
  code/modules/mob/mob_movement.dm
  code/modules/multiz/zshadow.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/events/overmap_event.dm
  code/modules/power/gravitygenerator_vr.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/quad.dm
  code/modules/vehicles/train.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
Labels: Task: Send this to Polaris

#7464 Fixes & Updates Silencedmp5a5's fluff items.
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/mob/taursuits_wolf_vr.dmi
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#7476 Fixes tiny dropship bugs
  maps/tether/submaps/om_ships/shelter_6.dm
  maps/tether/submaps/om_ships/shelter_6.dmm
Labels: Type: Submap

#7477 World.time can't possibly be null, and yet...
  code/modules/vchat/vchat_db.dm
Labels: Task: Send this to Polaris, Type: Bug

#7475 Fix /Moved() that doesn't call parent.
  code/modules/mob/mob_movement.dm
Labels: Task: Send this to Polaris, Type: Bug

#7453 Hiss, not His
  code/modules/mob/living/carbon/human/emote_vr.dm
Labels: Task: Needs Testing, Type: Bug

#7247 Reduce job switch time from 15 to 10 minutes.
  code/game/machinery/computer/timeclock_vr.dm
Labels: Type: Feature/Suggestion

#7321 Colorable Collar/Choker Accessory
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  icons/mob/ties_vr.dmi
  icons/obj/clothing/ties_vr.dmi
Labels: Type: Feature/Suggestion

#7479 Allows Serdy's modkit to be selected.
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#7450 Splits off Exploration and Science
  code/datums/outfits/jobs/cargo.dm
  code/datums/outfits/outfit_vr.dm
  code/game/jobs/job/captain_vr.dm
  code/game/jobs/job/exploration_vr.dm
  code/game/jobs/job/science_vr.dm
  code/game/jobs/job/security_vr.dm
  code/game/objects/items/devices/radio/encryptionkey_vr.dm
  code/game/objects/items/devices/radio/headset_vr.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  maps/southern_cross/items/encryptionkey_vr.dm
  maps/southern_cross/items/headset_vr.dm
  maps/southern_cross/job/outfits_vr.dm
  maps/tether/submaps/om_ships/aro.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_shuttles.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#7486 Fixes Kisuke's gunsword
  code/modules/projectiles/guns/energy/gunsword_vr.dm
  icons/vore/custom_guns_vr.dmi
Labels: Type: Bug

#7487 WE GOTTA DO THIS AGAIN - fixes floating pixel on kitsune 3 tails
  icons/mob/vore/tails_vr.dmi
Labels: Type: Bug

#7490 Adjusts Side-Facing Sprites of Taur Aprons
  icons/mob/taursuits_cow_vr.dmi
  icons/mob/taursuits_deer_vr.dmi
  icons/mob/taursuits_drake_vr.dmi
  icons/mob/taursuits_feline_vr.dmi
  icons/mob/taursuits_horse_vr.dmi
  icons/mob/taursuits_lizard_vr.dmi
  icons/mob/taursuits_naga_vr.dmi
  icons/mob/taursuits_otie_vr.dmi
  icons/mob/taursuits_slug_vr.dmi
  icons/mob/taursuits_wolf_vr.dmi
Labels: Type: Icon

#7485 Bioprinter sprite
  code/game/machinery/bioprinter.dm
  icons/obj/surgery_vr.dmi
Labels: Type: Icon

#7488 Hydroponics and virology machine icons
  code/game/machinery/seed_extractor.dm
  code/modules/hydroponics/beekeeping/beehive.dm
  code/modules/hydroponics/seed_machines.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/virus2/analyser.dm
  code/modules/virus2/centrifuge.dm
  code/modules/virus2/dishincubator.dm
  code/modules/virus2/isolator.dm
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
  code/modules/xenoarcheaology/tools/artifact_harvester.dm
  code/modules/xenoarcheaology/tools/geosample_scanner.dm
  code/modules/xenobio2/machinery/gene_manipulators.dm
  icons/obj/hydroponics_machines_vr.dmi
  icons/obj/virology_vr.dmi
Labels: Type: Icon

#7502 Have gravity generator ignore /area/shuttle
  code/modules/power/gravitygenerator_vr.dm
Labels: Type: Bug

#7498 Adds UAVs
  code/_helpers/game.dm
  code/_helpers/unsorted.dm
  code/game/objects/items/uav.dm
  code/game/objects/objs.dm
  code/modules/mining/ore_redemption_machine/survey_vendor.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/mob_movement.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/generic/uav.dm
  code/modules/modular_computers/file_system/programs/ships/navigation.dm
  code/modules/modular_computers/hardware/network_card.dm
  code/modules/nano/modules/nano_module.dm
  code/modules/research/mechfab_designs.dm
  icons/mob/radial.dmi
  icons/obj/uav.dmi
  nano/templates/mod_uav.tmpl
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#7499 Remove AI subsystems TICKER flag
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/aifast.dm
Labels: Task: Send this to Polaris, Type: Bug

#7507 Refine gravity generator FSM
  code/modules/power/gravitygenerator_vr.dm
Labels: Type: Bug

#7508 Quick fix for communicators
  code/game/machinery/telecomms/telecomunications.dm
Labels: Task: Send this to Polaris

#7463 Overhauls First Aid Kits
  code/datums/supplypacks/medical_vr.dm
  code/datums/uplink/medical_vr.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/firstaid_vr.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  code/modules/mining/ore_redemption_machine/survey_vendor.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine_vr.dm
  code/modules/reagents/reagent_containers/hypospray_vr.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/pill_vr.dm
  maps/submaps/shelters/shelter_4.dmm
  maps/tether/submaps/om_ships/cruiser.dmm
  maps/tether/submaps/om_ships/mercenarybase.dmm
  maps/tether/submaps/om_ships/mercship.dmm
  maps/tether/submaps/om_ships/shelter_6.dmm
  maps/tether/tether_things.dm
Labels: Type: Feature/Suggestion

#7505 Adds Damon's bomber security jacket.
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff

#7493 Lore Overhaul
  code/datums/outfits/outfit_vr.dm
  code/game/objects/banners.dm
  code/game/objects/banners_vr.dm
  code/game/objects/effects/decals/posters/polarisposters_vr.dm
  code/global.dm
  code/modules/busy_space/organizations_vr.dm
  code/modules/catalogue/catalogue_data.dm
  code/modules/catalogue/catalogue_data_vr.dm
  code/modules/clothing/head/helmet_vr.dm
  code/modules/clothing/head/misc_vr.dm
  code/modules/clothing/head/solgov_vr.dm
  code/modules/clothing/suits/armor_vr.dm
  code/modules/clothing/suits/miscellaneous_vr.dm
  code/modules/clothing/suits/solgov_vr.dm
  code/modules/clothing/under/accessories/permits_vr.dm
  code/modules/clothing/under/accessories/torch_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/clothing/under/solgov_vr.dm
  code/modules/games/spaceball_cards.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  vorestation.dme
Labels: Type: Fluff

#7522 Fix movement slow due to nutrition change
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Sev: 1-Blocker, Type: Bug

#7533 Adds Exploration Department Relay
  code/game/machinery/pda_multicaster.dm
  code/game/objects/items/devices/PDA/PDA_vr.dm
  code/game/objects/items/devices/PDA/cart_vr.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#7536 Use can_atmos_pass to reduce proc-calls in c_airblock()
  code/ZAS/Atom.dm
  code/__defines/ZAS.dm
  code/__defines/atmos.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/zone_divider.dm
  code/game/objects/structures/window.dm
  code/modules/mob/living/living_movement.dm
  code/modules/power/turbine.dm
Labels: Task: Send this to Polaris, Type: Refactor

#7534 Rewrite client/Move() for smoother movement ingame
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/_onclick/hud/action.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/observer.dm
  code/_onclick/rig.dm
  code/defines/obj.dm
  code/game/atoms_movable.dm
  code/game/objects/items/weapons/implants/implantreagent_vr.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/smite.dm
  code/modules/admin/verbs/smite_vr.dm
  code/modules/ai/interfaces.dm
  code/modules/client/client defines.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/media/mediamanager.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/station/alraune.dm
  code/modules/mob/living/inventory.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/mouse_vr.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_grab.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/projectiles/targeting/targeting_triggers.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  code/modules/vore/resizing/holder_micro_vr.dm
Labels: Task: Send this to Polaris, Type: Refactor

#7531 Adds the Curabitur Rescue Shuttle
  maps/tether/submaps/om_ships/curashuttle.dm
  maps/tether/submaps/om_ships/curashuttle.dmm
Labels: Type: Submap

#7540 Formatting & Fixes for emotes (vhelp doesn't 'break' anymore)
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/emote_vr.dm
Labels: Task: Send this to Polaris, Type: Bug

#7541 Make humans sound good
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion
