Repository VOREStation/VOREStation, pull requests merged in 2020-08, with the labels that each got.

#8554 Adds alphaprime1 to protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#8517 Ambiance and Sound Updates Attempt 3
  code/game/machinery/computer/aifixer.dm
  code/modules/tgui/modules/camera.dm
  code/modules/tgui/modules/crew_monitor.dm
Labels: Type: Sound

#8575 Adds otieborgs and other fixes/tweaks
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/mob/widerobot_vr.dmi
Labels: Type: Icon

#8577 Tweaks to taur clothes, particularly saddles as well as taur tail tags
  code/game/objects/items/weapons/storage/backpack_vr.dm
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  icons/mob/back_vr.dmi
Labels: Type: Icon

#8591 August 04 2020 Hotfix
  code/game/objects/items/weapons/storage/backpack_vr.dm
  code/modules/mob/living/life.dm
  code/modules/tgui/tgui_window.dm
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  code/modules/vore/resizing/resize_vr.dm
  icons/mob/back_vr.dmi
Labels: Type: Icon

#8598 Add /obj/effect/ceiling on center pipes
  maps/tether/tether-04-transit.dmm
Labels: Type: Map

#8599 Fix Xenobotany windoor access, rock sculpting
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8601 Fix Mulebot Crossed() Code, allows simplemobs to be crushed if laying
  code/modules/mob/living/bot/mulebot.dm
  code/modules/mob/living/bot/mulebot_vr.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/organs/blood.dm
  code/modules/vehicles/Securitrain_vr.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/quad.dm
  code/modules/vehicles/rover_vr.dm
  code/modules/vehicles/vehicle.dm
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Bug

#8613 Removes Reagent Implants
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/food/recipes_microwave_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/vore/fluffstuff/custom_boxes_vr.dm
  code/modules/vore/fluffstuff/custom_implants_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Fluff

#8632 Adds raptor pAI
  code/modules/mob/living/silicon/pai/pai.dm
  icons/mob/pai_vr.dmi
Labels: Type: Icon

#8634 Map Tweaks
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
Labels: Type: Map

#8644 ITV Talon Robotic Storage
  maps/tether/submaps/offmap/talon.dm
  maps/tether/submaps/offmap/talon2.dmm
Labels: Type: Map

#8645 Adds new horse mob.
  code/modules/mob/living/simple_mob/subtypes/vore/horse.dm
  icons/mob/vore64x64.dmi
Labels: Type: Icon

#8660 Adds Hyena Cackle Emote - Standalone
  code/modules/mob/living/carbon/human/emote_vr.dm
  sound/voice/YeenCackle.ogg
Labels: Type: Sound

#8662 Add a side door to the forensics office.
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#8667 Fixes robust saddlebags
  icons/mob/back_vr.dmi
Labels: Type: Icon

#8688 Re-sprites choccy milk
  icons/obj/drinks_vr.dmi
  vorestation.dme
Labels: Type: Icon

#8689 Adds Repeating Ambience and Ambience Chance Preferences!
  code/game/area/areas.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/life.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#8664 Pink Moo Drink
  code/modules/food/drinkingglass/metaglass.dm
  code/modules/food/drinkingglass/metaglass_vr.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_vr.dm
  code/modules/reagents/Chemistry-Recipes_vr.dm
  icons/obj/drinks_vr.dmi
Labels: Type: Icon

#8704 Victor zisthus/maptweaks
  code/game/jobs/job/engineering_vr.dm
  code/game/jobs/job/medical_vr.dm
  code/game/jobs/job/science_vr.dm
  code/game/jobs/job/security_vr.dm
  code/game/objects/items/weapons/id cards/station_ids_vr.dm
  config/example/config.txt
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  vorestation.dme
Labels: Type: Map

#8709 Adds myself to the Protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#8710 Victor zisthus/maptweaks
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#8712 Allows you to YEET mob holders (micros, diona, etc)
  code/modules/mob/holder.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#8713 Adds Pearl Prophet to the Alien Whitelist for Protean
  config/alienwhitelist.txt
Labels: Type: Fluff

#8722 Adds draycu to alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#8421 Adds Lunar Fleet and Jademanique to whitelists
  code/__defines/misc.dm
  config/alienwhitelist.txt
  config/custom_sprites.txt
  icons/mob/custom_synthetic.dmi
  icons/mob/custom_synthetic_vr.dmi
Labels: Task: Send this to Polaris, Type: Fluff, Type: Icon

#8723 August 17 2020 Hotfix
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/__defines/misc.dm
  code/_onclick/ai.dm
  code/_onclick/cyborg.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/jobs/job/engineering_vr.dm
  code/game/jobs/job/medical_vr.dm
  code/game/jobs/job/science_vr.dm
  code/game/jobs/job/security_vr.dm
  code/game/machinery/air_alarm.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/machinery/pipe/pipe_recipes.dm
  code/game/machinery/washing_machine.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/id cards/station_ids_vr.dm
  code/game/objects/structures/tank_dispenser.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated.dm
  code/modules/food/drinkingglass/metaglass.dm
  code/modules/food/drinkingglass/metaglass_vr.dm
  code/modules/lore_codex/news_data/main.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_vr.dm
  code/modules/reagents/Chemistry-Recipes_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  config/alienwhitelist.txt
  config/custom_sprites.txt
  config/example/config.txt
  html/changelogs/BlinsKot - strafing.yml
  html/changelogs/Kot-Washing.yml
  icons/mob/custom_synthetic.dmi
  icons/mob/custom_synthetic_vr.dmi
  icons/mob/human_face.dmi
  icons/mob/human_face_m.dmi
  icons/obj/drinks_vr.dmi
  icons/obj/storage.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  tgui/packages/tgui/components/DraggableControl.js
  tgui/packages/tgui/components/Knob.js
  tgui/packages/tgui/interfaces/AtmosFilter.js
  tgui/packages/tgui/interfaces/Canister.js
  tgui/packages/tgui/interfaces/OperatingComputer.js
  tgui/packages/tgui/interfaces/PipeDispenser.js
  tgui/packages/tgui/interfaces/SmartVend.js
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/packages/tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Fluff

#8727 Adds ontejbjoav to alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#8734 Minor Map + Talon Edits
  maps/submaps/engine_submaps/engine_tesla.dmm
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/submaps/offmap/talon2.dmm
Labels: Type: Map

#8366 Bring back hemophilia. No, it's not a crime!
  code/modules/client/preference_setup/vore/07_traits.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/trait.dm
Labels: Type: Feature/Suggestion

#8745 Fix missing pipes and wires
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#8749 Fixes not being able to relabel canisters
  code/game/machinery/atmoalter/canister.dm
Labels: Task: Send this to Polaris, Type: Bug

#8726 Adds Spice Resistence/Intolerance Traits, Makes Frost Oil COLD
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#8742 Fix unintended inbelly item interactions caused by copypaste
  code/_onclick/click.dm
Labels: Type: Feature/Suggestion

#8750 Talon Bugfixes and QOL
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/submaps/offmap/talon2.dmm
Labels: Type: Map

#8363 AR Glasses Tweaks
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/clothing/glasses/hud_vr.dm
  code/modules/tgui/modules/alarm.dm
Labels: Type: Feature/Suggestion

#8724 Add optional selectable fullscreen belly overlays with pred & prey prefs
  code/_onclick/hud/fullscreen.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/mob/screen_full_vore.dmi
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Type: Feature/Suggestion, Type: Icon, Type: Vore-Related

#8818 Converts Step_triggers to Portals!
  code/game/objects/effects/map_effects/portal.dm
  maps/tether/submaps/beach/beach.dmm
  maps/tether/submaps/beach/cave.dmm
  maps/tether/submaps/tether_plains.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-08-mining.dmm
  maps/tether/tether-09-solars.dmm
Labels: Type: Map

#8822 Fixes Mercs threaten timers, and threaten sounds
  code/modules/ai/say_list.dm
  code/modules/mob/living/simple_mob/subtypes/humanoid/mercs/mercs.dm
  code/modules/mob/living/simple_mob/subtypes/humanoid/mercs/mercs_vr.dm
Labels: Task: Send this to Polaris, Type: Polaris Bug

#8824 More Talon Tweaks
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/submaps/offmap/talon2.dmm
Labels: Type: Map

#8819 Changes Gutter to Gutterband, removes whitelist.
  code/__defines/species_languages.dm
  code/modules/mob/language/station_vr.dm
  config/alienwhitelist.txt
Labels: Type: Fluff

#8519 Explorer/Pathfinder Belts
  code/game/objects/items/weapons/storage/belt_vr.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  icons/mob/belt_vr.dmi
  icons/obj/clothing/belts_vr.dmi
Labels: Type: Feature/Suggestion, Type: Icon

#8834 Fading titlescreen from /tg/
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystems/ticker.dm
  code/modules/mob/new_player/new_player.dm
Labels: Task: Send this to Polaris

#8842 Modularizes Engine Submap Loading so it can be selected per-map!
  maps/submaps/engine_submaps_vr/engine.dm
  maps/submaps/engine_submaps_vr/tether/_engine_submaps.dm
  maps/submaps/engine_submaps_vr/tether/engine_rust.dmm
  maps/submaps/engine_submaps_vr/tether/engine_singulo.dmm
  maps/submaps/engine_submaps_vr/tether/engine_sme.dmm
  maps/submaps/engine_submaps_vr/tether/engine_tesla.dmm
  vorestation.dme
Labels: Type: Map

#8844 Adds Knights of the Round Table, Rabbits, Killer Rabbits
  code/datums/supplypacks/costumes_vr.dm
  code/game/machinery/vending_machines_vr.dm
  code/game/objects/structures/crates_lockers/largecrate_vr.dm
  code/modules/clothing/gloves/miscellaneous_vr.dm
  code/modules/clothing/head/helmet_vr.dm
  code/modules/clothing/head/hood_vr.dm
  code/modules/clothing/shoes/miscellaneous_vr.dm
  code/modules/clothing/suits/armor_vr.dm
  code/modules/clothing/suits/hooded_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/rabbit.dm
  icons/mob/vore.dmi
  icons/obj/clothing/gloves_vr.dmi
  icons/obj/clothing/hats_vr.dmi
  icons/obj/clothing/knights_vr.dmi
  icons/obj/clothing/shoes_vr.dmi
  maps/submaps/surface_submaps/mountains/deadly_rabbit_vr.dmm
  maps/submaps/surface_submaps/mountains/mountains.dm
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#8849 A couple Curashuttle fixes and changes
  maps/offmap_vr/om_ships/curashuttle.dmm
Labels: Type: Map

#8850 Declare myself goddess of TGUI
  .github/CODEOWNERS
Labels: Type: .git or .github

#8883 Some quick fixes
  code/modules/mining/shelters_vr.dm
  maps/submaps/shelters/shelter_1.dmm
  maps/submaps/shelters/shelter_2.dmm
  maps/submaps/shelters/shelter_3.dmm
  maps/submaps/shelters/shelter_4.dmm
  maps/submaps/shelters/shelter_a.dmm
  maps/tether/submaps/underdark_pois/goldhall.dmm
Labels: Type: Map

#8886 Site Management lookover for _vr stuff
  code/controllers/subsystems/ticker.dm
  code/game/gamemodes/events.dm
  code/game/machinery/computer3/computers/card.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/suit_storage_unit_vr.dm
  code/game/objects/items/devices/radio/encryptionkey_vr.dm
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/spacesuits/void/military_vr.dm
  code/modules/events/ion_storm.dm
  code/modules/mob/living/simple_mob/subtypes/animal/pets/fox_vr.dm
  code/modules/mob/new_player/skill.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Fluff, Type: Map

#8894 Emergency Talon Fixs
  maps/offmap_vr/talon/talon1.dmm
  maps/offmap_vr/talon/talon2.dmm
Labels: Type: Map

#8898 Tidies up decals in Service block
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8929 Un-electrifies the theatre grilles
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8896 Adds Toggles to Revert to Legacy Door Sounds and Enable Department Doors
  code/game/gamemodes/technomancer/spells/audible_deception.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/mecha/equipment/tools/clamp.dm
  code/game/mecha/mecha.dm
  code/global.dm
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  sound/machines/door/airlock_creaking.ogg
  sound/machines/door/airlockcycle.ogg
  sound/machines/door/airlockforced.ogg
  sound/machines/door/blastdoorclose.ogg
  sound/machines/door/blastdooropen.ogg
  sound/machines/door/boltsdown.ogg
  sound/machines/door/boltsup.ogg
  sound/machines/door/old_airlock.ogg
  sound/machines/door/old_airlockclose.ogg
  sound/machines/door/windowdoor.ogg
Labels: Type: Sound

#8911 Fixes missing HUD icons for SM and Entertainer
  icons/mob/hud_jobs_vr.dmi
Labels: Type: Icon

#8930 August 31 2020 Hotfix
  code/game/gamemodes/technomancer/spells/audible_deception.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/doppler_array.dm
  code/game/mecha/equipment/tools/clamp.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/global.dm
  code/modules/admin/verbs/debug_vr.dm
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/client/preference_setup/loadout/loadout_shoes_vr.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/economy/Accounts.dm
  code/modules/examine/descriptions/food.dm
  code/modules/examine/descriptions/smokeables.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/food/food/cans.dm
  code/modules/food/food/snacks.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_mob/subtypes/vore/rabbit.dm
  code/modules/multiz/movement.dm
  code/modules/research/rdconsole_tgui.dm
  code/modules/research/research.dm
  code/modules/tgui/modules/crew_monitor.dm
  code/modules/xenoarcheaology/tools/tools.dm
  icons/mob/hud_jobs_vr.dmi
  maps/offmap_vr/talon/talon1.dmm
  maps/offmap_vr/talon/talon2.dmm
  maps/tether/tether-03-surface3.dmm
  sound/machines/door/airlock_creaking.ogg
  sound/machines/door/airlockcycle.ogg
  sound/machines/door/airlockforced.ogg
  sound/machines/door/blastdoorclose.ogg
  sound/machines/door/blastdooropen.ogg
  sound/machines/door/boltsdown.ogg
  sound/machines/door/boltsup.ogg
  sound/machines/door/old_airlock.ogg
  sound/machines/door/old_airlockclose.ogg
  sound/machines/door/windowdoor.ogg
  tgui/packages/tgui/interfaces/Autolathe.js
  tgui/packages/tgui/interfaces/CrewMonitor.js
  tgui/packages/tgui/interfaces/ResearchConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Map

#8923 Add an Inducer crate to cargo. Relatively expensive at 90.
  code/datums/supplypacks/engineering_vr.dm
Labels: Type: Feature/Suggestion
