Repository VOREStation/VOREStation, pull requests merged in 2020-07, with the labels that each got.

#8352 Adds in Tuar suit sprites for spider body.
  icons/mob/taursuits_spider_vr.dmi
Labels: Type: Icon

#8091 Adds the ability for prometheans to toggle transparency.
  code/modules/mob/living/carbon/human/species/species_shapeshift_vr.dm
  code/modules/mob/living/carbon/human/species/station/prometheans_vr.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/organ_external_vr.dm
  code/modules/organs/organ_icon.dm
  code/modules/organs/subtypes/slime_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#8376 Streamlined Voidsuits: VR Species
  code/modules/clothing/spacesuits/void/station_vr.dm
  icons/mob/species/akula/suit_vr.dmi
  icons/mob/species/sergal/suit_vr.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
  vorestation.dme
Labels: Type: Icon

#8362 BALL!
  code/game/machinery/vending.dm
  code/game/objects/items/balls_vr.dm
  code/game/objects/random/maintenance.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/client/preference_setup/loadout/loadout_general_vr.dm
  icons/mob/items/lefthand_balls_vr.dmi
  icons/mob/items/righthand_balls_vr.dmi
  icons/mob/mouthball_vr.dmi
  icons/obj/balls_vr.dmi
  vorestation.dme
Labels: Type: Icon

#8388 Added Khanivore to Protean
  config/alienwhitelist.txt
Labels: Type: Fluff

#8410 Fix talon bridge blast door areas
  maps/tether/submaps/offmap/talon1.dmm
Labels: Type: Map

#8412 Quick fix to stop mobs in nullspace runtiming the mobs and ai subsystems.
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/mobs.dm
Labels: Task: Send this to Polaris, Type: Bug

#8423 Updates alienwhitelist to add Flurriee to protean and also fixes names that were out of alphabetical order
  config/alienwhitelist.txt
Labels: Type: Fluff

#8425 Adds sharplight to Protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#8429 Consolidates solar shed SMES
  maps/tether/tether-09-solars.dmm
Labels: Type: Map

#8427 Fixed science chair issue
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#8436 Port Medibot Tipping!
  code/modules/mob/living/bot/medbot.dm
  sound/voice/medbot/close.ogg
  sound/voice/medbot/dont_like.ogg
  sound/voice/medbot/forgive.ogg
  sound/voice/medbot/fuck_you.ogg
  sound/voice/medbot/hey_wait.ogg
  sound/voice/medbot/i_require_asst.ogg
  sound/voice/medbot/i_trusted_you.ogg
  sound/voice/medbot/im_different.ogg
  sound/voice/medbot/is_this_the_end.ogg
  sound/voice/medbot/nooo.ogg
  sound/voice/medbot/oh_fuck.ogg
  sound/voice/medbot/pain_is_real.ogg
  sound/voice/medbot/please_dont.ogg
  sound/voice/medbot/please_im_scared.ogg
  sound/voice/medbot/please_put_me_back.ogg
  sound/voice/medbot/reported.ogg
  sound/voice/medbot/shindemashou.ogg
  sound/voice/medbot/thank_you.ogg
  sound/voice/medbot/turn_off.ogg
  sound/voice/medbot/why.ogg
  sound/voice/medbot/youre_good.ogg
Labels: Task: Send this to Polaris, Type: Sound

#8437 Adds dragon-y language and "*gao" emote
  code/__defines/species_languages_vr.dm
  code/game/objects/items/robot/robot_upgrades_vr.dm
  code/modules/mob/language/station_vr.dm
  code/modules/mob/living/carbon/human/emote_vr.dm
  code/modules/mob/living/silicon/ai/ai_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/vchat/css/ss13styles.css
  sound/voice/gao.ogg
Labels: Type: Feature/Suggestion, Type: Sound

#8377 Add a smell system, closely matching the flavor system.
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
Labels: Type: Feature/Suggestion

#8452 Engineering modifications and adjustments
  maps/submaps/engine_submaps/engine_tesla.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#8419 Service Block Redone
  code/game/jobs/access_datum_vr.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/civilian_vr.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/science_vr.dm
  code/game/jobs/job/special_vr.dm
  code/game/jobs/jobs.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas.dm
Labels: Type: Map

#8463 Null R.Type fix and Fortune Cookie Fix
  code/modules/food/food/snacks.dm
  code/modules/food/recipe.dm
  code/modules/food/recipes_fryer.dm
  code/modules/food/recipes_grill.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_microwave_vr.dm
  code/modules/food/recipes_oven.dm
Labels: Task: Send this to Polaris, Type: Bug

#8465 Earlyports melee exploit fix
  code/game/gamemodes/changeling/changeling_powers.dm
Labels: Sev: 2-High, Task: Send this to Polaris, Type: Bug

#8468 PR to update kitchen so all appliances are useable
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Map

#8444 Port TGUI Wire datums & Colorblind Wires
  code/__defines/misc.dm
  code/__defines/wires.dm
  code/_global_vars/lists/misc.dm
  code/datums/wires/airlock.dm
  code/datums/wires/alarm.dm
  code/datums/wires/apc.dm
  code/datums/wires/autolathe.dm
  code/datums/wires/camera.dm
  code/datums/wires/explosive.dm
  code/datums/wires/grid_checker.dm
  code/datums/wires/jukebox.dm
  code/datums/wires/mines.dm
  code/datums/wires/particle_accelerator.dm
  code/datums/wires/radio.dm
  code/datums/wires/robot.dm
  code/datums/wires/seedstorage.dm
  code/datums/wires/shield_generator.dm
  code/datums/wires/smartfridge.dm
  code/datums/wires/smes.dm
  code/datums/wires/suit_storage_unit.dm
  code/datums/wires/tesla_coil.dm
  code/datums/wires/vending.dm
  code/datums/wires/wires.dm
  code/game/machinery/air_alarm.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/radio/radiopack.dm
  code/modules/assembly/signaler.dm
  code/modules/clothing/spacesuits/rig/rig_wiring.dm
  code/modules/events/camera_damage.dm
  code/modules/gamemaster/event2/events/engineering/camera_damage.dm
  code/modules/mob/_modifiers/modifiers.dm
  code/modules/mob/_modifiers/traits.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/nifsoft/nif_softshop.dm
  code/modules/power/apc.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  tgui/packages/tgui/interfaces/Wires.js
  tgui/packages/tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Feature/Suggestion, Type: Refactor

#8475 Another update for service.
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8477 Final patch.
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8486 Fix for Nutrispread not being available and Alternative Method for UE
  code/game/machinery/biogenerator.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#8490 Kitchen patch (mostly)
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8492 Minor Map Changes to Service, Add Second Arcade Machine
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8497 July 26 2020 Hotfix
  code/game/machinery/biogenerator.dm
  code/game/machinery/computer/camera.dm
  code/modules/mob/living/bot/medbot.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_vr.dm
  code/modules/reagents/Chemistry-Recipes_vr.dm
  code/modules/research/designs/weapons_vr.dm
  code/modules/ventcrawl/ventcrawl.dm
  code/modules/vore/eating/living_vr.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8505 Updates Dropship
  maps/tether/submaps/om_ships/shelter_6.dmm
Labels: Type: Map

#8504 Another small service patch.
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8507 Service Patchey
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8510 Multiple Bugfixes
  code/modules/mob/living/carbon/human/life.dm
  maps/tether/submaps/gateway/snow_outpost.dmm
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/submaps/offmap/talon2.dmm
  maps/tether/submaps/space/guttersite.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether_areas.dm
Labels: Type: Map

#8515 Fix for flatbread/tortilla recipe conflict, and missing trash icons
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  icons/obj/trash.dmi
Labels: Type: Icon

#8521 July 29, 2020 Hotfix
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/computer/camera.dm
  code/game/objects/objs.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/mob/living/carbon/human/emote_vr.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/resleeving/computers.dm
  icons/obj/trash.dmi
  interface/skin.dmf
  maps/tether/submaps/gateway/snow_outpost.dmm
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/submaps/offmap/talon2.dmm
  maps/tether/submaps/om_ships/shelter_6.dmm
  maps/tether/submaps/space/guttersite.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether_areas.dm
Labels: Type: Icon, Type: Map

#8522 adds cool and good new soft drink recipe
  code/modules/reagents/Chemistry-Recipes_vr.dm
Labels: Type: Feature/Suggestion

#8528 Mk7 ERT-J
  code/modules/clothing/spacesuits/void/ert.dm
  icons/mob/head_vr.dmi
  icons/mob/spacesuit_vr.dmi
  icons/mob/species/akula/suit_vr.dmi
  icons/mob/species/sergal/suit_vr.dmi
  icons/mob/species/skrell/helmet_vr.dmi
  icons/mob/species/skrell/suit_vr.dmi
  icons/mob/species/tajaran/helmet_vr.dmi
  icons/mob/species/tajaran/suit_vr.dmi
  icons/mob/species/unathi/helmet_vr.dmi
  icons/mob/species/unathi/suit_vr.dmi
  icons/mob/species/vulpkanin/helmet_vr.dmi
  icons/mob/species/vulpkanin/suit_vr.dmi
  icons/obj/clothing/hats_vr.dmi
  icons/obj/clothing/suits_vr.dmi
  maps/tether/submaps/admin_use/ert.dmm
Labels: Type: Icon, Type: Map

#8530 Freezers are chilly!
  code/game/machinery/air_alarm.dm
  code/game/turfs/flooring/flooring_premade.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#8544 Fix incoming mirror PR
  code/_helpers/type2type_vr.dm
  code/game/machinery/vending_machines.dm
  code/modules/food/food/snacks.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/kitchen/cooking_machines/_appliance.dm
  code/modules/food/kitchen/cooking_machines/_cooker.dm
  code/modules/food/kitchen/cooking_machines/_mixer.dm
  code/modules/food/kitchen/microwave.dm
  code/modules/food/recipe.dm
  code/modules/food/recipes_fryer.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  maps/submaps/surface_submaps/plains/Diner.dmm
  maps/submaps/surface_submaps/wilderness/Manor1.dmm
  nano/README.md
  vorestation.dme
Labels: Type: Map

#8545 Icon Updates!
  code/modules/food/kitchen/cooking_machines/fryer.dm
  code/modules/food/kitchen/cooking_machines/oven.dm
  icons/obj/cooking_machines.dmi
  icons/obj/food.dmi
  icons/obj/food_custom.dmi
  icons/obj/food_syn.dmi
Labels: Type: Icon

#8552 Adds a very familiar plushie reminiscent of someone
  code/game/objects/items/toys_vr.dm
  code/game/objects/random/misc.dm
  icons/obj/toy_vr.dmi
Labels: Type: Icon
