Repository VOREStation/VOREStation, pull requests merged in 2020-01, with the labels that each got.

#6373 Adds a verb for rideable mobs to toggle rider control without a riding crop
  code/__defines/lighting.dm
  code/modules/mob/living/living_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/event_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/corrupt_hounds.dm
  code/modules/mob/living/simple_mob/subtypes/vore/deathclaw.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dragon.dm
  code/modules/mob/living/simple_mob/subtypes/vore/hippo.dm
  code/modules/mob/living/simple_mob/subtypes/vore/horse.dm
  code/modules/mob/living/simple_mob/subtypes/vore/otie.dm
  code/modules/mob/living/simple_mob/subtypes/vore/panther.dm
  code/modules/mob/living/simple_mob/subtypes/vore/rat.dm
  code/modules/vore/appearance/update_icons_vr.dm
Labels: Type: Feature/Suggestion

#6390 Adds Flaktual to Vox Whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#6392 Removes Poly's roundstart headset
  code/modules/mob/living/simple_mob/subtypes/animal/pets/parrot.dm
  maps/tether/tether-05-station1.dmm
Labels: Type: Feature/Suggestion

#6312 Absorption Permission Stuff
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
Labels: Type: Feature/Suggestion

#6379 Adds resleeving sickness
  code/datums/mind_vr.dm
  code/game/objects/items/weapons/storage/firstaid_vr.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine_vr.dm
  code/modules/reagents/reagent_containers/pill_vr.dm
  code/modules/resleeving/machines.dm
  code/modules/resleeving/resleeving_sickness.dm
  code/modules/vore/eating/belly_obj_vr.dm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether-10-colony.dmm
  vorestation.dme
Labels: Type: Feature/Suggestion

#6380 Adds some vorish silicon lawsets
  code/datums/ai_law_sets_vr.dm
  code/modules/mob/living/silicon/robot/subtypes/lost_drone_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Vore-Related

#6388 Adding borg petting
  code/modules/mob/living/silicon/robot/robot.dm
  sound/effects/clang1.ogg
Labels: Type: Feature/Suggestion

#6404 adds food cubes.
  code/datums/supplypacks/supply_vr.dm
  code/game/machinery/vending_vr.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/recipes_microwave_vr.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_vr.dm
  code/modules/reagents/Chemistry-Recipes_vr.dm
  icons/obj/food_vr.dmi
  icons/obj/vending_vr.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion

#6405 more mouse stuff, bugfix
  code/modules/mob/language/monkey.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/mouse_vr.dm
  code/modules/vore/resizing/holder_micro_vr.dm
Labels: Type: Bug, Type: Feature/Suggestion

#6418 Temporarily removes update_client_z from /logout
  code/modules/mob/logout.dm
Labels: Task: Needs Testing, Type: Bug

#6430 Fixes sleeperbellies not supplying air to occupant
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
Labels: Type: Bug

#6428 Poncho is now in the loadout as well, with a little pointer to notify people it can do taur stuff
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  icons/mob/taursuits_drake_vr.dmi
  icons/mob/taursuits_wolf_vr.dmi
Labels: Type: Feature/Suggestion

#6424 You've been gnomed.
  code/game/objects/structures/trash_pile.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums_vr.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_vr.dm
  sound/items/hooh.ogg
Labels: Type: Feature/Suggestion

#6423 DO YOU NEED A SLICE OF JOY IN YOUR LIFE?
  code/datums/supplypacks/contraband_vr.dm
  code/game/objects/items/falling_object_vr.dm
  code/game/objects/items/pizza_voucher_vr.dm
  code/game/objects/random/maintenance.dm
  code/game/objects/structures/trash_pile.dm
  icons/obj/items.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion

#6441 Fixes droppod spawning wrong subtype
  code/game/objects/structures/ghost_pods/silicon_vr.dm
  code/modules/events/drone_pod_vr.dm
  code/modules/mob/living/silicon/robot/subtypes/lost_drone_vr.dm
Labels: Type: Bug, Type: Feature/Suggestion

#6445 Removes gnomes from trash piles
  code/game/objects/structures/trash_pile.dm
Labels: Type: Misc

#6443 Adjusts job slots slightly
  code/game/jobs/job/civilian_vr.dm
  code/game/jobs/job/science_vr.dm
  code/game/jobs/job/security_vr.dm
  maps/southern_cross/southern_cross_jobs_vr.dm
Labels: Type: Feature/Suggestion

#6451 IP reputation checking
  code/controllers/configuration.dm
  code/modules/client/client defines.dm
  code/modules/client/client procs.dm
  config/example/config.txt
Labels: Sev: 2-High, Task: Send this to Polaris, Type: Feature/Suggestion

#6444 Changes harpoons push mode to teleport user and not everything else
  code/modules/vore/fluffstuff/guns/bsharpoon.dm
Labels: Type: Feature/Suggestion

#6453 Micro Mech Slot Fix
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/mecha.dm
Labels: Type: Bug

#6456 Fixes the fix for drone pod announcement
  code/modules/events/drone_pod_vr.dm
Labels: Type: Bug

#6469 IP reputation check toggle verb
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/panicbunker.dm
Labels: Sev: 4-Minor, Task: Send this to Polaris

#6474 A look over for floor decals and minor adjustments
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas2.dm
Labels: Type: Map

#6454 Ban/unban, note/unnote, kick to webhook
  code/_helpers/unsorted_vr.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/newbanjob.dm
  code/modules/admin/player_notes.dm
  code/modules/admin/topic.dm
Labels: Sev: 4-Minor, Type: Feature/Suggestion

#6484 Removes escape routes from the xenobio cells (in form of ventilation)
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#6502 No More Vines That Shrink Thee
  code/modules/hydroponics/seed.dm
Labels: Type: Bug

#6489 Add Citadel RP Alternative Pupdozer + Additional Tools - Upstream Port
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/mob/widerobot_vr.dmi
Labels: Type: Feature/Suggestion

#6490 Add additional tools for Research Hound and Pupdozer - Upstream Port
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
Labels: Type: Feature/Suggestion

#6510 [Map] Bolt Dat Door Down
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map
