Repository VOREStation/VOREStation, pull requests merged in 2021-05, with the labels that each got.

#10234 Bringing Back the Bepsi
  code/game/machinery/vending_machines_vr.dm
  code/modules/food/food/cans_vr.dm
  code/modules/reagents/reagents/food_drinks_vr.dm
  icons/obj/drinks_vr.dmi
  icons/obj/vending_vr.dmi
  vorestation.dme
Labels: Type: Icon

#10251 Fix/adjust some smoleworld related spelling/grammar
  code/modules/vore/smoleworld/smoleworld_vr.dm
  icons/vore/smoleworld_vr.dmi
Labels: Type: Icon

#10212 New Netgun Sprite
  icons/obj/gun_vr.dmi
Labels: Type: Icon

#10255 B to Resist
  interface/skin.dmf
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#10256 Adds various new fat taur variants
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#10229 Exploration Expansion: First POI
  maps/submaps/surface_submaps/mountains/mountains.dm
  maps/submaps/surface_submaps/mountains/mountains_areas.dm
  maps/submaps/surface_submaps/mountains/speakeasy_vr.dmm
Labels: Type: Map

#10259 Fixes Medical/Security PDA Records
  tgui/packages/tgui/interfaces/pda/pda_medical.js
  tgui/packages/tgui/interfaces/pda/pda_security.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Task: Send this to Polaris

#10243 Personal crafting & Dependencies
  code/__defines/_lists.dm
  code/__defines/crafting.dm
  code/__defines/dcs/signals.dm
  code/__defines/tools.dm
  code/_global_vars/lists/misc.dm
  code/_helpers/_lists.dm
  code/_helpers/global_lists.dm
  code/_helpers/sorts/comparators.dm
  code/_helpers/string_lists.dm
  code/_onclick/click.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/crafting_external.dm
  code/datums/components/crafting/recipes.dm
  code/datums/components/crafting/tool_quality.dm
  code/datums/mind.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/improvised_components.dm
  code/game/objects/items/weapons/tools/crowbar.dm
  code/game/objects/items/weapons/tools/screwdriver.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/game/objects/items/weapons/tools/wirecutters.dm
  code/game/objects/items/weapons/tools/wrench.dm
  code/game/objects/random/misc.dm
  code/game/objects/random/mob_vr.dm
  code/game/objects/structures/loot_piles.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/login.dm
  code/modules/power/cable.dm
  code/modules/power/gravitygenerator_vr.dm
  code/modules/projectiles/broken.dm
  code/modules/projectiles/guns/modular_guns.dm
  code/modules/reagents/holder/holder.dm
  code/modules/reagents/reagents/_reagents.dm
  icons/mob/screen/midnight.dmi
  tgui/packages/tgui/interfaces/PersonalCrafting.js
  tgui/packages/tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Refactor

#10258 Simple player notes filter
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#10236 Toys expansion
  code/game/machinery/computer/arcade_vr.dm
  code/game/objects/effects/confetti_vr.dm
  code/game/objects/items/toys/toys.dm
  code/game/objects/items/toys/toys_vr.dm
  code/game/objects/structures/watercloset.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_general_vr.dm
  icons/effects/effects_vr.dmi
  icons/obj/storage_vr.dmi
  icons/obj/toy_vr.dmi
  sound/effects/whistle.ogg
  sound/items/confetti.ogg
  sound/voice/moth/scream_moth.ogg
  sound/voice/quack.ogg
  vorestation.dme
Labels: Type: Icon, Type: Sound

#10240 Removes access loss on ID contamination/digestion.
  code/game/machinery/computer/card.dm
  code/game/machinery/computer/id_restorer_vr.dm
  code/modules/vore/eating/contaminate_vr.dm
  code/modules/vore/eating/digest_act_vr.dm
Labels: Type: Feature/Suggestion

#10221 Disables Suit Sensors in Dorms
  code/datums/repositories/crew.dm
  code/game/area/Space Station 13 areas_vr.dm
  code/game/area/areas_vr.dm
  maps/tether/tether_areas.dm
Labels: Task: Requires Staff Discussion

#10241 Makes soulcatcher a pre-installed software
  code/modules/nifsoft/nif.dm
  code/modules/nifsoft/software/13_soulcatcher.dm
Labels: Task: Requires Staff Discussion, Type: Feature/Suggestion

#10250 Remove the lore blurb that pollutes the new player menu
  code/modules/mob/new_player/new_player.dm
Labels: Task: Requires Staff Discussion, Type: Feature/Suggestion

#10178 New belt items
  code/game/objects/items/weapons/storage/belt.dm
Labels: Task: Requires Staff Discussion, Type: Feature/Suggestion

#9947 Remove the throwing-people-to-the-floor effect of meteor strikes
  code/modules/events/meteor_strike_vr.dm
Labels: Task: Requires Discussion, Type: Feature/Suggestion

#10264 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#10222 Catalogue Entries V1
  code/modules/catalogue/cataloguer_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/snake_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/deathclaw.dm
  code/modules/mob/living/simple_mob/subtypes/vore/fennec.dm
  code/modules/mob/living/simple_mob/subtypes/vore/frog.dm
  code/modules/mob/living/simple_mob/subtypes/vore/mimic.dm
  code/modules/mob/living/simple_mob/subtypes/vore/rat.dm
  code/modules/mob/living/simple_mob/subtypes/vore/sect_drone.dm
  code/modules/mob/living/simple_mob/subtypes/vore/sect_queen.dm
  code/modules/mob/living/simple_mob/subtypes/vore/snake.dm
  icons/mob/vore64x64.dmi
  icons/obj/device_vr.dmi
Labels: Type: Icon

#9820 Adds Suffocation Damage option to vore panel/bellies
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/digest_act_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/packages/tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: skub

#10269 Adds Jams Sensors belly mode addon
  code/__defines/belly_modes_vr.dm
  code/datums/repositories/crew.dm
  code/game/objects/items/devices/radio/jammer_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
Labels: Type: Feature/Suggestion

#10257 Changes some Exploration Colors
  code/game/objects/items/weapons/id cards/id_stacks_vr.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions_vr.dm
Labels: Type: Feature/Suggestion

#10271 Adds pizza guy uniform
  code/datums/supplypacks/hospitality_vr.dm
  code/modules/clothing/head/misc_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  icons/mob/head_vr.dmi
  icons/mob/uniform_rolled_down_vr.dmi
  icons/mob/uniform_vr.dmi
  icons/obj/clothing/hats_vr.dmi
  icons/obj/clothing/uniforms_vr.dmi
Labels: Status: DO NOT MERGE, Type: Feature/Suggestion, Type: Icon, Type: Map

#10291 Fixes SSMobs Shattering due to Proteans
  code/modules/emotes/definitions/exertion.dm
  code/modules/emotes/definitions/human.dm
  code/modules/emotes/definitions/synthetics.dm
  code/modules/emotes/definitions/visible_vomit.dm
  code/modules/emotes/emote_define.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/simple_mob/subtypes/mechanical/mechanical.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
Labels: Sev: 1-Blocker, Task: Needs Testing, Type: Bug

#10292 Add placeholder for protean robolimbs
  code/modules/organs/robolimbs_vr.dm
  code/modules/organs/subtypes/nano.dm
Labels: Sev: 1-Blocker, Task: Needs Testing, Type: Bug

#10302 Fix two character spawn bugs
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/nifsoft/nif.dm
Labels: Type: Bug

#10304 Fix wrong radio path for talon
  maps/offmap_vr/talon/talon_v2.dmm
Labels: Type: Map

#10305 May 12 Fixes
  code/controllers/globals.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/emotes/definitions/exertion.dm
  code/modules/emotes/definitions/human.dm
  code/modules/emotes/definitions/synthetics.dm
  code/modules/emotes/definitions/visible_vomit.dm
  code/modules/emotes/emote_define.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/simple_mob/subtypes/mechanical/mechanical.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/nifsoft/nif.dm
  code/modules/organs/internal/stomach.dm
  code/modules/organs/subtypes/nano.dm
  code/modules/organs/subtypes/standard.dm
  interface/interface.dm
  interface/skin.dmf
  maps/offmap_vr/talon/talon_v2.dm
  maps/offmap_vr/talon/talon_v2.dmm
  tgui/yarn.lock
Labels: Type: Map

#10303 Deprecate NIF statpanel in favor of TGUI
  code/_onclick/hud/_defines.dm
  code/datums/components/crafting/crafting.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/nifsoft/nif.dm
  code/modules/nifsoft/nif_statpanel.dm
  code/modules/nifsoft/nif_tgui.dm
  code/modules/nifsoft/nifsoft.dm
  icons/mob/screen/holo.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
  vorestation.dme
Labels: Type: Icon

#9969 Adds in Booze hounds.
  code/global_vr.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_modules_vr.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/mob/dogborg_vr.dmi
  icons/mob/screen1_robot_vr.dmi
  icons/mob/widerobot_colors_vr.dmi
Labels: Type: Controversial, Type: Icon

#10330 AR Visor
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/clothing/glasses/hud_vr.dm
  icons/mob/eyes_vr.dmi
Labels: Type: Icon

#10331 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#10325 Add persistent smartfridges with lossiness
  code/__defines/map.dm
  code/controllers/subsystems/persistence.dm
  code/modules/food/kitchen/smartfridge/engineering.dm
  code/modules/food/kitchen/smartfridge/hydroponics.dm
  code/modules/food/kitchen/smartfridge/smartfridge.dm
  code/modules/persistence/datum/persistence_datum.dm
  code/modules/persistence/effects/filth.dm
  code/modules/persistence/effects/graffiti.dm
  code/modules/persistence/effects/paper.dm
  code/modules/persistence/effects/paper_sticky.dm
  code/modules/persistence/serialize.dm
  code/modules/persistence/storage/smartfridge.dm
  code/modules/persistence/storage/storage.dm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas.dm
  maps/tether/tether_defines.dm
  maps/~map_system/maps.dm
  vorestation.dme
Labels: Task: Requires Discussion, Type: Feature/Suggestion, Type: Map

#10310 Mecha Balance and Fighter Fixes
  code/game/mecha/combat/fighter.dm
  code/game/mecha/combat/fighter_vr.dm
  code/game/mecha/mecha.dm
  code/modules/research/mechfab_designs.dm
  maps/expedition_vr/space/_debrisfield.dm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/pois_vr/debris_field/tinycarrier.dmm
  vorestation.dme
Labels: Type: Map

#10334 May 15 Update-Update
  code/__defines/map.dm
  code/controllers/subsystems/persistence.dm
  code/game/mecha/combat/fighter.dm
  code/game/mecha/combat/fighter_vr.dm
  code/game/mecha/mecha.dm
  code/modules/food/kitchen/smartfridge/engineering.dm
  code/modules/food/kitchen/smartfridge/hydroponics.dm
  code/modules/food/kitchen/smartfridge/smartfridge.dm
  code/modules/persistence/datum/persistence_datum.dm
  code/modules/persistence/effects/filth.dm
  code/modules/persistence/effects/graffiti.dm
  code/modules/persistence/effects/paper.dm
  code/modules/persistence/effects/paper_sticky.dm
  code/modules/persistence/serialize.dm
  code/modules/persistence/storage/smartfridge.dm
  code/modules/persistence/storage/storage.dm
  code/modules/research/mechfab_designs.dm
  maps/expedition_vr/space/_debrisfield.dm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/pois_vr/debris_field/tinycarrier.dmm
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas.dm
  maps/tether/tether_defines.dm
  maps/~map_system/maps.dm
  vorestation.dme
Labels: Type: Map

#10336 Gunpod replacement sprite
  ATTRIBUTIONS.md
  icons/mecha/fighters64x64.dmi
Labels: Task: Send this to Polaris, Type: Icon

#10344 Explorer/Pilot ID & Locker Addons
  code/__defines/color.dm
  code/game/objects/items/weapons/id cards/id_stacks_vr.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions_vr.dm
  icons/obj/card_new_vr.dmi
Labels: Type: Icon

#10327 Adds more winter coats + moves existing winter coats to the same file
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/head/hood.dm
  code/modules/clothing/suits/hooded.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  maps/southern_cross/icons/mob/sc_suit.dmi
  maps/southern_cross/icons/obj/sc_suit.dmi
  maps/southern_cross/items/clothing/sc_suit.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion, Type: Icon

#10329 Talon + SME Edits & QOL
  maps/offmap_vr/talon/talon_v2.dmm
  maps/submaps/engine_submaps_vr/tether/engine_sme.dmm
Labels: Type: Map

#10350 Talon Polish, Round... 3?
  maps/offmap_vr/talon/talon_v2.dm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/offmap_vr/talon/talon_v2_areas.dm
Labels: Type: Map

#10339 Ports the Baystation Pilot Helmets
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/modules/clothing/head/pilot_helmet_vr.dm
  icons/mob/head_vr.dmi
  icons/mob/species/teshari/helmet_vr.dmi
  icons/obj/clothing/helmets_vr.dmi
  maps/southern_cross/loadout/loadout_head.dm
  maps/southern_cross/loadout/loadout_vr.dm
  vorestation.dme
Labels: Type: Icon

#10353 May 18 2021 Hotfix
  ATTRIBUTIONS.md
  code/__defines/color.dm
  code/game/machinery/computer/arcade_vr.dm
  code/game/objects/items/weapons/id cards/id_stacks_vr.dm
  code/game/objects/random/mapping.dm
  code/game/objects/random/misc.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions_vr.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/modules/ai/ai_holder_combat_unseen.dm
  code/modules/ai/ai_holder_movement.dm
  code/modules/ai/ai_holder_targeting.dm
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/client/preference_setup/loadout/loadout_head_vr.dm
  code/modules/client/preference_setup/loadout/loadout_shoes_vr.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/client/preference_setup/loadout/loadout_utility_vr.dm
  code/modules/clothing/head/hood.dm
  code/modules/clothing/head/pilot_helmet_vr.dm
  code/modules/clothing/suits/hooded.dm
  code/modules/mob/living/simple_mob/subtypes/animal/giant_spider/giant_spider_vr.dm
  code/modules/multiz/movement_vr.dm
  icons/mecha/fighters64x64.dmi
  icons/mob/head.dmi
  icons/mob/head_vr.dmi
  icons/mob/species/teshari/helmet_vr.dmi
  icons/mob/suit.dmi
  icons/obj/card_new_vr.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/helmets_vr.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/stacks.dmi
  maps/offmap_vr/talon/talon_v2.dm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/offmap_vr/talon/talon_v2_areas.dm
  maps/southern_cross/icons/mob/sc_suit.dmi
  maps/southern_cross/icons/obj/sc_suit.dmi
  maps/southern_cross/items/clothing/sc_suit.dm
  maps/southern_cross/loadout/loadout_head.dm
  maps/southern_cross/loadout/loadout_vr.dm
  maps/submaps/engine_submaps_vr/tether/engine_sme.dmm
  vorestation.dme
Labels: Type: Icon

#10355 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#10361 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#10356 Adding an approved custom item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Fluff

#10363 Fixes botanical smarfridges
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#10364 May 19 Whitelists+Fix
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  config/alienwhitelist.txt
  maps/tether/tether-03-surface3.dmm
Labels: Type: Fluff, Type: Map

#10365 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#10335 Various qdel helpers
  code/_helpers/global_lists.dm
  code/game/objects/items/devices/communicator/communicator.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/logout.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/organs/organ_external.dm
Labels: Task: Send this to Polaris, Type: Refactor

#10338 Add vscode recommends
  .gitignore
  .vscode/extensions.json
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#10337 Add nanomaps onClick functionality
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#10030 Adds a few more alt-titles to some jobs
  code/game/jobs/job/captain_vr.dm
  code/game/jobs/job/civilian_vr.dm
  code/game/jobs/job/engineering_vr.dm
  code/game/jobs/job/exploration_vr.dm
  code/game/jobs/job/science_vr.dm
Labels: Task: Requires Staff Discussion, Type: Feature/Suggestion

#10342 Adds some fennec treats
  code/datums/supplypacks/hydroponics_vr.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions_vr.dm
  code/game/objects/structures/crates_lockers/crates_vr.dm
  code/game/objects/structures/crates_lockers/largecrate_vr.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/recipes_fryer_vr.dm
  code/modules/food/recipes_microwave_vr.dm
  code/modules/food/recipes_oven_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/jerboa_vr.dm
  icons/mob/animal_vr.dmi
  icons/obj/closets/bases/fencrate_vr.dmi
  icons/obj/food_vr.dmi
  vorestation.dme
Labels: Type: Icon

#10373 Initialize all vending products on server start & fix multiple food icons
  code/datums/supplypacks/hospitality_vr.dm
  code/game/machinery/vending_machines_vr.dm
  code/game/objects/random/misc.dm
  code/modules/admin/topic.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/awaymissions/loot_vr.dm
  code/modules/economy/price_list.dm
  code/modules/food/food/snacks.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/recipes_oven.dm
  icons/obj/food_syn.dmi
Labels: Type: Icon

#10362 Add portable mapping devices
  code/__defines/_planes+layers.dm
  code/__defines/holomap.dm
  code/__defines/map.dm
  code/_helpers/global_lists.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/minihud.dm
  code/_onclick/hud/minihud_mapper.dm
  code/_onclick/hud/minihud_rigmech.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/holomap/generate_holomap.dm
  code/modules/holomap/mapper.dm
  code/modules/holomap/station_holomap.dm
  code/modules/nifsoft/nif_tgui.dm
  icons/effects/64x64.dmi
  icons/effects/effects.dmi
  icons/effects/gpshud.dmi
  icons/holomap_markers.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/device.dmi
  maps/tether/submaps/_tether_submaps.dm
  maps/~map_system/maps.dm
  vorestation.dme
Labels: Task: Send this to Polaris, Type: Icon

#10235 [Ready for final reviews] Tether Asteroid Remodel - Asteroid Converted to 1 Z-Level
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether.dm
  maps/tether/tether_areas.dm
  maps/tether/tether_defines.dm
  maps/tether/tether_things.dm
Labels: Sev: 2-High, Type: Map

#10377 Minor adjustments to substation grid + pizzatime
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether_better/tether-03-surface3.dmm
Labels: Type: Map

#10379 Move Syringe Gun
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#10383 Hole-ifies the Hole
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#10384 Fixes Engineering submap mishap
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#10388 Connect gateway's APC to power grid
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#10389 May 23 2021 Hotfix
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/modules/holomap/mapper.dm
  code/modules/mining/ore_redemption_machine/survey_vendor.dm
  code/modules/nifsoft/software/13_soulcatcher.dm
  icons/_nanomaps/tether_nanomap_z5.png
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Icon, Type: Map

#10403 Minor Map Tweaks
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-04-transit.dmm
Labels: Type: Map

#10407 Add icon state for turned off keyboard for PCU to prevent adding the default icon
  icons/obj/computer.dmi
Labels: Task: Send this to Polaris, Type: Icon

#10414 Fixes pizzaguy uniform
  code/modules/clothing/under/miscellaneous_vr.dm
  icons/mob/items/lefthand_uniforms_vr.dmi
  icons/mob/items/righthand_uniforms_vr.dmi
  icons/mob/uniform_rolled_down_vr.dmi
  icons/mob/uniform_sleeves_rolled_vr.dmi
  icons/mob/uniform_vr.dmi
Labels: Type: Icon

#10419 Some Asteroid Fixes
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#10420 RWalls Begone
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#10408 Maybe make deepspace levels slightly more robust?
  code/modules/overmap/sectors.dm
  code/modules/overmap/spacetravel.dm
  maps/~map_system/maps.dm
Labels: Task: Send this to Polaris, Type: Bug

#10424 Swaps the location of Public Teleporter and Cryo Storage
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#10428 Wall icons and a new overmap icon
  code/game/turfs/simulated/wall_types_vr.dm
  icons/obj/overmap_vr.dmi
  icons/turf/wall_masks_vr.dmi
Labels: Type: Icon

#10430 Add secret zlevels
  code/game/objects/effects/landmarks.dm
  code/modules/mob/dead/observer/observer.dm
  maps/~map_system/maps.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#10429 Replaces window tint button sprite
  code/game/objects/structures/window.dm
  icons/obj/stationobjs_vr.dmi
Labels: Type: Icon

#10434 AI bugfixes
  code/modules/ai/ai_holder_combat_unseen.dm
  code/modules/ai/ai_holder_targeting.dm
  code/modules/mob/living/simple_mob/subtypes/animal/giant_spider/nurse.dm
  code/modules/mob/living/simple_mob/subtypes/vore/softdog.dm
Labels: Task: Send this to Polaris, Type: Bug

#10432 New Ion engine sprite
  code/modules/overmap/ships/engines/ion_thruster.dm
  icons/turf/shuttle_parts_vr.dmi
Labels: Type: Icon

#10411 Aro shipself v3
  code/game/objects/items/stacks/marker_beacons.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions_vr.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/game/turfs/flooring/flooring_decals_vr.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/persistence/graffiti.dm
  icons/turf/flooring/decals_vr.dmi
  icons/turf/wall_masks.dmi
  icons/turf/wall_masks32x64.dmi
  icons/turf/wall_masks64x32.dmi
  maps/offmap_vr/om_ships/aro3.dm
  maps/offmap_vr/om_ships/aro3.dmi
  maps/offmap_vr/om_ships/aro3.dmm
  maps/tether/submaps/_tether_submaps.dm
Labels: Type: Icon, Type: Map

#10422 Adds a fake sun object for mapper usage
  code/game/turfs/simulated/outdoors/snow.dm
  code/modules/lighting/lighting_fake_sun_vr.dm
  icons/effects/effects_vr.dmi
  vorestation.dme
Labels: Type: Icon

#10440 Adds PastelPrinceDan's black-eyed shadekin whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#10439 Adds bus mapping units and mapping beacons
  code/datums/uplink/tools_vr.dm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
Labels: Type: Map

#10444 Slopes! ◤◢◣◥
  maps/offmap_vr/om_ships/gecko_cr.dmm
  maps/offmap_vr/om_ships/gecko_cr_wreck.dmm
  maps/offmap_vr/om_ships/gecko_sh.dmm
  maps/offmap_vr/om_ships/mackerel_hc.dmm
  maps/offmap_vr/om_ships/mackerel_hc_skel.dmm
  maps/offmap_vr/om_ships/mackerel_lc.dmm
  maps/offmap_vr/om_ships/mackerel_lc_wreck.dmm
  maps/offmap_vr/om_ships/mackerel_sh.dmm
  maps/offmap_vr/om_ships/salamander.dmm
  maps/offmap_vr/om_ships/salamander_wreck.dmm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/admin_use_vr/mercship.dm
Labels: Type: Map

#10448 More ship things
  code/modules/holomap/generate_holomap.dm
  maps/offmap_vr/om_ships/aro3.dmm
Labels: Type: Map

#10472 May 28 2021 Small Hotfixes
  code/game/machinery/air_alarm.dm
  code/modules/ai/ai_holder_combat_unseen.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#10474 Small sprite fixes/tweaks
  icons/mob/human_races/r_lizard_vr.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#10493 Fixes AI Core walls
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#10468 un-breaks unseen combat ai
  code/modules/ai/ai_holder_combat_unseen.dm
Labels: Task: Send this to Polaris, Type: Bug

#10412 Adds gender TF chemicals + Spontaneous TF pref
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/reagents/reactions/instant/instant_vr.dm
  code/modules/reagents/reagent_containers/glass_vr.dm
  code/modules/reagents/reagents/other_vr.dm
  code/modules/reagents/reagents/vore_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Type: Feature/Suggestion

#10227 Expanding the Public Garden significantly, or: Introducing the Public Leisure Minidome.
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#10458 sounds/emotes for spider-type characters
  code/modules/emotes/definitions/audible_furry_vr.dm
  sound/voice/spiderchitter.ogg
  sound/voice/spiderpurr.ogg
Labels: Type: Sound
