Repository VOREStation/VOREStation, pull requests merged in 2021-04, with the labels that each got.

#10069 Makes eternal bonfires a bit less hot
  maps/tether_better/tether-01-surface1.dmm
  maps/tether_better/tether-02-surface2.dmm
  maps/tether_better/tether-03-surface3.dmm
  maps/tether_better/tether_things.dm
Labels: Type: Map

#10070 Edges go on the edges!
  maps/tether_better/submaps/tether_misc.dmm
Labels: Type: Map

#10071 April 1st, 2021 Hotfix
  maps/tether_better/submaps/tether_misc.dmm
  maps/tether_better/tether-01-surface1.dmm
  maps/tether_better/tether-02-surface2.dmm
  maps/tether_better/tether-03-surface3.dmm
  maps/tether_better/tether_things.dm
  tgui/yarn.lock
Labels: Type: Map

#10076 Von Braun OFD
  maps/submaps/admin_use_vr/ert.dm
  maps/submaps/admin_use_vr/ert.dmm
Labels: Type: Map

#10078 April 4, 2021 Hotfix
  code/__defines/species_languages.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/carbon/human/species/station/teshari.dm
  code/modules/vore/eating/living_vr.dm
  maps/submaps/admin_use_vr/ert.dm
  maps/submaps/admin_use_vr/ert.dmm
  maps/tether/tether_things.dm
  vorestation.dme
Labels: Type: Map

#10079 tram+station take 2
  code/game/objects/random/mapping_vr.dm
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#10081 Typhon ORB
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/admin_use_vr/mercship.dm
Labels: Type: Map

#10086 Catgirl sprite fixes
  icons/mob/vore.dmi
Labels: Type: Icon

#10088 April 05 2021
  code/game/objects/random/mapping_vr.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/vore/resizing/resize_vr.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/_nanomaps/tether_nanomap_z8.png
  icons/_nanomaps/tether_nanomap_z9.png
  icons/mob/vore.dmi
  maps/gateway_archive_vr/fileList.txt
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/admin_use_vr/mercship.dm
  maps/submaps/pois_vr/aerostat/virgo2.dm
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Icon, Type: Map

#10089 adds awkwarddryad to mime whitelist
  config/jobwhitelist.txt
Labels: Type: Fluff

#10083 Fixup things for dm-langserver
  code/__defines/sound.dm
  code/game/gamemodes/events/holidays/Holidays.dm
  code/game/gamemodes/technomancer/core_obj.dm
  code/game/gamemodes/technomancer/equipment.dm
  code/modules/food/kitchen/microwave.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/simple_mob/subtypes/mechanical/hivebot/ranged_damage.dm
  code/modules/surgery/organs_internal.dm
Labels: Task: Send this to Polaris, Type: Refactor

#10033 Trait Rebalance and Refactor
  code/__defines/misc_vr.dm
  code/_helpers/global_lists_vr.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/trait.dm
Labels: Type: Feature/Suggestion

#10098 Fixes Excursion Shuttle Exhaust
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#10110 Updates Listening Post gateway submap
  maps/gateway_vr/listeningpost.dm
  maps/gateway_vr/listeningpost.dmm
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/tether_defines.dm
  maps/tether_better/submaps/_tether_submaps.dm
  maps/tether_better/tether_defines.dm
Labels: Type: Map

#10112 Okay, attempt 2 (Adds me to the whitelist)
  config/alienwhitelist.txt
Labels: Type: Fluff

#10122 EMV: VR Edition
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/suit_storage_unit_vr.dm
  code/modules/clothing/spacesuits/void/station.dm
  icons/mob/head.dmi
  icons/mob/spacesuit.dmi
  icons/mob/species/akula/helmet_vr.dmi
  icons/mob/species/akula/suit_vr.dmi
  icons/mob/species/sergal/helmet_vr.dmi
  icons/mob/species/sergal/suit_vr.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vulpkanin/helmet.dmi
  icons/mob/species/vulpkanin/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/spacesuits.dmi
  icons/obj/clothing/species/akula/hats.dmi
  icons/obj/clothing/species/akula/suits.dmi
  icons/obj/clothing/species/sergal/hats.dmi
  icons/obj/clothing/species/sergal/suits.dmi
  icons/obj/clothing/species/skrell/hats.dmi
  icons/obj/clothing/species/skrell/suits.dmi
  icons/obj/clothing/species/tajaran/hats.dmi
  icons/obj/clothing/species/tajaran/suits.dmi
  icons/obj/clothing/species/unathi/hats.dmi
  icons/obj/clothing/species/unathi/suits.dmi
  icons/obj/clothing/species/vulpkanin/hats.dmi
  icons/obj/clothing/species/vulpkanin/suits.dmi
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Icon

#10125 Adds thicc thighs markings.
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  icons/mob/human_races/markings_vr.dmi
Labels: Type: Icon

#10126 PastelPrinceDan fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Type: Fluff, Type: Icon

#10129 Miscellaneous Sundries
  code/datums/outfits/jobs/special_vr.dm
  code/modules/mob/living/living.dm
  code/modules/pda/cart_vr.dm
  maps/offmap_vr/om_ships/aro2.dmm
  maps/offmap_vr/om_ships/bearcat.dmm
  maps/offmap_vr/om_ships/cruiser.dmm
  maps/offmap_vr/om_ships/itglight.dmm
  maps/offmap_vr/om_ships/mercship.dmm
  maps/offmap_vr/om_ships/salamander.dmm
  maps/offmap_vr/om_ships/salamander_wreck.dmm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/offmap_vr/talon/talon1.dmm
  maps/offmap_vr/talon/talon2.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/pois_vr/debris_field/debris8.dmm
Labels: Type: Map

#10134 Fixes #10133
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
Labels: Type: Fluff

#10131 Fixes Point Defense Batteries
  code/game/machinery/pointdefense.dm
  code/game/objects/items/weapons/circuitboards/machinery/ships.dm
  maps/offmap_vr/om_ships/aro2.dmm
  maps/offmap_vr/om_ships/bearcat.dmm
  maps/offmap_vr/om_ships/cruiser.dmm
  maps/offmap_vr/om_ships/itglight.dmm
  maps/offmap_vr/om_ships/mercship.dmm
  maps/offmap_vr/om_ships/salamander.dmm
  maps/offmap_vr/om_ships/salamander_wreck.dmm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/offmap_vr/talon/talon1.dmm
  maps/offmap_vr/talon/talon2.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/pois_vr/debris_field/debris8.dmm
Labels: Type: Map

#10135 April 11, 2021 Hotfix
  code/game/machinery/pointdefense.dm
  code/game/objects/items/weapons/circuitboards/machinery/ships.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/blank_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  maps/offmap_vr/om_ships/aro2.dmm
  maps/offmap_vr/om_ships/bearcat.dmm
  maps/offmap_vr/om_ships/cruiser.dmm
  maps/offmap_vr/om_ships/itglight.dmm
  maps/offmap_vr/om_ships/mercship.dmm
  maps/offmap_vr/om_ships/salamander.dmm
  maps/offmap_vr/om_ships/salamander_wreck.dmm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/offmap_vr/talon/talon1.dmm
  maps/offmap_vr/talon/talon2.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/pois_vr/debris_field/debris8.dmm
Labels: Type: Fluff, Type: Map

#10136 Extra hot species fix or how not to forget things
  code/modules/mob/living/carbon/human/species/station/blank_vr.dm
Labels: Sev: 2-High

#10147 AlFalah fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#10151 Excursion Shuttle Tweaks
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#10152 April 13, 2021 Hotfix
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/head/pilot_helmet_vr.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/blank_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/offmap_vr/talon/talon.dm
  maps/tether/tether-07-station3.dmm
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#10157 Adminbus Update
  code/game/machinery/portable_turret_vr.dm
  code/modules/mining/shelter_atoms_vr.dm
  maps/offmap_vr/om_ships/shelter_6.dm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/southern_cross/loadout/loadout_head.dm
Labels: Type: Map

#10158 Thursday April 15 2021 Hotfix
  code/game/machinery/portable_turret_vr.dm
  code/modules/mining/shelter_atoms_vr.dm
  code/modules/mob/living/carbon/human/species/station/xenochimera_trait_vr.dm
  maps/offmap_vr/om_ships/shelter_6.dm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/southern_cross/loadout/loadout_head.dm
Labels: Type: Map

#10067 Don't tell the whole world who was playing silicons
  code/controllers/subsystems/ticker.dm
Labels: Type: Feature/Suggestion

#10061 Enables Novel Posting
  code/__defines/misc.dm
Labels: Type: Feature/Suggestion

#10161 Bathroom Privacy
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#10163 Whitelist and Catalog Updates
  code/modules/catalogue/catalogue_data_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  config/alienwhitelist.txt
Labels: Type: Fluff

#10114 Captain's Rapier
  code/game/objects/items/weapons/melee/misc_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_vr.dm
  code/modules/clothing/under/accessories/holster_vr.dm
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/mob/ties_vr.dmi
  icons/obj/clothing/ties_vr.dmi
  icons/obj/weapons_vr.dmi
  vorestation.dme
Labels: Type: Icon

#10170 April 20, 2021 Patch
  code/__defines/misc.dm
  code/controllers/subsystems/ticker.dm
  code/game/machinery/adv_med.dm
  code/game/objects/items/weapons/melee/misc_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_vr.dm
  code/modules/catalogue/catalogue_data_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/under/accessories/holster_vr.dm
  code/modules/library/lib_machines.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/pda/messenger.dm
  code/modules/persistence/noticeboard.dm
  config/alienwhitelist.txt
  icons/_nanomaps/tether_nanomap_z3.png
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/mob/ties_vr.dmi
  icons/obj/clothing/ties_vr.dmi
  icons/obj/weapons_vr.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_defines.dm
  tgui/packages/tgui/interfaces/BodyScanner.js
  tgui/packages/tgui/interfaces/CookingAppliance.js
  tgui/packages/tgui/interfaces/ExosuitFabricator.js
  tgui/packages/tgui/interfaces/ResearchConsole.js
  tgui/packages/tgui/interfaces/StationBlueprints.js
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/yarn.lock
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#10174 Begone, Ghost Light!
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#10173 AlFalah fluff item removed from cigarette selection
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#10175 Changes blueprints to use ChangeArea
  code/game/objects/items/blueprints.dm
Labels: Task: Send this to Polaris, Type: Bug

#10176 Updates Medals (again)
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  icons/obj/clothing/ties_vr.dmi
Labels: Type: Fluff, Type: Icon

#10177 April 20, 2021 Hotfix
  code/game/objects/items/blueprints.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/obj/clothing/ties_vr.dmi
  icons/vore/custom_items_vr.dmi
  maps/tether/tether-07-station3.dmm
Labels: Type: Fluff, Type: Icon, Type: Map

#10191 AlFalah fluff item fix part 2
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Fluff

#10195 tumby icons
  icons/mob/screen_full_vore.dmi
Labels: Type: Icon

#10196 one more tumb
  icons/mob/screen_full_vore.dmi
Labels: Type: Icon

#10207 The Armory V1
  code/modules/projectiles/guns/energy/laser_vr.dm
  code/modules/projectiles/guns/energy/stun_vr.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/automatic_vr.dm
  code/modules/projectiles/guns/projectile/boltaction.dm
  code/modules/projectiles/guns/projectile/boltaction_vr.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/beams_vr.dm
  icons/mob/items/lefthand_guns_vr.dmi
  icons/mob/items/righthand_guns_vr.dmi
  icons/obj/gun_vr.dmi
  vorestation.dme
Labels: Type: Icon

#10210 Exploration Balance Tweaks
  code/datums/uplink/visible_weapons_vr.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/modules/mining/ore_redemption_machine/survey_vendor.dm
  code/modules/projectiles/guns/energy/laser_vr.dm
  icons/obj/gun_vr.dmi
  maps/tether/tether-06-station2.dmm
  maps/tether/tether_things.dm
  maps/tether_better/tether_things.dm
Labels: Type: Icon, Type: Map

#10216 Add Entchtut's medal
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#10217 Add LUNA's Medals
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#10230 Brig Flashes
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-06-station2.dmm
Labels: Type: Map

#10238 Minor Fixes
  code/modules/admin/admin_vr.dm
  code/modules/projectiles/guns/energy/laser_vr.dm
  maps/expedition_vr/beach/beach.dmm
Labels: Type: Map
