Repository VOREStation/VOREStation, pull requests merged in 2021-02, with the labels that each got.

#9623 Adds flushable toilets.
  code/game/objects/structures/watercloset_vr.dm
  maps/tether/tether-01-surface1.dmm
  vorestation.dme
Labels: Type: Map

#9622 New advanced Egg Release mechanics.
  code/_helpers/global_lists_vr.dm
  code/game/objects/items/weapons/storage/egg_vr.dm
  code/game/objects/structures/crates_lockers/closets/egg_vr.dm
  code/modules/client/preference_setup/vore/03_egg.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/resizing/holder_micro_vr.dm
  icons/obj/egg_new_vr.dmi
  icons/obj/egg_open_vr.dmi
  icons/obj/egg_vr.dmi
  vorestation.dme
Labels: Type: Icon

#9634 Moves the tram station and updates the tram's wall type
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#9635 Feb 2 2020 Smol Hotfix
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#9640 Feb 3 whitelist update
  config/alienwhitelist.txt
Labels: Type: Fluff

#9646 Adds body shape traits and proper preview scaling
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/new_player/preferences_setup_vr.dm
  code/modules/vore/resizing/resize_vr.dm
  icons/effects/setup_backgrounds_vr.dmi
Labels: Type: Icon

#9653 Another missed whitelist update
  config/alienwhitelist.txt
Labels: Type: Fluff

#9645 The clime offices
  code/__defines/species_languages_vr.dm
  code/game/jobs/access_datum_vr.dm
  code/game/jobs/job/captain_vr.dm
  code/game/jobs/job/special_vr.dm
  code/modules/mob/language/station_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/c_pet.dm
  icons/mob/animal_vr.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether_areas.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#9654 Syndicate Cruiser Tweaks
  code/datums/uplink/tools_vr.dm
  maps/submaps/admin_use_vr/kk_mercship.dmm
Labels: Type: Map

#9647 Chorn sprites.
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/vore/ears_vr.dmi
Labels: Type: Icon

#9665 Fixes drakeborg lights
  icons/mob/drakeborg/drakeborg_vr.dmi
Labels: Type: Icon

#9553 [FEATURE] Add HUD icons for Soulcatcher guests
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/soulcatcher_guest.dm
  icons/mob/screen_nifsc.dmi
  vorestation.dme
Labels: Type: Icon

#9668 Fixes the shading on the squirrel tail colorable
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#9669 fixxes some wire things and adds some firelocks
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#9682 Properly centers projectile/beam icons
  code/game/machinery/pointdefense.dm
  icons/obj/projectiles.dmi
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
  icons/obj/projectiles_vr.dmi
Labels: Type: Icon

#9683 Cow-Taur Sprite Update
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  icons/mob/taursuits_cow_vr.dmi
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#9676 Adds in 1 new eggs end 3 joke eggs.
  code/_helpers/global_lists_vr.dm
  code/game/objects/items/weapons/storage/egg_vr.dm
  icons/obj/egg_new_vr.dmi
  icons/obj/egg_open_vr.dmi
Labels: Type: Icon

#9685 More merc ship fixes
  maps/submaps/admin_use_vr/kk_mercship.dmm
Labels: Type: Map

#9689 Exploration Shuttle Rework
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas.dm
Labels: Type: Map

#9699 Hats Resynch
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Type: Icon

#9705 Adds area soundproofing for dorms.
  code/game/area/areas.dm
  code/game/sound.dm
  maps/tether/tether_areas.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#9707 [MAP] Post-MedSec Move Fixy
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#9709 Von Braun & Typhon tweaks
  maps/submaps/admin_use_vr/ert.dm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/admin_use_vr/mercship.dm
Labels: Type: Map

#9712 Von Braun Tweaks
  maps/submaps/admin_use_vr/ert.dmm
Labels: Type: Map

#9716 Remove Rouge Pilot Locker
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#9717 Update tether-03-surface3.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#9721 Fixes and Tweaks, Part 2
  code/modules/mining/ore.dm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#9725 Feb 15 2021 Post-merc fixes
  code/game/area/areas.dm
  code/game/sound.dm
  code/modules/food/food/drinks.dm
  code/modules/mining/ore.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/internal/brain.dm
  code/modules/vore/eating/living_vr.dm
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z7.png
  maps/submaps/admin_use_vr/ert.dm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/admin_use_vr/mercship.dm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas.dm
Labels: Type: Icon, Type: Map

#9711 Significant surface power grid changes and other map tweaks
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas.dm
Labels: Type: Map

#9732 Bunch of little map fixes and new flushing destination
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
Labels: Type: Map

#9739 Adds in two new manuals for Bar keep and Kitchen.
  code/game/objects/items/weapons/manuals_vr.dm
  icons/obj/library_vr.dmi
  maps/tether/tether-03-surface3.dmm
Labels: Type: Icon, Type: Map

#9745 Fixes modular computer game sound volume
  code/modules/modular_computers/file_system/programs/generic/game.dm
Labels: Type: Bug

#9748 Fuel Depot Tweaks
  maps/expedition_vr/space/fueldepot.dmm
Labels: Type: Map

#9766 Emag Changes
  code/game/objects/items/weapons/id cards/cards_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#9769 Updates alien whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#9770 Fixes missed merge conflict hair stuff
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories_vr.dm
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/human_face.dmi
  icons/mob/human_face_alt.dmi
  icons/mob/human_face_alt_add.dmi
  icons/mob/human_face_m.dmi
  icons/mob/human_face_or_alt.dmi
Labels: Type: Icon

#9737 Add mass edit functionality to ai_holder datums
  code/modules/ai/ai_holder.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#9749 Addes species whitlist
  config/alienwhitelist.txt
Labels: Type: Fluff

#9778 Moves the Toilet Destination
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#9780 ARTIST REQUEST SPRITE CHANGES AND APOLOGIE
  icons/obj/egg_open_vr.dmi
Labels: Type: Icon

#9781 Feb 21 2021 Emergency Hotfix
  code/datums/roundstats/_defines_local.dm
  code/datums/roundstats/departmentgoal.dm
  code/datums/roundstats/roundstats.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/vending.dm
  code/game/mecha/mecha.dm
  code/modules/food/food/drinks.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/organs/organ_external.dm
  code/modules/recycling/disposal.dm
  code/modules/turbolift/turbolift.dm
  icons/_nanomaps/tether_nanomap_z2.png
  icons/obj/egg_open_vr.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#9791 Updates bar book to fix styling error, updates placement and removes outdated bar book.
  code/game/objects/items/weapons/manuals_vr.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#9783 Typo Fixy, Again
  code/modules/mob/living/silicon/robot/robot_items.dm
Labels: Task: Send this to Polaris

#9782 MkVII Helmet Upgrade
  code/modules/clothing/spacesuits/void/ert.dm
Labels: Type: Feature/Suggestion

#9794 Whitelist addition
  config/alienwhitelist.txt
Labels: Type: Fluff

#9793 Silky, silky webs. Adds Weaver trait, with ability to weave spiderwebs and more!
  code/_helpers/global_lists_vr.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/life_vr.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/weaver_objs.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/weaver_recipies.dm
  code/modules/vore/appearance/spider_taur_powers_vr.dm
  icons/vore/weaver_icons_vr.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Icon

#9806 Fix Stairs objpath
  code/controllers/subsystems/ticker.dm
  code/datums/roundstats/_defines_local.dm
  code/datums/roundstats/departmentgoal.dm
  code/datums/roundstats/roundstats.dm
  code/datums/underwear/undershirts.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/vending.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/manuals_vr.dm
  code/game/turfs/flooring/flooring.dm
  code/game/world.dm
  code/modules/clothing/spacesuits/void/ert.dm
  code/modules/clothing/under/jobs/security_vr.dm
  code/modules/food/food/drinks.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_storage_vr.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/silicon/robot/drone/drone_console.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/organs/organ_external.dm
  code/modules/recycling/disposal.dm
  code/modules/turbolift/turbolift.dm
  config/alienwhitelist.txt
  icons/_nanomaps/tether_nanomap_z2.png
  icons/mob/human.dmi
  icons/obj/egg_open_vr.dmi
  maps/offmap_vr/talon/talon1.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#8808 FBP Munchies
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/blank_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_vr.dm
Labels: Type: Feature/Suggestion

#9768 Peacock tails!
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon
