Repository VOREStation/VOREStation, pull requests merged in 2021-03, with the labels that each got.

#9823 Fixes missed part of the bad egg fix.
  icons/obj/egg_new_vr.dmi
Labels: Type: Icon

#9824 Ports in V-2 janihound model.
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/mob/widerobot_jan_vr.dmi
Labels: Type: Icon

#9826 Mar 01 2021 Microhotfix
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/mob/widerobot_jan_vr.dmi
  icons/obj/egg_new_vr.dmi
Labels: Type: Icon

#9827 Makes it so that only freezer's freezer tiles are cold.
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/flooring/flooring_vr.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#9830 Should fix missing poster icons.
  icons/obj/contraband_vr.dmi
Labels: Type: Icon

#9831 Adds old teshsneeze as an alternate teshsneeze
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  sound/effects/mob_effects/tesharisneezeb.ogg
Labels: Type: Sound

#9839 March 2 2021 Hotfix
  code/game/atoms_movable.dm
  code/game/objects/buckling.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/flooring/flooring_vr.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/multiz/stairs.dm
  code/modules/multiz/turf.dm
  code/modules/organs/internal/augment.dm
  code/modules/organs/robolimbs.dm
  code/modules/tgui/modules/appearance_changer.dm
  icons/obj/contraband_vr.dmi
  maps/tether/tether-03-surface3.dmm
  sound/effects/mob_effects/tesharisneezeb.ogg
Labels: Type: Icon, Type: Map, Type: Sound

#9841 Hopefully fixes ceiling blocker for good.
  code/modules/multiz/movement.dm
  maps/tether/tether-04-transit.dmm
Labels: Type: Map

#9545 [FEATURE] Size Related Content Updates
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/mob/living/carbon/human/emote_vr.dm
  code/modules/mob/living/carbon/human/human_defines_vr.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/life_vr.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_powers.dm
  code/modules/mob/living/living_defines_vr.dm
  code/modules/nifsoft/software/15_misc.dm
  code/modules/vore/resizing/resize_vr.dm
  code/modules/vore/resizing/sizegun_vr.dm
Labels: Type: Feature/Suggestion

#9710 Go [Verb] Yourself!
  code/game/dna/dna2.dm
  code/game/dna/dna2_helpers.dm
  code/modules/client/preference_setup/vore/07_traits.dm
Labels: Type: Feature/Suggestion

#9846 Fix shadekin mouse opacity
  code/modules/mob/living/simple_mob/subtypes/vore/shadekin/ability_procs.dm
Labels: Type: Bug

#9845 Add %count and %countprey string replacers in belly messages
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
Labels: Type: Feature/Suggestion

#9828 Makes all synthetic limbs freely attachable/detachable.
  code/modules/organs/robolimbs.dm
Labels: Type: Feature/Suggestion

#9847 Excludes Proteans from limb-detaching ability
  code/modules/mob/living/carbon/human/human_modular_limbs.dm
Labels: Type: Bug

#9860 Adds a bunch more boards to technical storage and AI law storage, makes appliance boards makeable in autolathe
  code/datums/autolathe/engineering_vr.dm
  maps/tether/tether-06-station2.dmm
Labels: Type: Map

#9861 adds cool and fun new interactable environmental object
  code/modules/reagents/reagent_dispenser.dm
  icons/obj/objects_vr.dmi
Labels: Type: Icon

#9859 Add files via upload
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Map

#9868 Gateway for Heads, Pilot to Civ
  code/game/jobs/job/captain_vr.dm
  code/game/jobs/job/engineering_vr.dm
  code/game/jobs/job/exploration_vr.dm
  code/game/jobs/job/medical_vr.dm
  code/game/jobs/job/science_vr.dm
  code/game/jobs/job/security_vr.dm
  code/game/jobs/jobs.dm
  code/game/objects/items/devices/radio/headset_vr.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#9877 Minor mapfixes
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
Labels: Type: Map

#9865 Adds HYPER suit
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/research/designs/misc_vr.dm
  code/modules/vore/eating/living_vr.dm
  icons/mob/uniform_vr.dmi
  icons/obj/clothing/uniforms_vr.dmi
Labels: Type: Icon

#9881 Carbonkin Content port + Trait whitelisting
  code/modules/client/preference_setup/vore/07_traits.dm
  code/modules/mob/living/carbon/human/species/shadekin/_defines.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin_abilities.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin_trait.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/trait.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#9854 Makes drag-drop bodyjacking not break aghost bonds
  code/modules/admin/admin.dm
Labels: Task: Send this to Polaris, Type: Feature/Suggestion

#9885 Hard resets Icons to Polaris
  icons/obj/computer.dmi
  icons/obj/device.dmi
  icons/obj/items.dmi
  icons/obj/janitor.dmi
  icons/obj/modular_console.dmi
  icons/obj/modular_laptop.dmi
  icons/obj/modular_tablet.dmi
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
  icons/obj/stacks.dmi
  icons/obj/surgery.dmi
  icons/obj/tools.dmi
  icons/obj/weapons.dmi
  vorestation.dme
Labels: Type: Icon

#9888 Adds some copper stacks
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
Labels: Type: Map

#9903 Replaces Myarp
  sound/voice/myarp.ogg
Labels: Type: Sound

#9911 Don't even install gcc-multilib at all.
  .github/workflows/ci.yml
Labels: Sev: 1-Blocker, Type: .git or .github

#9912 Cola Machine Revamp
  icons/obj/vending.dmi
  icons/obj/vending_vr.dmi
Labels: Type: Icon

#9913 Adds a new maint pred mob
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/sect_drone.dm
  code/modules/mob/living/simple_mob/subtypes/vore/sect_queen.dm
  icons/mob/vore64x64.dmi
  vorestation.dme
Labels: Type: Icon

#9917 Paw Cow fixes
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#9915 Oversized t-shirt + chiton fix
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/suits/miscellaneous_vr.dm
  icons/mob/suit_vr.dmi
  icons/obj/clothing/suits_vr.dmi
Labels: Type: Icon

#9918 Fixes pathfinders being unable to access their office.
  maps/tether/tether-06-station2.dmm
Labels: Type: Map

#9906 Remove weird helmet thing from Forensic Technician outfit
  code/datums/outfits/jobs/security.dm
Labels: Type: Feature/Suggestion

#9908 add c a l c i u m
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Labels: Type: Feature/Suggestion

#9939 Small Map Fix - Arcade Machines
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#9941 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#9940 Talon tweaks
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  maps/offmap_vr/talon/talon.dm
  maps/offmap_vr/talon/talon1.dmm
  maps/tether/tether_jobs.dm
Labels: Type: Map

#9949 Adds a bit more connection to fish farm maintenance
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#9952 Adds myself to Xenochimera whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#9971 Adds Poppy to engineering
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#9977 Ports tentacle tails.
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#9944 Fix Missing DSI Roboparts
  code/modules/organs/robolimbs_custom.dm
  code/modules/organs/robolimbs_vr.dm
Labels: Type: Bug

#9984 Connects surface 1 research to atmos network
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#9982 Fixes scaling mode toggle verb not persisting
  code/modules/vore/eating/living_vr.dm
Labels: Type: Bug

#9983 Fixes https://github.com/VOREStation/VOREStation/issues/9975
  code/datums/datacore.dm
Labels: Task: Send this to Polaris, Type: Bug

#9985 Adds a mech charger to cargo near the belt mining shuttle
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#9978 Adds Xenochimera variants of some positive and negative traits
  code/modules/mob/living/carbon/human/species/station/xenochimera_trait_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#9996 Fixes a secret area
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#10007 Fixes Fluff and ITG ID cards, refactors event/fluff IDs a lil', also fixes for digested id icons
  code/game/objects/items/weapons/id cards/cards.dm
  code/game/objects/items/weapons/id cards/id_stacks.dm
  code/game/objects/items/weapons/id cards/id_stacks_vr.dm
  code/game/objects/items/weapons/id cards/station_ids_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/eating/digest_act_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/obj/card_new_vr.dmi
  maps/offmap_vr/om_ships/itglight.dmm
Labels: Type: Fluff, Type: Icon, Type: Map

#10010 Mar 24 2021 Hotfix
  code/game/objects/items/weapons/id cards/cards.dm
  code/game/objects/items/weapons/id cards/id_stacks.dm
  code/game/objects/items/weapons/id cards/id_stacks_cit.dm
  code/game/objects/items/weapons/id cards/id_stacks_deptname.dm
  code/game/objects/items/weapons/id cards/id_stacks_vr.dm
  code/game/objects/items/weapons/id cards/station_ids_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/mob/inventory.dm
  code/modules/organs/subtypes/standard.dm
  code/modules/vore/eating/digest_act_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/obj/card_new_vr.dmi
  maps/offmap_vr/om_ships/itglight.dmm
  maps/southern_cross/events/wildlife_encounter.dm
  maps/southern_cross/southern_cross.dm
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#10016 Adds alternative ID cards!
  code/game/objects/items/weapons/id cards/station_ids_vr.dm
  icons/obj/card_alt_vr.dmi
Labels: Type: Icon

#10012 using rutile in alloys no longer makes slag
  code/modules/mining/ore_datum.dm
Labels: Task: Send this to Polaris, Type: Bug

#9976 Micro March beta update.
  code/_helpers/global_lists_vr.dm
  code/datums/supplypacks/recreation_vr.dm
  code/game/area/Space Station 13 areas_vr.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/smoleworld/smoleworld_vr.dm
  icons/vore/smoleworld_vr.dmi
  maps/tether/submaps/tether_misc.dmm
  sound/effects/footstep/giantstep_gigga.ogg
  sound/effects/footstep/giantstep_gigga2(unsused).ogg
  sound/effects/footstep/giantstep_normal(unsused).ogg
  sound/effects/footstep/giantstep_normal2(unsused).ogg
  sound/items/drop/smolematerial.ogg
  sound/items/smolebuildingdestoryed.ogg
  sound/items/smolebuildingdestoryedshort.ogg
  sound/items/smolebuildinghit1.ogg
  sound/items/smolebuildinghit2.ogg
  sound/items/smolelargebuilding(unused).ogg
  sound/items/smolelargeunbuild.ogg
  sound/items/smolesmallbuild.ogg
  sound/items/storage/smolecase.ogg
  sound/items/tinytether.ogg
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Sound

#10029 MORE ALT ID STUFF
  code/game/objects/items/weapons/id cards/station_ids_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_utility_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/obj/card_alt_vr.dmi
Labels: Type: Fluff, Type: Icon

#10032 Adminbus Area Modifications
  code/game/objects/items/devices/translocator_vr.dm
  code/modules/admin/verbs/randomverbs.dm
  maps/offmap_vr/om_ships/mercship.dm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/guttersite.dm
  maps/submaps/admin_use_vr/guttersite.dmm
  maps/submaps/depreciated_vr/_depreciated.dm
  maps/submaps/depreciated_vr/ert_base.dmm
  maps/submaps/depreciated_vr/mercbase.dmm
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas.dm
  maps/tether/tether_defines.dm
  maps/tether/tether_shuttles.dm
  maps/tether/tether_telecomms.dm
Labels: Type: Map

#10044 OM edge tweak
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Map

#10045 March 29, 2021 Hotfix 3
  code/datums/supplypacks/recreation_vr.dm
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Map

#10047 Properly garbage collects carp
  code/modules/overmap/spacetravel.dm
Labels: Task: Send this to Polaris, Type: Bug
