Repository VOREStation/VOREStation, pull requests merged in 2021-12, with the labels that each got.

#11930 add Hunterbirk to Protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#11931 Adds Amaryll's claws fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#11921 Snakes are Sweet
  code/game/objects/effects/semirandom_mobs_vr.dm
  code/modules/mob/living/simple_mob/donteatpets_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/snake_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/frog.dm
  code/modules/reagents/reactions/instant/instant_vr.dm
  icons/mob/snake_vr.dmi
  maps/expedition_vr/beach/_beach.dm
Labels: Type: Icon

#11926 Adds Jackalope ears and antlers
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  icons/mob/vore/ears_32x64.dmi
Labels: Type: Icon

#11937 Adds updated "Tall" Cyborg Variants
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  icons/mob/robots_vr.dmi
Labels: Type: Icon

#11941 v2 science outpost rework
  maps/expedition_vr/aerostat/_aerostat_science_outpost.dm
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
Labels: Type: Map

#11947 pastelprincedan & hatterhat fluff items
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Type: Fluff, Type: Icon

#11935 Custom item for Coolcrow420, minor change to stamp code
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/rings/rings.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/stamps.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#11954 12/3/21 Patch
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/rings/rings.dm
  code/modules/mob/living/carbon/human/death_vr.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/spacewhale.dm
  code/modules/nifsoft/nif.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/stamps.dm
  code/modules/vore/eating/digest_act_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#11959 Fix da sofas
  icons/obj/sofas.dmi
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Icon, Type: Map

#11963 12/4/21 I should be asleep Patch
  code/game/objects/items/devices/denecrotizer_vr.dm
  code/game/objects/items/weapons/capture_crystal.dm
  icons/obj/sofas.dmi
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Icon, Type: Map

#11977 Gives security shortwaves
  maps/stellardelight/stellar_delight1.dmm
Labels: Type: Map

#11982 Adds Heroman3003 to Xenochimera whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#11983 Fixes the ERT Ship
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  maps/offmap_vr/common_offmaps.dm
  maps/stellardelight/ship_centcom.dmm
  maps/stellardelight/stellar_delight_telecomms.dm
  maps/submaps/admin_use_vr/ert.dmm
  maps/tether/submaps/tether_centcom.dmm
  maps/tether/tether_telecomms.dm
Labels: Type: Map

#11986 slight adjustments to jackalope antlers
  icons/mob/vore/ears_32x64.dmi
Labels: Type: Icon

#11990 Brings back pre-fulp labcoat icons to loadout and vendors
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/suits/labcoat_vr.dm
  code/modules/economy/vending_machines.dm
  code/modules/economy/vending_machines_vr.dm
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
Labels: Type: Icon

#11997 Fixes some issues with icons in hydroponics
  code/modules/hydroponics/trays/tray_update_icons.dm
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
Labels: Type: Icon

#12000 It's almost crummuz
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Map

#12001 12/10/21 Update
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  code/modules/mob/new_player/sprite_accessories_ear.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/reagents/reactions/instant/drinks_vr.dm
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Icon, Type: Map

#12007 Whitelist Adjustments
  config/alienwhitelist.txt
Labels: Type: Fluff

#12009 12/12/21 Tweak
  config/alienwhitelist.txt
Labels: Type: Fluff

#11851 ckey transfer
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#12014 Adds fire and air alarms to QM office
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Map

#12020 Fixes Recovery Room access restrictions
  maps/stellardelight/stellar_delight1.dmm
Labels: Type: Map

#12022 Even more pupdozer anim fixes.
  icons/mob/widerobot_eng_vr.dmi
Labels: Type: Icon

#12027 Revamps adminbus portals
  code/modules/multiz/ladders_vr.dm
  code/modules/multiz/portals_vr.dm
  icons/obj/stationobjs_vr.dmi
  vorestation.dme
Labels: Type: Icon

#12028 12/22/21 - Update
  code/__defines/belly_modes_vr.dm
  code/datums/autolathe/medical_vr.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/spacesuits/rig/modules/specific/passive_protection.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_mob/combat.dm
  code/modules/mob/living/simple_mob/subtypes/humanoid/mercs/mercs.dm
  code/modules/multiz/ladders_vr.dm
  code/modules/multiz/portals_vr.dm
  code/modules/research/mechfab_designs.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/resizing/resize_vr.dm
  icons/inventory/belt/mob_teshari.dmi
  icons/mob/species/teshari/back.dmi
  icons/mob/species/teshari/head.dmi
  icons/mob/species/teshari/masks.dmi
  icons/mob/species/teshari/suit.dmi
  icons/mob/species/teshari/uniform.dmi
  icons/mob/widerobot_eng_vr.dmi
  icons/obj/stationobjs_vr.dmi
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight2.dmm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map
