Repository VOREStation/VOREStation, pull requests merged in 2021-01, with the labels that each got.

#9542 Fixes mistakes I made adding Verie's fluff items
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
Labels: Type: Fluff

#9546 fixes a bunch of little nagging issues on the surface levels
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#9549 Fixes a rogue area
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#9550 Remaps the tram to fit more crew
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#9541 Added Drakeborgs for sillicons along with plushies
  code/game/objects/items/toys/toys_vr.dm
  code/game/objects/random/misc.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  icons/mob/drakeborg/Drakeborg-Licensing.txt
  icons/mob/drakeborg/drakeborg_vr.dmi
  icons/mob/widerobot_vr.dmi
  icons/obj/drakietoy_vr.dmi
Labels: Type: Icon

#9558 January 09 2021 Patch
  code/_helpers/unsorted.dm
  code/_onclick/hud/_defines_vr.dm
  code/_onclick/hud/human.dm
  code/controllers/configuration.dm
  code/datums/supplypacks/misc.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/vending_machines.dm
  code/game/objects/items/toys/toys_vr.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/random/misc.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/materials/material_recipes.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin_hud.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_powers.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  config/jobwhitelist.txt
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/mob/drakeborg/Drakeborg-Licensing.txt
  icons/mob/drakeborg/drakeborg_vr.dmi
  icons/mob/shadekin_hud.dmi
  icons/mob/widerobot_vr.dmi
  icons/obj/drakietoy_vr.dmi
  icons/obj/toy_vr.dmi
  icons/turf/flooring/decals.dmi
  icons/turf/flooring/decals_vr.dmi
  icons/vore/custom_clothes_vr.dmi
  maps/offmap_vr/talon/talon1.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Fluff, Type: Icon

#9559 Adds tertiary color glow/accents for the synth taurs
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#9562 Adds some wearable pelts to the loadout.
  code/modules/client/preference_setup/loadout/loadout_head_vr.dm
  code/modules/clothing/head/misc_vr.dm
  icons/mob/head_vr.dmi
  icons/mob/wolfpelt_vr.dmi
  icons/obj/clothing/hats_vr.dmi
Labels: Type: Icon

#9575 More chubby oties
  code/modules/mob/living/simple_mob/subtypes/vore/otie.dm
  code/modules/mob/living/simple_mob/subtypes/vore/wolf.dm
  icons/mob/vore64x32.dmi
Labels: Type: Icon

#9583 Little tweaks
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#9585 Rebuilds the wideborg sprite file
  icons/mob/widerobot_vr.dmi
Labels: Type: Icon

#9589 Makes the beach cool
  code/game/turfs/unsimulated/beach_vr.dm
  code/modules/planet/virgo4_vr.dm
  maps/expedition_vr/beach/_beach.dm
  maps/expedition_vr/beach/beach.dmm
  maps/tether/tether_defines.dm
  vorestation.dme
Labels: Type: Map

#9588 Add in extra Ram horns.
  code/modules/vore/appearance/sprite_accessories_vr.dm
  icons/mob/vore/ears_vr.dmi
Labels: Type: Fluff, Type: Icon

#9593 Pre-emptive Pre port of CHicken noodle soup item from Polaris
  code/modules/food/food/snacks.dm
  code/modules/food/recipes_microwave.dm
  icons/obj/food_custom.dmi
Labels: Type: Icon

#9582 Makes most neutral traits available to all species
  code/_helpers/global_lists_vr.dm
  code/game/dna/dna2.dm
  code/game/dna/dna2_helpers.dm
  code/modules/client/preference_setup/vore/07_traits.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/alraune.dm
  code/modules/mob/living/carbon/human/species/station/blank_vr.dm
  code/modules/mob/living/carbon/human/species/station/prometheans_vr.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/trait.dm
Labels: Type: Feature/Suggestion

#9596 Whitelist update >Protean Clown
  config/alienwhitelist.txt
Labels: Type: Fluff

#9609 Chopped up the wideborg files.
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  icons/mob/widerobot_car_vr.dmi
  icons/mob/widerobot_eng_vr.dmi
  icons/mob/widerobot_jan_vr.dmi
  icons/mob/widerobot_med_vr.dmi
  icons/mob/widerobot_sci_vr.dmi
  icons/mob/widerobot_sec_vr.dmi
  icons/mob/widerobot_ser_vr.dmi
  icons/mob/widerobot_vr.dmi
Labels: Type: Icon

#9608 Adds in Ripped Hephestus jump suit and black duffle bag for were beasts
  icons/mob/species/werebeast/back.dmi
  icons/mob/species/werebeast/uniform.dmi
Labels: Type: Icon

#9611 Fixes issue in Astras Fluff item.
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Fluff

#9341 ML3M Rebalancing
  code/modules/projectiles/guns/energy/cell_loaded_vr/ml3m_cells.dm
Labels: Type: Feature/Suggestion

#9618 Some minor fixes
  code/modules/awaymissions/gateway.dm
  maps/tether/tether-07-station3.dmm
Labels: Type: Map

#9626 Fixes station shieldgen icon jank (supposedly)
  code/modules/shieldgen/energy_shield.dm
  code/modules/shieldgen/shield_gen.dm
  code/modules/shieldgen/shield_generator.dm
  icons/obj/machines/shielding.dmi
  icons/obj/machines/shielding_vr.dmi
Labels: Type: Icon
