Repository VOREStation/VOREStation, pull requests merged in 2021-08, with the labels that each got.

#11310 ZeraCyfr - Xenochimera CHaracter app.
  config/alienwhitelist.txt
Labels: Type: Fluff

#11311 Vore Panel and Character Setup HUD buttons
  code/modules/mob/living/living.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/logout.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/mob/screen/holo.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
Labels: Type: Icon

#11312 Fix pilot uniform icon
  maps/southern_cross/icons/mob/sc_under.dmi
  maps/southern_cross/icons/mob/species/teshari/sc_uniform.dmi
Labels: Type: Icon

#11315 July 31st 2021 Update
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/skills.dm
  code/modules/ai/ai_holder_targeting.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/logout.dm
  code/modules/mob/living/simple_mob/subtypes/animal/giant_spider/nurse.dm
  code/modules/mob/living/simple_mob/subtypes/vore/zz_vore_overrides.dm
  code/modules/multiz/movement.dm
  code/modules/multiz/movement_vr.dm
  code/modules/turbolift/turbolift.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  config/alienwhitelist.txt
  icons/mob/screen/holo.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
  maps/southern_cross/icons/mob/sc_under.dmi
  maps/southern_cross/icons/mob/species/teshari/sc_uniform.dmi
Labels: Type: Fluff, Type: Icon

#11316 Adds in new vine and coils belly overlays
  icons/mob/screen_full_vore.dmi
Labels: Type: Icon

#11305 Janitor Equipment Fix
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/modules/economy/vending_machines.dm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#11295 Sanitize tether maps from re-default vars
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-07-solars.dmm
Labels: Type: Map

#11331 Skyrat benches
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/obj/sofas.dmi
Labels: Type: Icon

#11327 Skyrat wallmed vendor
  icons/obj/vending.dmi
Labels: Type: Icon

#11328 Skyrat field generator sprites
  code/modules/power/singularity/containment_field.dm
  icons/obj/machines/field_generator.dmi
Labels: Type: Icon

#11335 Skyrat rack sprite
  code/modules/tables/rack_vr.dm
  icons/obj/objects_vr.dmi
Labels: Type: Icon

#11330 Skyrat disposals sprites
  icons/obj/pipes/disposal.dmi
Labels: Type: Icon

#11337 SMART Rifle
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/guns/projectile/smartgun.dm
  icons/obj/guns/projectile/smartgun_32.dmi
  icons/obj/guns/projectile/smartgun_item.dmi
  icons/obj/guns/projectile/smartgun_mob.dmi
  sound/weapons/smartgunclose.ogg
  sound/weapons/smartgunopen.ogg
  vorestation.dme
Labels: Type: Icon, Type: Sound

#11353 Keys In The ATV - That One ATV Can Have Its Battery Replaced Now
  maps/submaps/surface_submaps/plains/priderock.dmm
Labels: Type: Map

#11346 Content removal by request
  code/modules/mob/living/simple_mob/subtypes/horror/Eddy.dm
  code/modules/mob/living/simple_mob/subtypes/horror/Master.dm
  code/modules/mob/living/simple_mob/subtypes/horror/Rickey.dm
  code/modules/mob/living/simple_mob/subtypes/horror/Smiley.dm
  code/modules/mob/living/simple_mob/subtypes/horror/Steve.dm
  code/modules/mob/living/simple_mob/subtypes/horror/Willy.dm
  code/modules/mob/living/simple_mob/subtypes/horror/bradley.dm
  code/modules/mob/living/simple_mob/subtypes/horror/horror .dm
  code/modules/mob/living/simple_mob/subtypes/horror/sally.dm
  code/modules/mob/living/simple_mob/subtypes/horror/shittytim.dm
  code/modules/mob/living/simple_mob/subtypes/horror/timling.dm
  code/modules/reagents/reactions/instant/instant_vr.dm
  maps/submaps/admin_use_vr/guttersite.dm
  maps/submaps/admin_use_vr/guttersite.dmm
  maps/tether/submaps/_tether_submaps.dm
  sound/h_sounds/headcrab.ogg
  sound/h_sounds/holla.ogg
  sound/h_sounds/imbeciles.ogg
  sound/h_sounds/lynx.ogg
  sound/h_sounds/mumble.ogg
  sound/h_sounds/negative.ogg
  sound/h_sounds/sampler.ogg
  sound/h_sounds/shitty_tim.ogg
  sound/h_sounds/src/sampler1.ogg
  sound/h_sounds/src/sampler2.ogg
  sound/h_sounds/src/sampler3.ogg
  sound/h_sounds/src/sampler3speed.ogg
  sound/h_sounds/src/sampler4.3.ogg
  sound/h_sounds/src/shitty tim 2.ogg
  sound/h_sounds/src/shitty tim.ogg
  sound/h_sounds/src/shitty tim1.ogg
  sound/h_sounds/src/shitty tim3.ogg
  sound/h_sounds/src/shitty tim4.ogg
  sound/h_sounds/wor.ogg
  sound/h_sounds/yell.ogg
  sound/h_sounds/youknowwhoitis.ogg
  vorestation.dme
Labels: Type: Map, Type: Sound

#11336 Skyrat extinguisher cabinet sprites
  code/game/objects/structures/extinguisher.dm
  icons/obj/closet.dmi
Labels: Type: Icon

#11338 New Floor Tanks
  code/modules/mob/living/bot/farmbot.dm
  code/modules/reagents/machinery/dispenser/reagent_tank.dm
  icons/obj/chemical_tanks.dmi
Labels: Type: Icon

#11342 Skyrat connected consoles
  code/game/machinery/computer/computer.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/overmap/ships/computers/engine_control.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/computers/sensors.dm
  icons/obj/computer.dmi
  icons/obj/computer_vr.dmi
  icons/obj/modular_console.dmi
Labels: Type: Icon

#11355 Fix for Issue #11354
  code/modules/reagents/reactions/instant/drinks.dm
  code/modules/reagents/reactions/instant/drinks_vr.dm
  maps/offmap_vr/talon/talon_v2.dmm
Labels: Type: Map

#11343 Port Eris maint drone as option
  code/modules/mob/living/silicon/robot/drone/drone.dm
  icons/mob/robots.dmi
Labels: Type: Icon

#11341 Fancy sprited shuttles
  code/_helpers/turfs.dm
  code/datums/elements/turf_transparency.dm
  code/game/sound.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/simulated/fancy_shuttles.dm
  code/game/turfs/turf.dm
  code/modules/overmap/ships/engines/ion_thruster.dm
  code/modules/shuttles/shuttle.dm
  icons/obj/sofas.dmi
  icons/turf/fancy_shuttles/_fancy_helpers.dmi
  icons/turf/fancy_shuttles/delivery.dmi
  icons/turf/fancy_shuttles/delivery_preview.dmi
  icons/turf/fancy_shuttles/dropship.dmi
  icons/turf/fancy_shuttles/dropship_preview.dmi
  icons/turf/fancy_shuttles/escape.dmi
  icons/turf/fancy_shuttles/escape_preview.dmi
  icons/turf/fancy_shuttles/generic.dmi
  icons/turf/fancy_shuttles/generic_preview.dmi
  icons/turf/fancy_shuttles/lifeboat.dmi
  icons/turf/fancy_shuttles/lifeboat_preview.dmi
  icons/turf/fancy_shuttles/miner.dmi
  icons/turf/fancy_shuttles/miner_preview.dmi
  icons/turf/fancy_shuttles/orangeline.dmi
  icons/turf/fancy_shuttles/orangeline_preview.dmi
  icons/turf/fancy_shuttles/pod.dmi
  icons/turf/fancy_shuttles/pod_preview.dmi
  icons/turf/fancy_shuttles/science.dmi
  icons/turf/fancy_shuttles/science_preview.dmi
  icons/turf/fancy_shuttles/tourbus.dmi
  icons/turf/fancy_shuttles/tourbus_preview.dmi
  icons/turf/fancy_shuttles/wagon.dmi
  icons/turf/fancy_shuttles/wagon_preview.dmi
  icons/turf/shuttle_parts_vr.dmi
  maps/offmap_vr/om_ships/aro3.dm
  maps/offmap_vr/om_ships/aro3.dmm
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas.dm
  maps/tether/tether_turfs.dm
  vorestation.dme
Labels: Type: Icon

#10786 Updates various sound files
  sound/effects/alert_levels/red_alert.ogg
  sound/voice/EDPlaceholder.ogg
  sound/voice/ed209_20sec.ogg
  sound/voice/syndicate intro.ogg
  sound/weapons/Gunshot1.ogg
  sound/weapons/Gunshot_light.ogg
  sound/weapons/Gunshot_shotgun.ogg
  sound/weapons/Laser.ogg
  sound/weapons/Taser.ogg
  sound/weapons/armbomb.ogg
  sound/weapons/blaster_pistol.ogg
  sound/weapons/gunshot2.ogg
  sound/weapons/gunshot3.ogg
  sound/weapons/gunshot4.ogg
  sound/weapons/taser2.ogg
Labels: Type: Sound

#11301 CHOMPStation Casino Port
  code/game/machinery/clawmachine.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/structures/dancepole_vr.dm
  code/game/objects/structures/salvageable.dm
  code/modules/casino/casino.dm
  code/modules/casino/casino_book.dm
  code/modules/casino/casino_cards.dm
  code/modules/casino/casino_prize_vendor.dm
  code/modules/casino/premium_dispenser.dm
  code/modules/casino/premium_vendors.dm
  code/modules/casino/slots.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/economy/casinocash.dm
  icons/inventory/accessory/item_vr.dmi
  icons/inventory/accessory/mob_vr.dmi
  icons/inventory/accessory/mob_vr_teshari.dmi
  icons/obj/64x64.dmi
  icons/obj/casino.dmi
  icons/obj/computer.dmi
  icons/obj/playing_cards.dmi
  icons/obj/salvageable.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether_areas.dm
  sound/machines/clawmachine_play.ogg
  sound/machines/clawmachine_win.ogg
  sound/machines/roulette.ogg
  sound/machines/slotmachine.ogg
  sound/machines/slotmachine_pull.ogg
  tgui/packages/tgui/interfaces/CasinoPrizeDispenser.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Sound

#11358 Modify 4 sounds per staff
  sound/effects/alert_levels/deltaklaxon.ogg
  sound/effects/alert_levels/red_alert.ogg
  sound/weapons/Gunshot_light.ogg
  sound/weapons/Gunshot_shotgun.ogg
Labels: Type: Sound

#11362 Smartfridge Fix
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#11360 Fancy exploration shuttle
  code/game/turfs/simulated/fancy_shuttles.dm
  code/modules/ai/ai_holder_combat.dm
  icons/turf/fancy_shuttles/exploration.dmi
  icons/turf/fancy_shuttles/exploration_preview.dmi
  icons/turf/fancy_shuttles/medical.dmi
  icons/turf/fancy_shuttles/medical_preview.dmi
  icons/turf/fancy_shuttles/security.dmi
  icons/turf/fancy_shuttles/security_preview.dmi
  maps/tether/tether-05-station1.dmm
  maps/tether/tether_areas.dm
  maps/tether/tether_shuttles.dm
Labels: Type: Icon, Type: Map

#11368 Port of monster860's animated doors to Bay closets
  code/game/objects/effects/overlays.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/poi_items.dm
  code/game/objects/structures/crates_lockers/__closets.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/game/objects/structures/crates_lockers/closets/crittercrate.dm
  code/game/objects/structures/crates_lockers/closets/egg_vr.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  code/game/objects/structures/crates_lockers/crates.dm
  icons/obj/closets/bases/cabinet.dmi
  icons/obj/closets/bases/cart.dmi
  icons/obj/closets/bases/closet.dmi
  icons/obj/closets/bases/crate.dmi
  icons/obj/closets/bases/large_crate.dmi
  icons/obj/closets/decals/closet.dmi
Labels: Type: Icon

#11371 Vore Day Smol Fixes
  code/controllers/subsystems/skybox.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/poi_items.dm
  code/game/objects/structures/crates_lockers/__closets.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/game/objects/structures/crates_lockers/closets/crittercrate.dm
  code/game/objects/structures/crates_lockers/closets/egg_vr.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mob/living/carbon/human/examine_vr.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin.dm
  code/modules/overmap/ships/ship_vr.dm
  icons/obj/closets/bases/cabinet.dmi
  icons/obj/closets/bases/cart.dmi
  icons/obj/closets/bases/closet.dmi
  icons/obj/closets/bases/crate.dmi
  icons/obj/closets/bases/large_crate.dmi
  icons/obj/closets/decals/closet.dmi
Labels: Type: Icon

#11377 re-adds wallflower space to the tram
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Map

#11376 non-departmental jackets
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/mob/items/lefthand_suits.dmi
  icons/mob/items/righthand_suits.dmi
Labels: Type: Icon

#11378 AaAaA
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/overmap/ships/ship_vr.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/mob/items/lefthand_suits.dmi
  icons/mob/items/righthand_suits.dmi
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Icon, Type: Map

#11379 Fixes missing wire by the cryo
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#11384 Virology Revamp
  code/game/objects/items/weapons/manuals.dm
  code/modules/food/kitchen/smartfridge/medical.dm
  code/modules/reagents/machinery/dispenser/reagent_tank.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/items_devices.dm
  icons/obj/device_vr.dmi
  icons/obj/library.dmi
  icons/obj/virology_vr.dmi
  maps/tether/tether-01-surface1.dmm
Labels: Type: Icon, Type: Map

#11392 Fancy Lifeboats
  code/game/turfs/simulated/fancy_shuttles.dm
  icons/turf/fancy_shuttles/lifeboat1.dmi
  icons/turf/fancy_shuttles/lifeboat1_preview.dmi
  icons/turf/fancy_shuttles/lifeboat2.dmi
  icons/turf/fancy_shuttles/lifeboat2_preview.dmi
  icons/turf/fancy_shuttles/pod_preview.dmi
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Icon, Type: Map

#11391 Orange Line Upgrade
  icons/turf/fancy_shuttles/orangeline.dmi
  icons/turf/fancy_shuttles/orangeline_preview.dmi
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-01-surface1.dmm
Labels: Type: Icon, Type: Map

#11398 Przy creations port from Chompers
  code/modules/mob/living/silicon/robot/dogborg/dog_modules_vr.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/bigdragon.dm
  code/modules/mob/living/simple_mob/subtypes/vore/greatwolf.dm
  code/modules/mob/living/simple_mob/subtypes/vore/leopardmander.dm
  code/modules/vore/eating/belly_obj_vr.dm
  icons/effects/bigdragon_labels.dmi
  icons/mob/64x64robot_vr.dmi
  icons/mob/bigdragon_small.dmi
  icons/mob/dogborg_vr.dmi
  icons/mob/vore128x64.dmi
  icons/mob/widerobot_ert_vr.dmi
  vorestation.dme
Labels: Type: Icon

#11381 Tweak quad HUD icons alignment
  icons/mob/screen/midnight.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
Labels: Type: Icon

#11416 Spirit1299 Species Whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#11419 Fixes telecomms teleporter access
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#11417 Mining Vendor
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  icons/obj/vending.dmi
Labels: Type: Icon

#11403 Port a few POIs from Chomp for big critters on Plains
  code/modules/mob/living/simple_mob/subtypes/vore/bigdragon.dm
  code/modules/mob/living/simple_mob/subtypes/vore/greatwolf.dm
  code/modules/mob/living/simple_mob/subtypes/vore/leopardmander.dm
  maps/submaps/surface_submaps/plains/dogbase.dmm
  maps/submaps/surface_submaps/plains/drgnplateu.dmm
  maps/submaps/surface_submaps/plains/emptycabin.dmm
  maps/submaps/surface_submaps/plains/greatwolfden.dmm
  maps/submaps/surface_submaps/plains/leopardmanderden.dmm
  maps/submaps/surface_submaps/plains/lonewolf.dmm
  maps/submaps/surface_submaps/plains/otieshelter.dmm
  maps/submaps/surface_submaps/plains/plains.dm
  maps/submaps/surface_submaps/plains/syndisniper.dmm
  maps/submaps/surface_submaps/wilderness/dogbase.dmm
  maps/submaps/surface_submaps/wilderness/drgnplateu.dmm
  maps/submaps/surface_submaps/wilderness/emptycabin.dmm
  maps/submaps/surface_submaps/wilderness/greatwolfden.dmm
  maps/submaps/surface_submaps/wilderness/leopardmanderden.dmm
  maps/submaps/surface_submaps/wilderness/lonewolf.dmm
  maps/submaps/surface_submaps/wilderness/otieshelter.dmm
  maps/submaps/surface_submaps/wilderness/syndisniper.dmm
  maps/submaps/surface_submaps/wilderness/wilderness.dm
  maps/submaps/surface_submaps/wilderness/wilderness_areas.dm
  maps/tether/submaps/tether_plains.dmm
  maps/tether/tether_turfs.dm
Labels: Type: Map

#11103 Survival crafting stuff
  code/__defines/crafting.dm
  code/__defines/materials.dm
  code/datums/components/crafting/recipes/survival.dm
  code/game/objects/items/weapons/bones.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/structures/flora/flora.dm
  code/game/sound.dm
  code/game/turfs/simulated/outdoors/outdoors_vr.dm
  code/game/turfs/simulated/outdoors/survival_action_vr.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/hydroponics/trays/tray_soil.dm
  code/modules/materials/materials/organic/cloth.dm
  code/modules/materials/materials/organic/wood.dm
  code/modules/materials/materials/stone.dm
  code/modules/materials/sheets/organic/animal_products.dm
  code/modules/materials/sheets/organic/wood.dm
  code/modules/materials/sheets/stone.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/teppi.dm
  code/modules/mob/living/simple_mob/subtypes/vore/softdog.dm
  code/modules/mob/living/simple_mob/subtypes/vore/wolf.dm
  icons/inventory/accessory/item_vr.dmi
  icons/inventory/accessory/mob_vr.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/mob/alienanimals_x32.dmi
  icons/mob/alienanimals_x64.dmi
  icons/mob/items/lefthand_material.dmi
  icons/mob/items/righthand_material.dmi
  icons/obj/bones_vr.dmi
  icons/obj/items.dmi
  icons/obj/stacks.dmi
  icons/obj/weapons_vr.dmi
  icons/turf/outdoors_vr.dmi
  sound/voice/teppi/cute_rumble.ogg
  sound/voice/teppi/gyooh1.ogg
  sound/voice/teppi/gyooh2.ogg
  sound/voice/teppi/gyooh3.ogg
  sound/voice/teppi/gyooh4.ogg
  sound/voice/teppi/gyooh5.ogg
  sound/voice/teppi/gyooh6.ogg
  sound/voice/teppi/roar.ogg
  sound/voice/teppi/rumble.ogg
  sound/voice/teppi/snoot1.ogg
  sound/voice/teppi/snoot2.ogg
  sound/voice/teppi/whine1.ogg
  sound/voice/teppi/whine2.ogg
  vorestation.dme
Labels: Type: Icon, Type: Sound

#11424 Fixes Pandora029's fluff winter coat + quick tweak on it.
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Type: Fluff, Type: Icon

#11425 Ports CitRP's fox tail
  code/modules/mob/new_player/sprite_accessories_tail.dm
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#11426 Stun Revolver (Virgo Edition)
  code/modules/economy/vending_machines_vr.dm
  code/modules/projectiles/guns/energy/stun.dm
  icons/obj/gun.dmi
Labels: Type: Icon

#11427 Adds in Sheep vore mob take 2
  code/modules/mob/living/simple_mob/subtypes/vore/sheep.dm
  icons/mob/vore.dmi
  vorestation.dme
Labels: Type: Icon

#11435 Some fixes and and another airlock
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/teppi.dm
  maps/tether/submaps/tether_plains.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether_areas.dm
Labels: Type: Map

#11433 Removes emergency markings from surface shuttle
  icons/turf/fancy_shuttles/lifeboat1.dmi
  icons/turf/fancy_shuttles/lifeboat1_preview.dmi
Labels: Type: Icon

#11439 Ports RD labcoat from CitRP
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/labcoat.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
Labels: Type: Icon

#11440 Fixxes tram doors
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Map

#11445 Virus Fix
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#11441 Fulpstation Labcoats
  code/datums/outfits/jobs/science.dm
  code/modules/clothing/head/hood.dm
  code/modules/clothing/suits/hooded.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/economy/vending_machines.dm
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
Labels: Type: Icon

#11442 Fulpstation Briefcases
  code/game/objects/items/weapons/storage/briefcase.dm
  code/modules/paperwork/pen.dm
  icons/inventory/back/item.dmi
  icons/inventory/back/item_vr.dmi
  icons/inventory/back/mob_vr.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/storage.dmi
Labels: Type: Icon

#11443 Fulpstation Misc Sprites
  icons/obj/stationobjs.dmi
Labels: Type: Icon

#11451 V4 tweaks
  maps/expedition_vr/beach/_beach.dm
  maps/expedition_vr/beach/beach.dmm
Labels: Type: Map

#11452 Well the server crashed so why not update
  code/_helpers/time.dm
  code/controllers/subsystems/ticker.dm
  code/datums/outfits/jobs/science.dm
  code/game/objects/effects/alien/aliens.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/random/mapping.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/world.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/head/hood.dm
  code/modules/clothing/suits/hooded.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/economy/vending_machines.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/simple_mob/hands.dm
  code/modules/mob/living/simple_mob/on_click.dm
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/teppi.dm
  code/modules/mob/mob_grab.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/guns/projectile/boltaction.dm
  code/modules/projectiles/guns/projectile/semiauto.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/inventory/back/item.dmi
  icons/inventory/back/item_vr.dmi
  icons/inventory/back/mob_vr.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/mob/alienanimals_x32.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/stationobjs.dmi
  icons/obj/storage.dmi
  icons/turf/fancy_shuttles/lifeboat1.dmi
  icons/turf/fancy_shuttles/lifeboat1_preview.dmi
  maps/expedition_vr/beach/_beach.dm
  maps/expedition_vr/beach/beach.dmm
  maps/tether/submaps/tether_misc.dmm
  maps/tether/submaps/tether_plains.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether_areas.dm
  tgui/packages/tgui/interfaces/Farmbot.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon

#11463 Makes catslugs slightly less annoying
  code/modules/ai/ai_holder_targeting.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  icons/inventory/head/mob.dmi
  icons/inventory/head/mob_skrell.dmi
  icons/inventory/head/mob_tajaran.dmi
  icons/inventory/head/mob_teshari.dmi
  icons/inventory/head/mob_unathi.dmi
  icons/inventory/head/mob_vr.dmi
  icons/inventory/head/mob_vr_akula.dmi
  icons/inventory/head/mob_vr_sergal.dmi
  icons/inventory/head/mob_vr_skrell.dmi
  icons/inventory/head/mob_vr_tajaran.dmi
  icons/inventory/head/mob_vr_teshari.dmi
  icons/inventory/head/mob_vr_unathi.dmi
  icons/inventory/head/mob_vr_vulpkanin.dmi
  icons/mob/alienanimals_x32.dmi
  icons/mob/items/lefthand_holder.dmi
  icons/mob/items/righthand_holder.dmi
Labels: Type: Icon

#11469 Port some more clothes from CitRP + updates 'off' sprite for mesons & co to match new style.
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/vore/fluffstuff/custom_boxes_vr.dm
  icons/inventory/accessory/item_vr.dmi
  icons/inventory/accessory/mob_vr.dmi
  icons/inventory/eyes/item.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/mob.dmi
Labels: Type: Icon

#11462 Crusher Gaming
  code/__defines/dcs/flags.dm
  code/__defines/dcs/signals.dm
  code/__defines/is_helpers.dm
  code/datums/elements/conflict_checking.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/whetstone.dm
  code/game/objects/items/weapons/storage/belt_vr.dm
  code/modules/clothing/spacesuits/rig/modules/specific/crusher_gauntlets.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/mining/kinetic_crusher.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  code/modules/mining/ore_redemption_machine/survey_vendor.dm
  code/modules/mob/_modifiers/crusher_mark.dm
  code/modules/projectiles/projectile.dm
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/obj/mining_vr.dmi
  sound/items/helmetdeploy.ogg
  sound/weapons/plasma_cutter.ogg
  vorestation.dme
Labels: Type: Icon, Type: Sound

#11471 helLO i forgot to change an icon name for crusher overlays please merge
  code/modules/mining/kinetic_crusher.dm
  icons/obj/mining_vr.dmi
Labels: Type: Icon

#11472 Forgot this part oops
  code/modules/mining/kinetic_crusher.dm
  icons/obj/mining_vr.dmi
Labels: Type: Icon

#11486 Adds talon sprites for contractor IDs
  icons/obj/card_alt_vr.dmi
Labels: Type: Icon

#11517 August 27th 2021 Update
  code/game/objects/items/devices/radio/headset.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  icons/inventory/head/mob.dmi
Labels: Type: Icon
