Repository VOREStation/VOREStation, pull requests merged in 2021-09, with the labels that each got.

#11518 Cleans a couple sprites around.
  code/modules/mob/living/simple_mob/subtypes/mechanical/disbot_vr.dm
  icons/mob/phorous.dmi
  icons/mob/vagrant_vr.dmi
  icons/mob/vore.dmi
Labels: Type: Icon

#11522 Overhauls Resin ability, deletes unused xeno sprites, fixes few things.
  code/game/objects/effects/alien/aliens.dm
  code/game/objects/structures/alien/alien egg.dm
  code/game/objects/structures/alien/alien.dm
  code/game/objects/structures/alien/resin structures.dm
  code/modules/materials/materials/organic/resin.dm
  code/modules/mob/_modifiers/traits_phobias.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
  icons/mob/alien.dmi
  maps/overmap/example_sector2.dmm
  maps/submaps/pois_vr/debris_field/new_escapepod_xeno.dmm
  maps/submaps/surface_submaps/mountains/vault4.dmm
  maps/submaps/surface_submaps/mountains/vault5.dmm
  maps/submaps/surface_submaps/wilderness/xenohive.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#11524 Boxing Day
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/boxes_vr.dm
  code/modules/food/drinkingglass/glass_boxes.dm
  code/modules/nifsoft/nifsoft.dm
  icons/obj/boxes.dmi
  icons/obj/forensics.dmi
  vorestation.dme
Labels: Type: Icon

#11526 Update mob spawners/spawns
  code/game/objects/effects/semirandom_mobs_vr.dm
  maps/tether/submaps/tether_plains.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-mining.dmm
  maps/tether/tether-07-solars.dmm
  maps/tether/tether_things.dm
Labels: Type: Map

#11253 Makes sizegun sprite actually look like a size ray
  code/modules/vore/resizing/sizegun_vr.dm
  icons/obj/gun_vr.dmi
Labels: Type: Icon

#11550 Updates whitelists
  config/alienwhitelist.txt
  config/jobwhitelist.txt
Labels: Type: Fluff

#11562 Medical and utility belts of holding
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/research/designs/bag_of_holding.dm
  icons/inventory/belt/item.dmi
Labels: Type: Icon

#11575 New Red Phone sprite and Weight Scale sprite
  icons/obj/items.dmi
  icons/obj/machines/fitness_machines_vr.dmi
Labels: Type: Icon

#11593 PastelPrinceDan fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Type: Fluff, Type: Icon

#11606 Plains POI Audit
  maps/submaps/surface_submaps/plains/Boathouse_vr.dmm
  maps/submaps/surface_submaps/plains/Diner_vr.dmm
  maps/submaps/surface_submaps/plains/Epod.dmm
  maps/submaps/surface_submaps/plains/Epod2.dmm
  maps/submaps/surface_submaps/plains/Field1.dmm
  maps/submaps/surface_submaps/plains/Mechpt.dmm
  maps/submaps/surface_submaps/plains/PascalB.dmm
  maps/submaps/surface_submaps/plains/Peninsula.dmm
  maps/submaps/surface_submaps/plains/PlainsKururak.dmm
  maps/submaps/surface_submaps/plains/PooledR_vr.dmm
  maps/submaps/surface_submaps/plains/RationCache.dmm
  maps/submaps/surface_submaps/plains/RationCache_vr.dmm
  maps/submaps/surface_submaps/plains/Rocky2.dmm
  maps/submaps/surface_submaps/plains/Shakden_vr.dmm
  maps/submaps/surface_submaps/plains/Smol3.dmm
  maps/submaps/surface_submaps/plains/SupplyDrop2.dmm
  maps/submaps/surface_submaps/plains/Thiefc_vr.dmm
  maps/submaps/surface_submaps/plains/VRDen.dmm
  maps/submaps/surface_submaps/plains/bonfire.dmm
  maps/submaps/surface_submaps/plains/camp1.dmm
  maps/submaps/surface_submaps/plains/camp1_vr.dmm
  maps/submaps/surface_submaps/plains/chemspill1_vr.dmm
  maps/submaps/surface_submaps/plains/construction1.dmm
  maps/submaps/surface_submaps/plains/dogbase.dmm
  maps/submaps/surface_submaps/plains/drgnplateu.dmm
  maps/submaps/surface_submaps/plains/emptycabin.dmm
  maps/submaps/surface_submaps/plains/farm1_vr.dmm
  maps/submaps/surface_submaps/plains/greatwolfden.dmm
  maps/submaps/surface_submaps/plains/hotspring.dmm
  maps/submaps/surface_submaps/plains/house1_arealess.dmm
  maps/submaps/surface_submaps/plains/house1_arealess_vr.dmm
  maps/submaps/surface_submaps/plains/house1_vr.dmm
  maps/submaps/surface_submaps/plains/leopardmanderden.dmm
  maps/submaps/surface_submaps/plains/lonehome_vr.dmm
  maps/submaps/surface_submaps/plains/lonewolf.dmm
  maps/submaps/surface_submaps/plains/methlab.dmm
  maps/submaps/surface_submaps/plains/oldhotel.dmm
  maps/submaps/surface_submaps/plains/otieshelter.dmm
  maps/submaps/surface_submaps/plains/plains_turfs.dm
  maps/submaps/surface_submaps/plains/priderock.dmm
  maps/submaps/surface_submaps/plains/snow1.dmm
  maps/submaps/surface_submaps/plains/snow2.dmm
  maps/submaps/surface_submaps/plains/snow3.dmm
  maps/submaps/surface_submaps/plains/snow4.dmm
  maps/submaps/surface_submaps/plains/snow5.dmm
  maps/submaps/surface_submaps/plains/syndisniper.dmm
  maps/tether/submaps/_tether_submaps.dm
  vorestation.dme
Labels: Type: Map

#11607 Yet More Species Whitelisting
  config/alienwhitelist.txt
Labels: Type: Fluff

#11616 Minor Talon Updates
  maps/offmap_vr/talon/talon_v2.dmm
Labels: Type: Map

#11610 adds audible belch emote
  code/game/sound.dm
  code/modules/emotes/definitions/audible_belch.dm
  code/modules/mob/living/carbon/human/emote.dm
  sound/vore/belches/belch1.ogg
  sound/vore/belches/belch10.ogg
  sound/vore/belches/belch11.ogg
  sound/vore/belches/belch12.ogg
  sound/vore/belches/belch13.ogg
  sound/vore/belches/belch14.ogg
  sound/vore/belches/belch15.ogg
  sound/vore/belches/belch2.ogg
  sound/vore/belches/belch3.ogg
  sound/vore/belches/belch4.ogg
  sound/vore/belches/belch5.ogg
  sound/vore/belches/belch6.ogg
  sound/vore/belches/belch7.ogg
  sound/vore/belches/belch8.ogg
  sound/vore/belches/belch9.ogg
  vorestation.dme
Labels: Type: Sound

#11618 Fix invisible sizeguns
  icons/obj/gun_vr.dmi
Labels: Type: Icon

#11622 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#11623 Whitelist update
  config/alienwhitelist.txt
Labels: Type: Fluff

#11627 Whitelist fixes and sorting
  config/alienwhitelist.txt
Labels: Type: Fluff

#11628 Hotfix for whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#11594 Doors: Now With 100% More Politeness
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/simple_doors.dm
  sound/machines/door/knock_glass.ogg
  sound/machines/door/knock_wood.wav
Labels: Type: Sound

#11633 gives catslugs new in-hand sprites
  icons/mob/items/lefthand_holder.dmi
  icons/mob/items/righthand_holder.dmi
Labels: Type: Icon
