Repository VOREStation/VOREStation, pull requests merged in 2022-10, with the labels that each got.

#13834 Fixes critical crash bugs
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/mobs.dm
  code/modules/xenoarcheaology/effects/vampire.dm
  code/modules/xenoarcheaology/finds/special.dm
Labels: Type: Bug, Sev: 1-Blocker

#13808 fixes psilocybin
  code/modules/reagents/reagents/drugs.dm
  html/changelogs/cameron - drugfix.yml
Labels: Type: Bug

#13812 Fixes inability to use multitool on upgraded shields
  code/game/objects/items/devices/personal_shield_generator_vr.dm
Labels: Type: Bug

#13813 Makes mechas able to suck ore into boxes.
  code/game/mecha/equipment/tools/drill.dm
  code/game/mecha/working/ripley.dm
Labels: Type: Bug

#13817 Fixes belly spiral from being cut off.
  code/modules/mob/new_player/sprite_accessories_extra.dm
  icons/mob/human_races/markings_alt.dmi
Labels: Type: Bug, Type: Icon

#13819 Complicates Pakkuns
  code/modules/mob/living/simple_mob/subtypes/vore/pakkun.dm
Labels: Type: Feature/Suggestion, Type: Vore-Related

#13820 Fixes build mode and makes it not terrible.
  code/modules/admin/verbs/buildmode.dm
Labels: Type: Bug

#13821 README edit.
  README.md
Labels: Type: Misc

#13822 Ghost default swap
  code/modules/mob/dead/observer/observer.dm
Labels: Type: Misc

#13823 Adds in 'compliance implant'
  code/game/objects/items/contraband_vr.dm
  code/game/objects/items/weapons/implants/implant_vr.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/economy/vending_machines_vr.dm
Labels: Type: Feature/Suggestion

#13824 stops absorbed chimeras going feral
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
Labels: Type: Bug

#13825 Sanitization
  code/game/machinery/navbeacon.dm
  code/game/machinery/pointdefense.dm
  code/game/machinery/telecomms/logbrowser.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/telemonitor.dm
  code/game/machinery/telecomms/traffic_control.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/devices/gps.dm
  code/game/objects/items/devices/tvcamera.dm
  code/game/objects/items/weapons/implants/implantcase.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/integrated_electronics/core/pins.dm
  code/modules/integrated_electronics/core/tools.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/memory.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/power/breaker_box.dm
  code/modules/power/fusion/core/_core.dm
  code/modules/power/fusion/fuel_assembly/fuel_control.dm
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
  code/modules/power/fusion/gyrotron/gyrotron.dm
  code/modules/power/fusion/gyrotron/gyrotron_control.dm
  code/modules/power/smes_construction.dm
  code/modules/power/turbine.dm
  code/modules/shuttles/shuttle_console.dm
  code/modules/tgui/modules/overmap.dm
Labels: Sev: 3-Moderate, Type: Bug

#13828 Blueprint Revamp.
  code/ATMOSPHERICS/components/unary/vent_pump.dm
  code/ATMOSPHERICS/components/unary/vent_scrubber.dm
  code/__defines/turfs.dm
  code/_global_vars/lists/misc.dm
  code/_helpers/global_lists_vr.dm
  code/_helpers/unsorted.dm
  code/datums/wires/wires.dm
  code/game/area/areas_vr.dm
  code/game/gamemodes/newobjective.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/air_alarm.dm
  code/game/objects/items/blueprints_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/admin/verbs/buildmode.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/overmap/champagne.dm
  code/modules/vore/eating/digest_act_vr.dm
  vorestation.dme
Labels: Type: Bug, Type: Feature/Suggestion, Type: More Complicated Than You Think

#13832 Fixes rapid pipe dispenser UI to display names
  tgui/packages/tgui/interfaces/RapidPipeDispenser.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13840 Smole vending tweak
  code/game/objects/random/mapping.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#13845 New nice ticket(panel)
  code/modules/admin/verbs/adminhelp.dm
  tgui/packages/tgui/interfaces/AdminTicketPanel.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13848 Medical tweaks and Medical Malpractice
  code/game/machinery/computer/Operating.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/external_repair.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/neck.dm
  code/modules/surgery/organ_ripper_vr.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/slimes.dm
  code/modules/surgery/surgery.dm
  vorestation.dme
Labels: Type: Bug, Type: Feature/Suggestion

#13849 Throw vore hotfix
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
Labels: Type: Bug, Type: Vore-Related

#13850 Fixes Medihound Sprite and adds TraumaHound option for Custom RUSS Sprite
  icons/mob/custom_synthetic_vr.dmi
Labels: Type: Icon

#13851 Fixes some one person having a specific emote giving it to everyone
  code/modules/emotes/emote_mob.dm
  code/modules/mob/living/carbon/alien/diona/diona.dm
  code/modules/mob/living/carbon/alien/emote.dm
  code/modules/mob/living/carbon/brain/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species/station/prommie_blob.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/mob/living/silicon/emote.dm
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/simple_mob/subtypes/animal/pets/cat.dm
  code/modules/mob/living/simple_mob/subtypes/animal/sif/grafadreka.dm
  code/modules/mob/living/simple_mob/subtypes/slime/slime.dm
Labels: Type: Bug

#13853 makes FBP teshari not overheat
  code/modules/mob/living/carbon/human/species/station/teshari.dm
Labels: Type: Bug, Type: More Complicated Than You Think

#13855 Upgrades OverlaySS. Fixes #3627
  code/__defines/subsystems.dm
  code/controllers/subsystems/overlays.dm
  code/datums/datacore.dm
  code/game/jobs/job/job.dm
  code/game/objects/items/weapons/id cards/station_ids.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/power/smes_vr.dm
  code/modules/resleeving/designer.dm
Labels: Type: Bug, Type: More Complicated Than You Think

#13857 Fixes rounded chairs. Again.
  icons/obj/furniture.dmi
Labels: Type: Bug, Type: Icon

#13858 tweaks armor descriptors
  code/modules/examine/descriptions/armor.dm
Labels: Type: Feature/Suggestion

#13859 ALL TERRAIN WINGS
  code/game/objects/effects/mines.dm
  code/game/objects/structures/cliff.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/outdoors/snow.dm
  code/game/turfs/simulated/water.dm
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/mob/living/simple_mob/subtypes/animal/sif/leech.dm
  code/modules/vore/smoleworld/smoleworld_vr.dm
Labels: Type: Feature/Suggestion

#13860 Gird check fixes
  code/modules/events/grid_check.dm
  code/modules/power/generator.dm
Labels: Type: Bug, Type: Feature/Suggestion

#13861 Proper Departures
  code/game/machinery/cryopod.dm
Labels: Type: Bug

#13862 minor typo fix
  code/modules/busy_space_vr/organizations.dm
Labels: Type: Misc

#13864 Adjusts vulpkanin heat/cold handling. Makes them mid-way between human and taj.
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
Labels: Type: Feature/Suggestion

#13880 Suit&Uniform Supplement.
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/suits/miscellaneous_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
Labels: Type: Icon

#13884 Adds more sock variants
  code/datums/underwear/socks.dm
  icons/mob/human.dmi
Labels: Type: Feature/Suggestion, Type: Icon

#13886 Aku Zoles Briefcase fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_boxes_vr.dm
Labels: Type: Fluff

#13863 Adds trauma borgi
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/mob/widerobot_trauma_vr.dmi
Labels: Type: Icon

#13894 Swaps soap to old sprites
  icons/obj/soap.dmi
Labels: Type: Icon

#13898 talon, vb, and typhon fixes
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/catwalk.dm
  code/game/turfs/flooring/flooring.dm
  icons/obj/stacks.dmi
  icons/turf/catwalks.dmi
  maps/offmap_vr/talon/talon_v2.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
Labels: Type: Icon, Type: Map

#13899 Allows you to select if you want to heal brute or burn via surgery
  code/modules/surgery/external_repair.dm
Labels: Type: Feature/Suggestion

#13900 Fixes an oversight with syringes.
  code/modules/reagents/reagent_containers/syringes_vr.dm
Labels: Type: Bug

#13912 Fixes taur loaf y offset
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Type: Bug

#13913 Editing a _vr file to contain the fix for rounded chair.
  icons/obj/furniture_vr.dmi
Labels: Type: Bug, Type: Icon

#13914 Changes names of a few surgery steps.
  code/modules/surgery/encased.dm
Labels: Type: Misc

#13918 Adds the Security Hudpatch MKII to the game
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/clothing/glasses/hud_vr.dm
  code/modules/economy/vending_machines.dm
  icons/inventory/eyes/item_vr.dmi
  icons/inventory/eyes/mob_vr.dmi
Labels: Type: Icon

#13919 Halloween costume update. feat Hotdog and Turnip suits.
  code/modules/clothing/head/hood_vr.dm
  code/modules/clothing/suits/hooded_vr.dm
  code/modules/economy/vending_machines_vr.dm
  icons/inventory/head/mob_vr.dmi
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
  icons/mob/items/lefthand_suits.dmi
  icons/mob/items/righthand_suits.dmi
Labels: Type: Icon

#13920 Adds Freyr's Mask fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Type: Fluff, Type: Icon

#13929 10/16/22 - Map Swap Update
  .github/workflows/ci.yml
  code/defines/obj/weapon.dm
  code/game/machinery/rechargestation.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/random/_random.dm
  code/game/objects/random/guns_and_ammo.dm
  code/game/objects/random/misc.dm
  code/game/objects/structures/catwalk.dm
  code/game/turfs/flooring/flooring.dm
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/glasses/hud_vr.dm
  code/modules/clothing/head/hood_vr.dm
  code/modules/clothing/suits/hooded_vr.dm
  code/modules/economy/vending_machines.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/reagents/reagent_containers/syringes_vr.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/external_repair.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/inventory/eyes/item_vr.dmi
  icons/inventory/eyes/mob_vr.dmi
  icons/inventory/head/mob_vr.dmi
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
  icons/mob/items/lefthand_suits.dmi
  icons/mob/items/righthand_suits.dmi
  icons/obj/furniture_vr.dmi
  icons/obj/soap.dmi
  icons/obj/stacks.dmi
  icons/turf/catwalks.dmi
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
  maps/offmap_vr/talon/talon_v2.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: .git or .github

#13942 Adjusts the standard phaser sprite
  icons/obj/gun.dmi
Labels: Type: Icon

#13936 Fixes hotdog suit icon and eyepatch symmetry
  icons/inventory/eyes/mob.dmi
  icons/inventory/suit/item_vr.dmi
Labels: Type: Icon

#13937 Adds altevian badges
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/client/preference_setup/loadout/loadout_xeno_vr.dm
  code/modules/clothing/under/accessories/altevian_vr.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
Labels: Type: Icon

#13943 Adds the tactical AR visor.
  code/datums/supplypacks/security.dm
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/clothing/glasses/glasses_vr.dm
  code/modules/economy/vending_machines.dm
  icons/inventory/eyes/item_vr.dmi
  icons/inventory/eyes/mob_vr.dmi
Labels: Type: Icon

#13945 corrects pakkuns
  code/modules/mob/living/simple_mob/subtypes/vore/pakkun.dm
  icons/mob/vore.dmi
Labels: Type: Icon

#13960 Add some besk
  config/alienwhitelist.txt
Labels: Type: Fluff

#13966 Adds Snappy to Tether fish pond island
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#13967 Adds mantis arm wing things
  code/modules/mob/new_player/sprite_accessories_wing.dm
  icons/mob/vore/wings_vr.dmi
Labels: Type: Icon

#13971 10/23/22 - Map Swap Update
  code/datums/supplypacks/security.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/client/preference_setup/loadout/loadout_xeno_vr.dm
  code/modules/clothing/glasses/glasses_vr.dm
  code/modules/clothing/under/accessories/altevian_vr.dm
  code/modules/economy/vending_machines.dm
  code/modules/food/food/snacks.dm
  code/modules/food/recipes_microwave.dm
  code/modules/instruments/songs/play_legacy.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/pakkun.dm
  code/modules/mob/living/simple_mob/subtypes/vore/zz_vore_overrides.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories_wing.dm
  code/modules/recycling/disposal.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/simple_animal_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/whitelist/whitelist.dm
  config/alienwhitelist.txt
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/inventory/eyes/item_vr.dmi
  icons/inventory/eyes/mob.dmi
  icons/inventory/eyes/mob_vr.dmi
  icons/inventory/suit/item_vr.dmi
  icons/mob/human_face_alt.dmi
  icons/mob/human_races/r_def_skrell.dmi
  icons/mob/human_races/r_skrell.dmi
  icons/mob/vore.dmi
  icons/mob/vore/wings_vr.dmi
  icons/obj/food.dmi
  icons/obj/gun.dmi
  maps/tether/tether-02-surface2.dmm
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#13973 fluff item spawns now
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Fluff

#14004 Adds Perrin's fluff stuff
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/tails_vr.dmi
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#14005 10/29/22 - Update
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/emotes/emote_mob.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage_vr.dm
  code/modules/hydroponics/seedtypes/berries.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/tgs/v5/chat_commands.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/tails_vr.dmi
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#14011 Tesh beak addition part 2: resolving conflicts
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  icons/mob/human_races/markings_vr.dmi
Labels: Type: Icon

#14014 Adds arm-wings wings and crab claws marking
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/wings_vr.dmi
Labels: Type: Icon

#14012 Wormborgs
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  icons/mob/robots_vr.dmi
Labels: Type: Icon

#14016 10/30/22 - Map swap update
  code/_helpers/type2type.dm
  code/datums/components/material_container.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/datums/riding.dm
  code/datums/supplypacks/hydroponics_vr.dm
  code/game/gamemodes/events/holidays/Holidays.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/largecrate_vr.dm
  code/modules/mob/living/carbon/human/species/station/xenochimera_trait_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/pets/bird_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  code/modules/mob/say_vr.dm
  code/modules/research/mechfab_designs.dm
  code/modules/vchat/css/ss13styles.css
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/construction.dm
  code/modules/vehicles/quad.dm
  code/modules/vehicles/snowmobile.dm
  code/modules/vehicles/train.dm
  code/modules/vehicles/vehicle.dm
  code/stylesheet.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/robots_vr.dmi
  icons/mob/vore/wings_vr.dmi
  icons/obj/vehicles.dmi
  maps/cynosure/cynosure-2.dmm
  sound/machines/vehicle/engine_end.ogg
  sound/machines/vehicle/engine_mid.ogg
  sound/machines/vehicle/engine_start.ogg
  sound/machines/vehicle/ignition.ogg
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Sound
