Repository VOREStation/VOREStation, pull requests merged in 2022-07, with the labels that each got.

#13231 Moves scrubber on westwilds2 version of sci outpost
  maps/groundbase/westwilds/westwilds2.dmm
Labels: Type: Map

#13217 Simple Belly Exporting
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13233 GitHub Workflows
  .github/ISSUE_TEMPLATE/map_report.md
  .github/workflows/ci.yml
  tgui/packages/tgui/interfaces/NtosRevelation.tsx
  tgui/public/tgui.bundle.js
  tools/ci/build_tgui.sh
Labels: Type: .git or .github, Type: TGUI Bundle

#13242 Enables Multi-Z Testing (Map & Wires)
  code/unit_tests/map_tests.dm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/groundbase_defines.dm
  maps/stellardelight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
Labels: Type: Map

#13251 Fixes red lawyer skirt having wrong directional sprite
  icons/inventory/uniform/mob.dmi
Labels: Type: Icon

#13260 Communicator Reply Messages
  code/game/objects/items/devices/communicator/UI_tgui.dm
  code/game/objects/items/devices/communicator/messaging.dm
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/interfaces/Communicator.tsx
  tgui/packages/tgui/interfaces/CrewManifest.tsx
  tgui/packages/tgui/interfaces/IdentificationComputer.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13248 Makes general records scrollable
  tgui/packages/tgui/interfaces/GeneralRecords.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13264 Fairy lights
  code/modules/power/lighting_vr.dm
  icons/obj/lighting_vr.dmi
  maps/groundbase/gb-z2.dmm
Labels: Type: Icon, Type: Map

#13258 7/3/22 - update
  .github/ISSUE_TEMPLATE/map_report.md
  .github/workflows/ci.yml
  code/__defines/misc_vr.dm
  code/controllers/subsystems/persist_vr.dm
  code/defines/procs/announce.dm
  code/game/jobs/job/job_vr.dm
  code/game/objects/items/devices/communicator/UI_tgui.dm
  code/game/objects/items/devices/communicator/messaging.dm
  code/game/objects/items/gunbox_vr.dm
  code/game/objects/items/weapons/explosives_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_vr.dm
  code/modules/client/preference_setup/general/02_language.dm
  code/modules/client/preference_setup/global/02_settings.dm
  code/modules/mob/language/generic.dm
  code/modules/mob/language/monkey.dm
  code/modules/mob/language/station.dm
  code/modules/mob/language/station_vr.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/teppi.dm
  code/modules/persistence/storage/smartfridge.dm
  code/modules/power/lighting_vr.dm
  code/modules/power/smes.dm
  code/unit_tests/map_tests.dm
  icons/inventory/uniform/mob.dmi
  icons/obj/lighting_vr.dmi
  maps/groundbase/gb-z2.dmm
  maps/groundbase/groundbase_defines.dm
  maps/stellardelight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
  maps/tether/tether_jobs.dm
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/interfaces/Communicator.tsx
  tgui/packages/tgui/interfaces/CrewManifest.tsx
  tgui/packages/tgui/interfaces/GeneralRecords.js
  tgui/packages/tgui/interfaces/IdentificationComputer.js
  tgui/packages/tgui/interfaces/NtosRevelation.tsx
  tgui/public/tgui.bundle.js
  tools/ci/build_tgui.sh
Labels: Type: Icon, Type: Map, Type: .git or .github, Type: TGUI Bundle

#13244 Multi-Map Testing
  .github/workflows/ci.yml
  code/_unit_tests.dm
  code/unit_tests/map_tests.dm
  maps/stellar_delight/overmap.dmm
  maps/stellar_delight/ship_centcom.dmm
  maps/stellar_delight/ship_misc.dmm
  maps/stellar_delight/stelardelightskybox.dmi
  maps/stellar_delight/stellar_delight.dm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/stellar_delight/stellar_delight_areas.dm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/stellar_delight/stellar_delight_jobs.dm
  maps/stellar_delight/stellar_delight_shuttle_defs.dm
  maps/stellar_delight/stellar_delight_telecomms.dm
  maps/stellar_delight/stellar_delight_things.dm
  maps/stellar_delight/stellar_delight_turfs.dm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether_defines.dm
  maps/~map_system/maps.dm
  tools/ci/compile_and_run.sh
Labels: Type: Icon, Type: Map, Type: .git or .github

#13267 That nice glow
  code/modules/power/lighting.dm
  code/modules/power/lighting_vr.dm
  icons/obj/lighting32x64.dmi
  icons/obj/lighting_vr.dmi
Labels: Type: Icon

#13265 Back to tether!
  maps/tether/tether-05-station1.dmm
  vorestation.dme
Labels: Type: Map

#13270 7/3/22 - Map swap update
  .github/workflows/ci.yml
  code/_unit_tests.dm
  code/modules/power/lighting.dm
  code/modules/power/lighting_vr.dm
  code/unit_tests/map_tests.dm
  icons/obj/lighting32x64.dmi
  icons/obj/lighting_vr.dmi
  maps/stellar_delight/overmap.dmm
  maps/stellar_delight/ship_centcom.dmm
  maps/stellar_delight/ship_misc.dmm
  maps/stellar_delight/stelardelightskybox.dmi
  maps/stellar_delight/stellar_delight.dm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/stellar_delight/stellar_delight_areas.dm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/stellar_delight/stellar_delight_jobs.dm
  maps/stellar_delight/stellar_delight_shuttle_defs.dm
  maps/stellar_delight/stellar_delight_telecomms.dm
  maps/stellar_delight/stellar_delight_things.dm
  maps/stellar_delight/stellar_delight_turfs.dm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether_defines.dm
  maps/~map_system/maps.dm
  tools/ci/compile_and_run.sh
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: .git or .github

#13275 Fixes ashburndracki's whitelist entry
  config/alienwhitelist.txt
Labels: Type: Fluff

#13280 Adds atmos locker to Rascal's Pass
  maps/groundbase/gb-z1.dmm
  maps/tether/tether_things.dm
Labels: Type: Map

#13281 Fixes Vorepanel UI Bugs
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13283 Adds recolourable hoodies with functional hoods
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/head/hood.dm
  code/modules/clothing/suits/hooded.dm
  code/modules/clothing/suits/hooded_vr.dm
  icons/inventory/head/item_vr.dmi
  icons/inventory/head/mob_vr.dmi
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
Labels: Type: Icon

#13294 Mouse Ray
  code/game/objects/random/misc_vr.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/organs/organ_external.dm
  code/modules/vore/mouseray.dm
  icons/mob/items/lefthand_guns_vr.dmi
  icons/mob/items/righthand_guns_vr.dmi
  icons/obj/mouseray.dmi
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#13295 New book: Guide to Robotics
  code/game/objects/items/weapons/manuals.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#13287 Nehi fluff items
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#13296 7/7/22 - Update
  code/controllers/subsystems/persist_vr.dm
  code/controllers/subsystems/ticker.dm
  code/game/jobs/job/job_vr.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/game/objects/items/weapons/manuals.dm
  code/game/objects/random/misc_vr.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/game/objects/structures/watercloset.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/head/hood.dm
  code/modules/clothing/suits/hooded.dm
  code/modules/clothing/suits/hooded_vr.dm
  code/modules/economy/lorenews.dm
  code/modules/food/food/drinks.dm
  code/modules/food/food/z_custom_food_vr.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/say.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/nifsoft/software/13_soulcatcher.dm
  code/modules/organs/organ_external.dm
  code/modules/tgui_input/alert.dm
  code/modules/tgui_input/list.dm
  code/modules/tgui_input/number.dm
  code/modules/tgui_input/text.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  code/modules/vore/mouseray.dm
  config/alienwhitelist.txt
  icons/inventory/head/item_vr.dmi
  icons/inventory/head/mob_vr.dmi
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
  icons/mob/items/lefthand_guns_vr.dmi
  icons/mob/items/righthand_guns_vr.dmi
  icons/obj/mouseray.dmi
  icons/vore/custom_items_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_things.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Fluff

#13304 7/8/22 - another updooot involving mice
  code/game/jobs/job/medical_vr.dm
  code/game/jobs/job/security_vr.dm
  code/modules/mob/living/death.dm
  maps/tether/submaps/tether_centcom.dmm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether_jobs.dm
Labels: Type: Map

#13314 Adds moth emotes
  code/modules/emotes/definitions/audible_furry_vr.dm
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/moth/moth_chitter.ogg
  sound/voice/moth/moth_laugh.ogg
Labels: Type: Sound

#13316 7/10/22 - Map swap update
  code/game/objects/items/weapons/manuals.dm
  code/modules/emotes/definitions/audible_furry_vr.dm
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/moth/moth_chitter.ogg
  sound/voice/moth/moth_laugh.ogg
  vorestation.dme
Labels: Type: Sound

#12911 Lucky 7 Casino and Restaurant
  code/game/objects/items/stacks/tiles/fifty_spawner_tiles.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/casino/boxes_casino.dm
  code/modules/casino/casino.dm
  code/modules/casino/casino_book.dm
  code/modules/casino/casino_prize_vendor.dm
  code/modules/casino/headset_casino.dm
  code/modules/casino/premium_vendors.dm
  code/modules/casino/spawnergrenade_casino.dm
  code/modules/instruments/items.dm
  code/modules/projectiles/guns/toy.dm
  icons/obj/casino.dmi
  icons/obj/gun_toy.dmi
  icons/obj/overmap.dmi
  icons/turf/areas.dmi
  icons/turf/flooring/carpet.dmi
  maps/gateway_vr/lucky_7.dm
  maps/gateway_vr/lucky_7.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#13319 Adds roulette balls
  code/_helpers/global_lists_vr.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/tiles/fifty_spawner_tiles.dm
  code/modules/casino/boxes_casino.dm
  code/modules/casino/casino.dm
  code/modules/mob/holder.dm
  code/modules/vore/eating/living_vr.dm
  icons/obj/boxes.dmi
  icons/obj/casino.dmi
Labels: Type: Icon

#13323 Placed book "Guide to Robotics" to SD
  maps/stellar_delight/stellar_delight1.dmm
Labels: Type: Map

#13324 Added Portable Suit Cooling Units to Pilot Equipment room
  maps/stellar_delight/stellar_delight1.dmm
Labels: Type: Map

#13329 Pandora Fluff Item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#13333 Say Sound!
  code/game/sound.dm
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/client/preference_setup/vore/02_size.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/living/living_vr.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/say_vr.dm
  code/modules/vore/eating/living_vr.dm
  sound/effects/pai_login.ogg
  sound/talksounds/a.ogg
  sound/talksounds/b.ogg
  sound/talksounds/c.ogg
  sound/talksounds/d.ogg
  sound/talksounds/e.ogg
  sound/talksounds/f.ogg
  sound/talksounds/g.ogg
  sound/talksounds/h.ogg
  sound/talksounds/me_a.ogg
  sound/talksounds/me_b.ogg
  sound/talksounds/me_c.ogg
  sound/talksounds/me_d.ogg
  sound/talksounds/me_e.ogg
  sound/talksounds/me_f.ogg
  sound/talksounds/subtle_sound.ogg
Labels: Type: Sound

#13336 Voice types!
  code/game/sound.dm
  code/modules/client/preference_setup/vore/02_size.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/mob/living/living_vr.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/say.dm
  code/modules/vore/eating/living_vr.dm
  sound/talksounds/goon/blub.ogg
  sound/talksounds/goon/blub_ask.ogg
  sound/talksounds/goon/blub_exclaim.ogg
  sound/talksounds/goon/bottalk_1.ogg
  sound/talksounds/goon/bottalk_2.ogg
  sound/talksounds/goon/bottalk_3.ogg
  sound/talksounds/goon/bottalk_4.wav
  sound/talksounds/goon/buwoo.ogg
  sound/talksounds/goon/buwoo_ask.ogg
  sound/talksounds/goon/buwoo_exclaim.ogg
  sound/talksounds/goon/cow.ogg
  sound/talksounds/goon/cow_ask.ogg
  sound/talksounds/goon/cow_exclaim.ogg
  sound/talksounds/goon/lizard.ogg
  sound/talksounds/goon/lizard_ask.ogg
  sound/talksounds/goon/lizard_exclaim.ogg
  sound/talksounds/goon/pug.ogg
  sound/talksounds/goon/pug_ask.ogg
  sound/talksounds/goon/pug_exclaim.ogg
  sound/talksounds/goon/pugg.ogg
  sound/talksounds/goon/pugg_ask.ogg
  sound/talksounds/goon/pugg_exclaim.ogg
  sound/talksounds/goon/radio.ogg
  sound/talksounds/goon/radio2.ogg
  sound/talksounds/goon/radio_ai.ogg
  sound/talksounds/goon/roach.ogg
  sound/talksounds/goon/roach_ask.ogg
  sound/talksounds/goon/roach_exclaim.ogg
  sound/talksounds/goon/skelly.ogg
  sound/talksounds/goon/skelly_ask.ogg
  sound/talksounds/goon/skelly_exclaim.ogg
  sound/talksounds/goon/speak_1.ogg
  sound/talksounds/goon/speak_1_ask.ogg
  sound/talksounds/goon/speak_1_exclaim.ogg
  sound/talksounds/goon/speak_2.ogg
  sound/talksounds/goon/speak_2_ask.ogg
  sound/talksounds/goon/speak_2_exclaim.ogg
  sound/talksounds/goon/speak_3.ogg
  sound/talksounds/goon/speak_3_ask.ogg
  sound/talksounds/goon/speak_3_exclaim.ogg
  sound/talksounds/goon/speak_4.ogg
  sound/talksounds/goon/speak_4_ask.ogg
  sound/talksounds/goon/speak_4_exclaim.ogg
Labels: Type: Sound

#13337 7/16/22 - update
  code/game/sound.dm
  code/modules/client/preference_setup/vore/02_size.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/mob/living/carbon/human/human_vr.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/living_vr.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/say.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/living_vr.dm
  sound/talksounds/goon/blub.ogg
  sound/talksounds/goon/blub_ask.ogg
  sound/talksounds/goon/blub_exclaim.ogg
  sound/talksounds/goon/bottalk_1.ogg
  sound/talksounds/goon/bottalk_2.ogg
  sound/talksounds/goon/bottalk_3.ogg
  sound/talksounds/goon/bottalk_4.wav
  sound/talksounds/goon/buwoo.ogg
  sound/talksounds/goon/buwoo_ask.ogg
  sound/talksounds/goon/buwoo_exclaim.ogg
  sound/talksounds/goon/cow.ogg
  sound/talksounds/goon/cow_ask.ogg
  sound/talksounds/goon/cow_exclaim.ogg
  sound/talksounds/goon/lizard.ogg
  sound/talksounds/goon/lizard_ask.ogg
  sound/talksounds/goon/lizard_exclaim.ogg
  sound/talksounds/goon/pug.ogg
  sound/talksounds/goon/pug_ask.ogg
  sound/talksounds/goon/pug_exclaim.ogg
  sound/talksounds/goon/pugg.ogg
  sound/talksounds/goon/pugg_ask.ogg
  sound/talksounds/goon/pugg_exclaim.ogg
  sound/talksounds/goon/radio.ogg
  sound/talksounds/goon/radio2.ogg
  sound/talksounds/goon/radio_ai.ogg
  sound/talksounds/goon/roach.ogg
  sound/talksounds/goon/roach_ask.ogg
  sound/talksounds/goon/roach_exclaim.ogg
  sound/talksounds/goon/skelly.ogg
  sound/talksounds/goon/skelly_ask.ogg
  sound/talksounds/goon/skelly_exclaim.ogg
  sound/talksounds/goon/speak_1.ogg
  sound/talksounds/goon/speak_1_ask.ogg
  sound/talksounds/goon/speak_1_exclaim.ogg
  sound/talksounds/goon/speak_2.ogg
  sound/talksounds/goon/speak_2_ask.ogg
  sound/talksounds/goon/speak_2_exclaim.ogg
  sound/talksounds/goon/speak_3.ogg
  sound/talksounds/goon/speak_3_ask.ogg
  sound/talksounds/goon/speak_3_exclaim.ogg
  sound/talksounds/goon/speak_4.ogg
  sound/talksounds/goon/speak_4_ask.ogg
  sound/talksounds/goon/speak_4_exclaim.ogg
Labels: Type: Sound

#13338 Cleans up casino map a bit
  code/controllers/communications.dm
  code/modules/casino/casino.dm
  code/modules/mob/living/say.dm
  maps/gateway_vr/lucky_7.dm
  maps/gateway_vr/lucky_7.dmm
  maps/offmap_vr/common_offmaps.dm
Labels: Type: Map

#13343 Adds 'fireaxes' to atmos/emt bay on SD/RP
  code/game/objects/structures/signs_vr.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z3.dmm
  maps/stellar_delight/stellar_delight2.dmm
Labels: Type: Map

#13340 Adds Fullscreen Toggle & Cross Origin Fix
  code/modules/client/client defines.dm
  code/modules/client/client procs.dm
  tgui/public/tgui.html
Labels: Type: TGUI Bundle

#13345 7/16/22 - Evening Update
  code/controllers/communications.dm
  code/game/objects/structures/signs_vr.dm
  code/modules/casino/casino.dm
  code/modules/client/client defines.dm
  code/modules/client/client procs.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/living/say.dm
  maps/gateway_vr/lucky_7.dm
  maps/gateway_vr/lucky_7.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z3.dmm
  maps/offmap_vr/common_offmaps.dm
  maps/stellar_delight/stellar_delight2.dmm
  tgui/public/tgui.html
Labels: Type: Map, Type: TGUI Bundle

#13353 Back to GB!
  code/modules/economy/vending_machines_vr.dm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/groundbase_poi_stuff.dm
  maps/groundbase/southwilds/villagepois/wide6.dmm
  vorestation.dme
Labels: Type: Map

#13355 7/17/22 - Map swap update
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/items/weapons/material/chainsaw.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/map_blocker_vr.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/materials/materials/_materials.dm
  code/modules/materials/materials/metals/steel.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/vore/eating/vorepanel_vr.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/groundbase_poi_stuff.dm
  maps/groundbase/southwilds/villagepois/wide6.dmm
  maps/stellar_delight/stellar_delight2.dmm
  vorestation.dme
Labels: Type: Map

#13360 Fixes Issue #13356
  maps/stellar_delight/stellar_delight3.dmm
Labels: Type: Map

#13364 7/19/22 - Update
  _build_dependencies.sh
  code/game/objects/items/devices/holowarrant.dm
  code/modules/vore/eating/vorepanel_vr.dm
  maps/stellar_delight/stellar_delight3.dmm
Labels: Type: Map

#13366 Revamp GB cafe, also fixes up some bathroom locks
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#13367 7/19/22 - smole update
  code/modules/economy/vending_machines_vr.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#13370 Pilot NIFsoft Uploaders
  code/modules/nifsoft/nifsoft.dm
  icons/obj/boxes.dmi
  icons/obj/nanomods.dmi
  maps/groundbase/gb-z3.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Icon, Type: Map

#13383 GB small tweaks
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z3.dmm
Labels: Type: Map

#13379 CE stamp in Rascal's Pass
  maps/groundbase/gb-z1.dmm
Labels: Type: Map

#13385 Adjusts Space Ghost
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/spookyghost.dm
  maps/om_adventure/pois/darkstar.dmm
  maps/om_adventure/pois/fleshtear1.dmm
  maps/om_adventure/pois/fleshtear2.dmm
  maps/om_adventure/pois/fleshtear3.dmm
  maps/om_adventure/pois/fleshtear4.dmm
Labels: Type: Map

#13387 Allows attacks to properly damage simple_mobs.
  code/modules/mob/living/simple_mob/defense.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/living/simple_mob/subtypes/mechanical/mecha/mecha.dm
Labels: Type: Bug, Type: Feature/Suggestion

#13389 7/24/22 - map swap update
  code/modules/client/preference_setup/general/06_flavor.dm
  code/modules/mob/living/simple_mob/defense.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/spookyghost.dm
  code/modules/mob/living/simple_mob/subtypes/mechanical/mecha/mecha.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z3.dmm
  maps/om_adventure/pois/darkstar.dmm
  maps/om_adventure/pois/fleshtear1.dmm
  maps/om_adventure/pois/fleshtear2.dmm
  maps/om_adventure/pois/fleshtear3.dmm
  maps/om_adventure/pois/fleshtear4.dmm
  tgui/packages/tgui-polyfill/package.json
  tgui/yarn.lock
  vorestation.dme
Labels: Type: Map

#13404 Changes JadeManique's Dogborg Sprite
  icons/mob/custom_synthetic_vr.dmi
Labels: Type: Icon

#13415 Slightly modifies Etheo's custom dogborg sprite to give the borg less booty.
  icons/mob/custom_synthetic_vr.dmi
Labels: Type: Icon

#13392 Replaces some old code w/ IsAdvancedToolUser and fixes twohanded weapons for simple_mobs
  code/game/objects/items.dm
  code/game/objects/items/devices/scanners/gas.dm
  code/game/objects/items/devices/scanners/health.dm
  code/game/objects/items/devices/scanners/mass_spectrometer.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/mining/mine_turfs.dm
Labels: Type: Bug

#13396 Fixes practice shells not loading on poi
  code/modules/projectiles/ammunition/ammo_boxes.dm
  maps/submaps/surface_submaps/plains/Thiefc.dmm
  maps/submaps/surface_submaps/plains/Thiefc_vr.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Map

#13402 Ratchet sprite
  icons/obj/tools_vr.dmi
Labels: Type: Icon

#13406 Selective bellymode now selectable and pref-adjustible
  code/__defines/belly_modes_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13407 It is a lovely morning in the station
  code/modules/mob/living/simple_mob/subtypes/animal/space/goose.dm
  icons/mob/animal_vr.dmi
Labels: Type: Icon

#13409 Fixes for #13393
  code/__defines/belly_modes_vr.dm
  code/game/objects/effects/decals/posters/polarisposters.dm
  code/modules/tgs/v5/chat_commands.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  icons/mob/custom_synthetic_vr.dmi
  tgui/packages/tgui/interfaces/VorePanel.js
Labels: Type: Icon

#13416 Adds Zorren and Fennec DSI prosthetic brands
  code/modules/organs/robolimbs_custom.dm
  icons/mob/human_races/cyberlimbs/DSIFennec/dsi_fennec.dmi
  icons/mob/human_races/cyberlimbs/DSIZorren/dsi_zorren.dmi
Labels: Type: Icon

#13425 Recompiles TGUI bundle
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13422 7/31/22 - Map swap update
  code/__defines/belly_modes_vr.dm
  code/_helpers/unsorted.dm
  code/game/jobs/job/engineering_vr.dm
  code/game/jobs/job/medical_vr.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/scanners/gas.dm
  code/game/objects/items/devices/scanners/health.dm
  code/game/objects/items/devices/scanners/mass_spectrometer.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/items/weapons/towels.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/items_vr.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/ai/ai_holder_fleeing.dm
  code/modules/clothing/clothing_vr.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/species/species_attack_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/goose.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/organs/robolimbs_custom.dm
  code/modules/projectiles/ammunition/ammo_boxes.dm
  code/modules/tgs/v5/chat_commands.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/digest_act_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
  code/modules/xenoarcheaology/artifacts/artifact_find.dm
  code/modules/xenoarcheaology/artifacts/replicator_vr.dm
  icons/mob/animal_vr.dmi
  icons/mob/custom_synthetic_vr.dmi
  icons/mob/human_races/cyberlimbs/DSIFennec/dsi_fennec.dmi
  icons/mob/human_races/cyberlimbs/DSIZorren/dsi_zorren.dmi
  icons/obj/tools_vr.dmi
  maps/submaps/surface_submaps/plains/Thiefc.dmm
  maps/submaps/surface_submaps/plains/Thiefc_vr.dmm
  maps/tether/submaps/tether_centcom.dmm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/packages/tgui/interfaces/XenoarchReplicator_clothing_vr.js
  tgui/packages/tgui/interfaces/XenoarchReplicator_voremob_vr.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon
