Repository VOREStation/VOREStation, pull requests merged in 2022-09, with the labels that each got.

#13620 Buffs artifact spawns in the map. Lowers rogueminer.
  code/controllers/subsystems/xenoarch.dm
  code/modules/rogueminer_vr/zonemaster.dm
Labels: Type: Misc

#13630 mackrel can now spawn
  maps/submaps/pois_vr/debris_field/_templates.dm
Labels: Type: Bug

#13634 Fixes edges of 3c wilds having wrong atmos in mineral walls
  code/modules/planet/virgo3c_vr.dm
  maps/groundbase/eastwilds/eastwilds1.dmm
  maps/groundbase/eastwilds/eastwilds2.dmm
  maps/groundbase/northwilds/northwilds1.dmm
  maps/groundbase/northwilds/northwilds2.dmm
  maps/groundbase/southwilds/southwilds1.dmm
  maps/groundbase/southwilds/southwilds2.dmm
  maps/groundbase/southwilds/southwilds3.dmm
  maps/groundbase/westwilds/westwilds1.dmm
  maps/groundbase/westwilds/westwilds2.dmm
Labels: Type: Map

#13635 Fixes wrong icon name for red retro carpet
  icons/obj/stacks.dmi
Labels: Type: Icon

#13642 Make build mode not crash your client
  code/modules/admin/verbs/buildmode.dm
Labels: Type: Bug

#13646 Fixes wrong intercom tether bridge hallway
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#13647 Fixes lack of spare PDA at HoP office
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#13648 Fixes missing scrubbers groundbase
  maps/groundbase/gb-z1.dmm
Labels: Type: Map

#13649 Fixes missing power cables on aerostat
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
Labels: Type: Map

#13659 Allows light manipulation via multitool.
  code/modules/power/lighting.dm
Labels: Type: Feature/Suggestion

#13660 Bugfix Palooza
  code/controllers/globals.dm
  code/datums/helper_datums/teleport_vr.dm
  code/modules/multiz/portals_vr.dm
  code/modules/power/lighting.dm
Labels: Type: Bug

#13619 Adds colorable stomachs
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/mob/screen_full_colorized_vore.dmi
  icons/mob/screen_full_vore.dmi
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: Feature/Suggestion, Type: Vore-Related, Type: Icon, Type: TGUI Bundle

#13662 9/4/22 - Map swap update
  code/controllers/globals.dm
  code/datums/helper_datums/teleport_vr.dm
  code/game/objects/items/devices/communicator/UI_tgui.dm
  code/game/objects/items/devices/communicator/messaging.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/material/whetstone.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/clothing/under/accessories/holster_vr.dm
  code/modules/instruments/songs/play_synthesized.dm
  code/modules/library/lib_items.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/human_vr.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/simple_mob/simple_hud.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/multiz/portals_vr.dm
  code/modules/power/lighting.dm
  code/modules/reagents/machinery/dispenser/reagent_tank.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  guides/New Mapper Mapmerge Readme.md
  icons/mob/screen_full_colorized_vore.dmi
  icons/mob/screen_full_vore.dmi
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/tether/tether-02-surface2.dmm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon, Type: Map

#13665 Fixes missing suhariki trash sprite
  icons/obj/trash.dmi
Labels: Type: Icon

#13668 Adds "Grit" Positive trait
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
Labels: Type: Feature/Suggestion

#13667 Adds newscasters to security, and "Retail Scanners" to missing departments.
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#13671 More light updates!
  code/game/objects/items/devices/lightreplacer.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_modules_vr.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/power/lighting_vr.dm
Labels: Type: Bug, Type: Feature/Suggestion

#13675 Adds finless shark tail option
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#13676 Adds in Throw Vore
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: Feature/Suggestion, Type: Vore-Related, Type: TGUI Bundle

#13679 9/6/22 - Update
  code/game/dna/dna2_helpers.dm
  code/game/machinery/deployable_vr.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/structures/artstuff.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/life_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/mob/living/carbon/lick_wounds.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_modules_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/giant_spider/nurse.dm
  code/modules/mob/living/simple_mob/subtypes/animal/sif/grafadreka.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/organs/pain.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/power/lighting_vr.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/rogueminer_vr/controller.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/mob/vore/tails_vr.dmi
  icons/obj/trash.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: Icon, Type: Map

#13692 Makes Birdsong less memey and more varied
  code/modules/mob/language/station_vr.dm
Labels: Type: Misc

#13680 Fixes slime ai again, hopefully
  code/modules/ai/ai_holder_subtypes/slime_xenobio_ai.dm
Labels: Type: Bug

#13681 Fixes a few minor things
  code/controllers/subsystems/chat.dm
  code/game/machinery/teleporter.dm
  code/modules/admin/verbs/pray.dm
  code/modules/power/lighting.dm
  code/modules/power/lighting_vr.dm
  icons/obj/vending.dmi
Labels: Type: Bug, Type: Icon

#13682 Fixes grit showing up in negative trait list
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
Labels: Type: Bug

#13683 Fixes bug regarding feral xenochimera and treating others/being treated
  code/game/objects/items/stacks/medical.dm
Labels: Type: Bug

#13684 Fixes scaling offsets for bigdragons/woofs/manders
  code/modules/mob/living/simple_mob/subtypes/vore/bigdragon.dm
  code/modules/mob/living/simple_mob/subtypes/vore/greatwolf.dm
  code/modules/mob/living/simple_mob/subtypes/vore/leopardmander.dm
Labels: Type: Bug

#13690 Fixes moving out of sleepers while KO'd.
  code/game/machinery/Sleeper.dm
  code/game/machinery/virtual_reality/vr_console.dm
Labels: Type: Bug

#13691 Tether QoL Improvements
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#13693 Fixes vore panel and character setup hud icons for synthetics
  icons/mob/screen1_robot.dmi
  icons/mob/screen1_robot_minimalist.dmi
  icons/mob/screen1_robot_vr.dmi
Labels: Type: Icon

#13694 Adds free AI shell landmarks to SD and RP
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight3.dmm
Labels: Type: Map

#13697 Fixes wrong subtype of loot pile used in one of wilderness pois
  maps/submaps/surface_submaps/plains/emptycabin.dmm
Labels: Type: Map

#13699 Fixes loot piles on another PoI too
  maps/submaps/pois_vr/aerostat/CaveS.dmm
Labels: Type: Map

#13700 Adds colorable magic hat to loadout
  code/modules/client/preference_setup/loadout/loadout_head_vr.dm
  code/modules/clothing/suits/wiz_robe.dm
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
Labels: Type: Icon

#13706 Adds Taur Skirts
  code/modules/client/preference_setup/loadout/loadout_xeno_vr.dm
  code/modules/clothing/suits/miscellaneous_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  icons/mob/taursuits_horse_vr.dmi
Labels: Type: Icon

#13688 Long Predatorial Reach
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_mob/subtypes/vore/frog.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
  icons/obj/projectiles_vr.dmi
Labels: Type: Feature/Suggestion, Type: Vore-Related, Type: Icon

#13711 Fixes taur skirts part 2
  icons/mob/taursuits_horse_vr.dmi
Labels: Type: Icon

#13715 Some minor tether fixes/tweaks
  icons/turf/areas_vr.dmi
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas.dm
Labels: Type: Icon, Type: Map

#13716 Enables mobs to be able to be drop_preds by default. Also fixes prefs.
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
Labels: Type: Bug, Type: Vore-Related

#13722 9/11/22 - Map swap update
  code/modules/food/food/snacks.dm
  code/modules/games/cards.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/vore/mouseray.dm
  icons/turf/areas_vr.dmi
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#13733 Updates Xenoarch sprites with Polaris.
  icons/obj/xenoarchaeology.dmi
  icons/obj/xenoarchaeology_vr.dmi
Labels: Type: Bug, Type: Icon

#13637 [VChat QoL] Minifies JS & Updates Vue
  code/modules/vchat/html/vchat.html
  code/modules/vchat/js/polyfills.min.js
  code/modules/vchat/js/vchat.js
  code/modules/vchat/js/vchat.min.js
  code/modules/vchat/js/vue.min.js
  code/modules/vchat/js/vue.min.js.realmin
  code/modules/vchat/vchat_client.dm
Labels: Type: Misc

#13723 Brings silence to the world of ghosts
  code/modules/xenoarcheaology/finds/talking.dm
Labels: Type: Misc

#13725 Fixes bottle throwing
  code/modules/food/food/drinks/bottle.dm
Labels: Type: Bug

#13728 Snowglobes
  code/game/objects/items/toys/toys_vr.dm
  icons/obj/snowglobe_vr.dmi
Labels: Type: Icon

#13729 Allows Xenochimeras to take Cocoon Spinner
  code/modules/mob/living/carbon/human/species/station/xenochimera_trait_vr.dm
Labels: Type: Misc

#13731 Allows Long Predatorial Reach to toggle modes.
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
Labels: Type: Feature/Suggestion, Type: Vore-Related

#13739 Separates networks of cables on SD's outpost
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
Labels: Type: Map

#13741 Fixes Communicator Threads
  tgui/packages/tgui/interfaces/Communicator.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13748 Fixes runtime with cryopods
  code/__defines/nifsoft.dm
  code/_onclick/hud/popups_vr.dm
  code/game/machinery/cryopod.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items/falling_object_attack_vr.dm
  code/game/objects/items/falling_object_vr.dm
  code/modules/mob/dead/observer/free_vr.dm
  code/modules/mob/living/simple_mob/subtypes/occult/unknown.dm
  code/modules/nifsoft/nif.dm
  code/modules/nifsoft/nifsoft.dm
  code/modules/nifsoft/software/15_misc.dm
  icons/effects/effects.dmi
  icons/effects/random_stuff_vr.dmi
  icons/mob/screen1_popups.dmi
  icons/mob/unknown_boss.dmi
  icons/mob/vore32x64.dmi
  icons/obj/projectiles.dmi
  vorestation.dme
Labels: Type: Icon

#13749 Adds pakkuns
  code/modules/mob/living/simple_mob/subtypes/vore/pakkun.dm
  icons/mob/vore.dmi
  maps/groundbase/eastwilds/eastwilds1.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#13750 Adds more altevian content
  code/game/objects/banners.dm
  code/game/objects/items/trash_vr.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/food/food/snacks.dm
  code/modules/food/food/snacks_vr.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/obj/food_vr.dmi
  icons/obj/items.dmi
  icons/obj/trash_vr.dmi
Labels: Type: Icon

#13753 Fixes belly air for phoron/nitrogen breathers
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species_getters_vr.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
  code/modules/vore/eating/living_vr.dm
Labels: Type: Bug, Type: Vore-Related

#13696 Adds personal shield generators. [READY FOR MERGE]
  code/game/machinery/recharger.dm
  code/game/objects/items/devices/personal_shield_generator_vr.dm
  code/modules/client/stored_item.dm
  code/modules/examine/descriptions/devices.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  code/modules/mob/_modifiers/modifiers_vr.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living.dm
  icons/mob/modifier_effects_vr.dmi
  icons/obj/items_vr.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Icon

#13758 Changes to Bridge, HoP, and IAA offices
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
Labels: Type: Map

#13759 Fixes two more runtimes hopefully
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/startreader.dm
  code/modules/vore/eating/vore_vr.dm
Labels: Type: Bug

#13760 Makes mob droppred handles on vore init instead of variable on the mob.
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
Labels: Type: Vore-Related

#13761 Adds basic system to allow for map-specific events
  maps/groundbase/groundbase.dm
  maps/groundbase/groundbase_events.dm
  maps/stellar_delight/stellar_delight.dm
  maps/stellar_delight/stellar_delight_events.dm
  maps/tether/tether.dm
  maps/tether/tether_events.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#13762 Fixes pakkun stuff
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_mob/subtypes/vore/pakkun.dm
Labels: Type: Bug, Type: Vore-Related

#13763 Makes ladder climb time variable
  code/modules/multiz/ladders.dm
Labels: Type: Feature/Suggestion

#13766 Hotfixes xenoarch tools
  code/modules/xenoarcheaology/tools/suspension_generator.dm
  code/modules/xenoarcheaology/tools/tools.dm
  code/modules/xenoarcheaology/tools/tools_vr.dm
  icons/obj/abductor.dmi
  vorestation.dme
Labels: Type: Bug, Type: Icon

#13767 Fixes a few bugs/runtimes
  code/game/machinery/frame.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/circuitboards/machinery/kitchen_appliances.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories_vr.dm
Labels: Type: Bug

#13768 Fixes runtime with sheet snatcher
  code/game/objects/items/weapons/storage/bags.dm
Labels: Type: Bug

#13769 Radiation Rework
  code/game/machinery/cryo.dm
  code/game/machinery/rechargestation.dm
  code/game/objects/items/devices/scanners/health.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/taste.dm
  code/modules/mob/mob_defines_vr.dm
  code/modules/reagents/reactions/instant/instant_vr.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagents/medicine.dm
  code/modules/reagents/reagents/medicine_vr.dm
Labels: Type: Feature/Suggestion

#13770 Fixes dogborg inbuilt belly deaths not counting as vore deaths
  code/modules/mob/living/carbon/human/death_vr.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
Labels: Type: Bug, Type: Vore-Related

#13771 Removes hotfood vendors from station spawning
  code/datums/supplypacks/vending_refills_vr.dm
  code/game/objects/random/mapping.dm
  code/modules/economy/vending_refills.dm
Labels: Type: Misc

#13772 Fixes recursive explosions
  code/game/objects/explosion_recursive.dm
Labels: Type: Bug

#13774 Adds a ton more altevian stuff
  code/game/objects/items/weapons/melee/energy_vr.dm
  code/game/objects/items/weapons/melee/misc_vr.dm
  code/modules/client/preference_setup/loadout/loadout_xeno_vr.dm
  code/modules/clothing/masks/breath_vr.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  code/modules/clothing/under/altevian_vr.dm
  code/modules/projectiles/guns/energy/altevian_vr.dm
  code/modules/projectiles/guns/projectile/altevian_vr.dm
  icons/inventory/back/mob.dmi
  icons/inventory/face/item_vr.dmi
  icons/inventory/face/mob_vr.dmi
  icons/inventory/head/item_vr_altevian.dmi
  icons/inventory/head/mob_vr_altevian.dmi
  icons/inventory/suit/item_vr_altevian.dmi
  icons/inventory/suit/mob_vr_altevian.dmi
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_guns.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/obj/ammo.dmi
  icons/obj/gun.dmi
  icons/obj/projectiles.dmi
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
  icons/obj/weapons_vr.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Icon

#13775 Lighting Underlay Stacking Fix
  code/game/turfs/simulated/floor_types.dm
Labels: Sev: 3-Moderate, Type: Bug

#13776 Fixes micro pick-up temporary toggle to work properly
  code/modules/vore/resizing/resize_vr.dm
Labels: Type: Bug

#13777 Fixes teleport artifact not unbuckling mobs properly
  code/modules/power/port_gen_vr.dm
  code/modules/xenoarcheaology/effects/teleport.dm
Labels: Type: Bug

#13778 Fixes runtime with medichines deletion
  code/modules/nifsoft/software/05_health.dm
Labels: Type: Bug

#13779 Fixes ascended donk pocket
  code/modules/food/food/snacks_vr.dm
Labels: Type: Bug

#13780 Loads jquery from the Server instead of a CDN
  code/modules/asset_cache/asset_list_items.dm
  code/modules/tooltip/jquery.min.js
  code/modules/tooltip/tooltip.dm
  code/modules/tooltip/tooltip.html
Labels: Type: Misc

#13781 Add digi5 to Black-Eyed Shadekin whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#13782 Buffs Vore
  code/modules/vore/eating/vorepanel_vr.dm
Labels: Type: Feature/Suggestion, Type: Vore-Related

#13783 Sottovoce Fluff Item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#13784 Fixes bluespace bag recursion disappearance
  code/_onclick/hud/popups_vr.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/weapons/storage/backpack.dm
Labels: Type: Bug

#13787 Release Bugfixes and changes (MERGE BEFORE RELEASE)
  code/game/machinery/cryo.dm
  code/game/objects/items/devices/personal_shield_generator_vr.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated/outdoors/outdoors_vr.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/materials/materials/stone.dm
  icons/obj/gun.dmi
  icons/obj/stacks.dmi
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Bug, Type: Feature/Suggestion, Type: Icon, Type: Map

#13789 Map merge
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#13791 GitHub Workflows security hardening
  .github/workflows/render_nanomaps.yml
Labels: Type: .git or .github

#13792 Fixes conk rete walls
  code/game/turfs/simulated/wall_types.dm
Labels: Type: Bug

#13793 Adds the rest of the phazon parts (circuits) to contraband packages.
  code/game/objects/items/contraband_vr.dm
Labels: Type: Feature/Suggestion

#13795 Makes sect abdomen glow colorable
  code/modules/mob/living/simple_mob/appearance.dm
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/mob/living/simple_mob/subtypes/vore/sect_drone.dm
  code/modules/mob/living/simple_mob/subtypes/vore/sect_queen.dm
  icons/mob/vore64x64.dmi
Labels: Type: Icon

#13798 i want to brutalize rats
  code/modules/mob/living/carbon/human/human_species_vr.dm
Labels: Type: Misc

#13799 Mining adjustments
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mining/drilling/scanner.dm
  code/modules/mining/machinery/machine_processing.dm
  code/modules/mining/machinery/machine_unloading.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mining/ore.dm
  code/modules/mining/ore_box.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  code/modules/random_map/noise/ore.dm
  icons/obj/mining_ore_vr.dmi
  maps/expedition_vr/aerostat/_aerostat.dm
Labels: Type: Bug, Type: Feature/Suggestion, Type: Icon

#13802 Markings care package
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra.dm
  icons/mob/human_races/markings_alt.dmi
  icons/mob/vore/ears_vr.dmi
Labels: Type: Icon

#13806 9/25/22 - Map swap update
  .github/workflows/render_nanomaps.yml
  code/controllers/subsystems/processing/instruments.dm
  code/core/atom/Transform.dm
  code/core/datum/IsAbstract.dm
  code/core/image/Transform.dm
  code/core/matrix/Transform.dm
  code/game/objects/items/contraband_vr.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/micro_event.dm
  code/game/objects/structures/ghost_pods/ghost_pods.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/client/preference_setup/traits/trait_defines.dm
  code/modules/client/preference_setup/traits/traits.dm
  code/modules/instruments/instrument_data/_instrument_data.dm
  code/modules/instruments/instrument_data/brass.dm
  code/modules/instruments/instrument_data/chromatic_percussion.dm
  code/modules/instruments/instrument_data/fun.dm
  code/modules/instruments/instrument_data/guitar.dm
  code/modules/instruments/instrument_data/hardcoded.dm
  code/modules/instruments/instrument_data/organ.dm
  code/modules/instruments/instrument_data/piano.dm
  code/modules/instruments/instrument_data/synth_tones.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mining/drilling/scanner.dm
  code/modules/mining/machinery/machine_processing.dm
  code/modules/mining/machinery/machine_unloading.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mining/ore.dm
  code/modules/mining/ore_box.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_species_vr.dm
  code/modules/mob/living/simple_mob/appearance.dm
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/mob/living/simple_mob/subtypes/vore/sect_drone.dm
  code/modules/mob/living/simple_mob/subtypes/vore/sect_queen.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra.dm
  code/modules/multiz/movement.dm
  code/modules/random_map/noise/ore.dm
  code/stylesheet.dm
  icons/mob/human_races/markings_alt.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore64x64.dmi
  icons/obj/mining_ore_vr.dmi
  maps/expedition_vr/aerostat/_aerostat.dm
  vorestation.dme
Labels: Type: .git or .github

#13818 Enhances pakkuns
  code/modules/mob/living/simple_mob/subtypes/vore/pakkun.dm
  icons/mob/vore.dmi
Labels: Type: Feature/Suggestion, Type: Vore-Related, Type: Icon
