Repository VOREStation/VOREStation, pull requests merged in 2022-05, with the labels that each got.

#12860 (Rascal's Pass) Tiny additions
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#12869 Dosimeters
  code/datums/supplypacks/engineering_vr.dm
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/clothing/under/accessories/badges_vr.dm
  icons/inventory/accessory/item_vr.dmi
  vorestation.dme
Labels: Type: Icon

#12875 Groundbase Tweaks
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#12876 5/1/22 - Update
  code/datums/supplypacks/engineering_vr.dm
  code/game/objects/items/stacks/stack_vr.dm
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/clothing/under/accessories/badges_vr.dm
  code/modules/mob/living/living.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  icons/inventory/accessory/item_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#12900 Tourbus Tweak!
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#12862 Introduces bugs to fix the bug of there being no bugs.
  code/modules/mob/living/simple_mob/subtypes/animal/passive/cockroach.dm
  icons/mob/animal_vr.dmi
Labels: Type: Icon

#12905 Alt. Naga Style Port
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/taursuits_naga_alt_vr.dmi
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#12923 Shuttle fixes
  code/game/turfs/simulated/fancy_shuttles.dm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#12925 Adds chemistry kits
  code/game/objects/items/selectable_item_vr.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/reagents/reagent_containers/glass_vr.dm
  icons/obj/chemical_vr.dmi
  vorestation.dme
Labels: Type: Icon

#12931 Adds horse taur clothing to the warden - alt jacket
  icons/mob/taursuits_horse.dmi
  icons/mob/taursuits_horse_vr.dmi
Labels: Type: Icon

#12947 Give someone xenochimera
  config/alienwhitelist.txt
Labels: Type: Fluff

#12942 TGUI Bundle Update Label
  .github/boring-cyborg.yml
Labels: Type: .git or .github

#12937 Adds flat aeromorph wings
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  icons/mob/vore/wings_vr.dmi
Labels: Type: Icon

#12952 Whitelist Update
  config/alienwhitelist.txt
Labels: Type: Fluff

#12954 Even more Whitelist updates!
  config/alienwhitelist.txt
Labels: Type: Fluff

#12956 Yet another whitelist update
  config/alienwhitelist.txt
Labels: Type: Fluff

#12957 6 more names in the book of grudges
  config/alienwhitelist.txt
Labels: Type: Fluff

#12949 Winter coats for horse taurs + Warden alt coat revamp + taur HOS coat + taur nun coat
  icons/mob/taursuits_horse.dmi
  icons/mob/taursuits_horse_vr.dmi
Labels: Type: Icon

#12958 Adds Nettie's fluff Tablet
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Fluff

#12959 5/12/22 Update
  .github/boring-cyborg.yml
  code/_helpers/mobs.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/storage/egg_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/food/kitchen/cooking_machines/fryer.dm
  code/modules/food/kitchen/microwave.dm
  code/modules/food/recipes_fryer.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_microwave_vr.dm
  code/modules/food/recipes_oven.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/mob/living/bot/edCLNbot.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  code/modules/organs/blood.dm
  code/modules/reagents/reactions/instant/food.dm
  code/modules/reagents/reagents/food_drinks.dm
  code/modules/spells/targeted/projectile/projectile.dm
  code/modules/tgui/modules/appearance_changer.dm
  code/modules/tgui/modules/appearance_changer_vr.dm
  code/modules/vchat/css/ss13styles.css
  code/modules/vore/fluffstuff/custom_items_vr.dm
  code/stylesheet.dm
  config/alienwhitelist.txt
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/inventory/back/mob.dmi
  icons/mob/taursuits_horse.dmi
  icons/mob/taursuits_horse_vr.dmi
  icons/mob/vore/wings_vr.dmi
Labels: Type: Fluff, Type: Icon, Type: .git or .github

#12960 Adds the long wool furcoat.
  icons/mob/taursuits_horse.dmi
  icons/mob/taursuits_horse_vr.dmi
Labels: Type: Icon

#12974 Adds a couple of new toys for cyborgs.
  code/datums/supplypacks/recreation.dm
  code/game/objects/items/robot/robot_upgrades_vr.dm
  code/modules/projectiles/guns/toy.dm
  code/modules/research/prosfab_designs_vr.dm
  icons/obj/module.dmi
Labels: Type: Icon

#12977 It's time for fun it's time to run around in the sun!
  maps/groundbase/gb-z3.dmm
  vorestation.dme
Labels: Type: Map

#12978 5/15/22 - Map Swap Update
  code/datums/supplypacks/atmospherics.dm
  code/datums/supplypacks/recreation.dm
  code/datums/supplypacks/security.dm
  code/game/objects/items/robot/robot_upgrades_vr.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/ai/ai_holder_movement.dm
  code/modules/clothing/head/jobs.dm
  code/modules/economy/vending_machines.dm
  code/modules/food/kitchen/gibber.dm
  code/modules/hydroponics/backtank.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/silicon/silicon_vr.dm
  code/modules/mob/living/simple_mob/subtypes/slime/xenobio/xenobio.dm
  code/modules/projectiles/guns/toy.dm
  code/modules/research/prosfab_designs_vr.dm
  code/modules/stockmarket/computer.dm
  icons/mob/taursuits_horse.dmi
  icons/mob/taursuits_horse_vr.dmi
  icons/obj/module.dmi
  maps/groundbase/gb-z3.dmm
  tgui/packages/tgui/interfaces/StockExchange.js
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: TGUI Bundle

#12980 Adds the planet collar!
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  icons/inventory/accessory/item_vr.dmi
  icons/inventory/accessory/mob_vr.dmi
Labels: Type: Icon

#12981 5/15/22 - One more thing
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  icons/inventory/accessory/item_vr.dmi
  icons/inventory/accessory/mob_vr.dmi
Labels: Type: Icon

#12984 GB changes
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
Labels: Type: Map

#12985 Adds Fifi the Magnificent's costume (Fluff item, Allweek)
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#12988 Adds ability for taller taurs to exist
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs128x64_vr.dmi
Labels: Type: Icon

#12991 5/18/22 - Update
  code/ATMOSPHERICS/components/unary/vent_scrubber.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/mob/vore/taurs128x64_vr.dmi
  icons/vore/custom_clothes_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
Labels: Type: Fluff, Type: Icon, Type: Map

#12992 Revert "Adds ability for taller taurs to exist"
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs128x64_vr.dmi
Labels: Type: Icon

#12993 5/18/22 - Revert
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs128x64_vr.dmi
Labels: Type: Icon

#12994 Fixes typo in Fifi's fluff loadout
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#13004 custom item stuff ahead of explo removeal
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Fluff

#12999 TGUI Dependencies Update
  _build_dependencies.sh
  tgui/.eslintrc.yml
  tgui/.yarn/releases/yarn-2.4.1.cjs
  tgui/.yarn/releases/yarn-3.2.1.cjs
  tgui/.yarnrc.yml
  tgui/README.md
  tgui/package.json
  tgui/packages/tgfont/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-panel/styles/components/Chat.scss
  tgui/packages/tgui-panel/styles/components/Ping.scss
  tgui/packages/tgui-panel/styles/main.scss
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/base.scss
  tgui/packages/tgui/styles/components/Tabs.scss
  tgui/packages/tgui/styles/functions.scss
  tgui/public/tgui-common.bundle.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: Type: TGUI Bundle

#12996 Ports card icons from Eris. Implements them for VOREStation
  code/modules/client/preference_setup/loadout/loadout_general_vr.dm
  code/modules/games/egy_cards_vr.dm
  icons/obj/playing_cards.dmi
  vorestation.dme
Labels: Type: Icon

#13007 5/22/22 - Map swap update
  _build_dependencies.sh
  code/datums/autolathe/devices_vr.dm
  code/game/area/areas.dm
  code/game/objects/items/stacks/tiles/fifty_spawner_tiles.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_vr.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/game/turfs/simulated/lava.dm
  code/game/turfs/simulated/outdoors/outdoors.dm
  code/game/turfs/simulated/outdoors/outdoors_attackby.dm
  code/game/turfs/simulated/outdoors/snow.dm
  code/game/turfs/simulated/water.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_general_vr.dm
  code/modules/economy/vending_machines.dm
  code/modules/games/egy_cards_vr.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/resleeving/infomorph.dm
  code/modules/resleeving/infomorph_software.dm
  code/modules/resleeving/machines.dm
  code/modules/resleeving/sleevecard.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/obj/playing_cards.dmi
  maps/groundbase/groundbase_things.dm
  maps/stellardelight/stellar_delight_things.dm
  maps/tether/tether_things.dm
  tgui/.eslintrc.yml
  tgui/.yarn/releases/yarn-2.4.1.cjs
  tgui/.yarn/releases/yarn-3.2.1.cjs
  tgui/.yarnrc.yml
  tgui/README.md
  tgui/package.json
  tgui/packages/tgfont/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-panel/styles/components/Chat.scss
  tgui/packages/tgui-panel/styles/components/Ping.scss
  tgui/packages/tgui-panel/styles/main.scss
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/base.scss
  tgui/packages/tgui/styles/components/Tabs.scss
  tgui/packages/tgui/styles/functions.scss
  tgui/public/tgui-common.bundle.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#13011 Another typo on Fifi's fluff item. This time it should work.
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#13012 Stobarico's Fluff Item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_left_hand_vr.dmi
  icons/vore/custom_items_right_hand_vr.dmi
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#13013 TGUI API improvements port
  code/controllers/subsystems/tgui.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui/tgui_window.dm
  code/modules/tooltip/tooltip.html
  tgui/.eslintrc.yml
  tgui/README.md
  tgui/docs/tgui-for-custom-html-popups.md
  tgui/global.d.ts
  tgui/packages/tgui-panel/index.js
  tgui/packages/tgui-panel/ping/middleware.js
  tgui/packages/tgui-panel/telemetry.js
  tgui/packages/tgui-polyfill/00-html5shiv.js
  tgui/packages/tgui-polyfill/01-ie8.js
  tgui/packages/tgui-polyfill/02-dom4.js
  tgui/packages/tgui-polyfill/03-css-om.js
  tgui/packages/tgui-polyfill/10-misc.js
  tgui/packages/tgui-polyfill/index.js
  tgui/packages/tgui-polyfill/inferno.js
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/debug/middleware.js
  tgui/packages/tgui/drag.js
  tgui/packages/tgui/focus.js
  tgui/packages/tgui/index.js
  tgui/packages/tgui/layouts/Window.js
  tgui/packages/tgui/links.js
  tgui/packages/tgui/logging.js
  tgui/packages/tgui/stories/ByondUi.stories.js
  tgui/public/tgui-common.bundle.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-polyfill.min.js
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
  tgui/yarn.lock
Labels: Type: TGUI Bundle

#13018 Duke's Mapping Competition: Burrito's Lake Map
  code/game/objects/structures/railing.dm
  maps/atoll/atoll.dmm
  maps/atoll/atoll_decals.dm
  maps/atoll/atoll_objs.dm
  maps/atoll/atoll_turfs.dm
  maps/atoll/icons/decals/marble_decals.dmi
  maps/atoll/icons/decals/wall_decals.dmi
  maps/atoll/icons/objs/benches.dmi
  maps/atoll/icons/objs/bronze_overhang.dmi
  maps/atoll/icons/objs/lamp.dmi
  maps/atoll/icons/objs/moss.dmi
  maps/atoll/icons/objs/trees.dmi
  maps/atoll/icons/objs/trees_xl.dmi
  maps/atoll/icons/turfs/marble.dmi
  maps/atoll/icons/turfs/water.dmi
  vorestation.dme
Labels: Type: Icon, Type: Map
