Repository VOREStation/VOREStation, pull requests merged in 2022-02, with the labels that each got.

#12137 updated (humanoid) radsuit sprites
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
Labels: Type: Icon

#12143 Return to Tether
  code/game/objects/effects/landmarks.dm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether_defines.dm
  vorestation.dme
Labels: Type: Map

#11763 Talon Improvements, Take 2
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  maps/offmap_vr/talon/talon_v2.dm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/offmap_vr/talon/talon_v2_areas.dm
Labels: Type: Map

#12146 skimpy cap "dress" probably more like a leotard idk
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
Labels: Type: Icon

#12149 makes amour for lucky
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/obj/clothing/knights_vr.dmi
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#12155 Item bank!
  code/modules/client/stored_item.dm
  icons/obj/stationobjs_vr.dmi
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight2.dmm
  maps/stellardelight/stellar_delight3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#12157 Tether item banks!
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#12159 Updates Whitelist with recent additions
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/teppi.dm
  config/alienwhitelist.txt
Labels: Type: Fluff

#12164 talon miner
  code/game/jobs/jobs.dm
  code/game/machinery/suit_cycler_datums.dm
  code/game/machinery/suit_storage_unit_vr.dm
  code/game/objects/effects/job_start_landmarks.dm
  code/game/objects/items/weapons/id cards/id_stacks_vr.dm
  code/game/objects/items/weapons/id cards/station_ids_vr.dm
  code/game/objects/random/spacesuits.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions_vr.dm
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/clothing/spacesuits/void/event.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  icons/inventory/head/item.dmi
  icons/inventory/head/item_skrell.dmi
  icons/inventory/head/item_tajaran.dmi
  icons/inventory/head/item_unathi.dmi
  icons/inventory/head/item_vr_akula.dmi
  icons/inventory/head/item_vr_sergal.dmi
  icons/inventory/head/item_vr_vulpkanin.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/head/mob_skrell.dmi
  icons/inventory/head/mob_tajaran.dmi
  icons/inventory/head/mob_unathi.dmi
  icons/inventory/head/mob_vr_akula.dmi
  icons/inventory/head/mob_vr_sergal.dmi
  icons/inventory/head/mob_vr_vulpkanin.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/item_skrell.dmi
  icons/inventory/suit/item_tajaran.dmi
  icons/inventory/suit/item_unathi.dmi
  icons/inventory/suit/item_vr_akula.dmi
  icons/inventory/suit/item_vr_sergal.dmi
  icons/inventory/suit/item_vr_vulpkanin.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/suit/mob_skrell.dmi
  icons/inventory/suit/mob_tajaran.dmi
  icons/inventory/suit/mob_unathi.dmi
  icons/inventory/suit/mob_vr_akula.dmi
  icons/inventory/suit/mob_vr_sergal.dmi
  icons/inventory/suit/mob_vr_vulpkanin.dmi
  maps/offmap_vr/talon/talon_v2.dm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/offmap_vr/talon/talon_v2_areas.dm
  maps/submaps/depreciated_vr/talon.dm
  maps/tether/tether_jobs.dm
Labels: Type: Icon

#12144 exosuit cargo expansion equipment
  code/game/mecha/equipment/tools/storage_compartment.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/paintkit.dm
  code/modules/research/mechfab_designs.dm
  icons/mecha/mecha_equipment_vr.dmi
  vorestation.dme
Labels: Type: Icon

#12168 Further item bank restrictions
  code/modules/client/stored_item.dm
  code/modules/nifsoft/nif.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#12169 Last minute fixes
  code/modules/client/stored_item.dm
  code/modules/nifsoft/nif.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#12170 Landmark edit
  code/game/objects/effects/landmarks.dm
  maps/offmap_vr/talon/talon_v2.dmm
Labels: Type: Map

#12171 2/7/22 Smol patch
  code/game/objects/effects/landmarks.dm
  maps/offmap_vr/talon/talon_v2.dmm
Labels: Type: Map

#12172 add fuel panel thing to sec shutl
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#12174 Hastily gives the ERT their suits back
  code/datums/uplink/tools_vr.dm
  maps/submaps/admin_use_vr/ert.dmm
Labels: Type: Map

#12177 Add all the access to the explo shuttle's doors
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#12178 2/7/22 Patch
  code/__defines/species_languages.dm
  code/datums/uplink/tools_vr.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/reagents/reagents/_reagents.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  maps/submaps/admin_use_vr/ert.dmm
  maps/tether/tether-05-station1.dmm
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui/package.json
  tools/mapmerge2/requirements.txt
Labels: Type: Icon, Type: Map

#12181 Increases settings of engine smes for Tether.
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#12186 slight tether mime and clown offices tweaks
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#12188 Size Standardization Bracelet
  code/game/objects/items/weapons/id cards/cards.dm
  code/modules/client/preference_setup/loadout/loadout_utility_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/vore/resizing/sizegun_vr.dm
  icons/inventory/accessory/item_vr.dmi
Labels: Type: Icon

#12189 2/9/22 'I don't want to wait for the weekend' update
  code/game/objects/items/weapons/id cards/cards.dm
  code/modules/client/preference_setup/loadout/loadout_utility_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/persistence/effects/trash.dm
  code/modules/reagents/reagents/toxins.dm
  code/modules/vore/resizing/sizegun_vr.dm
  icons/inventory/accessory/item_vr.dmi
  maps/submaps/surface_submaps/plains/plains_vr.dm
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Icon, Type: Map

#12191 strapless bag
  code/game/objects/items/weapons/storage/backpack_vr.dm
  code/modules/client/preference_setup/loadout/loadout_utility_vr.dm
  icons/inventory/back/item_vr.dmi
  icons/inventory/back/mob_vr.dmi
Labels: Type: Icon

#12192 Access fixes and telecomm buttons
  code/game/jobs/access_datum_vr.dm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#12193 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: Type: .git or .github

#12199 Kitty ear right only 20
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  icons/mob/vore/ears_uneven.dmi
Labels: Type: Icon

#12201 2/12/22 I could have waited until tomorrow but I didn't want to - update
  .github/CONTRIBUTING.md
  code/game/jobs/access_datum_vr.dm
  code/game/objects/items/weapons/storage/backpack_vr.dm
  code/game/objects/items/weapons/storage/pouches.dm
  code/modules/client/preference_setup/loadout/loadout_utility_vr.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_vr.dm
  code/modules/multiz/ladder_assembly_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/inventory/back/item_vr.dmi
  icons/inventory/back/mob_vr.dmi
  icons/mob/human_face_vr.dmi
  icons/mob/human_face_vr_add.dmi
  icons/mob/vore/ears_32x64.dmi
  icons/mob/vore/ears_uneven.dmi
  maps/tether/tether-05-station1.dmm
Labels: Type: Icon, Type: Map, Type: .git or .github

#12219 2/13/22 - Map Swap - Update
  code/_helpers/global_lists.dm
  code/controllers/subsystems/supply.dm
  code/game/dna/dna2.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/weapons/implants/implantlanguage.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/client/preference_setup/loadout/loadout_cyberware.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/shieldgen/directional_shield.dm
  code/modules/telesci/quantum_pad.dm
  icons/mob/human_races/markings.dmi
  maps/submaps/engine_submaps/engine.dm
  vorestation.dme
Labels: Type: Icon

#12221 SD - gives cmo & rd their folders
  maps/stellardelight/stellar_delight3.dmm
Labels: Type: Map

#12224 12/13/22 - Smol widdol update
  code/game/objects/items/weapons/capture_crystal.dm
  maps/stellardelight/stellar_delight3.dmm
Labels: Type: Map

#12233 Heavy-duty Engineer's Gloves
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/clothing/gloves/miscellaneous_vr.dm
  code/modules/economy/vending_machines.dm
  icons/inventory/hands/item_vr.dmi
  icons/inventory/hands/mob_vr.dmi
  icons/inventory/hands/mob_vr_teshari.dmi
  icons/inventory/hands/mob_vr_vox.dmi
  icons/inventory/hands/mob_vr_werebeast.dmi
Labels: Type: Icon

#12235 Adds vendor refill cartridges to cargo
  code/datums/supplypacks/supplypacks.dm
  code/datums/supplypacks/vending_refills_vr.dm
  code/datums/vending/stored_item.dm
  code/modules/economy/vending.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/economy/vending_refills.dm
  code/modules/reagents/reagent_containers/pill_vr.dm
  icons/obj/refill_cartridges.dmi
  maps/tether/tether_things.dm
  vorestation.dme
Labels: Type: Icon

#12242 Now's your chance to be a [BIG SHOT]
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/clothing/glasses/glasses.dm
  icons/inventory/eyes/item.dmi
  icons/inventory/eyes/mob.dmi
Labels: Type: Icon

#12249 Effect Repath Merge Fixes
  code/game/gamemodes/technomancer/devices/shield_armor.dm
  code/game/gamemodes/technomancer/spells/warp_strike.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/effects/chem/foam.dm
  code/game/objects/effects/chem/foam_vr.dm
  code/game/objects/effects/gibs.dm
  code/game/objects/effects/map_effects/effect_emitter.dm
  code/game/objects/items/antag_spawners.dm
  code/game/objects/items/uav.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/clothing/spacesuits/rig/modules/specific/self_destruct.dm
  code/modules/mob/living/bot/floorbot.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/pda/pda.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/reagents/reagents/other_vr.dm
  maps/RandomZLevels/blackmarketpackers.dmm
  maps/expedition_vr/beach/submaps/crashedcontainmentshuttle.dmm
  maps/expedition_vr/beach/submaps/deadly_rabbit_vr.dmm
  maps/expedition_vr/wild/tether_wild-crash.dmm
  maps/expedition_vr/wild/tether_wild-temple.dmm
  maps/gateway_archive_vr/blackmarketpackers.dmm
  maps/gateway_archive_vr/carpfarm.dmm
  maps/gateway_archive_vr/zoo.dmm
  maps/gateway_vr/carpfarm.dmm
  maps/gateway_vr/variable/arynthilakeunderground_a.dmm
  maps/gateway_vr/variable/arynthilakeunderground_b.dmm
  maps/gateway_vr/wildwest.dmm
  maps/gateway_vr/zoo.dmm
  maps/om_adventure/pois/shuttlewreck3.dmm
  maps/submaps/pois_vr/debris_field/new_escapepod_carp.dmm
  maps/submaps/pois_vr/debris_field/new_escapepod_robo.dmm
  maps/submaps/surface_submaps/mountains/crashedcontainmentshuttle_vr.dmm
  maps/submaps/surface_submaps/mountains/deadly_rabbit_vr.dmm
  maps/submaps/surface_submaps/plains/drgnplateu.dmm
  maps/submaps/surface_submaps/plains/hotspring.dmm
  maps/submaps/surface_submaps/plains/lonehome_vr.dmm
  maps/submaps/surface_submaps/wilderness/drgnplateu.dmm
  maps/submaps/surface_submaps/wilderness/xenohive.dmm
  maps/virgo_minitest/virgo_minitest-sector-2.dmm
  vorestation.dme
Labels: Type: Map

#12251 Ad the air alarms and fix the area
  maps/stellardelight/stellar_delight3.dmm
Labels: Type: Map

#12254 Eggnog town tweak
  maps/gateway_vr/eggnogtown.dmm
  maps/gateway_vr/eggnogtownunderground.dmm
Labels: Type: Map

#12244 revolver eloise fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#12264 Buffs Morphs
  code/modules/mob/living/simple_mob/subtypes/vore/morph/morph.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  icons/mob/animal_vr.dmi
Labels: Type: Icon

#12247 Fixes sofa paths
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/materials/materials/metals/steel_vr.dm
  maps/expedition_vr/beach/submaps/speakeasy_vr.dmm
  maps/submaps/surface_submaps/wilderness/emptycabin.dmm
Labels: Type: Map

#12274 Add's Brad's Air Jordans
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Type: Fluff, Type: Icon

#12275 2/18/22 - okay this one too
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Type: Fluff, Type: Icon

#12277 correct morph's dead iconstate
  icons/mob/animal_vr.dmi
Labels: Type: Icon

#12276 Adds YeCrowbarMan to Mime whitelist
  config/jobwhitelist.txt
Labels: Type: Fluff

#12280 adds avida's clothes and alt bnnuy ears
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/mob/vore/ears_32x64.dmi
  icons/vore/custom_clothes_left_hand_vr.dmi
  icons/vore/custom_clothes_right_hand_vr.dmi
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_32x48_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Type: Fluff, Type: Icon

#12253 Donk Co. Toys
  code/datums/outfits/costumes/halloween.dm
  code/datums/supplypacks/recreation.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/arcade_vr.dm
  code/game/objects/items/toys/mech_toys.dm
  code/game/objects/items/toys/toys.dm
  code/game/objects/items/toys/toys_vr.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/gradient.dm
  code/game/objects/random/misc.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/economy/vending_machines.dm
  code/modules/games/cah_black_cards.dm
  code/modules/games/cah_white_cards.dm
  code/modules/games/cardemon.dm
  code/modules/games/spaceball_cards.dm
  code/modules/games/tarot.dm
  code/modules/games/wizoff.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/ammo_boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/ammunition/rounds.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/toy.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/inventory/belt/item.dmi
  icons/inventory/belt/mob.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/obj/ammo_boxes.dmi
  icons/obj/gun.dmi
  icons/obj/gun_toy.dmi
  icons/obj/playing_cards.dmi
  icons/obj/toy.dmi
  icons/obj/toy_vr.dmi
  icons/obj/vending.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  sound/items/sonic_driver.ogg
  vorestation.dme
Labels: Type: Icon

#12282 2/18/22 - Late night fixy and toys
  code/datums/components/crafting/recipes/weapons.dm
  code/datums/outfits/costumes/halloween.dm
  code/datums/supplypacks/recreation.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/arcade_vr.dm
  code/game/objects/items/toys/mech_toys.dm
  code/game/objects/items/toys/toys.dm
  code/game/objects/items/toys/toys_vr.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/shields_vr.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/gradient.dm
  code/game/objects/random/misc.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/economy/vending_machines.dm
  code/modules/games/cah_black_cards.dm
  code/modules/games/cah_white_cards.dm
  code/modules/games/cardemon.dm
  code/modules/games/spaceball_cards.dm
  code/modules/games/tarot.dm
  code/modules/games/wizoff.dm
  code/modules/mob/living/simple_mob/subtypes/vore/morph/morph.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/ammo_boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/ammunition/rounds.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/toy.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/inventory/belt/item.dmi
  icons/inventory/belt/mob.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/mob/vore/ears_32x64.dmi
  icons/obj/ammo_boxes.dmi
  icons/obj/gun.dmi
  icons/obj/gun_toy.dmi
  icons/obj/playing_cards.dmi
  icons/obj/toy.dmi
  icons/obj/toy_vr.dmi
  icons/obj/vending.dmi
  icons/vore/custom_clothes_left_hand_vr.dmi
  icons/vore/custom_clothes_right_hand_vr.dmi
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_32x48_vr.dmi
  icons/vore/custom_onmob_vr.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  sound/items/sonic_driver.ogg
  vorestation.dme
Labels: Type: Fluff

#12286 Merge Fixes for 8222
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/structures/flora/flora.dm
  code/game/objects/structures/flora/trees.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated/outdoors/dirt.dm
  code/game/turfs/simulated/outdoors/grass.dm
  code/game/turfs/simulated/outdoors/outdoors.dm
  code/game/turfs/simulated/outdoors/outdoors_attackby.dm
  code/modules/food/food/snacks.dm
  code/modules/food/food/snacks/meat.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown_predefined.dm
  code/modules/hydroponics/grown_sif.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seedtypes/apples.dm
  code/modules/hydroponics/trays/tray_soil.dm
  code/modules/materials/materials/organic/wood.dm
  code/modules/materials/sheets/organic/tanning/hide.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/fish.dm
  code/modules/random_map/random_map.dm
  code/modules/reagents/reactions/instant/instant.dm
  code/modules/reagents/reagents/other.dm
  code/modules/reagents/reagents/toxins.dm
  icons/obj/flora/mushrooms.dmi
  icons/turf/flooring/asteroid.dmi
  vorestation.dme
Labels: Type: Icon

#12288 [ready] pastelprincedan plushie fluff item
  code/game/objects/items/toys/toys_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#12287 Adds swept back rabbit ears and large antlers from Jackalope as independant markings
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  icons/mob/vore/ears_32x64.dmi
Labels: Type: Icon

#12290 Adds Cryohydra to Protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#12291 8330 fix
  code/_helpers/turfs.dm
  code/modules/modular_computers/hardware/network_card.dm
  code/modules/overmap/ships/landable.dm
  code/modules/paperwork/paper.dm
  maps/cynosure/cynosure-1.dmm
  maps/cynosure/cynosure-2.dmm
  maps/cynosure/cynosure-3.dmm
  maps/cynosure/cynosure-4.dmm
  maps/cynosure/cynosure-6.dmm
  maps/cynosure/cynosure-7.dmm
  maps/cynosure/overmap/sectors.dm
Labels: Type: Map

#12292 8316 fix
  code/game/machinery/reagents/pump.dm
  code/modules/reagents/machinery/pump.dm
  icons/obj/machines/reagent.dmi
  vorestation.dme
Labels: Type: Icon

#12298 Attempt to reduce sound based lag
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/radio/headset.dm
  sound/effects/radio_common_quieter.ogg
Labels: Type: Sound

#12299 2/20/22 Back to tether
  maps/cynosure/cynosure-1.dmm
  maps/cynosure/cynosure-3.dmm
  maps/cynosure/submaps/16x11/OldDorms.dmm
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  maps/gateway_vr/eggnogtown.dmm
  maps/gateway_vr/eggnogtownunderground.dmm
  maps/gateway_vr/variable/arynthilake_a.dmm
  maps/gateway_vr/variable/arynthilake_b.dmm
  maps/gateway_vr/variable/honlethhighlands_a.dmm
  maps/gateway_vr/variable/honlethhighlands_b.dmm
  maps/offmap_vr/om_ships/curashuttle.dmm
  maps/offmap_vr/om_ships/itglight.dmm
  maps/om_adventure/pois/cabin1.dmm
  maps/om_adventure/pois/cabin2.dmm
  maps/om_adventure/pois/medicalcenter.dmm
  maps/southern_cross/southern_cross-1.dmm
  maps/submaps/surface_submaps/mountains/speakeasy_vr.dmm
  maps/submaps/surface_submaps/plains/emptycabin.dmm
  maps/submaps/surface_submaps/plains/lonehome.dmm
  maps/submaps/surface_submaps/plains/lonehome_vr.dmm
  maps/submaps/surface_submaps/plains/oldhotel.dmm
  maps/tether/tether-01-surface1.dmm
  vorestation.dme
Labels: Type: Map

#12310 2/22/22 - Twosday update
  code/modules/admin/verbs/playsound.dm
  code/modules/events/event_container_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/morph/morph.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
Labels: Type: Icon

#12311 Tether map tweaks
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether_shuttle_defs.dm
Labels: Type: Map

#12312 2/22/22 - This one too
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether_shuttle_defs.dm
Labels: Type: Map

#12318 Add The toaster to BESK whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#12319 Trader!
  code/game/objects/items/weapons/capture_crystal.dm
  code/game/objects/random/misc_vr.dm
  code/modules/economy/coins_vr.dm
  code/modules/economy/trader.dm
  icons/obj/traderx64.dmi
  icons/obj/vending_vr.dmi
  maps/om_adventure/pois/medicalcenter.dmm
  maps/om_adventure/pois/woodentemple.dmm
  sound/music/capture_crystal_1.ogg
  sound/music/capture_crystal_2.ogg
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Sound

#12324 2/25/22 - Updoot
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/weapons/capture_crystal.dm
  code/game/objects/random/misc_vr.dm
  code/modules/economy/coins_vr.dm
  code/modules/economy/trader.dm
  code/modules/hydroponics/seedtypes/grass.dm
  code/modules/reagents/reactions/instant/instant.dm
  code/modules/reagents/reagents/other.dm
  config/alienwhitelist.txt
  icons/obj/traderx64.dmi
  icons/obj/vending_vr.dmi
  maps/om_adventure/pois/medicalcenter.dmm
  maps/om_adventure/pois/woodentemple.dmm
  sound/music/capture_crystal_1.ogg
  sound/music/capture_crystal_2.ogg
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map, Type: Sound

#12327 Trader tweak
  code/modules/economy/trader.dm
  icons/obj/landmark_vr.dmi
Labels: Type: Icon

#12331 Miscelanious map tweaks
  code/modules/economy/trader.dm
  maps/expedition_vr/beach/beach.dmm
  maps/gateway_vr/eggnogtown.dmm
  maps/gateway_vr/eggnogtownunderground.dmm
  maps/gateway_vr/variable/arynthilake_a.dmm
  maps/gateway_vr/variable/arynthilake_b.dmm
  maps/gateway_vr/variable/honlethhighlands_a.dmm
  maps/gateway_vr/variable/honlethhighlands_b.dmm
  maps/gateway_vr/wildwest.dmm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/om_adventure/pois/cabin1.dmm
  maps/om_adventure/pois/cabin2.dmm
  maps/om_adventure/pois/camp.dmm
  maps/om_adventure/pois/medicalcenter.dmm
  maps/om_adventure/pois/shippart1.dmm
  maps/om_adventure/pois/shuttlewreck2.dmm
  maps/om_adventure/pois/shuttlewreck4.dmm
  maps/om_adventure/pois/woodentemple.dmm
  maps/stellardelight/ship_centcom.dmm
  maps/stellardelight/stellar_delight3.dmm
  maps/tether/submaps/tether_centcom.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#12332 2/26/22 - Update
  code/game/objects/structures/trash_pile_vr.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/clothing/gloves/miscellaneous_vr.dm
  code/modules/economy/trader.dm
  code/modules/mob/living/simple_mob/appearance.dm
  icons/obj/landmark_vr.dmi
  maps/expedition_vr/beach/beach.dmm
  maps/gateway_vr/eggnogtown.dmm
  maps/gateway_vr/eggnogtownunderground.dmm
  maps/gateway_vr/variable/arynthilake_a.dmm
  maps/gateway_vr/variable/arynthilake_b.dmm
  maps/gateway_vr/variable/honlethhighlands_a.dmm
  maps/gateway_vr/variable/honlethhighlands_b.dmm
  maps/gateway_vr/wildwest.dmm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/om_adventure/pois/cabin1.dmm
  maps/om_adventure/pois/cabin2.dmm
  maps/om_adventure/pois/camp.dmm
  maps/om_adventure/pois/medicalcenter.dmm
  maps/om_adventure/pois/shippart1.dmm
  maps/om_adventure/pois/shuttlewreck2.dmm
  maps/om_adventure/pois/shuttlewreck4.dmm
  maps/om_adventure/pois/woodentemple.dmm
  maps/stellardelight/ship_centcom.dmm
  maps/stellardelight/stellar_delight3.dmm
  maps/tether/submaps/tether_centcom.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Icon, Type: Map

#12345 Adds hats to fishing vendors
  code/modules/clothing/head/fishing.dm
  code/modules/economy/vending_machines.dm
  icons/inventory/head/item_vr_fishing.dmi
  icons/inventory/head/mob_vr_fishing.dmi
  vorestation.dme
Labels: Type: Icon

#12321 A more elegant weapon from a more civlised age
  code/datums/supplypacks/munitions_vr.dm
  code/game/objects/items/weapons/material/twohanded_vr.dm
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/obj/weapons_vr.dmi
Labels: Type: Icon

#12347 adds Zone Braid
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_face.dmi
  icons/mob/human_face_m.dmi
Labels: Type: Icon

#12348 2/27/22 - update time
  code/_helpers/atmospherics.dm
  code/datums/supplypacks/munitions_vr.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/weapons/material/twohanded_vr.dm
  code/modules/clothing/head/fishing.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/economy/vending_machines.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/morph/morph.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/pda/pda.dm
  icons/inventory/head/item_vr_fishing.dmi
  icons/inventory/head/mob_vr_fishing.dmi
  icons/mob/human_face.dmi
  icons/mob/human_face_m.dmi
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/mob/modular_armor.dmi
  icons/obj/beekeeping.dmi
  icons/obj/weapons_vr.dmi
  vorestation.dme
Labels: Type: Icon
