Repository VOREStation/VOREStation, pull requests merged in 2022-06, with the labels that each got.

#13031 pAI and emote tweaks and upgrades
  code/game/objects/items/devices/paicard.dm
  code/modules/client/verbs/suicide.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/definitions/audible_furry_vr.dm
  code/modules/emotes/definitions/synthetics.dm
  code/modules/emotes/emote_define.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/silicon/emote.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/mob/living/silicon/robot/emote.dm
  icons/mob/pai_vr.dmi
  icons/mob/pai_vr64x64.dmi
  icons/obj/paicard.dmi
  icons/obj/pda.dmi
  sound/voice/roboboop.ogg
  sound/voice/robochirp.ogg
Labels: Type: Icon, Type: Sound

#13026 Fix Telecomms machine browser and log browser.
  code/game/machinery/telecomms/logbrowser.dm
  code/game/machinery/telecomms/telemonitor.dm
  tgui/packages/tgui/interfaces/TelecommsLogBrowser.js
  tgui/packages/tgui/interfaces/TelecommsMachineBrowser.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13027 Converted to the new Issue Template System
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Type: .git or .github

#13028 (badly) implements saved belly modes
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13038 Makes new pAI obtainable
  code/game/objects/items/devices/paicard.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/emotes/definitions/audible_furry_vr.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  icons/mob/pai_vr64x64.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/offmap_vr/om_ships/abductor.dmm
  maps/offmap_vr/om_ships/itglight.dmm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight2.dmm
  maps/stellardelight/stellar_delight3.dmm
  maps/submaps/admin_use_vr/dojo.dmm
  maps/submaps/admin_use_vr/skipjack.dmm
  maps/submaps/admin_use_vr/wizard.dmm
  maps/submaps/surface_submaps/mountains/quarantineshuttle.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Icon, Type: Map

#13043 Another pAI update
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dominated_brain.dm
  code/modules/vore/eating/living_vr.dm
  icons/mob/pai_vr.dmi
  icons/mob/pai_vr64x64.dmi
Labels: Type: Icon

#13052 Yet more pAI tweaks!
  code/game/objects/items/devices/paicard.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/pai/examine.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/silicon/pai/personality.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/resizing/resize_vr.dm
  icons/obj/pda.dmi
  vorestation.dme
Labels: Type: Icon

#13054 6/6/22 - Update
  code/game/objects/items/devices/paicard.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/verbs/debug.dm
  code/modules/emotes/definitions/synthetics.dm
  code/modules/emotes/emote_define.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/pai/examine.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/silicon/pai/personality.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/resizing/resize_vr.dm
  icons/obj/pda.dmi
  sound/effects/weather/indoorrain_end.ogg
  sound/effects/weather/indoorrain_mid.ogg
  sound/effects/weather/indoorrain_start.ogg
  vorestation.dme
Labels: Type: Icon, Type: Sound

#13056 Tiny PDA UI Fix & Communicator Changes
  code/game/objects/items/devices/communicator/messaging.dm
  tgui/packages/tgui/interfaces/pda/pda_messenger.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13057 Adds fat draketaur sprites from CHOMPStation
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#13059 pAI UI
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/screen_objects_vr.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/pai/pai_hud.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/vore/eating/living_vr.dm
  icons/mob/pai_hud.dmi
  vorestation.dme
Labels: Type: Icon

#13060 6/10/22 - 'why wouldn't I stay up all night and update at 0746 in the morning?' update
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/screen_objects_vr.dm
  code/game/objects/items/devices/communicator/messaging.dm
  code/modules/mob/living/carbon/human/species/station/alraune.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/pai/pai_hud.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/vore/eating/living_vr.dm
  icons/mob/pai_hud.dmi
  icons/mob/vore/taurs_vr.dmi
  tgui/packages/tgui/interfaces/pda/pda_messenger.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon, Type: TGUI Bundle

#13061 Adds centaur pirate coat
  icons/mob/taursuits_horse.dmi
  icons/mob/taursuits_horse_vr.dmi
Labels: Type: Icon

#13065 6/11/22 - updoot
  code/game/objects/items/devices/communicator/messaging.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/pai/pai_hud.dm
  code/modules/nifsoft/software/14_commlink.dm
  icons/mob/taursuits_horse.dmi
  icons/mob/taursuits_horse_vr.dmi
Labels: Type: Icon

#13067 More GB tweaks
  maps/groundbase/eastwilds/eastwilds1.dmm
  maps/groundbase/eastwilds/eastwilds2.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/southwilds/southwilds1.dmm
Labels: Type: Map

#13069 6/11/22 - tiny updoot
  code/modules/vchat/vchat_client.dm
  maps/groundbase/eastwilds/eastwilds1.dmm
  maps/groundbase/eastwilds/eastwilds2.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/southwilds/southwilds1.dmm
Labels: Type: Map

#13071 pAI hud revision
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/screen_objects_vr.dm
  code/modules/mob/living/silicon/pai/pai_hud.dm
  icons/mob/pai_hud.dmi
Labels: Type: Icon

#13072 6/11/22 - anodda wun
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/screen_objects_vr.dm
  code/controllers/subsystems/vote.dm
  code/modules/mob/living/silicon/pai/pai_hud.dm
  icons/mob/pai_hud.dmi
Labels: Type: Icon

#13078 New pAI chassis
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  icons/mob/pai_vr.dmi
Labels: Type: Icon

#13077 6/12/22 - Map swap update
  code/modules/mob/holder.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  icons/mob/pai_vr.dmi
  vorestation.dme
Labels: Type: Icon

#13079 RCON Improvement
  code/modules/tgui/modules/rcon.dm
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/interfaces/AlertModal.js
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/packages/tgui/interfaces/RCON.js
  tgui/packages/tgui/interfaces/common/Loader.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13083 6/13/22 Update
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/tgui/modules/rcon.dm
  icons/mob/pai_vr.dmi
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/interfaces/AlertModal.js
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/packages/tgui/interfaces/RCON.js
  tgui/packages/tgui/interfaces/common/Loader.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Type: Icon, Type: TGUI Bundle

#13084 Adds rascal's pass nanomaps.
  code/modules/asset_cache/asset_list_items.dm
  icons/_nanomaps/gb1.png
  icons/_nanomaps/gb2.png
  icons/_nanomaps/gb3.png
  icons/_nanomaps/gbeast.png
  icons/_nanomaps/gbmining.png
  icons/_nanomaps/gbnorth.png
  icons/_nanomaps/gbsouth.png
  icons/_nanomaps/gbwest.png
Labels: Type: Icon

#13074 Adding myself to the CODEOWNERS for TGUI
  .github/CODEOWNERS
Labels: Type: .git or .github

#13092 Snailpilled update
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_taur.dm
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#13096 Adds magboots to tether mining and sec
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#13098 Fenfix
  icons/mob/animal.dmi
  maps/expedition_vr/beach/beach.dmm
Labels: Type: Icon, Type: Map

#13103 [MIRROR-FIX] Cooking QOL V2
  code/datums/supplypacks/supply.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/food/food/condiment.dm
  code/modules/food/kitchen/cooking_machines/container.dm
  icons/obj/cooking_machines.dmi
  icons/obj/food.dmi
  maps/expedition_vr/beach/beach.dmm
  maps/gateway_vr/eggnogtown.dmm
  maps/gateway_vr/variable/arynthilake_a.dmm
  maps/gateway_vr/variable/arynthilake_b.dmm
  maps/gateway_vr/wildwest.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/southwilds/villagepois/square7.dmm
  maps/offmap_vr/om_ships/itglight.dmm
  maps/stellardelight/stellar_delight2.dmm
  maps/submaps/surface_submaps/plains/Diner.dmm
  maps/submaps/surface_submaps/plains/Diner_vr.dmm
  maps/submaps/surface_submaps/plains/lonehome.dmm
  maps/submaps/surface_submaps/plains/lonehome_vr.dmm
Labels: Type: Icon, Type: Map

#12700 TGUI Additions
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/tgui/modules/admin/player_notes.dm
  tgui/packages/tgui/interfaces/PlayerNotes.js
  tgui/packages/tgui/interfaces/PlayerNotesInfo.js
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
  vorestation.dme
Labels: Type: TGUI Bundle

#13108 TGUI Input Framework
  code/__defines/cooldowns.dm
  code/__defines/tgui.dm
  code/game/machinery/newscaster.dm
  code/modules/admin/admin.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preference_setup/vore/02_size.dm
  code/modules/client/preferences.dm
  code/modules/mob/typing_indicator.dm
  code/modules/paperwork/adminpaper.dm
  code/modules/tgui/modules/admin/player_notes.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui/tgui_input_text.dm
  code/modules/tgui_input/alert.dm
  code/modules/tgui_input/list.dm
  code/modules/tgui_input/number.dm
  code/modules/tgui_input/text.dm
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/components/RestrictedInput.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/AlertModal.js
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/packages/tgui/interfaces/InputModal.js
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/packages/tgui/interfaces/ListInputModal.tsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
  tgui/packages/tgui/routes.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: TGUI Bundle

#13114 Adds Happy carpet
  code/datums/supplypacks/materials.dm
  code/game/objects/items/stacks/tiles/fifty_spawner_tiles.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  icons/obj/stacks.dmi
  icons/turf/flooring/carpet.dmi
Labels: Type: Icon

#13117 Tether Cargo fire safety pass
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#13126 Encoding Fixes
  code/_helpers/text.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui_input/text.dm
  tgui/packages/tgui/components/TextArea.js
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13127 6/19/22 - more fix Also map swap!
  code/_helpers/text.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui_input/text.dm
  tgui/packages/tgui/components/TextArea.js
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: TGUI Bundle

#13101 Allows for toggling of display and editing of messages for Nutrition and Weight
  code/modules/mob/living/carbon/human/examine_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13142 More pAI interface!
  code/_onclick/hud/screen_objects_vr.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_hud.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  icons/mob/pai_hud.dmi
Labels: Type: Icon

#13149 ALL runtimes
  code/_helpers/turfs.dm
  code/datums/outfits/jobs/civilian.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/simple_mob/subtypes/animal/pets/fennec.dm
  code/modules/tgui_input/alert.dm
  code/modules/tgui_input/list.dm
  code/modules/tgui_input/number.dm
  code/modules/tgui_input/text.dm
  code/modules/vore/eating/belly_obj_vr.dm
  maps/groundbase/gb-centcomm.dmm
  maps/stellardelight/ship_centcom.dmm
  maps/submaps/admin_use_vr/dhael_centcom.dmm
  maps/submaps/depreciated_vr/ert_base.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Map

#13154 Type XIII
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/new_player/preferences_setup.dm
  icons/mob/pai_vr.dmi
  icons/mob/pai_vr64x64.dmi
Labels: Type: Icon

#13153 6/23/22 - Updoot
  code/_helpers/turfs.dm
  code/_onclick/hud/hud.dm
  code/controllers/subsystems/throwing.dm
  code/datums/outfits/jobs/civilian.dm
  code/game/objects/items/devices/communicator/messaging.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_hud.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/pets/fennec.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/tgui_input/alert.dm
  code/modules/tgui_input/list.dm
  code/modules/tgui_input/number.dm
  code/modules/tgui_input/text.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/stumblevore_vr.dm
  icons/mob/pai_vr.dmi
  icons/mob/pai_vr64x64.dmi
  maps/groundbase/gb-centcomm.dmm
  maps/stellardelight/ship_centcom.dmm
  maps/submaps/admin_use_vr/dhael_centcom.dmm
  maps/submaps/depreciated_vr/ert_base.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Icon, Type: Map

#13155 XIII tweaks
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  icons/mob/pai_vr32x64.dmi
  icons/mob/pai_vr64x32.dmi
  pai_vr64x32.dmi
Labels: Type: Icon

#13156 6/23/22 - fixie
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  icons/mob/pai_vr32x64.dmi
  icons/mob/pai_vr64x32.dmi
  pai_vr64x32.dmi
Labels: Type: Icon

#12914 Isle De Monch
  maps/gateway_vr/isle_de_monch.dmm
Labels: Type: Map

#13163 Update jobwhitelist.txt
  code/modules/tgui_input/list.dm
  code/modules/tgui_input/text.dm
  config/jobwhitelist.txt
Labels: Type: Fluff

#13167 adds Ashburn_dracki to Protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#13176 A bit of documentation
  tgui/README.md
  tgui/bin/tgui-prettybuild.bat
  tgui/bin/tgui_.ps1
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13182 6/26/22 - Map swap
  code/modules/client/preference_setup/general/02_language.dm
  code/modules/client/preference_setup/vore/07_traits.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/trait.dm
  code/modules/multiz/movement_vr.dm
  tgui/README.md
  tgui/bin/tgui-prettybuild.bat
  tgui/bin/tgui_.ps1
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: TGUI Bundle

#13180 Death of pAIs!!!
  code/game/machinery/recharger.dm
  code/game/mecha/mech_prosthetics.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/paicard_vr.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/pai/death.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/say.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/research/prosfab_designs_vr.dm
  icons/obj/paicard.dmi
  icons/obj/pda.dmi
  maps/groundbase/southwilds/villagepois/wide5.dmm
  pai_vr64x32.dmi
  sound/effects/pai-restore.ogg
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Sound

#13198 6/29/22 - Update!
  .github/workflows/autochangelog.yml
  .github/workflows/ci.yml
  .github/workflows/enforce_labels.yml
  .github/workflows/render_nanomaps.yml
  code/_helpers/global_lists_vr.dm
  code/datums/datumvars.dm
  code/game/machinery/recharger.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mech_prosthetics.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/paicard_vr.dm
  code/modules/admin/verbs/custom_event.dm
  code/modules/client/preference_setup/antagonism/01_basic.dm
  code/modules/client/preference_setup/vore/07_traits.dm
  code/modules/food/food/snacks.dm
  code/modules/instruments/songs/editor.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/blank_vr.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/_traits.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/trait.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/pai/death.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/say.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
  code/modules/nifsoft/software/13_soulcatcher.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/ml3m_cells.dm
  code/modules/projectiles/projectile.dm
  code/modules/research/prosfab_designs_vr.dm
  code/modules/shuttles/shuttle.dm
  code/modules/tgui/modules/admin/player_notes.dm
  code/modules/tgui/modules/ntos-only/email.dm
  code/modules/vore/resizing/resize_vr.dm
  code/modules/vore/resizing/sizegun_vr.dm
  icons/obj/paicard.dmi
  icons/obj/pda.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/groundbase_poi_stuff.dm
  maps/groundbase/southwilds/villagepois/wide5.dmm
  pai_vr64x32.dmi
  sound/effects/pai-restore.ogg
  vorestation.dme
Labels: Type: .git or .github

#13204 Improved VorePanel UI
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13206 Moved Weight/Nutrition Prefs
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13210 Some minor maptweaks
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/groundbase.dm
  maps/groundbase/groundbase_defines.dm
  maps/groundbase/groundbase_mining.dm
  maps/groundbase/groundbase_wilds.dm
  maps/stellardelight/stellar_delight1.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#13211 Removes enforce labels workflow action
  .github/workflows/enforce_labels.yml
Labels: Type: .git or .github

#13214 Fixes Scrubber blocking Anomaly Analyzer
  maps/groundbase/westwilds/westwilds1.dmm
Labels: Type: Map

#13209 Reduces lag on tooltips (by alot)
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/styles/components/Tooltip.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13216 6/30/22 - Update
  .github/workflows/enforce_labels.yml
  code/_helpers/unsorted_vr.dm
  code/modules/events/grubinfestation_vr.dm
  code/modules/events/spider_infestation.dm
  code/modules/planet/virgo3c_vr.dm
  code/modules/power/singularity/singularity.dm
  code/modules/reagents/machinery/dispenser/cartridge_presets.dm
  code/modules/reagents/machinery/dispenser/dispenser2_energy.dm
  code/modules/reagents/machinery/dispenser/dispenser_presets.dm
  code/modules/reagents/machinery/dispenser/supply.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/xenoarcheaology/effect.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/groundbase.dm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_defines.dm
  maps/groundbase/groundbase_mining.dm
  maps/groundbase/groundbase_wilds.dm
  maps/groundbase/westwilds/westwilds1.dmm
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight_areas.dm
  maps/tether/tether-03-surface3.dmm
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/packages/tgui/styles/components/Tooltip.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Type: Map, Type: .git or .github, Type: TGUI Bundle
