Repository VOREStation/VOREStation, pull requests merged in 2022-04, with the labels that each got.

#12564 Rascal's Pass
  code/__defines/holomap.dm
  code/game/turfs/simulated/outdoors/outdoors_vr.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/planet/virgo3c_vr.dm
  code/modules/recycling/recycling.dm
  icons/inventory/head/mob.dmi
  icons/misc/title_vr.dmi
  icons/mob/alienanimals_x32.dmi
  icons/mob/items/lefthand_holder.dmi
  icons/mob/items/righthand_holder.dmi
  maps/groundbase/gb-centcomm.dmm
  maps/groundbase/gb-mining.dm
  maps/groundbase/gb-mining.dmm
  maps/groundbase/gb-misc.dmm
  maps/groundbase/gb-wilderness.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase.dm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_defines.dm
  maps/groundbase/groundbase_telecomms.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#12570 Fix for Kimono Sprites
  icons/inventory/suit/mob.dmi
Labels: Type: Icon

#12580 4/1/22 - A very ordinary update
  code/__defines/holomap.dm
  code/game/turfs/simulated/outdoors/outdoors_vr.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/station/xenochimera_trait_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/planet/virgo3c_vr.dm
  code/modules/recycling/recycling.dm
  icons/inventory/head/mob.dmi
  icons/inventory/suit/mob.dmi
  icons/misc/title_vr.dmi
  icons/mob/alienanimals_x32.dmi
  icons/mob/items/lefthand_holder.dmi
  icons/mob/items/righthand_holder.dmi
  maps/groundbase/gb-centcomm.dmm
  maps/groundbase/gb-mining.dm
  maps/groundbase/gb-mining.dmm
  maps/groundbase/gb-misc.dmm
  maps/groundbase/gb-wilderness.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase.dm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_defines.dm
  maps/groundbase/groundbase_telecomms.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#12593 Some things that were forgotten
  code/modules/planet/virgo3c_vr.dm
  maps/groundbase/gb-mining.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_defines.dm
Labels: Type: Map

#12594 4/1/22 - Going to bed
  code/modules/planet/virgo3c_vr.dm
  maps/groundbase/gb-mining.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_defines.dm
Labels: Type: Map

#12595 Normal Map Tweaks
  code/modules/planet/virgo3c_vr.dm
  maps/groundbase/gb-mining.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_defines.dm
Labels: Type: Map

#12596 4/2/22 - Update
  code/modules/planet/virgo3c_vr.dm
  maps/groundbase/gb-mining.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_defines.dm
Labels: Type: Map

#12600 Tiny pipe fix & gas leak event fix
  maps/groundbase/gb-z1.dmm
  maps/groundbase/groundbase_areas.dm
Labels: Type: Map

#12601 blue panda subtype simplemob
  code/modules/mob/living/simple_mob/subtypes/vore/redpanda.dm
  icons/mob/vore.dmi
Labels: Type: Icon

#12575 The Grand /TG Port - Part 1
  code/__defines/is_helpers.dm
  code/datums/components/crafting/recipes/primitive.dm
  code/defines/obj/weapon.dm
  code/game/objects/items/weapons/mop.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/skeleton.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/spookyghost.dm
  code/modules/research/designs/misc.dm
  icons/mob/alienanimals_x32.dmi
  icons/obj/janitor.dmi
  icons/obj/wizard.dmi
Labels: Type: Icon

#12576 The Grand /TG Port - Part 2
  code/game/objects/items/weapons/chewables.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/structures/under_wardrobe.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/obj/beekeeping.dmi
  icons/obj/cigarettes.dmi
  icons/obj/closets/undies_wardrobe.dmi
  icons/obj/zippo.dmi
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#12577 The Grand /TG Port - Part 3
  code/game/objects/structures/crates_lockers/__closets.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mining/mine_items.dm
  icons/obj/closets/laundry.dmi
  icons/obj/closets/miningcar.dmi
  icons/obj/closets/wooden.dmi
  icons/obj/guncabinet.dmi
  sound/effects/closet_close.ogg
  sound/effects/closet_open.ogg
  sound/effects/crate_close.ogg
  sound/effects/crate_open.ogg
  sound/effects/wooden_closet_close.ogg
  sound/effects/wooden_closet_open.ogg
Labels: Type: Icon, Type: Sound

#12578 The Grand /TG Port - Part 4
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/clothing/under/tribal.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/inventory/eyes/item.dmi
  icons/inventory/feet/item.dmi
  icons/inventory/feet/mob.dmi
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/mob.dmi
  icons/mob/items/lefthand_uniforms.dmi
  icons/mob/items/righthand_uniforms.dmi
  icons/obj/card_new.dmi
  icons/obj/closets/coffin.dmi
  icons/obj/weapons.dmi
  vorestation.dme
Labels: Type: Icon

#12579 The Grand /TG Port - Part 5
  code/game/objects/items/weapons/storage/belt_vr.dm
  code/game/objects/random/maintenance.dm
  code/game/objects/random/mapping.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/mine_items_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/research/designs/mining_toys.dm
  icons/inventory/belt/item_vr.dmi
  icons/inventory/belt/mob_vr.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/device.dmi
  icons/obj/gps.dmi
  icons/obj/hydroponics_machines.dmi
  icons/obj/items.dmi
  maps/submaps/depreciated_vr/talon.dm
Labels: Type: Icon

#12622 Catslugs looking kinda sus?!
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  icons/mob/alienanimals_x32.dmi
Labels: Type: Icon

#12621 More GB Tweaks
  code/game/turfs/simulated/outdoors/outdoors_vr.dm
  maps/groundbase/gb-centcomm.dmm
  maps/groundbase/gb-misc.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_defines.dm
Labels: Type: Map

#12627 More maptweaks!
  code/modules/planet/virgo3c_vr.dm
  code/modules/power/port_gen_vr.dm
  maps/groundbase/gb-misc.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
Labels: Type: Map

#12628 41/3/22 - It time
  code/modules/planet/virgo3c_vr.dm
  code/modules/power/port_gen_vr.dm
  maps/groundbase/gb-misc.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
Labels: Type: Map

#12630 Yet more map tweaks
  code/game/objects/items/weapons/manuals_vr.dm
  code/modules/planet/virgo3c_vr.dm
  icons/misc/title_vr.dmi
  maps/groundbase/gb-centcomm.dmm
  maps/groundbase/gb-misc.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase.dm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_defines.dm
  maps/groundbase/groundbase_shuttles.dm
  maps/groundbase/groundbase_things.dm
  maps/stellardelight/ship_centcom.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Icon, Type: Map

#12631 Mini Aurora Port
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_mask.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/economy/vending_machines.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/inventory/face/item.dmi
  icons/inventory/face/mob.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/head/mob_tajaran.dmi
  icons/mob/items/lefthand_hats.dmi
  icons/mob/items/lefthand_masks.dmi
  icons/mob/items/righthand_hats.dmi
  icons/mob/items/righthand_masks.dmi
  icons/obj/boxes.dmi
Labels: Type: Icon

#12632 4/4/22 - Update
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/manuals_vr.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_mask.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/economy/vending_machines.dm
  code/modules/planet/virgo3c_vr.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/inventory/face/item.dmi
  icons/inventory/face/mob.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/head/mob_tajaran.dmi
  icons/misc/title_vr.dmi
  icons/mob/items/lefthand_hats.dmi
  icons/mob/items/lefthand_masks.dmi
  icons/mob/items/righthand_hats.dmi
  icons/mob/items/righthand_masks.dmi
  icons/obj/boxes.dmi
  maps/groundbase/gb-centcomm.dmm
  maps/groundbase/gb-misc.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase.dm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_defines.dm
  maps/groundbase/groundbase_shuttles.dm
  maps/groundbase/groundbase_things.dm
  maps/stellardelight/ship_centcom.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Icon, Type: Map

#12633 GB Update
  code/game/area/Space Station 13 areas_vr.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/power/port_gen_vr.dm
  maps/groundbase/gb-misc.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/stellardelight/ship_misc.dmm
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Map

#12634 4/4/22 - Various updates
  code/game/area/Space Station 13 areas_vr.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/power/port_gen_vr.dm
  maps/groundbase/gb-misc.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/stellardelight/ship_misc.dmm
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Map

#12635 Various fixes and more GB tweaks
  code/game/objects/items/weapons/manuals_vr.dm
  code/game/turfs/simulated/floor_types_vr.dm
  code/modules/holodeck/HolodeckObjects_vr.dm
  maps/groundbase/gb-misc.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  vorestation.dme
Labels: Type: Map

#12636 Hypospray Revamp
  code/game/machinery/cryopod.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/inventory/face/item_vr.dmi
  icons/inventory/face/mob_vr.dmi
  icons/obj/syringe.dmi
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#12639 4/4/22 - Update
  code/game/machinery/cryopod.dm
  code/game/objects/items/weapons/manuals_vr.dm
  code/game/turfs/simulated/floor_types_vr.dm
  code/modules/holodeck/HolodeckObjects_vr.dm
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/inventory/face/item_vr.dmi
  icons/inventory/face/mob_vr.dmi
  icons/obj/syringe.dmi
  icons/vore/custom_items_vr.dmi
  maps/expedition_vr/space/fueldepot.dmm
  maps/groundbase/gb-misc.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#12643 Adds lots of cameras and holopads
  maps/groundbase/gb-centcomm.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
Labels: Type: Map

#12644 4-4-22 - Wow a cafe
  maps/groundbase/gb-centcomm.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
Labels: Type: Map

#12645 Map adjustments!
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
Labels: Type: Map

#12646 4/4/22 - Update
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
Labels: Type: Map

#12653 Resleeving exit button & Bluespace Radio fixed
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_telecomms.dm
  maps/stellardelight/stellar_delight3.dmm
Labels: Type: Map

#12658 Synthetic Life Lorebook
  code/game/objects/items/weapons/manuals_vr.dm
  maps/groundbase/gb-z2.dmm
  maps/stellardelight/stellar_delight1.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#12659 Adjusts trees and vendor spawners
  code/game/objects/random/mapping.dm
  code/game/objects/structures/flora/moretrees_vr.dm
  icons/obj/flora/moretrees_vr.dmi
Labels: Type: Icon

#12661 4/5/22 - Update
  code/_onclick/hud/alert.dm
  code/game/objects/items/weapons/manuals_vr.dm
  code/game/objects/random/mapping.dm
  code/game/objects/structures/flora/moretrees_vr.dm
  code/modules/mob/living/simple_mob/subtypes/mechanical/viscerator.dm
  code/modules/power/port_gen_vr.dm
  icons/obj/flora/moretrees_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_telecomms.dm
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight3.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Icon, Type: Map

#12662 New Donk-pockets
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/mapping.dm
  code/game/objects/random/misc.dm
  code/modules/food/food/snacks.dm
  code/modules/food/recipes_microwave.dm
  icons/obj/boxes.dmi
  icons/obj/food.dmi
  maps/expedition_vr/beach/beach.dmm
  maps/groundbase/gb-z2.dmm
  maps/offmap_vr/talon/talon_v2.dm
  maps/stellardelight/stellar_delight2.dmm
  maps/stellardelight/stellar_delight3.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Icon, Type: Map

#12664 4/5/22 - Quickfix
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/mapping.dm
  code/game/objects/random/misc.dm
  code/modules/food/food/snacks.dm
  code/modules/food/recipes_microwave.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/swarm.dm
  code/modules/ventcrawl/ventcrawl.dm
  icons/obj/boxes.dmi
  icons/obj/food.dmi
  maps/expedition_vr/beach/beach.dmm
  maps/groundbase/gb-z2.dmm
  maps/offmap_vr/talon/talon_v2.dm
  maps/stellardelight/stellar_delight2.dmm
  maps/stellardelight/stellar_delight3.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Icon, Type: Map

#12666 Account for multiZ
  code/modules/planet/virgo3c_vr.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#12667 Aurora Bureaucracy
  code/modules/paperwork/pen.dm
  code/modules/paperwork/photocopier.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  icons/obj/device.dmi
  icons/obj/library.dmi
  icons/obj/papershredder.dmi
Labels: Type: Icon

#12669 Aurora Toys
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/items/toys/toys_vr.dm
  icons/effects/effects.dmi
  icons/obj/toy_vr.dmi
  icons/obj/vending.dmi
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Icon, Type: Map

#12670 4/6/22 - Update
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/items/toys/toys_vr.dm
  code/modules/paperwork/pen.dm
  code/modules/paperwork/photocopier.dm
  code/modules/paperwork/stamps.dm
  code/modules/pda/pda_vr.dm
  code/modules/planet/virgo3c_vr.dm
  code/modules/ventcrawl/ventcrawl.dm
  icons/effects/effects.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/device.dmi
  icons/obj/library.dmi
  icons/obj/papershredder.dmi
  icons/obj/pda.dmi
  icons/obj/pda_holo.dmi
  icons/obj/pda_old.dmi
  icons/obj/pda_rugged.dmi
  icons/obj/pda_slider.dmi
  icons/obj/pda_slim.dmi
  icons/obj/pda_vr.dmi
  icons/obj/pda_wrist.dmi
  icons/obj/toy_vr.dmi
  icons/obj/vending.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Icon, Type: Map

#12673 Makes me a clown
  config/jobwhitelist.txt
Labels: Type: Fluff

#12672 Catslug mania 3.0
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/ventcrawl/ventcrawl.dm
  icons/inventory/head/mob.dmi
  icons/mob/alienanimals_x32.dmi
  icons/mob/items/lefthand_holder.dmi
  icons/mob/items/righthand_holder.dmi
  maps/groundbase/gb-z2.dmm
Labels: Type: Icon, Type: Map

#12674 4/6/22 - Anodawun
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/ventcrawl/ventcrawl.dm
  config/jobwhitelist.txt
  icons/inventory/head/mob.dmi
  icons/mob/alienanimals_x32.dmi
  icons/mob/items/lefthand_holder.dmi
  icons/mob/items/righthand_holder.dmi
  maps/groundbase/gb-z2.dmm
Labels: Type: Fluff, Type: Icon, Type: Map

#12675 Adding one railing to stairs by the bridge
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#12682 TGMC Ammo HUD Earlyport
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/weapons/grenades/explosive.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/modules/power/cell.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/cell_loaded.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/ml3m_cells.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/multi_cannon.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/multi_cannon_cells.dm
  code/modules/projectiles/guns/energy/laser_vr.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/explosive.dm
  code/modules/projectiles/projectile/magnetic.dm
  code/modules/projectiles/projectile/special.dm
  icons/mob/screen_ammo.dmi
Labels: Type: Icon

#12690 More map tweaks!
  code/modules/planet/virgo3c_vr.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
Labels: Type: Map

#12693 4/9/22 - Some more map updates
  code/modules/planet/virgo3c_vr.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
Labels: Type: Map

#12695 Some final tweaks
  code/modules/holodeck/HolodeckControl.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/pois/outdoors4.dmm
  maps/groundbase/pois/outdoors5.dmm
  maps/stellardelight/ship_centcom.dmm
  maps/stellardelight/ship_misc.dmm
  maps/tether/submaps/tether_centcom.dmm
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Map

#12697 4/9/22 - Update
  code/game/machinery/computer/message.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/nifsoft/nifsoft.dm
  code/modules/nifsoft/software/01_vision.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/pois/outdoors4.dmm
  maps/groundbase/pois/outdoors5.dmm
  maps/stellardelight/ship_centcom.dmm
  maps/stellardelight/ship_misc.dmm
  maps/tether/submaps/tether_centcom.dmm
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Map

#12719 Adds eastern dragon taur sprite
  code/modules/mob/new_player/sprite_accessories_taur.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#12722 Little GB thing
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z3.dmm
Labels: Type: Map

#12735 New Newscaster
  icons/obj/library.dmi
Labels: Type: Icon

#12736 New PCUs
  icons/obj/computer.dmi
Labels: Type: Icon

#12739 Late Night Stuff
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/structures/tank_dispenser.dm
  code/modules/economy/vending_machines.dm
  code/modules/mob/living/bot/farmbot.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/obj/deluxemicrowave.dmi
  icons/obj/kitchen.dmi
  icons/obj/weapons.dmi
  maps/tether/tether-03-surface3.dmm
Labels: Type: Icon, Type: Map

#12745 Add eastern dragon taur suit sprites
  code/modules/mob/new_player/sprite_accessories_taur.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/taursuits_noodle.dmi
  icons/mob/taursuits_noodle_vr.dmi
Labels: Type: Icon

#12755 Un-infuriates the funny paint-holder thing.
  icons/obj/artstuff.dmi
Labels: Type: Icon

#12759 Fixes areas on tether asteroid
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#12762 Adds Map Templates Folder
  maps/_templates_and_guidance/Mapping Guides/Complete Room Checklist.dmm
  maps/_templates_and_guidance/Mapping Templates Readme.md
  maps/_templates_and_guidance/Public Event Templates/Maze_Reward_-_Copy.dmm
  maps/_templates_and_guidance/Templates/shelter_Medical.dmm
Labels: Type: Map

#12764 Adds a disposal bin that washes clothes and other oddities
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/recycling/disposal_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/obj/pipes/disposal_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight2.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon, Type: Map

#12761 EnerGen Brand Batteries
  code/game/machinery/cell_charger.dm
  code/modules/power/cell.dm
  code/modules/power/cells/device_cells.dm
  code/modules/power/cells/esoteric_cells.dm
  code/modules/power/cells/power_cells.dm
  icons/obj/power.dmi
  icons/obj/power_cells.dmi
Labels: Type: Icon

#12767 Big Pharma's Blessing: Snorting Mechanics
  code/__defines/chemistry.dm
  code/game/gamemodes/newobjective.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/random/unidentified/medicine.dm
  code/modules/client/preference_setup/loadout/loadout_general_vr.dm
  code/modules/food/food/snacks.dm
  code/modules/food/food/thecake.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seedtypes/ambrosia.dm
  code/modules/hydroponics/seedtypes/mushrooms.dm
  code/modules/mob/living/carbon/human/MedicalSideEffects.dm
  code/modules/reagents/reactions/instant/instant.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/unidentified_hypospray.dm
  code/modules/reagents/reagents/drugs.dm
  code/modules/reagents/reagents/medicine.dm
  code/modules/reagents/reagents/toxins.dm
  code/modules/virus2/effect.dm
  code/modules/xenobio2/_xeno_setup.dm
  icons/obj/chemical.dmi
  sound/effects/chop.ogg
  sound/effects/snort.ogg
Labels: Type: Icon, Type: Sound

#12750 Pappershredder/Space Heater Revive
  icons/obj/atmos.dmi
  icons/obj/papershredder.dmi
Labels: Type: Icon

#12771 Account for future atmos issues
  maps/groundbase/gb-z1.dmm
  maps/stellardelight/stellar_delight1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#12778 Make meson vision less angry green
  code/_onclick/hud/hud.dm
  icons/obj/hud_tiled_vr.dmi
Labels: Type: Icon

#12779 4/17/22 - wow
  code/_onclick/hud/hud.dm
  icons/obj/hud_tiled_vr.dmi
  vorestation.dme
Labels: Type: Icon

#12775 New stock part sprites
  code/modules/power/smes_construction.dm
  icons/obj/stock_parts.dmi
Labels: Type: Icon

#12790 re-EnerGen Batteries
  code/modules/power/cells/device_cells.dm
  code/modules/power/cells/power_cells.dm
  code/modules/research/designs/power_cells.dm
  icons/obj/power_cells.dmi
Labels: Type: Icon

#12792 4/18/22 - Update
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/power/cells/device_cells.dm
  code/modules/power/cells/power_cells.dm
  code/modules/power/smes_construction.dm
  code/modules/research/designs/power_cells.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/slipvore_vr.dm
  icons/obj/power_cells.dmi
  icons/obj/stock_parts.dmi
  maps/_templates_and_guidance/Mapping Templates Readme.md
  vorestation.dme
Labels: Type: Icon

#12796 Particle Gun Fix
  code/modules/projectiles/guns/energy/particle.dm
  icons/inventory/back/mob.dmi
  icons/inventory/belt/mob.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  icons/obj/gun_vr.dmi
Labels: Type: Icon

#12809 4/20/22 - Update
  code/modules/examine/examine_vr.dm
  code/modules/projectiles/guns/energy/particle.dm
  code/modules/reagents/machinery/dispenser/dispenser2_energy.dm
  code/modules/resleeving/autoresleever.dm
  icons/inventory/back/mob.dmi
  icons/inventory/belt/mob.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  icons/obj/gun_vr.dmi
  icons/obj/rollerbed.dmi
  vorestation.dme
Labels: Type: Icon

#12811 Adds William Tell pattern for schnapsen
  code/modules/games/schnapsen_vr.dm
  icons/obj/playing_cards.dmi
Labels: Type: Icon

#12813 Tiny Talon Tweaks
  maps/offmap_vr/talon/talon_v2.dmm
Labels: Type: Map

#12814 Vision and Phaser Bug Fixes
  code/modules/nifsoft/software/01_vision.dm
  code/modules/projectiles/guns/energy/pump.dm
Labels: Type: Bug

#12817 GBWilds
  code/game/objects/effects/wire_deleter.dm
  code/modules/planet/virgo3c_vr.dm
  maps/groundbase/eastwilds/eastwilds template.dmm
  maps/groundbase/eastwilds/eastwilds1.dmm
  maps/groundbase/eastwilds/eastwilds2.dmm
  maps/groundbase/gb-wilderness.dmm
  maps/groundbase/gb-wilds.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/groundbase.dm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_defines.dm
  maps/groundbase/northwilds/northwilds template.dmm
  maps/groundbase/northwilds/northwilds1.dmm
  maps/groundbase/northwilds/northwilds2.dmm
  maps/groundbase/southwilds/southwilds template.dmm
  maps/groundbase/southwilds/southwilds1.dmm
  maps/groundbase/southwilds/southwilds2.dmm
  maps/groundbase/westwilds/westwilds template.dmm
  maps/groundbase/westwilds/westwilds1.dmm
  maps/groundbase/westwilds/westwilds2.dmm
  maps/~map_system/maps_vr.dm
  vorestation.dme
Labels: Type: Map

#12820 Adds gradual sizegun
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/catalogue/cataloguer.dm
  code/modules/economy/trader.dm
  code/modules/mob/living/simple_mob/subtypes/vore/morph/morph.dm
  code/modules/research/designs/misc_vr.dm
  code/modules/vore/resizing/resize_vr.dm
  code/modules/vore/resizing/sizegun_slow_vr.dm
  code/modules/vore/resizing/sizegun_vr.dm
  icons/effects/beam_vr.dmi
  icons/obj/gun_vr.dmi
  vorestation.dme
Labels: Type: Icon

#12839 4/26/22 - Update
  code/game/objects/random/misc_vr.dm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/groundbase_areas.dm
  maps/groundbase/groundbase_poi_stuff.dm
  maps/groundbase/southwilds/southwilds3.dmm
  maps/groundbase/southwilds/villagepois/long1.dmm
  maps/groundbase/southwilds/villagepois/long2.dmm
  maps/groundbase/southwilds/villagepois/long3.dmm
  maps/groundbase/southwilds/villagepois/long4.dmm
  maps/groundbase/southwilds/villagepois/square1.dmm
  maps/groundbase/southwilds/villagepois/square10.dmm
  maps/groundbase/southwilds/villagepois/square11.dmm
  maps/groundbase/southwilds/villagepois/square12.dmm
  maps/groundbase/southwilds/villagepois/square2.dmm
  maps/groundbase/southwilds/villagepois/square3.dmm
  maps/groundbase/southwilds/villagepois/square4.dmm
  maps/groundbase/southwilds/villagepois/square5.dmm
  maps/groundbase/southwilds/villagepois/square6.dmm
  maps/groundbase/southwilds/villagepois/square7.dmm
  maps/groundbase/southwilds/villagepois/square8.dmm
  maps/groundbase/southwilds/villagepois/square9.dmm
  maps/groundbase/southwilds/villagepois/wide1.dmm
  maps/groundbase/southwilds/villagepois/wide2.dmm
  maps/groundbase/southwilds/villagepois/wide3.dmm
  maps/groundbase/southwilds/villagepois/wide4.dmm
  maps/groundbase/southwilds/villagepois/wide5.dmm
  maps/groundbase/southwilds/villagepois/wide6.dmm
  maps/groundbase/westwilds/westwilds template.dmm
  maps/groundbase/westwilds/westwilds1.dmm
  maps/groundbase/westwilds/westwilds2.dmm
Labels: Type: Map

#12810 Circuitry Update
  code/__defines/integrated_circuits.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/integrated_electronics/passive/power.dm
  code/modules/integrated_electronics/subtypes/cryptography.dm
  code/modules/integrated_electronics/subtypes/illegal.dm
  code/modules/integrated_electronics/subtypes/input.dm
  icons/obj/integrated_electronics/electronic_components.dmi
  icons/obj/integrated_electronics/electronic_tools.dmi
  vorestation.dme
Labels: Type: Icon

#12829 Salvage+
  code/game/objects/structures/salvageable.dm
  icons/obj/salvageable.dmi
Labels: Type: Icon

#12837 Stonks!
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/modules/stockmarket/articles.dm
  code/modules/stockmarket/computer.dm
  code/modules/stockmarket/events.dm
  code/modules/stockmarket/industries.dm
  code/modules/stockmarket/logs.dm
  code/modules/stockmarket/stockmarket.dm
  code/modules/stockmarket/stocks.dm
  icons/obj/computer.dmi
  maps/groundbase/gb-z2.dmm
  maps/stellardelight/stellar_delight2.dmm
  maps/tether/tether-05-station1.dmm
  maps/virgo_minitest/virgo_minitest-1.dmm
  tgui/packages/tgui/interfaces/StockExchange.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon, Type: Map

#12842 Adds PoI loader landmarks
  code/game/objects/effects/landmarks_poi_vr.dm
  maps/groundbase/groundbase_defines.dm
  maps/groundbase/groundbase_poi_stuff.dm
  maps/groundbase/southwilds/southwilds3.dmm
  vorestation.dme
Labels: Type: Map

#12844 4/26/22 STONK update
  code/ATMOSPHERICS/datum_pipeline.dm
  code/ATMOSPHERICS/pipes/he_pipes.dm
  code/__defines/integrated_circuits.dm
  code/game/objects/effects/landmarks_poi_vr.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/game/objects/random/anomalous.dm
  code/game/objects/structures/catwalk.dm
  code/game/objects/structures/salvageable.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/water.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/integrated_electronics/passive/power.dm
  code/modules/integrated_electronics/subtypes/cryptography.dm
  code/modules/integrated_electronics/subtypes/illegal.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/living/autohiss.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/recycling/disposal_vr.dm
  code/modules/stockmarket/articles.dm
  code/modules/stockmarket/computer.dm
  code/modules/stockmarket/events.dm
  code/modules/stockmarket/industries.dm
  code/modules/stockmarket/logs.dm
  code/modules/stockmarket/stockmarket.dm
  code/modules/stockmarket/stocks.dm
  icons/obj/clothing/backpack.dmi
  icons/obj/computer.dmi
  icons/obj/integrated_electronics/electronic_components.dmi
  icons/obj/integrated_electronics/electronic_tools.dmi
  icons/obj/salvageable.dmi
  maps/groundbase/gb-z2.dmm
  maps/groundbase/groundbase_defines.dm
  maps/groundbase/groundbase_poi_stuff.dm
  maps/groundbase/southwilds/southwilds3.dmm
  maps/stellardelight/stellar_delight2.dmm
  maps/tether/tether-05-station1.dmm
  maps/virgo_minitest/virgo_minitest-1.dmm
  tgui/packages/tgui/interfaces/StockExchange.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon

#12852 Public Hand Labelers (Rascal's Pass)
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#12856 Quick GB tweaks
  code/game/objects/random/misc_vr.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
Labels: Type: Map

#12857 4/28/22 Update
  code/__defines/span_vr.dm
  code/datums/managed_browsers/changelingevolution.dm
  code/game/objects/random/misc_vr.dm
  code/modules/emotes/definitions/human.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/vehicle.dm
  code/modules/xenoarcheaology/effects/poltergeist.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  vorestation.dme
Labels: Type: Map
