Repository VOREStation/VOREStation, pull requests merged in 2022-03, with the labels that each got.

#12359 fixes a few typos
  code/modules/projectiles/guns/energy/bsharpoon_vr.dm
  maps/stellardelight/stellar_delight2.dmm
  tgui/packages/tgui/interfaces/OvermapNavigation.js
  tgui/public/tgui.bundle.js
Labels: Type: Map

#12358 New PDA type, new sprites for other types & overlays!
  code/_helpers/global_lists.dm
  code/modules/client/preference_setup/general/04_equipment.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/pda/pda.dm
  code/modules/pda/pda_vr.dm
  code/modules/pda/utilities.dm
  icons/obj/pda_clam.dmi
  icons/obj/pda_holo.dmi
  icons/obj/pda_old.dmi
  icons/obj/pda_rugged.dmi
  icons/obj/pda_slim.dmi
  icons/obj/pda_vr.dmi
  icons/obj/pda_wrist.dmi
Labels: Type: Icon

#12360 3/2/22 - Update
  code/_helpers/global_lists.dm
  code/game/objects/structures/artstuff.dm
  code/modules/client/preference_setup/general/04_equipment.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/pda/pda.dm
  code/modules/pda/pda_vr.dm
  code/modules/pda/utilities.dm
  code/modules/persistence/paintings.dm
  code/modules/projectiles/guns/energy/bsharpoon_vr.dm
  icons/obj/pda_clam.dmi
  icons/obj/pda_holo.dmi
  icons/obj/pda_old.dmi
  icons/obj/pda_rugged.dmi
  icons/obj/pda_slim.dmi
  icons/obj/pda_vr.dmi
  icons/obj/pda_wrist.dmi
  maps/stellardelight/stellar_delight2.dmm
  tgui/packages/tgui/interfaces/OvermapNavigation.js
  tgui/public/tgui.bundle.js
Labels: Type: Icon, Type: Map

#12353 Ammo Boxes
  code/datums/autolathe/arms.dm
  code/datums/supplypacks/munitions.dm
  code/datums/supplypacks/security.dm
  code/datums/uplink/ammunition.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/guns_and_ammo.dm
  code/game/objects/random/mapping.dm
  code/game/objects/random/mob_vr.dm
  code/game/objects/structures/loot_piles.dm
  code/modules/awaymissions/loot_vr.dm
  code/modules/projectiles/ammunition/ammo_boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/ammunition/magazines_vr.dm
  code/modules/projectiles/ammunition/magnetic.dm
  code/modules/projectiles/ammunition/rounds.dm
  code/modules/projectiles/guns/energy/laser_vr.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/semiauto.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/beams_vr.dm
  code/modules/projectiles/projectile/bullets_vr.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/energy_vr.dm
  code/modules/projectiles/projectile/magnetic.dm
  code/modules/research/designs/weapons.dm
  code/modules/vore/resizing/sizegun_vr.dm
  icons/obj/ammo.dmi
  icons/obj/ammo_boxes.dmi
  icons/obj/ammo_vr.dmi
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight2.dmm
  maps/submaps/surface_submaps/wilderness/Rockybase.dmm
  maps/submaps/surface_submaps/wilderness/deathden.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Icon

#12361 Sec Zoomba wreckage fix
  icons/mob/robots_vr.dmi
Labels: Type: Icon

#12363 Sizegun Changes
  code/modules/vore/resizing/sizegun_vr.dm
  icons/mob/items/lefthand_guns_vr.dmi
  icons/mob/items/righthand_guns_vr.dmi
  icons/obj/gun_vr.dmi
Labels: Type: Icon

#12370 Fixes eggnog town active edges
  maps/gateway_vr/eggnogtownunderground.dmm
Labels: Type: Map

#12371 SD - adds an exotic particle harvester to the V2 sci outpost
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
Labels: Type: Map

#12377 SD paper!!!
  code/modules/shuttles/shuttle_console.dm
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Map

#12373 Dominant Prey and Dominant Predators
  code/_helpers/unsorted.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dominated_brain.dm
  code/modules/vore/eating/living_vr.dm
  maps/virgo_minitest/virgo_minitest-sector-3.dmm
  vorestation.dme
Labels: Type: Map

#12369 Reduces the duration of spider footstep sound
  sound/effects/spider_loop.ogg
Labels: Type: Sound

#12375 Vaporwave Dreams
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/economy/vending_machines_vr.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/inventory/feet/item.dmi
  icons/inventory/feet/mob.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/mob.dmi
Labels: Type: Icon

#12381 SD - adds a box of mining nifsoft uploaders to mining prep
  maps/stellardelight/stellar_delight1.dmm
Labels: Type: Map

#12388 Recipe Fixes
  code/modules/food/food/snacks.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/recipes_microwave_vr.dm
  code/modules/food/recipes_oven.dm
  code/modules/reagents/reactions/instant/food.dm
  icons/obj/food.dmi
Labels: Type: Icon

#12382 Minor Atmos-tech QoL & new hazard vest
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/jobs_vr.dm
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
  icons/mob/items/lefthand_vr.dmi
  icons/mob/items/righthand_vr.dmi
Labels: Type: Icon

#12391 3/7/22 - Quick fixes
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/jobs_vr.dm
  code/modules/food/food/snacks.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/recipes_microwave_vr.dm
  code/modules/food/recipes_oven.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dominated_brain.dm
  code/modules/reagents/reactions/instant/food.dm
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
  icons/mob/items/lefthand_vr.dmi
  icons/mob/items/righthand_vr.dmi
  icons/obj/food.dmi
Labels: Type: Icon

#12400 Replaces ammo boxes in maps
  maps/offmap_vr/om_ships/bearcat.dmm
  maps/offmap_vr/om_ships/cruiser.dmm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/stellardelight/ship_centcom.dmm
  maps/submaps/admin_use_vr/dhael_centcom.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/depreciated_vr/ert_base.dmm
  maps/submaps/depreciated_vr/mercbase.dmm
  maps/submaps/pois_vr/aerostat/Rockybase.dmm
  maps/submaps/surface_submaps/mountains/CaveTrench.dmm
  maps/submaps/surface_submaps/plains/Boathouse.dmm
  maps/submaps/surface_submaps/plains/Boathouse_vr.dmm
  maps/submaps/surface_submaps/plains/Thiefc.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Map

#12402 3/8/22 - I'm going to bed after this - Hotfix
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dominated_brain.dm
  maps/offmap_vr/om_ships/bearcat.dmm
  maps/offmap_vr/om_ships/cruiser.dmm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/stellardelight/ship_centcom.dmm
  maps/submaps/admin_use_vr/dhael_centcom.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/depreciated_vr/ert_base.dmm
  maps/submaps/depreciated_vr/mercbase.dmm
  maps/submaps/pois_vr/aerostat/Rockybase.dmm
  maps/submaps/surface_submaps/mountains/CaveTrench.dmm
  maps/submaps/surface_submaps/plains/Boathouse.dmm
  maps/submaps/surface_submaps/plains/Boathouse_vr.dmm
  maps/submaps/surface_submaps/plains/Thiefc.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Map

#12403 Small PDA hotfixes
  code/modules/pda/pda.dm
  icons/obj/pda_slider.dmi
Labels: Type: Icon

#12405 3/9/22 - Update
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/pda/pda.dm
  icons/obj/pda_slider.dmi
Labels: Type: Icon

#12415 Wiz-Off Fix
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/games/wizoff.dm
  icons/obj/playing_cards.dmi
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#12418 3/11/22 - Quick patch
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/games/wizoff.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/spacewhale.dm
  code/modules/vore/eating/bellymodes_vr.dm
  icons/obj/playing_cards.dmi
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#12421 Foam Dart Fix
  code/modules/projectiles/ammunition/ammo_boxes.dm
  code/modules/projectiles/ammunition/rounds.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Type: Icon

#12425 AI/Borgs and Shuttles
  code/modules/overmap/ships/computers/computer_shims.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/shuttles/shuttle_console.dm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_shuttles.dm
Labels: Type: Map

#12434 Small Pilot QoL additions
  code/datums/outfits/outfit_vr.dm
  code/game/jobs/job/civilian_vr.dm
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/pda/pda_vr.dm
  icons/obj/pda_holo.dmi
  icons/obj/pda_old.dmi
  icons/obj/pda_rugged.dmi
  icons/obj/pda_slider.dmi
  icons/obj/pda_slim.dmi
  icons/obj/pda_vr.dmi
  icons/obj/pda_wrist.dmi
Labels: Type: Icon

#12438 Whitelist updoot
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  config/alienwhitelist.txt
  config/jobwhitelist.txt
Labels: Type: Fluff

#12437 3/13/22 - Daylight Savings time Map swap
  code/datums/outfits/outfit_vr.dm
  code/game/jobs/job/civilian_vr.dm
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/pda/pda_vr.dm
  config/alienwhitelist.txt
  config/jobwhitelist.txt
  icons/obj/pda_holo.dmi
  icons/obj/pda_old.dmi
  icons/obj/pda_rugged.dmi
  icons/obj/pda_slider.dmi
  icons/obj/pda_slim.dmi
  icons/obj/pda_vr.dmi
  icons/obj/pda_wrist.dmi
  maps/cynosure/cynosure_jobs.dm
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#12439 Accidental Capitalization in whitelist Ckey
  config/alienwhitelist.txt
Labels: Type: Fluff

#12441 3/14/22 Updoot
  code/modules/research/designs/mining_toys.dm
  config/alienwhitelist.txt
Labels: Type: Fluff

#12454 Update whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#12449 Adds a choice between shotguns available to wardens.
  code/game/objects/items/gunbox_vr.dm
  code/modules/projectiles/guns/projectile/shotgun_vr.dm
  icons/obj/gun_vr.dmi
  icons/obj/storage_vr.dmi
  maps/stellardelight/stellar_delight1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Icon, Type: Map

#12455 3/18/22 update
  code/game/objects/items/gunbox_vr.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/modules/client/verbs/character_directory.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/say_vr.dm
  code/modules/projectiles/guns/projectile/shotgun_vr.dm
  config/alienwhitelist.txt
  icons/obj/gun_vr.dmi
  icons/obj/storage_vr.dmi
  maps/stellardelight/stellar_delight1.dmm
  maps/tether/tether-02-surface2.dmm
  tgui/packages/tgui/interfaces/CharacterDirectory.js
  tgui/public/tgui.bundle.js
Labels: Type: Fluff, Type: Icon, Type: Map

#12452 D-Type REG engine
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/power/port_gen_vr.dm
  icons/obj/power_vrx96.dmi
Labels: Type: Icon

#12459 YeCrowbarMan fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#12443 Colts, Revolvers, and Tasers
  code/game/objects/items/gunbox.dm
  code/game/objects/random/guns_and_ammo.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/mob/living/silicon/robot/robot_modules/swarm.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/ammunition/rounds.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/revolver_vr.dm
  code/modules/xenobio/items/weapons.dm
  icons/obj/gun.dmi
  maps/stellardelight/stellar_delight1.dmm
Labels: Type: Icon, Type: Map

#12462 3/19/22 Update
  code/game/objects/items/gunbox.dm
  code/game/objects/random/guns_and_ammo.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/silicon/robot/robot_modules/swarm.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dominated_brain.dm
  code/modules/mob/say_vr.dm
  code/modules/organs/internal/stomach.dm
  code/modules/organs/subtypes/nano.dm
  code/modules/power/port_gen_vr.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/ammunition/rounds.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/revolver_vr.dm
  code/modules/reagents/reagents/_reagents.dm
  code/modules/reagents/reagents/food_drinks.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  code/modules/xenobio/items/weapons.dm
  icons/obj/gun.dmi
  icons/obj/power_vrx96.dmi
  icons/vore/custom_items_vr.dmi
  maps/stellardelight/stellar_delight1.dmm
  tgui/packages/tgui/interfaces/DNAModifier.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: Type: Fluff, Type: Icon, Type: Map

#12483 improves fishing hars with VIBRANCY
  code/modules/clothing/head/fishing.dm
  icons/inventory/head/item_vr_fishing.dmi
  icons/inventory/head/mob_vr_fishing.dmi
Labels: Type: Icon

#12499 Shotguns and Bolt-Action Rifles
  code/datums/components/crafting/recipes/weapons.dm
  code/datums/supplypacks/munitions.dm
  code/game/objects/items/devices/binoculars.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/boltaction.dm
  code/modules/projectiles/guns/projectile/boltaction_vr.dm
  code/modules/projectiles/guns/projectile/leveraction.dm
  code/modules/projectiles/guns/projectile/semiauto.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/research/designs/misc.dm
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/ammo_boxes.dmi
  icons/obj/device_vr.dmi
  icons/obj/gun.dmi
  maps/submaps/pois_vr/aerostat/DeadSettlers1.dmm
  maps/submaps/pois_vr/aerostat/DeadSettlers2.dmm
  maps/submaps/pois_vr/aerostat/virgo2_submap_areas.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#12500 Show off your Pride
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
Labels: Type: Icon

#12504 Robs You In Public
  code/game/objects/random/misc.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/food/drinkingglass/glass_boxes.dm
  code/modules/food/drinkingglass/mugs.dm
  code/modules/food/food/drinks.dm
  code/modules/food/food/drinks_vr.dm
  icons/obj/drinks_mugs.dmi
  icons/obj/drinks_mugs_tall.dmi
  maps/offmap_vr/talon/talon_v2.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#12505 New Alien Organ Sprites
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/organs/internal/appendix.dm
  code/modules/organs/internal/spleen.dm
  code/modules/organs/subtypes/skrell.dm
  code/modules/organs/subtypes/tajaran.dm
  code/modules/organs/subtypes/unathi.dm
  icons/obj/surgery.dmi
  vorestation.dme
Labels: Type: Icon

#12509 3/21/22 - Updoot
  code/datums/components/crafting/recipes/weapons.dm
  code/datums/supplypacks/munitions.dm
  code/game/jobs/job/assistant_vr.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/random/misc.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/events/grubinfestation_vr.dm
  code/modules/food/drinkingglass/glass_boxes.dm
  code/modules/food/drinkingglass/mugs.dm
  code/modules/food/food/drinks.dm
  code/modules/food/food/drinks_vr.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/organs/internal/appendix.dm
  code/modules/organs/internal/spleen.dm
  code/modules/organs/subtypes/skrell.dm
  code/modules/organs/subtypes/tajaran.dm
  code/modules/organs/subtypes/unathi.dm
  code/modules/power/port_gen_vr.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/boltaction.dm
  code/modules/projectiles/guns/projectile/boltaction_vr.dm
  code/modules/projectiles/guns/projectile/leveraction.dm
  code/modules/projectiles/guns/projectile/semiauto.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/shotgun_vr.dm
  code/modules/research/designs/misc.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/ammo_boxes.dmi
  icons/obj/device_vr.dmi
  icons/obj/drinks_mugs.dmi
  icons/obj/drinks_mugs_tall.dmi
  icons/obj/gun.dmi
  icons/obj/surgery.dmi
  maps/offmap_vr/talon/talon_v2.dmm
  maps/submaps/pois_vr/aerostat/DeadSettlers1.dmm
  maps/submaps/pois_vr/aerostat/DeadSettlers2.dmm
  maps/submaps/pois_vr/aerostat/virgo2_submap_areas.dm
  vorestation.dme
Labels: Type: Icon

#12529 Auto-Resleeving
  code/controllers/subsystems/transcore_vr.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/dead/observer/observer_vr.dm
  code/modules/organs/organ_external.dm
  code/modules/resleeving/autoresleever.dm
  icons/obj/machines/autoresleever.dmi
  maps/stellardelight/stellar_delight1.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#12533 Smol fix
  code/modules/resleeving/autoresleever.dm
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#12532 3/25/22 - Autoresleeving time
  code/controllers/subsystems/transcore_vr.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/ai/ai_holder_subtypes/slime_xenobio_ai.dm
  code/modules/mob/dead/observer/observer_vr.dm
  code/modules/mob/living/carbon/human/species/station/prommie_blob.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/organs/organ_external.dm
  code/modules/random_map/drop/droppod.dm
  code/modules/resleeving/autoresleever.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/obj/machines/autoresleever.dmi
  maps/stellardelight/stellar_delight1.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#12522 Firearms 1
  code/game/objects/items/gunbox.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/nifsoft/software/10_combat.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/energy/laser_vr.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/nuclear_vr.dm
  code/modules/projectiles/guns/projectile/contender.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/pistol_vr.dm
  code/modules/projectiles/projectile/beams.dm
  icons/obj/gun.dmi
  vorestation.dme
Labels: Type: Icon

#12542 3/26/22 - Update
  code/game/objects/items/gunbox.dm
  code/game/objects/random/guns_and_ammo.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/turfs/simulated.dm
  code/modules/nifsoft/software/10_combat.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/energy/laser_vr.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/nuclear_vr.dm
  code/modules/projectiles/guns/projectile/contender.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/pistol_vr.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/resleeving/autoresleever.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/slipvore_vr.dm
  icons/obj/gun.dmi
  vorestation.dme
Labels: Type: Icon

#12543 Makes board in tech storage not be broken
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#12552 Makes Xenobio Great Again
  code/_helpers/global_lists_vr.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/ai/ai_holder_subtypes/slime_xenobio_ai.dm
  code/modules/mob/living/simple_mob/subtypes/slime/xenobio/subtypes.dm
  code/modules/mob/living/simple_mob/subtypes/slime/xenobio/xenobio.dm
  code/modules/reagents/reactions/instant/instant_vr.dm
  code/modules/xenobio/items/extracts.dm
  code/modules/xenobio/items/extracts_vr.dm
  code/modules/xenobio/items/slime_objects.dm
  code/modules/xenobio/items/slimepotions.dm
  code/modules/xenobio/items/slimepotions_vr.dm
  icons/inventory/back/item.dmi
  icons/inventory/back/mob.dmi
  icons/mob/slimes_vr.dmi
  vorestation.dme
Labels: Type: Icon

#12551 Adds a new catslug, Miros, to the fuel depot
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  icons/mob/alienanimals_x32.dmi
  icons/mob/items/lefthand_holder.dmi
  icons/mob/items/righthand_holder.dmi
  maps/expedition_vr/space/fueldepot.dmm
Labels: Type: Icon, Type: Map

#12555 Adds siphon vent to Tether's autoresleever room.
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#12557 3/27/22 - It's sunday
  code/_helpers/global_lists_vr.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/tools/screwdriver.dm
  code/game/objects/items/weapons/tools/wirecutters.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/ai/ai_holder_subtypes/slime_xenobio_ai.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/mob/living/simple_mob/subtypes/slime/xenobio/subtypes.dm
  code/modules/mob/living/simple_mob/subtypes/slime/xenobio/xenobio.dm
  code/modules/reagents/reactions/instant/instant_vr.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/resleeving/autoresleever.dm
  code/modules/vore/resizing/holder_micro_vr.dm
  code/modules/xenobio/items/extracts.dm
  code/modules/xenobio/items/extracts_vr.dm
  code/modules/xenobio/items/slime_objects.dm
  code/modules/xenobio/items/slimepotions.dm
  code/modules/xenobio/items/slimepotions_vr.dm
  icons/inventory/back/item.dmi
  icons/inventory/back/mob.dmi
  icons/mob/alienanimals_x32.dmi
  icons/mob/items/lefthand_holder.dmi
  icons/mob/items/righthand_holder.dmi
  icons/mob/slimes_vr.dmi
  maps/expedition_vr/space/fueldepot.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-05-station1.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#12559 Adds Coyote Awoo Emotes, now with EVEN MORE awoo-age!
  code/modules/emotes/definitions/audible_furry_vr.dm
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/coyoteawoo.ogg
  sound/voice/coyoteawoo2.ogg
  sound/voice/coyoteawoo3.ogg
  sound/voice/coyoteawoo4.ogg
  sound/voice/coyoteawoo5.ogg
Labels: Type: Sound

#12562 Adds sirlionfur to the Black-Eyed Shadekin Whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#12558 Xenochimera QOL PR
  code/_onclick/hud/alert.dm
  code/_onclick/hud/alert_vr.dm
  code/_onclick/hud/screen_objects_vr.dm
  code/game/objects/items/devices/defib.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/lick_wounds.dm
  code/modules/vore/eating/living_vr.dm
  icons/mob/screen_alert.dmi
  sound/effects/mob_effects/xenochimera/hatch.ogg
  sound/effects/mob_effects/xenochimera/hatch_notification.ogg
  sound/effects/mob_effects/xenochimera/regen_1.ogg
  sound/effects/mob_effects/xenochimera/regen_2.ogg
  sound/effects/mob_effects/xenochimera/regen_3.ogg
  sound/effects/mob_effects/xenochimera/regen_4.ogg
  sound/effects/mob_effects/xenochimera/regen_5.ogg
Labels: Type: Icon, Type: Sound

#12561 SD - V2 aerostat xenobio cell
  maps/expedition_vr/aerostat/_aerostat_science_outpost.dm
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
Labels: Type: Map

#12563 3/29/22 - Update
  code/_onclick/hud/alert.dm
  code/_onclick/hud/alert_vr.dm
  code/_onclick/hud/screen_objects_vr.dm
  code/game/objects/items/devices/defib.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/ai/ai_holder_subtypes/slime_xenobio_ai.dm
  code/modules/emotes/definitions/audible_furry_vr.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/lick_wounds.dm
  code/modules/mob/living/simple_mob/subtypes/slime/xenobio/subtypes_vr.dm
  code/modules/mob/living/simple_mob/subtypes/slime/xenobio/xenobio_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/xenobio/items/slimepotions_vr.dm
  config/alienwhitelist.txt
  icons/mob/screen_alert.dmi
  maps/expedition_vr/aerostat/_aerostat_science_outpost.dm
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  sound/effects/mob_effects/xenochimera/hatch.ogg
  sound/effects/mob_effects/xenochimera/hatch_notification.ogg
  sound/effects/mob_effects/xenochimera/regen_1.ogg
  sound/effects/mob_effects/xenochimera/regen_2.ogg
  sound/effects/mob_effects/xenochimera/regen_3.ogg
  sound/effects/mob_effects/xenochimera/regen_4.ogg
  sound/effects/mob_effects/xenochimera/regen_5.ogg
  sound/voice/coyoteawoo.ogg
  sound/voice/coyoteawoo2.ogg
  sound/voice/coyoteawoo3.ogg
  sound/voice/coyoteawoo4.ogg
  sound/voice/coyoteawoo5.ogg
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map, Type: Sound
