Repository VOREStation/VOREStation, pull requests merged in 2022-11, with the labels that each got.

#14021 Baton Lanyard
  code/modules/clothing/under/accessories/holster_vr.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
Labels: Type: Icon

#14022 Allows Sidona to use Perrin's tail and robes
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
Labels: Type: Fluff

#14023 Removes crab claws, fixes belly tattoo
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  icons/mob/human_races/markings.dmi
  icons/mob/human_races/markings_vr.dmi
Labels: Type: Icon

#14033 Axes the axes
  code/game/objects/structures/fireaxe.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z3.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#14045 11/6/22 - Map swap update
  code/_helpers/text.dm
  code/game/objects/structures/fireaxe.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/under/accessories/holster_vr.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/bigdragon.dm
  code/modules/mob/living/simple_mob/subtypes/vore/leopardmander.dm
  code/modules/mob/living/simple_mob/subtypes/vore/pakkun.dm
  code/modules/mob/living/simple_mob/subtypes/vore/shadekin/types.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/say_vr.dm
  code/modules/nifsoft/software/13_soulcatcher.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/mob/human_races/markings.dmi
  icons/mob/human_races/markings_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_things.dm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_things.dm
  tgui/yarn.lock
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#14062 Adds sect drone taurhalves and wvag versions of existing fat taurs
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#14066 Hopefully fixes corner sofas
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/obj/sofas.dmi
Labels: Type: Icon

#14071 Buffs paperwork on Stellar Delight (adds paperbin to captain's office, shredder to meeting room)
  maps/stellar_delight/stellar_delight2.dmm
Labels: Type: Map

#14072 ISV LUNA - A Ship!
  maps/offmap_vr/om_ships/lunaship.dm
  maps/offmap_vr/om_ships/lunaship.dmm
  vorestation.dme
Labels: Type: Map

#14081 11/13/22 - Map swap update
  code/game/jobs/job/civilian_vr.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/hydroponics/trays/tray_tools.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/examine_vr.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/prometheans.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/species/station/xenochimera_trait_vr.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/reagents/reagents/dispenser.dm
  code/modules/vore/eating/contaminate_vr.dm
  icons/mob/vore/taurs_vr.dmi
  icons/obj/sofas.dmi
  maps/offmap_vr/om_ships/lunaship.dm
  maps/offmap_vr/om_ships/lunaship.dmm
  maps/stellar_delight/stellar_delight2.dmm
  tgui/yarn.lock
  vorestation.dme
Labels: Type: Icon, Type: Map

#14063 Adds YeCrowbarMan to clown whitelist
  config/jobwhitelist.txt
Labels: Type: Fluff

#14083 Pandora's Fox-orb custom plush
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
Labels: Type: Fluff, Type: Icon

#14085 ISV LUNA - Adjustments
  maps/offmap_vr/om_ships/lunaship.dmm
Labels: Type: Map

#14087 Fixes comfy chair recipies being removed by broken mirror
  code/modules/materials/materials/metals/steel.dm
  maps/offmap_vr/talon/talon_v2.dmm
Labels: Type: Map

#14094 11/18/22 - Update
  code/datums/supplypacks/misc_vr.dm
  code/modules/busy_space_vr/air_traffic.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/materials/materials/metals/steel.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  config/jobwhitelist.txt
  icons/vore/custom_items_vr.dmi
  maps/offmap_vr/om_ships/lunaship.dmm
  maps/offmap_vr/talon/talon_v2.dmm
  tgui/yarn.lock
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#14102 Up ports bug sprites fitting for teshari (Wings, tails and ears)
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
  icons/mob/vore/wings_vr.dmi
Labels: Type: Icon

#14103 Gives teshari missing hat + mask sprites.
  code/modules/clothing/head/misc_special_vr.dm
  code/modules/clothing/head/misc_vr.dm
  code/modules/clothing/masks/gasmask_vr.dm
  code/modules/clothing/masks/miscellaneous_vr.dm
  code/modules/clothing/suits/wiz_robe.dm
  icons/inventory/face/mob_vr_teshari.dmi
  icons/inventory/head/mob_vr_teshari.dmi
  vorestation.dme
Labels: Type: Icon

#14107 Teshari screaming noise. *teshscream
  code/modules/emotes/definitions/audible.dm
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/teshscream.ogg
Labels: Type: Sound

#14121 11/20/22 - Map Swap update
  code/game/objects/items.dm
  code/modules/clothing/head/misc_special_vr.dm
  code/modules/clothing/head/misc_vr.dm
  code/modules/clothing/masks/gasmask_vr.dm
  code/modules/clothing/masks/miscellaneous_vr.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/inventory/face/mob_vr_teshari.dmi
  icons/inventory/head/mob_vr_teshari.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
  icons/mob/vore/wings_vr.dmi
  sound/voice/teshscream.ogg
  vorestation.dme
Labels: Type: Icon, Type: Sound

#14088 Stellar Delight Upgrades NOV 2022
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
Labels: Type: Map

#14106 spidaurs
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#14119 Ticket Printer!
  code/datums/roundstats/roundstats.dm
  code/game/objects/items/devices/ticket_printer.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/admin_verbs_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/obj/bureaucracy_vr.dmi
  icons/obj/device_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  sound/items/ticket_printer.ogg
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Sound

#14123 11/21/22 - Smol updoot
  code/datums/roundstats/roundstats.dm
  code/game/objects/items/devices/ticket_printer.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/admin_verbs_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/reagents/reactions/instant/instant_vr.dm
  icons/mob/vore/taurs_vr.dmi
  icons/obj/bureaucracy_vr.dmi
  icons/obj/device_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  sound/items/ticket_printer.ogg
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Sound

#14125 Map Tweaks!
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#14126 Adds a greyscale version of the megamoth wings
  code/modules/mob/new_player/sprite_accessories_wing_large_vr.dm
  icons/mob/vore/wings96_vr.dmi
Labels: Type: Icon

#14127 11/21/22 - Liddol biddy updoot
  code/modules/mob/new_player/sprite_accessories_wing_large_vr.dm
  icons/mob/vore/wings96_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Icon, Type: Map

#14141 Adjusts smite list
  code/__defines/admin_vr.dm
  code/_onclick/hud/popups_vr.dm
  code/modules/admin/verbs/smite_vr.dm
  icons/mob/screen1_popups.dmi
Labels: Type: Icon

#14135 Switches workflows to use Ubuntu 20.04
  .github/workflows/autochangelog.yml
  .github/workflows/ci.yml
  .github/workflows/render_nanomaps.yml
Labels: Type: .git or .github

#14136 Adds more altevian things
  code/game/objects/items/trash_vr.dm
  code/modules/client/preference_setup/loadout/loadout_xeno_vr.dm
  code/modules/clothing/suits/miscellaneous_vr.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/food/food/snacks_vr.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/obj/food_vr.dmi
  icons/obj/trash_vr.dmi
Labels: Type: Icon

#14140 Buffs library book management
  code/game/magic/archived_book.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/admin_verbs_vr.dm
  code/modules/library/lib_machines.dm
  maps/groundbase/gb-centcomm.dmm
  maps/stellar_delight/ship_centcom.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Map

#14142 11/26/22 - Updoot
  .github/workflows/autochangelog.yml
  .github/workflows/ci.yml
  .github/workflows/render_nanomaps.yml
  code/__defines/admin_vr.dm
  code/_onclick/hud/popups_vr.dm
  code/game/magic/archived_book.dm
  code/game/objects/items/devices/hacktool.dm
  code/game/objects/items/trash_vr.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/admin_verbs_vr.dm
  code/modules/admin/verbs/smite_vr.dm
  code/modules/client/preference_setup/loadout/loadout_xeno_vr.dm
  code/modules/clothing/suits/miscellaneous_vr.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/library/lib_machines.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/mob/screen1_popups.dmi
  icons/obj/food_vr.dmi
  icons/obj/trash_vr.dmi
  maps/groundbase/gb-centcomm.dmm
  maps/stellar_delight/ship_centcom.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Icon, Type: Map, Type: .git or .github

#14151 Whitelist update
  config/alienwhitelist.txt
Labels: Type: Fluff

#14152 11/27/22 - I forgot to do the whitelists
  config/alienwhitelist.txt
Labels: Type: Fluff

#14153 Update lunaship.dmm
  maps/offmap_vr/om_ships/lunaship.dmm
Labels: Type: Map
