Repository VOREStation/VOREStation, pull requests merged in 2022-08, with the labels that each got.

#13432 Adds roulette balls to casino
  maps/gateway_vr/lucky_7.dmm
Labels: Type: Map

#13428 7/31/22 - smol update
  code/_helpers/global_lists_vr.dm
  code/modules/mob/living/carbon/human/species/species_attack_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/tgs/v5/chat_commands.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  maps/gateway_vr/lucky_7.dmm
Labels: Type: Map

#13438 Hotfix to make items not shoot out runtimes.
  code/game/objects/items.dm
Labels: Sev: 4-Minor, Type: Bug

#13433 Moves Tether Underdark to southeast corner
  maps/tether/submaps/tether_underdark.dmm
  maps/tether/tether-06-mining.dmm
Labels: Type: Map

#13436 adds cool and fun and totally balanced new weapon
  code/modules/projectiles/guns/energy/special_vr.dm
  icons/obj/gun_vr.dmi
  icons/obj/projectiles_vr.dmi
  sound/weapons/chargeup.ogg
Labels: Type: Icon, Type: Sound

#13437 Less Lethal Lung Damage.
  code/modules/organs/internal/lungs.dm
Labels: Type: Feature/Suggestion

#13444 Fixes wrong mineral walls on virgo4 beach
  maps/expedition_vr/beach/beach.dmm
Labels: Type: Map

#13445 Adds swimwear locker to tether pool. Replaces atheltic lockers on beach with swimwear.
  maps/expedition_vr/beach/beach.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#13449 Protean Whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#13454 Expands mining&archeology belt storage.
  code/game/objects/items/weapons/storage/belt_vr.dm
Labels: Type: Feature/Suggestion

#13455 Clothing Slot adjustments
  code/modules/clothing/suits/hooded.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/media/walkpod.dm
Labels: Type: Feature/Suggestion

#13458 Allows changing of the release verb when expelling stomach contents.
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: Feature/Suggestion, Type: TGUI Bundle

#13459 Allows dislocations to be found.
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Type: Bug

#13450 RUSS Sprite Import
  config/custom_sprites.txt
  icons/mob/custom_synthetic_vr.dmi
Labels: Type: Fluff, Type: Icon

#13452 shalax fluff wrassle secbelt reskin
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
Labels: Type: Fluff

#13464 8/7/22 - Map swap update
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/belt_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/suits/hooded.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/integrated_electronics/core/assemblies/clothing.dm
  code/modules/media/walkpod.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/organs/internal/lungs.dm
  code/modules/projectiles/guns/energy/special_vr.dm
  code/modules/reagents/reagents/core.dm
  code/modules/surgery/implant.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  config/alienwhitelist.txt
  config/custom_sprites.txt
  icons/mob/custom_synthetic_vr.dmi
  icons/obj/gun_vr.dmi
  icons/obj/projectiles_vr.dmi
  maps/expedition_vr/beach/beach.dmm
  maps/tether/submaps/tether_underdark.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-mining.dmm
  sound/weapons/chargeup.ogg
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map, Type: Sound, Type: TGUI Bundle

#13474 Optimizes shower's turf washing a bit
  code/game/objects/structures/watercloset.dm
Labels: Type: Bug

#13471 Makes wounds disappear
  code/modules/organs/organ_external.dm
Labels: Type: Bug

#13442 [READY] Adds Altevian species
  code/__defines/mobs_vr.dm
  code/__defines/sprite_sheets.dm
  code/game/area/areas.dm
  code/game/machinery/suit_cycler_datums.dm
  code/modules/catalogue/catalogue_data_vr.dm
  code/modules/clothing/spacesuits/rig/rig_pieces_vr.dm
  code/modules/clothing/spacesuits/void/ert_vr.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_getters.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_vr.dm
  icons/inventory/head/item_vr_altevian.dmi
  icons/inventory/head/mob_vr_altevian.dmi
  icons/inventory/suit/item_vr_altevian.dmi
  icons/inventory/suit/mob_vr_altevian.dmi
  icons/mob/human_races/markings_vr.dmi
  icons/mob/human_races/r_altevian.dmi
  icons/mob/human_races/r_def_altevian.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#13479 Maybe-hopefully fixes active edges on Tether Centcom
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Map

#13466 [Ready for Review] Surgery hound
  code/global.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_modules_vr.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/mob/widerobot_trauma_vr.dmi
Labels: Type: Icon

#13469 Makes you able to select the borg plushies
  code/game/objects/items/toys/toys_vr.dm
Labels: Type: Bug

#13472 Enables unbuttoning the Command Dress Jacket
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/jobs.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
Labels: Type: Icon

#13477 Adds Loopty Loo to Protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#13478 Adds back shutters to engine room of RP
  maps/groundbase/gb-z1.dmm
Labels: Type: Map

#13481 Medsensor borgs can analyze patients in their belly.
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
Labels: Type: Bug, Type: Feature/Suggestion

#13485 Condenses all the animal languages and deletes unused/unwanted languages
  code/__defines/species_languages.dm
  code/__defines/species_languages_vr.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/robot/robot_upgrades_vr.dm
  code/game/objects/items/weapons/implants/implant_vr.dm
  code/modules/blob2/overmind/overmind.dm
  code/modules/mob/language/monkey.dm
  code/modules/mob/language/outsider.dm
  code/modules/mob/language/station.dm
  code/modules/mob/language/station_vr.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/outsider/replicant.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_modules/syndicate.dm
  code/modules/mob/living/simple_mob/subtypes/occult/constructs/_construct.dm
  code/modules/mob/living/simple_mob/subtypes/vore/c_pet.dm
  code/modules/organs/subtypes/skrell.dm
  config/alienwhitelist.txt
Labels: Type: Fluff, Type: Feature/Suggestion

#13489 Protean Whitelist People
  config/alienwhitelist.txt
Labels: Type: Fluff

#13488 Adds mentors
  code/_global_vars/mobs.dm
  code/controllers/configuration.dm
  code/game/world.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/topic.dm
  code/modules/client/client procs.dm
  code/modules/client/verbs/who.dm
  code/modules/mentor/mentor.dm
  code/modules/mentor/mentorhelp.dm
  code/modules/vchat/css/ss13styles.css
  code/stylesheet.dm
  icons/chattags.dmi
  sound/effects/mentorhelp.mp3
  vorestation.dme
Labels: Type: Icon, Type: Sound

#13493 Fixes recharge station overlays
  code/game/machinery/rechargestation.dm
Labels: Type: Bug, Sev: 1-Blocker

#13495 Fixes IDs getting the "digested" overlay up to infinity
  code/modules/vore/eating/digest_act_vr.dm
Labels: Type: Bug, Sev: 1-Blocker

#13499 Ports Taur Loafing from Cit-RP & Chompstation13
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#13500 8/14/22 - extra updoot
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/_nanomaps/tether_nanomap_z5.png
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#13503 Mentor QOL changes
  code/modules/admin/topic.dm
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/client/preferences_vr.dm
  code/modules/mentor/mentor.dm
  code/modules/mentor/mentorhelp.dm
  code/modules/vchat/css/ss13styles.css
  code/modules/vchat/js/vchat.js
  code/stylesheet.dm
  icons/chattags.dmi
Labels: Type: Icon

#13502 Fixes typo
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#13505 8/14/22 - Anodawun
  code/modules/admin/topic.dm
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/client/preferences_vr.dm
  code/modules/mentor/mentor.dm
  code/modules/mentor/mentorhelp.dm
  code/modules/vchat/css/ss13styles.css
  code/modules/vchat/js/vchat.js
  code/stylesheet.dm
  icons/chattags.dmi
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: Icon, Type: TGUI Bundle

#13511 Fixes Altevian Pilot Voidsuit helmet
  icons/inventory/head/item_vr_altevian.dmi
Labels: Type: Icon

#13513 Janitorial Sanitization update
  code/modules/vore/eating/vorepanel_vr.dm
Labels: Sev: 2-High, Type: Bug

#13514 Sanitization Pt 2
  code/modules/vore/eating/vorepanel_vr.dm
Labels: Sev: 2-High, Type: Bug

#13518 8/16/22 - updoot
  code/controllers/subsystems/job.dm
  code/game/jobs/job/assistant_vr.dm
  code/game/jobs/job/engineering_vr.dm
  code/game/jobs/job/job_vr.dm
  code/game/jobs/job/medical_vr.dm
  code/game/jobs/job/security_vr.dm
  code/game/jobs/job/special_vr.dm
  code/modules/client/client procs.dm
  code/modules/mentor/mentor.dm
  code/modules/mentor/mentorhelp.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/paperwork/faxmachine_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/inventory/head/item_vr_altevian.dmi
Labels: Type: Icon

#13523 Adds Altevian fashion
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/under/accessories/altevian_vr.dm
  code/modules/clothing/under/altevian_vr.dm
  icons/inventory/accessory/item_vr.dmi
  icons/inventory/accessory/mob_vr.dmi
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
  vorestation.dme
Labels: Type: Icon

#13524 Makes the reverse-mouseray able to be made via research.
  code/modules/research/designs/medical_vr.dm
Labels: Type: Feature/Suggestion

#13526 Makes fire stacks be able to heat up body indefinetely
  code/modules/mob/living/carbon/human/life.dm
Labels: Type: Bug

#13527 8/17/22 - Update
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/under/accessories/altevian_vr.dm
  code/modules/clothing/under/altevian_vr.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/paperwork/faxmachine_vr.dm
  code/modules/research/designs/medical_vr.dm
  icons/inventory/accessory/item_vr.dmi
  icons/inventory/accessory/mob_vr.dmi
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
  vorestation.dme
Labels: Type: Icon

#13528 Fixes proteans disappearing up their own ass when confused
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
Labels: Type: Bug

#13530 Allows use of Virtual Avatars in game without breaking things.
  code/modules/mob/living/carbon/human/species/virtual_reality/avatar.dm
Labels: Type: Bug

#13534 Makes the freezer able to hold more items at cost of size.
  code/game/objects/items/weapons/storage/boxes_vr.dm
Labels: Type: Feature/Suggestion

#13536 More casino updates
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/random/misc.dm
  code/modules/casino/casino.dm
  code/modules/casino/casino_book.dm
  code/modules/casino/casino_prize_vendor.dm
  code/modules/casino/slots.dm
  code/modules/casino/spawnergrenade_casino.dm
  code/modules/client/stored_item.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/economy/casinocash.dm
  code/modules/vore/resizing/sizegun_vr.dm
  maps/submaps/admin_use_vr/fun.dm
  maps/submaps/admin_use_vr/lucky_7.dmm
Labels: Type: Map

#13540 Deletes C&P Monolingual error
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
Labels: Type: Bug

#13541 Adds customizable language keys to language menu and character setup
  code/modules/client/preference_setup/general/02_language.dm
  code/modules/client/preferences.dm
  code/modules/mob/language/language.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/say.dm
  code/modules/resleeving/autoresleever.dm
  code/modules/vore/eating/inbelly_spawn.dm
Labels: Type: Feature/Suggestion

#13543 Allows painkillers to negate slowdown due to damage
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Type: Bug, Type: Feature/Suggestion

#13547 Fixes an accidental deletion during the language PR
  code/modules/mob/living/silicon/pai/software_modules.dm
Labels: Type: Bug

#13548 Prevents embedding of phishing links in debug logs
  code/_helpers/logging.dm
Labels: Type: Bug

#13549 Why were these in gitignore
  .gitignore
Labels: Type: Bug

#13554 Tweak hotkey change
  code/modules/mentor/mentor.dm
Labels: Type: Feature/Suggestion

#13555 dragons can be trauma now
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  icons/mob/drakeborg/drakeborg_vr.dmi
Labels: Type: Icon

#13546 Adds Toxins & Cloneloss digestion damage.
  code/modules/mob/living/carbon/human/life.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: Feature/Suggestion, Type: TGUI Bundle

#13558 WHY ARE YOU A PINK SQUARE, SIZE GUN?
  code/modules/vore/resizing/sizegun_vr.dm
Labels: Type: Bug

#13559 New sprite for dosimeter case + case capacity fix
  code/modules/clothing/under/accessories/badges_vr.dm
  icons/inventory/accessory/item_vr.dmi
Labels: Type: Icon

#13560 adds a custom item for coolcrow420
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Fluff

#13568 Pilot NIFsoft transfered to "vr" files
  code/modules/nifsoft/nifsoft.dm
  code/modules/nifsoft/nifsoft_vr.dm
  icons/obj/boxes.dmi
  icons/obj/boxes_vr.dmi
  icons/obj/nanomods.dmi
  icons/obj/nanomods_vr.dmi
  vorestation.dme
Labels: Type: Icon

#13569 Adds a toggle to hide tails.
  code/modules/mob/living/carbon/human/emote_vr.dm
  code/modules/mob/living/carbon/human/human_defines_vr.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Type: Feature/Suggestion

#13570 Adds Altevian cuisine
  code/datums/supplypacks/vending_refills_vr.dm
  code/game/objects/items/trash_vr.dm
  code/game/objects/random/mapping.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/economy/vending_refills.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/recipes_microwave_vr.dm
  icons/obj/food_vr.dmi
  icons/obj/trash_vr.dmi
  icons/obj/vending_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Icon, Type: Map

#13571 Adds kira72 to xenochimera whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#13572 put yo balls away (skrell sprite fix)
  icons/mob/human_races/r_skrell_vr.dmi
Labels: Type: Icon

#13573 Changes "Water Breather" to "Aquatic" and reworks the trait to make it more vore-centric
  code/modules/mob/_modifiers/modifiers_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/mob/living/carbon/human/species/station/xenochimera_trait_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#13576 Makes flashlights not runtime.
  code/game/objects/items/devices/flashlight.dm
Labels: Type: Bug

#13578 Makes the inducer not break forever when trying to charge a gun
  code/game/objects/items/weapons/inducer_vr.dm
Labels: Type: Bug

#13579 Fixes Black and Gold Gown
  icons/inventory/uniform/mob.dmi
Labels: Type: Icon

#13580 8/25/22 - Update
  code/datums/supplypacks/vending_refills_vr.dm
  code/datums/uplink/tools.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/trash_vr.dm
  code/game/objects/items/weapons/inducer_vr.dm
  code/game/objects/random/mapping.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/under/accessories/badges_vr.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/economy/vending_refills.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/recipes_microwave_vr.dm
  code/modules/mentor/mentor.dm
  code/modules/mob/_modifiers/modifiers_vr.dm
  code/modules/mob/_modifiers/unholy.dm
  code/modules/mob/living/carbon/human/emote_vr.dm
  code/modules/mob/living/carbon/human/human_defines_vr.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/mob/living/carbon/human/species/station/xenochimera_trait_vr.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/nifsoft/nifsoft.dm
  code/modules/nifsoft/nifsoft_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  code/modules/vore/resizing/sizegun_vr.dm
  code/modules/xenoarcheaology/effects/gravitational_waves.dm
  config/alienwhitelist.txt
  icons/inventory/accessory/item_vr.dmi
  icons/inventory/uniform/mob.dmi
  icons/mob/drakeborg/drakeborg_vr.dmi
  icons/mob/human_races/r_skrell_vr.dmi
  icons/obj/boxes.dmi
  icons/obj/boxes_vr.dmi
  icons/obj/food_vr.dmi
  icons/obj/nanomods.dmi
  icons/obj/nanomods_vr.dmi
  icons/obj/trash_vr.dmi
  icons/obj/vending_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/submaps/admin_use_vr/fun.dm
  maps/tether/tether-02-surface2.dmm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Fluff

#13587 Adds satinisle to protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#13590 Fixes breaker boxes not initializing
  code/modules/power/breaker_box.dm
Labels: Type: Bug

#13589 Drill Cells
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight1.dmm
Labels: Type: Map

#13598 Adds megamoth wings, ability for wings to exist on different layer, ability for large wings to exist
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_wing_large_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  icons/mob/human_races/subspecies/r_vatgrown.dmi
  icons/mob/vore/wings96_vr.dmi
  vorestation.dme
Labels: Type: Icon

#13602 8/28/22 - Map swap
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_wing_large_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  code/modules/organs/pain.dm
  icons/mob/human_races/subspecies/r_vatgrown.dmi
  icons/mob/vore/wings96_vr.dmi
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight1.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#13603 Mouse hole!
  code/game/objects/micro_structures.dm
  icons/obj/structures/micro_structures.dmi
  vorestation.dme
Labels: Type: Icon

#13605 Micro hiding!
  code/game/objects/micro_structures.dm
Labels: Type: Feature/Suggestion

#13606 Adjustments to Mouse holse, micro hiding, and smole buildings! WOW!
  code/game/objects/micro_structures.dm
  code/modules/vore/smoleworld/smoleworld_vr.dm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#13609 8/30/22 - Update
  code/game/objects/micro_structures.dm
  code/game/objects/objs.dm
  code/modules/vore/smoleworld/smoleworld_vr.dm
  icons/obj/structures/micro_structures.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether-05-station1.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#13610 HTML Export of Bellies
  code/modules/vore/eating/exportpanel_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/packages/tgui/interfaces/VorePanelExport.tsx
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: TGUI Bundle

#13614 Adds a 'safe' ash storm variant.
  code/__defines/planets.dm
  code/modules/planet/virgo3b_vr.dm
  code/modules/planet/virgo3c_vr.dm
  code/modules/planet/virgo4_vr.dm
  icons/effects/weather.dmi
Labels: Type: Icon

#13617 8/31/22 - Update
  code/__defines/planets.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/sound.dm
  code/modules/clothing/clothing.dm
  code/modules/planet/virgo3b_vr.dm
  code/modules/planet/virgo3c_vr.dm
  code/modules/planet/virgo4_vr.dm
  code/modules/vore/eating/exportpanel_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/effects/weather.dmi
  tgui/.gitignore
  tgui/package.json
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/packages/tgui/interfaces/VorePanelExport.tsx
  tgui/public/tgui.bundle.js
  tgui/webpack.config.js
  tgui/yarn.lock
  vorestation.dme
Labels: Type: Icon, Type: TGUI Bundle
