Repository VOREStation/VOREStation, pull requests merged in 2022-01, with the labels that each got.

#12031 couple v2 outpost fixes
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
Labels: Type: Map

#12035 Adds secondary color layer to neckfur "wings"
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  icons/mob/vore/wings_vr.dmi
Labels: Type: Icon

#12037 a few protean whitelists
  config/alienwhitelist.txt
Labels: Type: Fluff

#12044 Dnd explo amour
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/suits/armor_vr.dm
  code/modules/clothing/suits/utility_vr.dm
  icons/inventory/head/item_vr.dmi
  icons/obj/clothing/knights_vr.dmi
Labels: Type: Icon

#12049 It not crummuz :c
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Map

#12050 1/8/22 Update - Crummuz is over sad
  code/datums/riding.dm
  code/datums/supplypacks/misc_vr.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/artstuff.dm
  code/modules/busy_space_vr/air_traffic.dm
  code/modules/busy_space_vr/organizations.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/client/preference_setup/vore/08_nif.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/armor_vr.dm
  code/modules/clothing/suits/utility_vr.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species_getters_vr.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/new_player/sprite_accessories_taur.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  code/modules/nifsoft/nif.dm
  code/modules/random_map/noise/ore.dm
  code/modules/reagents/reagents/other_vr.dm
  code/modules/vore/eating/living_vr.dm
  config/alienwhitelist.txt
  icons/inventory/head/item_vr.dmi
  icons/mob/vore/wings_vr.dmi
  icons/obj/clothing/knights_vr.dmi
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Fluff, Type: Icon, Type: Map

#12051 there's too many slot machines!
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Map

#12052 1/8/22 hotfix
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Map

#12058 Falloutdog3 added to besk whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#12069 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#12053 Dnd fm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/suits/armor_vr.dm
  icons/obj/clothing/knights_vr.dmi
Labels: Type: Icon

#12063 Updates starting settings of engine smes + grid checker guide port
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Map

#12070 Map Updates
  maps/stellardelight/stellar_delight3.dmm
  maps/stellardelight/stellar_delight_things.dm
Labels: Type: Map

#12071 1/14/22 update
  code/datums/supplypacks/misc_vr.dm
  code/game/mecha/equipment/tools/jetpack.dm
  code/game/mecha/mecha.dm
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/game/turfs/turf.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/suits/armor_vr.dm
  config/alienwhitelist.txt
  icons/obj/clothing/knights_vr.dmi
  maps/stellardelight/stellar_delight2.dmm
  maps/stellardelight/stellar_delight3.dmm
  maps/stellardelight/stellar_delight_things.dm
Labels: Type: Fluff, Type: Icon, Type: Map

#12074 Add missing wire
  maps/stellardelight/stellar_delight3.dmm
Labels: Type: Map

#12076 01/15/22 Hotfix
  maps/stellardelight/stellar_delight3.dmm
Labels: Type: Map

#12089 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#12097 adds coolcrow420 to the black-eyed shadekin whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#12098 Adding tankthebirb and satinisle
  config/alienwhitelist.txt
Labels: Type: Fluff

#12099 1/20/22 Whitelist update
  config/alienwhitelist.txt
Labels: Type: Fluff

#12085 Adds Rat taurhalf
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#12110 Lighting Additions
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Map

#12127 1/28/22 Update
  code/_global_vars/lists/misc.dm
  code/datums/looping_sounds/weather_sounds.dm
  code/modules/catalogue/catalogue_data_vr.dm
  code/modules/events/event_container_vr.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/new_player/sprite_accessories_ear.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing.dm
  code/modules/planet/sif.dm
  code/modules/vore/eating/living_vr.dm
  icons/mob/vore/taurs_vr.dmi
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight2.dmm
  sound/effects/weather/indoorrain_end.ogg
  sound/effects/weather/indoorrain_mid.ogg
  sound/effects/weather/indoorrain_start.ogg
  tgui/packages/tgui/interfaces/CharacterDirectory.js
  tgui/public/tgui.bundle.js
Labels: Type: Icon, Type: Map, Type: Sound

#12129 Add a bolt to medical's exam room
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight3.dmm
Labels: Type: Map

#12133 1/31/22 Update
  code/game/jobs/job/civilian_vr.dm
  code/game/jobs/job/exploration_vr.dm
  code/game/objects/items/toys/toys.dm
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight3.dmm
  maps/stellardelight/stellar_delight_telecomms.dm
  maps/tether/tether_telecomms.dm
Labels: Type: Map

#12134 Swap slot machines
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Map

#12136 1/31/22 hotfix
  maps/stellardelight/stellar_delight2.dmm
Labels: Type: Map
