Repository VOREStation/VOREStation, pull requests merged in 2023-10, with the labels that each got.

#15423 Adds raptor vore mobs
  code/game/objects/effects/semirandom_mobs_vr.dm
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/raptor.dm
  icons/mob/vore_raptor.dmi
  vorestation.dme
Labels: Type: Icon

#15425 Borg belly overlays can be supported by both sleepers and vore panel bellies
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/sprites/_sprite_datum.dm
  code/modules/mob/living/silicon/robot/sprites/medical.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/mob/62x62robot_vr.dmi
  icons/mob/64x64robot_vr.dmi
  icons/mob/drakeborg/drakeborg_vr.dmi
  icons/mob/raptorborg/raptor.dmi
  icons/mob/robot/combat_large.dmi
  icons/mob/robot/combat_medic_wide.dmi
  icons/mob/robot/crisis_large.dmi
  icons/mob/robot/crisis_wide.dmi
  icons/mob/robot/engineering_large.dmi
  icons/mob/robot/engineering_wide.dmi
  icons/mob/robot/fluff_wide.dmi
  icons/mob/robot/janitor_large.dmi
  icons/mob/robot/janitor_wide.dmi
  icons/mob/robot/lost_wide.dmi
  icons/mob/robot/mechanist_wide.dmi
  icons/mob/robot/medical_large.dmi
  icons/mob/robot/mining_large.dmi
  icons/mob/robot/mining_wide.dmi
  icons/mob/robot/science_large.dmi
  icons/mob/robot/science_wide.dmi
  icons/mob/robot/security_large.dmi
  icons/mob/robot/security_wide.dmi
  icons/mob/robot/service_large.dmi
  icons/mob/robot/service_wide.dmi
  icons/mob/robot/service_wide_booze.dmi
  icons/mob/robot/surgical_large.dmi
  icons/mob/robot/surgical_wide.dmi
  icons/mob/tallborg/tallborg.dmi
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: Icon

#15435 Submap Compile Fix
  maps/offmap_vr/om_ships/shelter_6.dmm
Labels: Type: Map

#15437 Adds approved fluff medal
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#15439 Midweek Hotfix Release (05/10/2023)
  code/game/objects/items/weapons/melee/energy_vr.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/belt_vr.dm
  code/game/objects/items/weapons/storage/pouches.dm
  code/game/objects/items/weapons/tools/transforming.dm
  code/game/objects/structures/props/altevian.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/client/preference_setup/loadout/loadout_xeno_vr.dm
  code/modules/client/preferences_factions.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous_vr.dm
  code/modules/clothing/under/accessories/altevian_vr.dm
  code/modules/clothing/under/altevian_vr.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/sprites/_sprite_datum.dm
  code/modules/mob/living/silicon/robot/sprites/medical.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  code/modules/mob/living/simple_mob/subtypes/humanoid/mercs/mercs_altevian.dm
  code/modules/power/port_gen_vr.dm
  code/modules/projectiles/guns/energy/altevian_vr.dm
  code/modules/projectiles/guns/projectile/altevian_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/mob/62x62robot_vr.dmi
  icons/mob/64x64robot_vr.dmi
  icons/mob/drakeborg/drakeborg_vr.dmi
  icons/mob/raptorborg/raptor.dmi
  icons/mob/robot/combat_large.dmi
  icons/mob/robot/combat_medic_wide.dmi
  icons/mob/robot/crisis_large.dmi
  icons/mob/robot/crisis_wide.dmi
  icons/mob/robot/engineering_large.dmi
  icons/mob/robot/engineering_wide.dmi
  icons/mob/robot/fluff_wide.dmi
  icons/mob/robot/janitor_large.dmi
  icons/mob/robot/janitor_wide.dmi
  icons/mob/robot/lost_wide.dmi
  icons/mob/robot/mechanist_wide.dmi
  icons/mob/robot/medical_large.dmi
  icons/mob/robot/mining_large.dmi
  icons/mob/robot/mining_wide.dmi
  icons/mob/robot/science_large.dmi
  icons/mob/robot/science_wide.dmi
  icons/mob/robot/security_large.dmi
  icons/mob/robot/security_wide.dmi
  icons/mob/robot/service_large.dmi
  icons/mob/robot/service_wide.dmi
  icons/mob/robot/service_wide_booze.dmi
  icons/mob/robot/surgical_large.dmi
  icons/mob/robot/surgical_wide.dmi
  icons/mob/tallborg/tallborg.dmi
  maps/offmap_vr/om_ships/shelter_6.dmm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
  tools/mapmerge2/requirements.txt
Labels: Type: Fluff, Type: Icon

#15442 New Mob: Scel
  code/game/objects/effects/semirandom_mobs_vr.dm
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/cryptdrake.dm
  code/modules/mob/living/simple_mob/subtypes/vore/scel.dm
  icons/mob/vore_scel.dmi
  maps/redgate/cybercity.dmm
  maps/submaps/admin_use_vr/RPshuttle.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#15447 10/9/23 - I thought tomorrow was sunday but I was wrong
  code/_helpers/unsorted.dm
  code/game/objects/effects/semirandom_mobs_vr.dm
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/cryptdrake.dm
  code/modules/mob/living/simple_mob/subtypes/vore/scel.dm
  code/modules/recycling/conveyor2.dm
  icons/mob/vore_scel.dmi
  maps/redgate/cybercity.dmm
  maps/submaps/admin_use_vr/RPshuttle.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#15451 They're out there man, I seen em'
  config/alienwhitelist.txt
Labels: Type: Fluff

#15452 10/11/23 - Alien activity
  .github/workflows/autochangelog.yml
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/scel.dm
  code/modules/mob/mob.dm
  code/modules/mob/say_vr.dm
  code/modules/paperwork/paper.dm
  code/modules/vchat/css/ss13styles.css
  code/modules/vchat/js/vchat.js
  code/modules/vchat/js/vchat.min.js
  config/alienwhitelist.txt
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
Labels: Type: Fluff, Type: Icon, Type: .git or .github

#15457 Jaffa cakes
  code/datums/supplypacks/hospitality_vr.dm
  code/modules/economy/vending_machines.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/recipes_oven.dm
  icons/obj/food_vr.dmi
Labels: Type: Icon

#15455 Docking Code Changes
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#15460 10/15/23 - It's sunday for real this time
  code/datums/supplypacks/hospitality_vr.dm
  code/modules/economy/vending_machines.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/recipes_oven.dm
  code/modules/mob/mob.dm
  code/modules/mob/say_vr.dm
  code/modules/vchat/js/vchat.js
  code/modules/vchat/js/vchat.min.js
  code/modules/vore/eating/vorepanel_vr.dm
  icons/obj/food_vr.dmi
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#15465 Whitelist updates
  config/alienwhitelist.txt
  config/jobwhitelist.txt
Labels: Type: Fluff

#15470 10/22/23 - Map swap update
  code/datums/supplypacks/hospitality_vr.dm
  config/alienwhitelist.txt
  config/jobwhitelist.txt
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#15476 VerySoft Fluff Item!
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/inventory/eyes/item_vr.dmi
  icons/inventory/eyes/mob_vr.dmi
Labels: Type: Fluff, Type: Icon

#15474 Adds New Antler Ears + Variant (and fixes previous antler sprite)
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  icons/mob/vore/ears_32x64.dmi
Labels: Type: Icon

#15479 Desatti Catering
  code/game/objects/items/trash.dm
  code/modules/food/food/snacks_vr.dm
  icons/obj/food_package.dmi
  icons/obj/food_snacks.dmi
  icons/obj/trash.dmi
Labels: Type: Icon

#15471 Creates prompt to rename faxes if using default name, updates bundle naming logic
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper.dm
  tgui/packages/tgui/interfaces/Fax.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15484 10/29/23 - Map swap update
  code/_helpers/mobs.dm
  code/game/objects/items/trash.dm
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/game/objects/structures/ghost_pods/ghost_pods.dm
  code/game/objects/structures/ghost_pods/ghost_pods_vr.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preferences_vr.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/stardog.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player_vr.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/say_vr.dm
  code/modules/nifsoft/nifsoft.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/inventory/eyes/item_vr.dmi
  icons/inventory/eyes/mob_vr.dmi
  icons/mob/vore/ears_32x64.dmi
  icons/obj/food_package.dmi
  icons/obj/food_snacks.dmi
  icons/obj/trash.dmi
  maps/submaps/admin_use_vr/avii_eventMapv2.dmm
  tgui/packages/tgui/interfaces/Fax.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#15486 Whitelist update
  config/alienwhitelist.txt
Labels: Type: Fluff
