Repository VOREStation/VOREStation, pull requests merged in 2023-08, with the labels that each got.

#15190 Adds: Overmap ship capable of docking with SD
  maps/submaps/admin_use_vr/event_autonomous_drone.dm
  maps/submaps/admin_use_vr/event_autonomous_drone.dmm
  vorestation.dme
Labels: Type: Map

#15197 Multiple Fax machine tweaks, additions incl incorporation of staff request to main GUI
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/faxmachine_vr.dm
  tgui/packages/tgui/interfaces/Fax.js
  tgui/packages/tgui/interfaces/common/LoginScreen.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: TGUI Bundle

#15200 hotsprings
  code/game/objects/structures/props/rocks.dm
  code/modules/awaymissions/redgate.dm
  icons/obj/flora/rocks.dmi
  icons/turf/areas_vr.dmi
  maps/groundbase/groundbase_defines.dm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/hotsprings.dmm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
Labels: Type: Icon, Type: Map

#15209 8/5/23 - I forgot that it's not sunday so it's not map swap yet :U
  code/game/objects/structures/props/rocks.dm
  code/modules/awaymissions/redgate.dm
  code/modules/client/verbs/ooc.dm
  code/modules/examine/examine.dm
  code/modules/examine/examine_vr.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/mob.dm
  code/modules/overmap/events/event_handler.dm
  code/modules/vchat/css/ss13styles.css
  code/modules/vchat/js/vchat.js
  code/stylesheet.dm
  icons/obj/flora/rocks.dmi
  icons/turf/areas_vr.dmi
  interface/skin.dmf
  maps/groundbase/groundbase_defines.dm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/hotsprings.dmm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/stellar_delight/stellar_delight_shuttle_defs.dm
  maps/tether/tether_defines.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#15212 Tether Cargo Remodel
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#15214 8/5/23 - OH NO
  code/modules/vchat/css/ss13styles.css
  code/stylesheet.dm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#15237 Followup fixes for borgs
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/event.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_modules/syndicate.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  icons/mob/dogborg_vr.dmi
  icons/mob/robot/combat_medic_wide.dmi
Labels: Type: Icon

#15236 Talon Shuttle SMES
  maps/offmap_vr/talon/talon_v2.dmm
Labels: Type: Map

#15240 Added lavenderrs for Teppi Language
  config/alienwhitelist.txt
Labels: Type: Fluff

#15242 Fixes entertainment monitor icons missing on some maps
  maps/expedition_vr/wild/tether_wild-crash.dmm
  maps/gateway_archive_vr/zoo.dmm
  maps/gateway_vr/zoo.dmm
  maps/groundbase/gb-centcomm.dmm
  maps/stellar_delight/ship_centcom.dmm
  maps/submaps/admin_use_vr/dhael_centcom.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/depreciated_vr/mercbase.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#15246 Adds torquegstc to Protean whitelist.
  config/alienwhitelist.txt
Labels: Type: Fluff

#15259 Fixes disposal pipe to chemistry on Tether
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#15268 Offmap housecleaning
  maps/gateway_vr/zoo.dmm
  maps/gateway_vr/zoo_b.dmm
  maps/groundbase/groundbase_defines.dm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/abandonedisland.dmm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
Labels: Type: Map

#15266 Adds a seagull
  code/_helpers/global_lists_vr.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/space_mouse.dm
  code/modules/mob/living/simple_mob/subtypes/vore/seagull.dm
  icons/mob/vore.dmi
  maps/expedition_vr/beach/_beach.dm
  vorestation.dme
Labels: Type: Icon

#15277 Lovec fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#15276 Emergency Beacon!
  code/datums/supplypacks/misc_vr.dm
  code/game/objects/items/devices/e_beacon.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  icons/obj/device_vr.dmi
  vorestation.dme
Labels: Type: Icon

#15280 A variety of fixes
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/smite.dm
  code/modules/admin/verbs/smite_vr.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/mob/living/living_vr.dm
  code/modules/mob/living/silicon/robot/robot_remote_control.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/paperwork/paper.dm
  icons/mob/vore/tails_vr.dmi
  vorestation.dme
Labels: Type: Icon

#15283 Aliens are real
  config/alienwhitelist.txt
Labels: Type: Fluff

#15286 Adds fox and kitsune taur halves
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
  icons/mob/vore/taurs_vr_loaf.dmi
Labels: Type: Icon

#15285 8/20/23 - Map swap
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/smite.dm
  code/modules/admin/verbs/smite_vr.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/mob/living/living_vr.dm
  code/modules/mob/living/silicon/robot/robot_remote_control.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/paperwork/paper.dm
  config/alienwhitelist.txt
  icons/mob/vore/tails_vr.dmi
  icons/mob/vore/taurs_vr.dmi
  icons/mob/vore/taurs_vr_loaf.dmi
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#15287 Adds more pakkuns
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/pakkun.dm
  icons/mob/vore.dmi
Labels: Type: Icon

#15291 3 edited outfits
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/suits/hooded_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
Labels: Type: Icon

#15292 Adds food vore
  code/game/objects/items/weapons/material/kitchen.dm
  code/modules/food/food.dm
  code/modules/food/food/drinks.dm
  code/modules/food/food/snacks.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15294 Unscheduled Midweek Update (23/08/2023)
  code/_helpers/logging.dm
  code/game/objects/effects/decals/posters/posters.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/modules/admin/verbs/pray.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/suits/hooded_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/food/food.dm
  code/modules/food/food/drinks.dm
  code/modules/food/food/snacks.dm
  code/modules/lighting/lighting_fake_sun_vr.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mob/living/simple_mob/subtypes/vore/pakkun.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/planet/virgo3b_vr.dm
  code/modules/planet/virgo3c_vr.dm
  code/modules/planet/virgo4_vr.dm
  code/modules/planet/weather.dm
  code/modules/planet/weather_vr.dm
  code/modules/vchat/js/vchat.js
  code/modules/vchat/js/vchat.min.js
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
  icons/effects/weather.dmi
  icons/effects/weather_vr.dmi
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
  icons/mob/vore.dmi
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon

#15296 ports two tails
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#15295 Rain City
  code/game/turfs/flooring/flooring_decals_vr.dm
  code/game/turfs/simulated/outdoors/outdoors.dm
  code/game/turfs/simulated/outdoors/outdoors_vr.dm
  code/modules/awaymissions/redgate.dm
  code/modules/power/lighting_neon.dm
  code/modules/power/lighting_vr.dm
  icons/obj/lighting32x64.dmi
  icons/obj/lighting_neon.dmi
  icons/obj/lighting_vr.dmi
  icons/turf/concrete.dmi
  icons/turf/flooring/decals_vr.dmi
  icons/turf/outdoors_vr.dmi
  maps/groundbase/groundbase_defines.dm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/cybercity.dmm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#15299 Fixed a blank random
  maps/redgate/cybercity.dmm
Labels: Type: Map

#15298 Includes some extras in release
  code/game/turfs/flooring/flooring_decals_vr.dm
  code/game/turfs/simulated/outdoors/outdoors.dm
  code/game/turfs/simulated/outdoors/outdoors_vr.dm
  code/modules/awaymissions/redgate.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/power/lighting_neon.dm
  code/modules/power/lighting_vr.dm
  icons/mob/vore/tails_vr.dmi
  icons/obj/lighting32x64.dmi
  icons/obj/lighting_neon.dmi
  icons/obj/lighting_vr.dmi
  icons/turf/concrete.dmi
  icons/turf/flooring/decals_vr.dmi
  icons/turf/outdoors_vr.dmi
  maps/groundbase/groundbase_defines.dm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/cybercity.dmm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#15307 Emergency Blahaj Release (25/08/2023)
  code/datums/supplypacks/misc.dm
  code/game/machinery/clawmachine.dm
  code/game/objects/items/toys/toys_vr.dm
  code/game/objects/random/misc.dm
  code/modules/economy/vending_machines.dm
  code/modules/lighting/lighting_turf.dm
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/toy_vr.dmi
Labels: Type: Icon

#15314 Adds syndie Pupdozer sprite, fixes other Mechanist dogborg sprites
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  code/modules/mob/living/silicon/robot/subtypes/syndicate.dm
  icons/mob/robot/engineering_wide.dmi
  icons/mob/robot/mechanist_wide.dmi
Labels: Type: Icon

#15315 Aliens are real
  config/alienwhitelist.txt
Labels: Type: Fluff

#15316 Two small fixes
  code/__defines/color.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  icons/obj/closets/decals/wall_double.dmi
  maps/submaps/admin_use_vr/lucky_7.dmm
Labels: Type: Icon, Type: Map

#15321 Killian's Grab Bag PR
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/simple_doors.dm
  code/modules/busy_space_vr/air_traffic.dm
  code/modules/busy_space_vr/organizations.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  maps/offmap_vr/om_ships/sdf_corvette_wreck.dmm
  vorestation.dme
Labels: Type: Map

#15311 8/26/23 - It will be sunday tomorrow
  code/__defines/color.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  code/game/objects/structures/simple_doors.dm
  code/modules/awaymissions/corpse.dm
  code/modules/busy_space_vr/air_traffic.dm
  code/modules/busy_space_vr/organizations.dm
  code/modules/casino/casino.dm
  code/modules/food/food/snacks.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  code/modules/mob/living/silicon/robot/subtypes/syndicate.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  config/alienwhitelist.txt
  icons/mob/robot/engineering_wide.dmi
  icons/mob/robot/mechanist_wide.dmi
  icons/obj/closets/decals/wall_double.dmi
  maps/expedition_vr/aerostat/_aerostat.dm
  maps/offmap_vr/om_ships/sdf_corvette_wreck.dmm
  maps/submaps/admin_use_vr/lucky_7.dmm
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#15324 Removes loose broken random item in cybercity
  maps/redgate/cybercity.dmm
Labels: Type: Map

#15328 New redgate Islands map
  code/datums/riding.dm
  code/game/objects/structures/flora/flora.dm
  code/game/objects/structures/props/statue.dm
  code/game/turfs/simulated/underwater.dm
  code/modules/ai/ai_holder_subtypes/simple_mob_ai.dm
  code/modules/ai/say_list.dm
  code/modules/awaymissions/redgate.dm
  code/modules/lighting/lighting_fake_sun_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/carp.dm
  code/modules/mob/living/simple_mob/subtypes/mechanical/hivebot/support.dm
  code/modules/multiz/movement.dm
  icons/effects/weather.dmi
  icons/obj/flora/underwaterflora.dmi
  icons/obj/props/decor64x64.dmi
  icons/turf/outdoors.dmi
  maps/groundbase/groundbase_defines.dm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/islands.dmm
  maps/redgate/islands_underwater.dmm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
  sound/effects/ocean.ogg
  sound/effects/underwater.ogg
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Sound

#15333 Fixes hotsprings
  maps/redgate/hotsprings.dmm
Labels: Type: Map

#15334 Fixes to Rain City
  maps/redgate/cybercity.dmm
Labels: Type: Map

#15332 Wolftaur mobs
  code/game/objects/effects/semirandom_mobs_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/catgirl.dm
  code/modules/mob/living/simple_mob/subtypes/vore/cookiegirl.dm
  code/modules/mob/living/simple_mob/subtypes/vore/lamia.dm
  code/modules/mob/living/simple_mob/subtypes/vore/wolftaur.dm
  icons/mob/vore64x32.dmi
  vorestation.dme
Labels: Type: Icon
