Repository VOREStation/VOREStation, pull requests merged in 2023-05, with the labels that each got.

#14824 Updates groundbase nanomaps.
  icons/_nanomaps/gb1.png
  icons/_nanomaps/gb2.png
  icons/_nanomaps/gb3.png
Labels: Type: Icon

#14822 Adds altevian ramenpacks and tacopacks
  code/game/objects/items/trash_vr.dm
  code/modules/food/food/snacks_vr.dm
  icons/obj/food_vr.dmi
  icons/obj/trash_vr.dmi
Labels: Type: Icon

#14819 More Speech Bubbles
  code/_helpers/global_lists_vr.dm
  icons/mob/talk_vr.dmi
Labels: Type: Icon

#14823 Added striped dungarees and tiny tophat
  code/modules/client/preference_setup/loadout/loadout_head_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/head/misc_vr.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  icons/inventory/head/item_vr.dmi
  icons/inventory/head/mob_vr.dmi
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
Labels: Type: Icon

#14831 Modern wrapped coat adjustment
  code/modules/clothing/under/accessories/clothing_vr.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/inventory/accessory/item_vr.dmi
  icons/inventory/accessory/mob_vr.dmi
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/mob.dmi
  vorestation.dme
Labels: Type: Icon

#14830 5/1/23 - I'm late
  code/_helpers/global_lists_vr.dm
  code/game/objects/items/trash_vr.dm
  code/game/objects/items/weapons/id cards/syndicate_ids.dm
  code/modules/client/preference_setup/loadout/loadout_head_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/head/misc_vr.dm
  code/modules/clothing/under/accessories/clothing_vr.dm
  code/modules/clothing/under/altevian_vr.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/nifsoft/software/05_health.dm
  icons/_nanomaps/gb1.png
  icons/_nanomaps/gb2.png
  icons/_nanomaps/gb3.png
  icons/inventory/accessory/item_vr.dmi
  icons/inventory/accessory/mob_vr.dmi
  icons/inventory/head/item_vr.dmi
  icons/inventory/head/mob_vr.dmi
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob.dmi
  icons/inventory/uniform/mob_vr.dmi
  icons/mob/talk_vr.dmi
  icons/obj/food_vr.dmi
  icons/obj/trash_vr.dmi
  vorestation.dme
Labels: Type: Icon

#14834 Adds more sprites but this time I unchecked minitest
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  icons/mob/human_races/markings_vr.dmi
Labels: Type: Icon

#14841 5/7/23 - Bote
  code/modules/clothing/glasses/hud_vr.dm
  code/modules/mob/living/simple_mob/subtypes/mechanical/drones/mining_drone.dm
  code/modules/mob/new_player/sprite_accessories_extra.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/generator.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/tesla/generator.dm
  code/modules/reagents/reagents/food_drinks.dm
  code/modules/reagents/reagents/food_drinks_vr.dm
  icons/mob/human_races/markings_vr.dmi
  vorestation.dme
Labels: Type: Icon

#14842 CSC Industrial Voidsuit
  code/datums/supplypacks/voidsuits_vr.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  icons/inventory/back/mob.dmi
  icons/inventory/back/mob_vr.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/item_skrell.dmi
  icons/inventory/head/item_tajaran.dmi
  icons/inventory/head/item_unathi.dmi
  icons/inventory/head/item_vr.dmi
  icons/inventory/head/item_vr_akula.dmi
  icons/inventory/head/item_vr_skrell.dmi
  icons/inventory/head/item_vr_tajaran.dmi
  icons/inventory/head/item_vr_unathi.dmi
  icons/inventory/head/item_vr_vulpkanin.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/head/mob_skrell.dmi
  icons/inventory/head/mob_tajaran.dmi
  icons/inventory/head/mob_unathi.dmi
  icons/inventory/head/mob_vr.dmi
  icons/inventory/head/mob_vr_akula.dmi
  icons/inventory/head/mob_vr_skrell.dmi
  icons/inventory/head/mob_vr_tajaran.dmi
  icons/inventory/head/mob_vr_unathi.dmi
  icons/inventory/head/mob_vr_vulpkanin.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/item_skrell.dmi
  icons/inventory/suit/item_tajaran.dmi
  icons/inventory/suit/item_unathi.dmi
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/item_vr_akula.dmi
  icons/inventory/suit/item_vr_skrell.dmi
  icons/inventory/suit/item_vr_tajaran.dmi
  icons/inventory/suit/item_vr_unathi.dmi
  icons/inventory/suit/item_vr_vulpkanin.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/suit/mob_skrell.dmi
  icons/inventory/suit/mob_tajaran.dmi
  icons/inventory/suit/mob_unathi.dmi
  icons/inventory/suit/mob_vr.dmi
  icons/inventory/suit/mob_vr_akula.dmi
  icons/inventory/suit/mob_vr_skrell.dmi
  icons/inventory/suit/mob_vr_tajaran.dmi
  icons/inventory/suit/mob_vr_unathi.dmi
  icons/inventory/suit/mob_vr_vulpkanin.dmi
  icons/inventory/suit_store/mob.dmi
  icons/obj/tank.dmi
  icons/obj/tank_vr.dmi
Labels: Type: Icon

#14845 More Raptor Borg Modules
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  icons/mob/raptorborg/raptor.dmi
Labels: Type: Icon

#14849 5/11/23 - Liddol update
  code/datums/supplypacks/voidsuits_vr.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/ai/ai_holder_targeting.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  code/modules/vore/eating/simple_animal_vr.dm
  icons/inventory/back/mob.dmi
  icons/inventory/back/mob_vr.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/item_skrell.dmi
  icons/inventory/head/item_tajaran.dmi
  icons/inventory/head/item_unathi.dmi
  icons/inventory/head/item_vr.dmi
  icons/inventory/head/item_vr_akula.dmi
  icons/inventory/head/item_vr_skrell.dmi
  icons/inventory/head/item_vr_tajaran.dmi
  icons/inventory/head/item_vr_unathi.dmi
  icons/inventory/head/item_vr_vulpkanin.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/head/mob_skrell.dmi
  icons/inventory/head/mob_tajaran.dmi
  icons/inventory/head/mob_unathi.dmi
  icons/inventory/head/mob_vr.dmi
  icons/inventory/head/mob_vr_akula.dmi
  icons/inventory/head/mob_vr_skrell.dmi
  icons/inventory/head/mob_vr_tajaran.dmi
  icons/inventory/head/mob_vr_unathi.dmi
  icons/inventory/head/mob_vr_vulpkanin.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/item_skrell.dmi
  icons/inventory/suit/item_tajaran.dmi
  icons/inventory/suit/item_unathi.dmi
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/item_vr_akula.dmi
  icons/inventory/suit/item_vr_skrell.dmi
  icons/inventory/suit/item_vr_tajaran.dmi
  icons/inventory/suit/item_vr_unathi.dmi
  icons/inventory/suit/item_vr_vulpkanin.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/suit/mob_skrell.dmi
  icons/inventory/suit/mob_tajaran.dmi
  icons/inventory/suit/mob_unathi.dmi
  icons/inventory/suit/mob_vr.dmi
  icons/inventory/suit/mob_vr_akula.dmi
  icons/inventory/suit/mob_vr_skrell.dmi
  icons/inventory/suit/mob_vr_tajaran.dmi
  icons/inventory/suit/mob_vr_unathi.dmi
  icons/inventory/suit/mob_vr_vulpkanin.dmi
  icons/inventory/suit_store/mob.dmi
  icons/mob/raptorborg/raptor.dmi
  icons/obj/tank.dmi
  icons/obj/tank_vr.dmi
Labels: Type: Icon

#14860 Fixes stray pixel in cmddressjacket
  icons/inventory/suit/mob.dmi
Labels: Type: Icon

#14857 Small custom-item changes
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Fluff

#14862 5/14/23 - Map swap update
  code/game/machinery/atmoalter/canister.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/inventory/suit/mob.dmi
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#14863 Tiny Rascal's Fixes
  maps/groundbase/gb-centcomm.dmm
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#14867 Adds ponti to BESK and xenochim whitelists
  config/alienwhitelist.txt
Labels: Type: Fluff

#14856 Fixes the Major Bill's Shipping Softcap
  code/modules/clothing/head/soft_caps.dm
  icons/inventory/head/mob.dmi
Labels: Type: Icon

#14864 Adds Dragor to Protean
  config/alienwhitelist.txt
Labels: Type: Fluff

#14866 adds a smattering of clothes sourced from SR & TG
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_vr.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/head/neohats.dm
  code/modules/clothing/shoes/neoshoes.dm
  code/modules/clothing/suits/neosuits.dm
  code/modules/clothing/under/neounder.dm
  code/modules/economy/vending_machines.dm
  code/modules/economy/vending_machines_vr.dm
  icons/inventory/feet/item.dmi
  icons/inventory/feet/mob.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/mob.dmi
  vorestation.dme
Labels: Type: Icon

#14868 Bone remains variation system + synth and borg "bones"
  code/modules/vore/eating/leave_remains_vr.dm
  icons/obj/bones_vr.dmi
Labels: Type: Icon

#14873 SatinIsle Fluff items plus long snout
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
  icons/mob/vore/wings_vr.dmi
Labels: Type: Icon

#14875 Fixes #14858
  maps/stellar_delight/stellar_delight1.dmm
Labels: Type: Map

#14878 Face DMI cleanup/fixes
  icons/inventory/face/mob_vr_fennec.dmi
  icons/inventory/face/mob_vr_fox.dmi
  icons/inventory/face/mob_vr_sergal.dmi
Labels: Type: Icon

#14874 Adds new preference for vore privacy
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#14885 Item banks for all!
  maps/groundbase/gb-centcomm.dmm
  maps/stellar_delight/ship_centcom.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Map

#14886 New Poncho Style
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
Labels: Type: Icon

#14880 Take me out to the Ball Game
  code/game/objects/items/toys/balls_vr.dm
  code/game/objects/random/maintenance.dm
  code/game/objects/random/mapping_vr.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/economy/vending_machines.dm
  icons/mob/items/lefthand_balls_vr.dmi
  icons/mob/items/righthand_balls_vr.dmi
  icons/mob/mouthball_vr.dmi
  icons/obj/balls_vr.dmi
Labels: Type: Icon

#14891 Dept. Gorka Suits
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_vr.dm
  code/modules/clothing/under/neounder.dm
  code/modules/economy/vending_machines.dm
  code/modules/economy/vending_machines_vr.dm
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/mob.dmi
Labels: Type: Icon

#14894 Adds Aria's medal
  code/game/objects/items/weapons/storage/backpack_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#14895 Light Lighting Pass (Tether)
  maps/submaps/engine_submaps_vr/tether/engine_sme.dmm
  maps/tether/submaps/tether_centcom.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#14900 Better Candy Bars
  code/game/objects/items/trash.dm
  code/modules/food/food/snacks.dm
  icons/obj/food_snacks.dmi
  icons/obj/trash.dmi
Labels: Type: Icon

#14903 Drying Rack Fix
  icons/obj/vending.dmi
  icons/obj/vending_smartfridge.dmi
Labels: Type: Icon

#14904 Better Bags
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/bags_vr.dm
  icons/obj/hydroponics_machines_vr.dmi
  icons/obj/mining.dmi
  icons/obj/storage_vr.dmi
Labels: Type: Icon

#14906 MY EYES ARE [[Burning]] LIKE [[DVDs of ANY movie at Half-pr1ce!]]
  code/modules/clothing/glasses/glasses.dm
  icons/inventory/eyes/item.dmi
  icons/inventory/eyes/mob.dmi
Labels: Type: Icon

#14887 Adds new human ability: "Explain Custom Traits"
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/trait.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/traits_tutorial.dm
  code/modules/tgui/modules/trait_tutorial_tgui.dm
  tgui/packages/tgui/interfaces/TraitTutorial.tsx
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: TGUI Bundle

#14907 Martian Miner Coat & Hammer rarity
  code/modules/clothing/suits/armor_vr.dm
  code/modules/mining/abandonedcrates_vr.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
Labels: Type: Icon

#14917 New Event Site: The Falls
  maps/atoll/atoll_decals.dm
  maps/atoll/atoll_objs.dm
  maps/atoll/atoll_turfs.dm
  maps/atoll/falls.dmm
  maps/atoll/icons/decals/godrays.dmi
  maps/atoll/icons/decals/wall_decals.dmi
  maps/atoll/icons/objs/aqueducts.dmi
  maps/atoll/icons/objs/aqueducts_64.dmi
  maps/atoll/icons/objs/bronze_overhang.dmi
  maps/atoll/icons/objs/canopies.dmi
  maps/atoll/icons/objs/monolith.dmi
  maps/atoll/icons/objs/temple.dmi
  maps/atoll/icons/objs/trees.dmi
  maps/atoll/icons/objs/waterfall.dmi
  maps/atoll/icons/turfs/water.dmi
  maps/atoll/sounds/lakeamb.ogg
  maps/atoll/sounds/monolith.ogg
Labels: Type: Icon, Type: Map, Type: Sound

#14918 New Camera Assembly
  icons/obj/monitors_vr.dmi
Labels: Type: Icon

#14915 Adds scrollbar to medical and employment records computers
  tgui/packages/tgui/interfaces/GeneralRecords.js
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#14922 Adds new shoe: "Elegant Sandals". Adds it to loadout
  code/modules/client/preference_setup/loadout/loadout_shoes_vr.dm
  code/modules/clothing/shoes/miscellaneous_vr.dm
  icons/inventory/feet/item_vr.dmi
  icons/inventory/feet/mob_vr.dmi
Labels: Type: Icon

#14913 Fixes the Smartfridge sprite
  icons/obj/vending_smartfridge.dmi
Labels: Type: Icon

#14911 Adds a new object: Picnic blankets! They can be folded & unfolded
  code/game/objects/items/weapons/picnic_blankets.dm
  code/modules/economy/vending_machines_vr.dm
  icons/obj/picnic_vr.dmi
  vorestation.dme
Labels: Type: Icon
