Repository VOREStation/VOREStation, pull requests merged in 2023-09, with the labels that each got.

#15338 Adds Entrepreneur job, as well as new Entertainer alt-title
  code/datums/outfits/jobs/civilian_vr.dm
  code/game/jobs/job/civilian_vr.dm
  code/game/jobs/jobs.dm
  code/game/objects/effects/job_start_landmarks.dm
  code/game/objects/items/weapons/id cards/id_stacks_vr.dm
  icons/mob/hud_jobs_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/tether/tether-01-surface1.dmm
Labels: Type: Feature/Suggestion, Type: Icon, Type: Map

#15348 Fix for island stairs.
  maps/redgate/islands.dmm
  maps/submaps/_helpers.dm
Labels: Type: Map

#15344 Adds a variety of new tesla coils with unique properties and upgrades
  code/modules/power/tesla/coil.dm
  code/modules/power/tesla/telsa_construction.dm
  icons/obj/tesla_engine/tesla_coil.dmi
Labels: Type: Feature/Suggestion, Task: Needs Testing, Type: Icon

#15351 Quick Release Followup
  code/modules/power/tesla/coil.dm
  code/modules/power/tesla/telsa_construction.dm
  icons/obj/tesla_engine/tesla_coil.dmi
Labels: Type: Icon

#15354 Improves coloration of zaprat ear tips
  icons/mob/vore/ears_32x64.dmi
Labels: Type: Icon

#15357 Fixed city sprites
  code/modules/power/lighting_neon.dm
  icons/obj/lighting_neon.dmi
  maps/redgate/cybercity.dmm
Labels: Type: Icon, Type: Map

#15358 Make Fennec Vorny
  maps/redgate/cybercity.dmm
Labels: Type: Map

#15355 Redgate train map
  code/game/objects/effects/step_triggers.dm
  code/game/objects/items/devices/ticket_printer.dm
  code/modules/awaymissions/redgate.dm
  icons/obj/bureaucracy_vr.dmi
  icons/obj/device_vr.dmi
  maps/groundbase/groundbase_defines.dm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/train.dmm
  maps/redgate/train_upper.dmm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
Labels: Type: Icon, Type: Map

#15360 More Smartvendor Buttons
  tgui/packages/tgui/interfaces/SmartVend.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15359 Bluespace Collars
  code/game/objects/random/misc.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/casino/casino_prize_vendor.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/economy/trader.dm
  code/modules/research/designs/misc_vr.dm
  icons/inventory/accessory/item_vr.dmi
  icons/inventory/accessory/mob_vr.dmi
  icons/misc/random_spawners.dmi
Labels: Type: Icon

#15367 Bird care package
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  icons/mob/human_face_alt.dmi
  icons/mob/human_face_alt_add.dmi
  icons/mob/human_races/markings_vr.dmi
  icons/mob/human_races/r_def_nevrean.dmi
  icons/mob/human_races/r_nevrean.dmi
  icons/mob/vore/ears_32x64.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
  icons/mob/vore/wings_vr.dmi
Labels: Type: Icon

#15369 Changes blood regen pill instances to contain copper pills due to zorren copper update
  code/game/objects/items/weapons/storage/firstaid_vr.dm
  code/game/objects/random/misc.dm
  code/modules/reagents/reagent_containers/pill.dm
  maps/groundbase/gb-centcomm.dmm
  maps/stellar_delight/ship_centcom.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/depreciated_vr/ert_base.dmm
  maps/submaps/shelters/shelter_4.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Map

#15373 Extra train warnings
  code/game/objects/effects/step_triggers.dm
  icons/mob/screen1.dmi
  maps/redgate/train_upper.dmm
Labels: Type: Icon, Type: Map

#15376 Followup Hotfix Update (11/09/2023)
  code/game/objects/effects/step_triggers.dm
  code/modules/power/singularity/generator.dm
  code/modules/power/tesla/coil.dm
  code/modules/reagents/reagent_containers/pill.dm
  icons/mob/screen1.dmi
  maps/redgate/train_upper.dmm
Labels: Type: Icon, Type: Map

#15365 Support button
  code/controllers/configuration.dm
  interface/interface.dm
  interface/skin.dmf
Labels: Type: Misc

#15382 adds puffercarp
  code/modules/mob/living/simple_mob/subtypes/animal/space/carp.dm
  icons/mob/vore.dmi
Labels: Type: Icon

#15385 Map tweaks!
  maps/expedition_vr/space/fueldepot.dmm
  maps/groundbase/gb-mining.dmm
  maps/groundbase/gb-z1.dmm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/redgate/innland.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-mining.dmm
  maps/tether/tether-07-solars.dmm
  maps/tether/tether_areas.dm
Labels: Type: Map

#15386 9/11/23 - oh no
  code/controllers/configuration.dm
  code/modules/hydroponics/fruit_spawner.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/station.dm
  code/modules/mob/language/station_vr.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/carp.dm
  code/modules/mob/living/simple_mob/subtypes/vore/solargrub_larva.dm
  code/modules/vchat/css/ss13styles.css
  code/stylesheet.dm
  icons/mob/vore.dmi
  interface/interface.dm
  interface/skin.dmf
  maps/expedition_vr/space/fueldepot.dmm
  maps/groundbase/gb-mining.dmm
  maps/groundbase/gb-z1.dmm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/redgate/innland.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-04-transit.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-mining.dmm
  maps/tether/tether-07-solars.dmm
  maps/tether/tether_areas.dm
Labels: Type: Icon, Type: Map

#15388 Murder the fire extinguisher
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#15389 9/11/23 - It's late!
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  maps/tether/tether-03-surface3.dmm
Labels: Type: Icon, Type: Map

#15395 Health & Damage in Mob Spawner
  code/modules/eventkit/gm_interfaces/mob_spawner.dm
  tgui/packages/tgui/interfaces/MobSpawner.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15399 Map fixes
  maps/redgate/cybercity.dmm
  maps/redgate/train.dmm
  maps/redgate/train_upper.dmm
Labels: Type: Map

#15398 Remove all mention of nazis from code
  code/game/objects/items/magazine.dm
  code/modules/games/cah_white_cards.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  html/archivedchangelog.html
  maps/gateway_archive_vr/listeningpost.dm
  maps/gateway_vr/listeningpost.dm
  maps/gateway_vr/listeningpost.dmm
Labels: Type: Map

#15404 Locks & Keys
  code/game/objects/items/weapons/keys.dm
  code/game/objects/structures/simple_doors.dm
  icons/obj/keys.dmi
  vorestation.dme
Labels: Type: Icon

#15407 update for new sca
  config/alienwhitelist.txt
Labels: Type: Fluff

#15408 Dinosaur Markings/Tail/Ears
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
  icons/mob/vore/wings_vr.dmi
Labels: Type: Fluff, Type: Icon

#15412 Fantasy redgate map
  code/game/objects/items/stacks/medical.dm
  code/game/objects/random/misc_vr.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/fence.dm
  code/game/objects/structures/props/fantasy.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/simulated/wall_types_vr.dm
  code/modules/awaymissions/redgate.dm
  code/modules/food/glass/bottle_potion.dm
  code/modules/food/kitchen/microwave.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/mob/living/simple_mob/subtypes/vore/bat.dm
  code/modules/mob/living/simple_mob/subtypes/vore/cryptdrake.dm
  code/modules/mob/living/simple_mob/subtypes/vore/peasant.dm
  code/modules/mob/living/simple_mob/subtypes/vore/succubi.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vampire.dm
  code/modules/power/lighting_vr.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/reagents/machinery/alembic.dm
  code/modules/reagents/machinery/dispenser/reagent_tank.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagents/medicine_vr.dm
  code/modules/tables/rack_vr.dm
  code/modules/vore/resizing/sizegun_slow_vr.dm
  icons/inventory/accessory/item_vr.dmi
  icons/misc/random_spawners.dmi
  icons/mob/alienanimals_x32.dmi
  icons/mob/vore.dmi
  icons/mob/vore128x64.dmi
  icons/obj/abductor.dmi
  icons/obj/chemical.dmi
  icons/obj/chemical_potionreagents.dmi
  icons/obj/chemical_tanks.dmi
  icons/obj/closets/chest.dmi
  icons/obj/cooking_machines.dmi
  icons/obj/device.dmi
  icons/obj/drinks.dmi
  icons/obj/fence.dmi
  icons/obj/furniture.dmi
  icons/obj/gun.dmi
  icons/obj/gun_vr.dmi
  icons/obj/kitchen.dmi
  icons/obj/lighting_vr.dmi
  icons/obj/objects.dmi
  icons/obj/props/fantasy.dmi
  icons/obj/reagentfillings.dmi
  icons/obj/stacks.dmi
  icons/obj/watercloset.dmi
  icons/turf/wall_masks_vr.dmi
  maps/groundbase/groundbase_defines.dm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/fantasy.dmm
  maps/redgate/fantasy_dungeon.dmm
  maps/redgate/fantasy_items.dm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
  vorestation.dme
Labels: Type: Icon

#15406 Attempts implementation of char setup vore panel
  code/_helpers/global_lists_vr.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/tgui/states/vorepanel_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/mob_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/resizing/resize_vr.dm
  vorestation.dme
Labels: Task: Needs Testing

#15420 Updates to fantasy redgate
  code/game/objects/random/misc_vr.dm
  code/game/turfs/simulated/dungeon/wall.dm
  code/game/turfs/simulated/water.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vampire.dm
  icons/misc/random_spawners.dmi
  icons/mob/vore.dmi
  icons/obj/keys.dmi
  icons/turf/outdoors.dmi
  icons/turf/outdoors_edge.dmi
  icons/turf/wall_masks.dmi
  maps/redgate/fantasy.dmm
  maps/redgate/fantasy_dungeon.dmm
  maps/redgate/fantasy_items.dm
Labels: Type: Icon, Type: Map

#15422 Weekly Regular Updat (25/09/2023)
  code/_helpers/global_lists_vr.dm
  code/game/objects/random/misc_vr.dm
  code/game/turfs/simulated/dungeon/wall.dm
  code/game/turfs/simulated/water.dm
  code/modules/ai/ai_holder_subtypes/simple_mob_ai.dm
  code/modules/ai/ai_holder_targeting_vr.dm
  code/modules/examine/descriptions/armor.dm
  code/modules/food/food/snacks.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/food/recipes_microwave.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/mob/living/simple_mob/subtypes/animal/squirrel.dm
  code/modules/mob/living/simple_mob/subtypes/vore/bat.dm
  code/modules/mob/living/simple_mob/subtypes/vore/peasant.dm
  code/modules/mob/living/simple_mob/subtypes/vore/sheep.dm
  code/modules/mob/living/simple_mob/subtypes/vore/succubi.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vampire.dm
  code/modules/mob/living/simple_mob/subtypes/vore/wolfgirl.dm
  code/modules/mob/living/simple_mob/subtypes/vore/wolftaur.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/reagents/reagents/food_drinks_vr.dm
  code/modules/tgui/states/vorepanel_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/mob_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/resizing/resize_vr.dm
  icons/misc/random_spawners.dmi
  icons/mob/vore.dmi
  icons/obj/keys.dmi
  icons/turf/outdoors.dmi
  icons/turf/outdoors_edge.dmi
  icons/turf/wall_masks.dmi
  maps/redgate/fantasy.dmm
  maps/redgate/fantasy_dungeon.dmm
  maps/redgate/fantasy_items.dm
  vorestation.dme
Labels: Type: Icon

#15427 Fixes island radiation
  maps/redgate/islands.dmm
Labels: Type: Map
