Repository VOREStation/VOREStation, pull requests merged in 2023-01, with the labels that each got.

#14289 Colourable gazer eyestalks
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  icons/mob/vore/wings_vr.dmi
Labels: Type: Icon

#14286 New synth-style legs
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#14295 SD Edits!
  maps/stellar_delight/stellar_delight1.dmm
Labels: Type: Map

#14294 Replaces RP's carp, drone and jellyfish events with new Roaming Wildlife event
  code/_helpers/global_lists_vr.dm
  code/game/objects/effects/landmarks_vr.dm
  code/modules/events/roaming_wildlife.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/fish.dm
  code/modules/mob/living/simple_mob/subtypes/animal/sif/duck.dm
  code/modules/mob/living/simple_mob/subtypes/animal/sif/hooligan_crab.dm
  code/modules/mob/living/simple_mob/subtypes/vore/redpanda.dm
  maps/groundbase/eastwilds/eastwilds1.dmm
  maps/groundbase/eastwilds/eastwilds2.dmm
  maps/groundbase/groundbase_events.dm
  maps/groundbase/groundbase_things.dm
  maps/groundbase/northwilds/northwilds1.dmm
  maps/groundbase/northwilds/northwilds2.dmm
  maps/groundbase/southwilds/southwilds1.dmm
  maps/groundbase/southwilds/southwilds2.dmm
  maps/groundbase/southwilds/southwilds3.dmm
  maps/groundbase/westwilds/westwilds1.dmm
  maps/groundbase/westwilds/westwilds2.dmm
  vorestation.dme
Labels: Type: Map

#14297 1/3/22 - update
  code/_helpers/global_lists_vr.dm
  code/game/objects/effects/landmarks_vr.dm
  code/game/objects/effects/semirandom_mobs_vr.dm
  code/game/turfs/flooring/seasonal.dm
  code/modules/events/roaming_wildlife.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/mining/abandonedcrates_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/fish.dm
  code/modules/mob/living/simple_mob/subtypes/animal/sif/duck.dm
  code/modules/mob/living/simple_mob/subtypes/animal/sif/hooligan_crab.dm
  code/modules/mob/living/simple_mob/subtypes/vore/redpanda.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  code/modules/organs/internal/augment.dm
  code/modules/organs/internal/augment/armmounted.dm
  code/modules/organs/internal/augment/bio.dm
  code/modules/planet/virgo3c_vr.dm
  code/modules/vore/mouseray.dm
  code/modules/xenoarcheaology/artifacts/replicator_vr.dm
  icons/mob/vore/tails_vr.dmi
  icons/mob/vore/wings_vr.dmi
  maps/expedition_vr/beach/_beach.dm
  maps/groundbase/eastwilds/eastwilds1.dmm
  maps/groundbase/eastwilds/eastwilds2.dmm
  maps/groundbase/groundbase_events.dm
  maps/groundbase/groundbase_things.dm
  maps/groundbase/northwilds/northwilds1.dmm
  maps/groundbase/northwilds/northwilds2.dmm
  maps/groundbase/southwilds/southwilds1.dmm
  maps/groundbase/southwilds/southwilds2.dmm
  maps/groundbase/southwilds/southwilds3.dmm
  maps/groundbase/westwilds/westwilds1.dmm
  maps/groundbase/westwilds/westwilds2.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/tether/tether_things.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#14299 adds Obengrad to Diona Whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#14300 fixed Obengrad whitelist typo
  config/alienwhitelist.txt
Labels: Type: Fluff

#14285 adds halos to loadout
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/head/misc.dm
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
Labels: Type: Icon

#14302 Update alienwhitelist.txt Protean Whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#14308 updates RP nanomap
  icons/_nanomaps/gb3.png
Labels: Type: Icon

#14311 1/8/22 - Map swap update
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/head/misc.dm
  code/modules/hydroponics/beekeeping/beehive.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_gene_mut.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra.dm
  code/modules/projectiles/projectile/bullets.dm
  config/alienwhitelist.txt
  config/jobwhitelist.txt
  icons/_nanomaps/gb3.png
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/obj/beekeeping.dmi
  vorestation.dme
Labels: Type: Fluff, Type: Icon

#14312 fixes RP seasonal subtypes and adds seasonal water
  code/game/turfs/flooring/seasonal.dm
  maps/groundbase/eastwilds/eastwilds template.dmm
  maps/groundbase/eastwilds/eastwilds1.dmm
  maps/groundbase/eastwilds/eastwilds2.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/northwilds/northwilds template.dmm
  maps/groundbase/northwilds/northwilds1.dmm
  maps/groundbase/northwilds/northwilds2.dmm
  maps/groundbase/pois/outdoors8.dmm
  maps/groundbase/pois/template.dmm
  maps/groundbase/southwilds/southwilds template.dmm
  maps/groundbase/southwilds/southwilds1.dmm
  maps/groundbase/southwilds/southwilds2.dmm
  maps/groundbase/southwilds/southwilds3.dmm
  maps/groundbase/southwilds/villagepois/long1.dmm
  maps/groundbase/southwilds/villagepois/long3.dmm
  maps/groundbase/southwilds/villagepois/square10.dmm
  maps/groundbase/southwilds/villagepois/wide2.dmm
  maps/groundbase/southwilds/villagepois/wide6.dmm
  maps/groundbase/westwilds/westwilds template.dmm
  maps/groundbase/westwilds/westwilds1.dmm
  maps/groundbase/westwilds/westwilds2.dmm
Labels: Type: Map

#14313 1/8/22 - quick fix
  code/game/turfs/flooring/seasonal.dm
  maps/groundbase/eastwilds/eastwilds template.dmm
  maps/groundbase/eastwilds/eastwilds1.dmm
  maps/groundbase/eastwilds/eastwilds2.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/northwilds/northwilds template.dmm
  maps/groundbase/northwilds/northwilds1.dmm
  maps/groundbase/northwilds/northwilds2.dmm
  maps/groundbase/pois/outdoors8.dmm
  maps/groundbase/pois/template.dmm
  maps/groundbase/southwilds/southwilds template.dmm
  maps/groundbase/southwilds/southwilds1.dmm
  maps/groundbase/southwilds/southwilds2.dmm
  maps/groundbase/southwilds/southwilds3.dmm
  maps/groundbase/southwilds/villagepois/long1.dmm
  maps/groundbase/southwilds/villagepois/long3.dmm
  maps/groundbase/southwilds/villagepois/square10.dmm
  maps/groundbase/southwilds/villagepois/wide2.dmm
  maps/groundbase/southwilds/villagepois/wide6.dmm
  maps/groundbase/westwilds/westwilds template.dmm
  maps/groundbase/westwilds/westwilds1.dmm
  maps/groundbase/westwilds/westwilds2.dmm
Labels: Type: Map

#14316 Fixes RP mining's edge
  maps/groundbase/gb-mining.dmm
Labels: Type: Map

#14317 1/8/23 - Also this one
  maps/groundbase/gb-mining.dmm
Labels: Type: Map

#14321 fixes the colorable qipao
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Type: Icon

#14323 Fixes landmarks on 3c
  maps/groundbase/gb-z3.dmm
Labels: Type: Map

#14322 Adds a new Security jumpsuit
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/economy/vending_machines.dm
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/mob_vr.dmi
Labels: Type: Icon

#14329 More Gaiter Masks
  code/modules/clothing/under/accessories/accessory.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/face/mob.dmi
Labels: Type: Icon

#14328 Compiles TGUI
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#14325 Adds new system for markings that can override whole organs and new Generic Hooves using this system
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/organ_icon.dm
  icons/mob/human_races/markings_vr.dmi
Labels: Type: Icon

#14327 Makes all carpet types orderable and gives them tile icons
  code/datums/supplypacks/materials.dm
  code/game/objects/items/stacks/tiles/fifty_spawner_tiles.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  icons/obj/stacks.dmi
Labels: Type: Icon

#14340 1/15/22 - Map Swap
  code/datums/supplypacks/materials.dm
  code/game/objects/items/stacks/tiles/fifty_spawner_tiles.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/economy/vending_machines.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/organ_icon.dm
  code/modules/organs/robolimbs_vr.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/face/mob.dmi
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
  icons/mob/human_races/markings_vr.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/stacks.dmi
  maps/groundbase/gb-z3.dmm
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: TGUI Bundle

#14341 Add the fennec crown to the fluff items list
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
Labels: Type: Fluff

#14345 [release] Emergency hotfix for forgotten debug messages
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/organs/organ_icon.dm
Labels: Type: Fluff

#14346 Added a white variant of the Zeng-Hu prosthetic, named Glacier.
  code/modules/organs/robolimbs_vr.dm
  icons/mob/human_races/cyberlimbs/zenghu/zenghu_glacier_main.dmi
  icons/mob/human_races/cyberlimbs/zenghu/zenghu_glacier_taj.dmi
Labels: Type: Icon

#14349 Adds back the export button (once more)
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/packages/tgui/interfaces/VorePanelExport.tsx
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: Type: TGUI Bundle

#14353 Tilted Duffles
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/vore/fluffstuff/custom_boxes_vr.dm
  icons/inventory/back/item.dmi
  icons/inventory/back/item_vr.dmi
  icons/inventory/back/mob.dmi
  icons/inventory/back/mob_vr.dmi
Labels: Type: Icon

#14354 Event Stuff Bugfix/Balance Pass
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/alien_vr.dm
  code/modules/clothing/spacesuits/rig/suits/combat_vr.dm
  code/modules/clothing/spacesuits/rig/suits/ert_vr.dm
  code/modules/clothing/spacesuits/void/ert_vr.dm
  code/modules/clothing/spacesuits/void/event_vr.dm
  code/modules/clothing/spacesuits/void/merc_vr.dm
  code/modules/projectiles/guns/energy/pump.dm
  icons/obj/gun.dmi
  maps/offmap_vr/om_ships/shelter_6.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#14358 Adds loaded dice + a custom item
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/games/dice.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/obj/dice.dmi
Labels: Type: Fluff, Type: Icon

#14362 Minor map fixes
  maps/groundbase/gb-z1.dmm
  maps/groundbase/westwilds/westwilds2.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#14368 Fixes boxing ropes (bottom) and boxing turnbuckle not blocking properly
  code/game/objects/structures/fitness_vr.dm
  maps/groundbase/gb-misc.dmm
  maps/stellar_delight/ship_misc.dmm
  maps/tether/submaps/tether_misc.dmm
Labels: Type: Map

#14378 Ports raptor borgs
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  icons/mob/raptorborg/raptor.dmi
Labels: Type: Icon

#14379 1/24/23 - Update
  code/game/gamemodes/events/holidays/Holidays.dm
  code/game/objects/effects/decals/posters/bs12.dm
  code/game/objects/items/paintkit.dm
  code/game/objects/structures/props/blackbox.dm
  code/modules/assembly/timer.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/economy/vending_machines.dm
  code/modules/fireworks/firework_launcher.dm
  code/modules/food/food/cans.dm
  code/modules/food/food/snacks.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/snowflake.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dominated_brain.dm
  code/modules/mob/living/simple_mob/subtypes/vore/shadekin/shadekin.dm
  code/modules/paperwork/paper.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  config/jukebox.json
  icons/mob/raptorborg/raptor.dmi
  vorestation.dme
Labels: Type: Icon
