Repository VOREStation/VOREStation, pull requests merged in 2023-11, with the labels that each got.

#15487 Desatti vending machine
  code/datums/supplypacks/hospitality_vr.dm
  code/game/objects/items/trash.dm
  code/game/objects/random/mapping.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/food/food/snacks_vr.dm
  icons/obj/food_package.dmi
  icons/obj/food_snacks.dmi
  icons/obj/trash.dmi
  icons/obj/vending_vr.dmi
Labels: Type: Icon

#15488 Adds more borg sprites, fixes boozehound belly
  code/modules/mob/living/silicon/robot/sprites/civilian.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  icons/mob/robot/clerical_wide.dmi
  icons/mob/robot/protector_wide.dmi
  icons/mob/robot/syndie_large.dmi
  icons/mob/robot/syndie_wide.dmi
Labels: Type: Icon

#15489 SD lighting tweaks
  maps/stellar_delight/stellar_delight1.dmm
Labels: Type: Map

#15464 Digitigrade legs port
  code/__defines/mobs_vr.dm
  code/game/dna/dna2.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preferences.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/blank_vr.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/organs/organ_external.dm
  code/modules/resleeving/machines.dm
  icons/inventory/feet/mob_digi.dmi
  icons/inventory/suit/mob_digi.dmi
  icons/inventory/uniform/mob_digi.dmi
  icons/mob/human_races/markings_digi.dmi
  icons/mob/human_races/masks/blood_digitigrade.dmi
  icons/mob/human_races/r_blank.dmi
  icons/mob/human_races/r_digi.dmi
  icons/mob/human_races/r_digi_xeno.dmi
  icons/mob/human_races/r_xenomorph_hybrid.dmi
Labels: Type: Icon

#15493 Adds confetti gun (unused for now)
  code/game/objects/items/weapons/grenades/confetti.dm
  code/modules/projectiles/guns/launcher/confetti.dm
  icons/obj/grenade.dmi
  icons/obj/weapons_vr.dmi
  sound/effects/confetti_ball.ogg
  vorestation.dme
Labels: Type: Icon, Type: Sound

#15495 Fixes landmarks on SD
  maps/stellar_delight/stellar_delight3.dmm
Labels: Type: Map

#15509 Aliens
  config/alienwhitelist.txt
Labels: Type: Fluff

#15514 Fixes telecomms having too much access
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#15510 Adds the vintage PDA
  code/_helpers/global_lists.dm
  code/modules/client/preference_setup/general/04_equipment.dm
  code/modules/pda/pda.dm
  icons/obj/pda_vintage.dmi
Labels: Type: Icon

#15517 11/12/23 - Map swap
  code/_helpers/global_lists.dm
  code/modules/client/preference_setup/general/04_equipment.dm
  code/modules/pda/pda.dm
  config/alienwhitelist.txt
  icons/obj/pda_vintage.dmi
  maps/tether/tether-05-station1.dmm
  tgui/packages/tgui-dev-server/package.json
  tgui/yarn.lock
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#15525 Adds altevian cake slice
  code/game/objects/items/trash_vr.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/food/food/snacks_vr.dm
  icons/obj/food_vr.dmi
  icons/obj/trash_vr.dmi
Labels: Type: Icon

#15526 Medraptor sprite naming fix
  icons/mob/robot/crisis_large.dmi
Labels: Type: Icon

#15529 11/19/23 - Map swap
  code/__defines/span_vr.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/robot/robot_upgrades_vr.dm
  code/game/objects/items/trash_vr.dm
  code/modules/client/preference_setup/vore/02_size.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/materials/materials/organic/wood.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/teshari.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/stardog.dm
  code/modules/mob/mob.dm
  code/modules/research/prosfab_designs_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/resizing/resize_vr.dm
  code/stylesheet.dm
  icons/mob/robot/crisis_large.dmi
  icons/obj/food_vr.dmi
  icons/obj/trash_vr.dmi
  interface/skin.dmf
  tgui/packages/tgui/interfaces/VorePanel.js
  vorestation.dme
Labels: Type: Icon

#15535 Adds vorebelly sprite to service V2 hound
  code/modules/mob/living/silicon/robot/sprites/civilian.dm
  icons/mob/robot/service_wide.dmi
Labels: Type: Icon

#15549 cleric sleeper sprite naming fix
  icons/mob/robot/clerical_wide.dmi
Labels: Type: Icon
