Repository VOREStation/VOREStation, pull requests merged in 2023-07, with the labels that each got.

#15092 ports some clothing from citadel rp + 2 hairs & 2 gradients from skyrat
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/head/hood.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/hooded.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/mob/living/carbon/human/gradient.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/vore/fluffstuff/custom_boxes_vr.dm
  icons/inventory/feet/item.dmi
  icons/inventory/feet/mob.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/mob.dmi
  icons/mob/hair_gradients.dmi
  icons/mob/human_face.dmi
  icons/mob/human_face_m.dmi
Labels: Type: Icon

#15100 Rascal's Pass Z1 changes: Adds countertop sinks to bar & café
  maps/groundbase/gb-z1.dmm
Labels: Type: Map

#15104 Weekly Map Swap Update (03/07/2023)
  .github/CONTRIBUTING.md
  code/game/area/Away Mission areas.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/rechargestation.dm
  code/game/mecha/micro/mechfab_designs_vr.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/ghost_pods/survivor.dm
  code/modules/admin/verbs/entity_narrate.dm
  code/modules/client/preference_setup/antagonism/02_candidacy.dm
  code/modules/client/preference_setup/general/02_language.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/clothing/head/hood.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/hooded.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/flufftext/look_up.dm
  code/modules/lighting/lighting_fake_sun_vr.dm
  code/modules/mob/living/bot/medbot.dm
  code/modules/mob/living/carbon/human/gradient.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/research/mechfab_designs_vr.dm
  code/modules/vore/fluffstuff/custom_boxes_vr.dm
  icons/inventory/feet/item.dmi
  icons/inventory/feet/mob.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/mob.dmi
  icons/mob/hair_gradients.dmi
  icons/mob/human_face.dmi
  icons/mob/human_face_m.dmi
  icons/mob/pai_vr64x32.dmi
  icons/mob/pai_vr64x64.dmi
  maps/groundbase/gb-z1.dmm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/innland.dmm
  vorestation.dme
Labels: Type: .git or .github

#15109 Medical Guidance
  code/game/objects/items/devices/scanners/guide.dm
  code/game/objects/items/devices/scanners/health.dm
  icons/obj/device.dmi
  maps/groundbase/gb-z2.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#15111 Health Analyzer post-guidance improvements
  code/game/objects/items/devices/scanners/guide.dm
  code/game/objects/items/devices/scanners/health.dm
  maps/submaps/pois_vr/aerostat/Boombase.dmm
Labels: Type: Map

#15112 Adds new Debris Field POI: Phoron Tanker!
  code/game/objects/items/poi_items.dm
  maps/expedition_vr/space/_debrisfield.dm
  maps/submaps/pois_vr/debris_field/_templates.dm
  maps/submaps/pois_vr/debris_field/debrisfield_things.dm
  maps/submaps/pois_vr/debris_field/ship_tanker_betrayed.dmm
Labels: Type: Map

#15113 7/5/23 - Nobody expects a wednesday update
  code/game/objects/items/devices/scanners/guide.dm
  code/game/objects/items/devices/scanners/health.dm
  code/game/objects/items/poi_items.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/obj/device.dmi
  maps/expedition_vr/space/_debrisfield.dm
  maps/groundbase/gb-z2.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/submaps/pois_vr/aerostat/Boombase.dmm
  maps/submaps/pois_vr/debris_field/_templates.dm
  maps/submaps/pois_vr/debris_field/debrisfield_things.dm
  maps/submaps/pois_vr/debris_field/ship_tanker_betrayed.dmm
  maps/tether/tether-03-surface3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map

#15117 fix the noble borg sprite eyes
  icons/mob/robots_vr.dmi
Labels: Type: Icon

#15116 Adds Zorgoia carbon markings
  code/modules/mob/new_player/sprite_accessories_ear.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_taur.dm
  icons/mob/human_races/sprite_accessories/ears.dmi
  icons/mob/human_races/sprite_accessories/tails.dmi
  icons/mob/human_races/sprite_accessories/taurs.dmi
Labels: Type: Icon

#15118 BIRTH
  code/game/birthday.dm
  code/game/turfs/flooring/seasonal.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/login.dm
  sound/voice/BIRTH1.ogg
  sound/voice/BIRTH2.ogg
  vorestation.dme
Labels: Type: Sound

#15123 Alternative birthday sound
  code/game/birthday.dm
  sound/voice/BIRTH.ogg
  sound/voice/BIRTH2.ogg
Labels: Type: Sound

#15124 7/7/23 - Here we are again, who would have thought
  code/game/birthday.dm
  sound/voice/BIRTH.ogg
  sound/voice/BIRTH2.ogg
Labels: Type: Sound

#15128 Allows ability for taller taurs to exist
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/vehicles/vehicle.dm
  icons/mob/vore/taurs128x64_vr.dmi
Labels: Type: Icon

#15132 Fix da sound for real
  sound/voice/BIRTH.ogg
  sound/voice/BIRTH1.ogg
  sound/voice/BIRTH2.ogg
Labels: Type: Sound

#15130 Weekly Map Swap Update (10/07/2023)
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/vehicles/vehicle.dm
  icons/mob/vore/taurs128x64_vr.dmi
  sound/voice/BIRTH.ogg
  sound/voice/BIRTH1.ogg
  sound/voice/BIRTH2.ogg
  vorestation.dme
Labels: Type: Icon, Type: Sound

#15134 Minitest Map Engine Core
  maps/virgo_minitest/virgo_minitest-1.dmm
Labels: Type: Map

#15144 Giant Bow (Also fluff item for verysoft)
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#15140 Adds lizard color variety, enables black mice
  code/modules/mob/living/simple_mob/subtypes/animal/passive/lizard.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/mouse.dm
  icons/mob/animal.dmi
Labels: Type: Icon

#15138 Adds altevian NPCs for event use
  code/game/objects/items/weapons/storage/boxes_vr.dm
  code/modules/mob/dead/corpse.dm
  code/modules/mob/dead/corpse_vr.dm
  code/modules/mob/living/simple_mob/subtypes/humanoid/mercs/mercs_altevian.dm
  icons/mob/altevian_mercs_vr.dmi
  vorestation.dme
Labels: Type: Icon

#15152 Autowhisper
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/autowhisper.dm
  code/modules/mob/living/living_defines_vr.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/pai/pai_hud.dm
  code/modules/mob/living/simple_mob/simple_hud.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/say.dm
  code/modules/mob/say_vr.dm
  icons/mob/screen/minimalist.dmi
  vorestation.dme
Labels: Type: Icon

#15153 7/17/23 - It has been monday for almost two hours, how did this happen
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/autowhisper.dm
  code/modules/mob/living/living_defines_vr.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/pai/pai_hud.dm
  code/modules/mob/living/simple_mob/simple_hud.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/say.dm
  code/modules/mob/say_vr.dm
  icons/mob/screen/minimalist.dmi
  vorestation.dme
Labels: Type: Icon

#15154 Fixes PDA records missing linebreaks & fixes communicator weather app gibberish
  code/game/objects/items/devices/communicator/helper.dm
  tgui/packages/tgui/interfaces/Communicator.tsx
  tgui/packages/tgui/interfaces/pda/pda_medical.js
  tgui/packages/tgui/interfaces/pda/pda_security.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15156 Fluff updates
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/rings/material.dm
  code/modules/materials/materials/gems.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  config/alienwhitelist.txt
Labels: Type: Fluff

#15157 Moar buttan
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/silicon/pai/pai_hud.dm
  code/modules/mob/living/simple_mob/simple_hud.dm
  icons/mob/screen/holo.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
Labels: Type: Icon

#15159 7/19/23 - I'm in bed
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/devices/communicator/helper.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/rings/material.dm
  code/modules/materials/materials/gems.dm
  code/modules/mob/living/silicon/pai/pai_hud.dm
  code/modules/mob/living/simple_mob/simple_hud.dm
  code/modules/mob/say_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  config/alienwhitelist.txt
  icons/mob/screen/holo.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
  tgui/packages/tgui/interfaces/Communicator.tsx
  tgui/packages/tgui/interfaces/pda/pda_medical.js
  tgui/packages/tgui/interfaces/pda/pda_security.js
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: Type: Fluff, Type: Icon, Type: TGUI Bundle

#15161 Parriz fluff item and hair
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/mob/new_player/sprite_accessories_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/mob/human_face_vr.dmi
  icons/mob/human_face_vr_add.dmi
Labels: Type: Fluff, Type: Icon

#15164 7/19/23 - do some fixin'
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/micro_structures.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/mob/living/simple_mob/on_click.dm
  code/modules/mob/new_player/sprite_accessories_vr.dm
  code/modules/mob/say_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/mob/human_face_vr.dmi
  icons/mob/human_face_vr_add.dmi
Labels: Type: Fluff, Type: Icon

#15162 Recolourable flannel
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
Labels: Type: Icon

#15160 ports tallborgs from skyrat
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  icons/mob/tallborg/MEKANIKA skinline credit.txt
  icons/mob/tallborg/tallborg.dmi
Labels: Type: Icon

#15165 adds pugly43 to protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#15169 Changed the new player notification sound to be less intrusive.
  code/modules/client/client procs.dm
  sound/effects/tones/newplayerping.ogg
Labels: Type: Sound

#15170 Weekly Map Swap Update (24/07/2023)
  code/modules/client/client procs.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/economy/mint.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/silicon/robot/robot_vr.dm
  config/alienwhitelist.txt
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/mob/tallborg/MEKANIKA skinline credit.txt
  icons/mob/tallborg/tallborg.dmi
  sound/effects/tones/newplayerping.ogg
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Sound

#15184 Recolourable fingerless gloves
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/clothing/gloves/color.dm
  icons/inventory/hands/item.dmi
  icons/inventory/hands/mob.dmi
Labels: Type: Icon

#15185 Moving diredog pai to 64x64 so it works properly
  icons/mob/pai_vr64x32.dmi
  icons/mob/pai_vr64x64.dmi
Labels: Type: Icon

#15186 Underwear? Under there!
  code/datums/underwear/bottom.dm
  icons/mob/human.dmi
Labels: Type: Icon

#15189 Modifies "MobSpawner" and Adds ability to set-up mob AI through the interface
  code/modules/eventkit/gm_interfaces/mob_spawner.dm
  tgui/packages/tgui/interfaces/MobSpawner.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15188 Staves
  code/game/objects/items/weapons/material/twohanded_vr.dm
  code/modules/materials/materials/_materials.dm
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/obj/weapons_vr.dmi
Labels: Type: Icon

#15193 7/30/23 - Map Swap
  code/_helpers/global_lists.dm
  code/datums/underwear/bottom.dm
  code/game/objects/effects/landmarks_events.dm
  code/game/objects/items/weapons/material/twohanded_vr.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/verbs/buildmode.dm
  code/modules/admin/verbs/entity_narrate.dm
  code/modules/admin/verbs/event_triggers.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/ai/ai_holder.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/clothing/gloves/color.dm
  code/modules/eventkit/gm_interfaces/mob_spawner.dm
  code/modules/materials/materials/_materials.dm
  icons/inventory/hands/item.dmi
  icons/inventory/hands/mob.dmi
  icons/mob/human.dmi
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/mob/pai_vr64x32.dmi
  icons/mob/pai_vr64x64.dmi
  icons/obj/weapons_vr.dmi
  tgui/packages/tgui/interfaces/MobSpawner.tsx
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon, Type: TGUI Bundle
