Repository VOREStation/VOREStation, pull requests merged in 2023-04, with the labels that each got.

#14747 More space creature events
  code/modules/ai/ai_holder_subtypes/simple_mob_ai.dm
  code/modules/events/gnat_migration.dm
  code/modules/events/ray_migration.dm
  code/modules/events/shark_migration.dm
  code/modules/food/food/snacks.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/gnat.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/ray.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/shark.dm
  icons/mob/mobs_monsters/animal.dmi
  maps/groundbase/groundbase_events.dm
  maps/stellar_delight/stellar_delight_events.dm
  maps/tether/tether_events.dm
  vorestation.dme
Labels: Type: Icon

#14748 Adds more alt naga tail variations
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#14752 Makes the tether trash rat into real boy/girl/creature
  code/modules/mob/living/simple_mob/subtypes/vore/rat.dm
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#14754 Map swap update (April 2nd 2023)
  code/datums/ghost_query.dm
  code/game/objects/structures/alien/alien egg.dm
  code/game/objects/structures/alien/alien.dm
  code/game/objects/structures/ghost_pods/antagonist.dm
  code/modules/ai/ai_holder_subtypes/simple_mob_ai.dm
  code/modules/client/preference_setup/general/05_background.dm
  code/modules/client/preference_setup/general/06_flavor.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/events/gnat_migration.dm
  code/modules/events/ray_migration.dm
  code/modules/events/shark_migration.dm
  code/modules/food/food/snacks.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/prometheans.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/gnat.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/ray.dm
  code/modules/mob/living/simple_mob/subtypes/animal/space/shark.dm
  code/modules/mob/living/simple_mob/subtypes/vore/rat.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/mob/hud_jobs_vr.dmi
  icons/mob/mobs_monsters/animal.dmi
  icons/mob/vore/taurs_vr.dmi
  icons/vore/custom_clothes_vr.dmi
  maps/groundbase/groundbase_events.dm
  maps/stellar_delight/stellar_delight_events.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether_events.dm
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#14766 New alien just dropped
  config/alienwhitelist.txt
Labels: Type: Fluff

#14764 Selective Markings Port
  code/modules/emotes/definitions/audible_furry_vr.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/tails_vr.dmi
  icons/mob/vore/wings_vr.dmi
  sound/voice/roarbark.ogg
Labels: Type: Icon, Type: Sound

#14772 Adds Mira's health services medal
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
Labels: Type: Fluff

#14771 Add Self to Species Whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#14775 4/9/23 - Map swap
  code/game/objects/structures/ghost_pods/antagonist.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/glasses/hud_vr.dm
  code/modules/clothing/head/misc_vr.dm
  code/modules/emotes/definitions/audible_furry_vr.dm
  code/modules/food/food/cans.dm
  code/modules/food/food/drinks.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  code/modules/overmap/sectors.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  config/alienwhitelist.txt
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/tails_vr.dmi
  icons/mob/vore/wings_vr.dmi
  sound/voice/roarbark.ogg
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Sound

#14785 Rascal's Pass tweaks
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
Labels: Type: Map

#14786 New gaiters when attached
  icons/inventory/accessory/mob.dmi
  icons/inventory/face/item_vr.dmi
  icons/inventory/face/mob_vr.dmi
Labels: Type: Icon

#14783 Fixes some Vox suits from having missing icons in Security
  icons/inventory/suit/mob_vox.dmi
Labels: Type: Icon

#14784 Allows Raptor pAI to recolor 'eyes'
  code/modules/mob/living/silicon/pai/pai_vr.dm
  icons/mob/pai_vr.dmi
Labels: Type: Icon

#14780 Commonwealth/Talon Taursuits
  icons/mob/taursuits_naga_vr.dmi
  icons/mob/taursuits_wolf_vr.dmi
Labels: Type: Icon

#14781 Taurloafs Expansion
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/taursuits_drake_ch.dmi
  icons/mob/taursuits_lizard_ch.dmi
  icons/mob/vore/taurs_ch.dmi
  icons/mob/vore/taurs_ch_loaf.dmi
  icons/mob/vore/taurs_vr_loaf.dmi
Labels: Type: Icon

#14767 Concussion Maul
  code/game/objects/items/weapons/melee/shock_maul.dm
  code/game/objects/random/mob_vr.dm
  code/modules/mining/abandonedcrates_vr.dm
  code/modules/mining/mine_outcrops.dm
  code/modules/mining/mine_turfs.dm
  icons/inventory/back/mob.dmi
  icons/mob/items/lefthand_melee.dmi
  icons/mob/items/righthand_melee.dmi
  icons/obj/weapons.dmi
  vorestation.dme
Labels: Type: Icon

#14794 Tether Map Changes
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#14793 RP General Map Updates
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#14797 RP-Map-Adjustments-Addendum
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
Labels: Type: Map

#14799 4/16/23 - Map swap
  .vscode/tasks.json
  SECURITY.md
  code/game/objects/items/weapons/melee/shock_maul.dm
  code/game/objects/random/mob_vr.dm
  code/modules/client/preference_setup/general/02_language.dm
  code/modules/client/preference_setup/vore/03_egg.dm
  code/modules/mining/abandonedcrates_vr.dm
  code/modules/mining/mine_outcrops.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/login.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/simple_mob/combat.dm
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/reagents/reactions/instant/instant_vr.dm
  code/modules/reagents/reagents/food_drinks.dm
  code/modules/reagents/reagents/medicine_vr.dm
  code/modules/resleeving/autoresleever.dm
  code/modules/tension/tension.dm
  code/modules/ventcrawl/ventcrawl.dm
  code/modules/vore/eating/inbelly_spawn.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/inventory/accessory/mob.dmi
  icons/inventory/back/mob.dmi
  icons/inventory/face/item_vr.dmi
  icons/inventory/face/mob_vr.dmi
  icons/inventory/suit/mob_vox.dmi
  icons/mob/items/lefthand_melee.dmi
  icons/mob/items/righthand_melee.dmi
  icons/mob/pai_vr.dmi
  icons/mob/taursuits_drake_ch.dmi
  icons/mob/taursuits_lizard_ch.dmi
  icons/mob/taursuits_naga_vr.dmi
  icons/mob/taursuits_wolf_vr.dmi
  icons/mob/vore/taurs_ch.dmi
  icons/mob/vore/taurs_ch_loaf.dmi
  icons/mob/vore/taurs_vr_loaf.dmi
  icons/obj/weapons.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/groundbase/groundbase_areas.dm
  maps/tether/tether-05-station1.dmm
  vorestation.dme
Labels: Type: Icon

#14804 Anomalous R-window Cleanup
  maps/submaps/engine_submaps_vr/tether/engine_rust.dmm
  maps/submaps/engine_submaps_vr/tether/engine_singulo.dmm
  maps/submaps/engine_submaps_vr/tether/engine_sme.dmm
  maps/submaps/engine_submaps_vr/tether/engine_tesla.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-07-solars.dmm
Labels: Type: Map

#14800 Adds FerretDook.ogg and the emote dook
  code/modules/emotes/definitions/audible_furry_vr.dm
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/FerretDook.ogg
Labels: Type: Sound

#14806 One-way conveyor switches
  code/modules/recycling/conveyor2.dm
  maps/tether/tether-05-station1.dmm
Labels: Type: Map

#14808 Zaprat markings
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/ears_32x64.dmi
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#14809 20/04/2023 Midweek Extra Deluxe Release Update
  code/__defines/species_languages.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/emotes/definitions/audible_furry_vr.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/reagents/reagents/food_drinks.dm
  code/modules/recycling/conveyor2.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/ears_32x64.dmi
  icons/mob/vore/taurs_vr.dmi
  maps/submaps/engine_submaps_vr/tether/engine_rust.dmm
  maps/submaps/engine_submaps_vr/tether/engine_singulo.dmm
  maps/submaps/engine_submaps_vr/tether/engine_sme.dmm
  maps/submaps/engine_submaps_vr/tether/engine_tesla.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-07-solars.dmm
  sound/voice/FerretDook.ogg
Labels: Type: Icon, Type: Map, Type: Sound

#14813 Adds donnysalmond to Clown whitelist
  config/jobwhitelist.txt
Labels: Type: Fluff

#14812 Ion Beam Redux
  code/__defines/damage_organs.dm
  code/game/objects/effects/temporary_visuals/projectiles/impact.dm
  code/game/objects/effects/temporary_visuals/projectiles/muzzle.dm
  code/game/objects/effects/temporary_visuals/projectiles/tracer.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/projectiles/projectile/beams.dm
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
Labels: Type: Icon

#14818 4/23/23 - Map swap update on day same as year wow
  code/__defines/damage_organs.dm
  code/game/objects/effects/temporary_visuals/projectiles/impact.dm
  code/game/objects/effects/temporary_visuals/projectiles/muzzle.dm
  code/game/objects/effects/temporary_visuals/projectiles/tracer.dm
  code/modules/food/food/snacks.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/projectiles/ammunition/rounds.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/scatter.dm
  config/jobwhitelist.txt
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
  vorestation.dme
Labels: Type: Fluff, Type: Icon
