Repository VOREStation/VOREStation, pull requests merged in 2023-06, with the labels that each got.

#14933 TGUI Update Hotfix
  code/modules/tgui/tgui.dm
  code/modules/tgui/tgui_window.dm
  tgui/packages/tgui/interfaces/CameraConsole.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#14914 Changes The Boozemat (It's 5:45am - I can't think of any good jokes)
  icons/obj/vending.dmi
Labels: Type: Icon

#14912 It's all bout that Money Money Money
  code/__defines/plants.dm
  code/game/objects/random/misc.dm
  code/game/objects/structures/loot_piles.dm
  code/modules/economy/cash.dm
  code/modules/fishing/fishing.dm
  icons/obj/economy.dmi
Labels: Type: Icon

#14928 The Suits of the Void
  code/modules/clothing/spacesuits/void/void.dm
  sound/machines/click2.ogg
Labels: Type: Sound

#14934 TGUI Input Checkboxes
  code/modules/tgui_input/checkboxes.dm
  tgui/packages/tgui/interfaces/CheckboxInput.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: TGUI Bundle

#14932 New Inflatable Sprites (Not that type of inflation. Or economic inflation.)
  icons/obj/inflatable.dmi
Labels: Type: Icon

#14931 Items for the Plant People (not the literal plant people)
  code/game/objects/items/weapons/storage/belt_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/modules/hydroponics/trays/tray_tools.dm
  icons/inventory/belt/item_vr.dmi
  icons/inventory/belt/mob_vr.dmi
  icons/obj/hydroponics_machines_vr.dmi
  icons/obj/items.dmi
  icons/obj/weapons.dmi
  maps/groundbase/gb-z2.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Icon, Type: Map

#14943 Modifies scug picnic to use picnic blanket, makes it more aesthetically pleasing
  maps/groundbase/pois/outdoors16.dmm
Labels: Type: Map

#14942 Zera's Purple Cloak
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#14940 Hell of a Crate time!
  icons/obj/closets/bases/crate.dmi
  icons/obj/closets/decals/crate.dmi
Labels: Type: Icon

#14938 Variety Add-on
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  icons/inventory/uniform/item.dmi
  icons/mob/human_races/markings_vr.dmi
  icons/mob/vore/ears_vr.dmi
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#14945 EventKit - Mob Spawner
  code/modules/eventkit/event_machinery.dm
  code/modules/eventkit/gm_interfaces/mob_spawner.dm
  code/modules/vore/resizing/resize_vr.dm
  tgui/packages/tgui/interfaces/MobSpawner.tsx
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: TGUI Bundle

#14953 Replaces deprecated virology paths in map files with new one
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  maps/groundbase/gb-centcomm.dmm
  maps/stellar_delight/ship_centcom.dmm
  maps/submaps/admin_use_vr/dhael_centcom.dmm
  maps/tether/submaps/tether_centcom.dmm
Labels: Type: Map

#14821 2023 EnerGen Power Cells
  code/game/machinery/cell_charger.dm
  code/game/objects/random/misc.dm
  code/modules/power/cell.dm
  code/modules/power/cells/device_cells.dm
  code/modules/power/cells/power_cells.dm
  icons/obj/power.dmi
  icons/obj/power_cells.dmi
Labels: Type: Icon

#14948 New Prosthetic Fab (Brain hurty, no funny name)
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/mech_prosthetics.dm
  icons/obj/robotics_vr.dmi
Labels: Type: Icon

#14957 Fixes #14956
  code/game/objects/items/weapons/storage/belt_vr.dm
  code/modules/hydroponics/trays/tray_tools.dm
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
Labels: Type: Icon

#14964 TGUI Interface Hotfix
  code/__defines/time.dm
  code/_global_vars/time_vars.dm
  code/_helpers/time.dm
  code/controllers/subsystems/tgui.dm
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/Biogenerator.js
  tgui/packages/tgui/interfaces/CasinoPrizeDispenser.js
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui/interfaces/MiningVendor.js
  tgui/packages/tgui/interfaces/NtosCameraConsole.js
  tgui/packages/tgui/interfaces/NtosCameraConsole.tsx
  tgui/packages/tgui/interfaces/SecurityRecords.js
  tgui/packages/tgui/interfaces/SuitCycler.js
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/components/LabeledList.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: TGUI Bundle

#14974 adds hand-holes to the skyrat/tg ported uniforms
  icons/inventory/uniform/mob.dmi
Labels: Type: Icon

#14980 Variety Add-on Patch
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  icons/mob/vore/ears_vr.dmi
Labels: Type: Icon

#14971 Removes Extra Exploration Seating Area
  maps/stellar_delight/stellar_delight1.dmm
Labels: Type: Map

#14983 tgui no yell
  code/modules/eventkit/gm_interfaces/mob_spawner.dm
  tgui/packages/tgui/hotkeys.ts
  tgui/packages/tgui/interfaces/MobSpawner.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#14990 The Falls minor improvements
  maps/atoll/atoll_objs.dm
  maps/atoll/atoll_turfs.dm
  maps/atoll/falls.dmm
  maps/atoll/icons/objs/bronze_overhang.dmi
  maps/atoll/sounds/lakeamb.ogg
Labels: Type: Icon, Type: Map, Type: Sound

#14991 New mermaid tails
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#14996 Whitelist update
  config/alienwhitelist.txt
Labels: Type: Fluff

#14993 TraitTutorial: Fixes spacing issues from TGUI update
  tgui/packages/tgui/interfaces/TraitTutorial.tsx
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#14941 Time to cool off
  code/game/objects/items/devices/suit_cooling.dm
  icons/obj/suit_cooler.dmi
Labels: Type: Icon

#14975 Extends entity narrate functionality with TGUI
  code/modules/admin/verbs/entity_narrate.dm
  tgui/packages/tgui/interfaces/EntityNarrate.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#14961 "Hey bud, need a light?"
  code/game/objects/items/contraband_vr.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/random/misc_vr.dm
  code/modules/economy/vending_machines.dm
  icons/obj/cigarettes.dmi
  icons/obj/lighters.dmi
  icons/obj/zippo.dmi
Labels: Type: Icon

#14995 Store your suits and borgs more properly
  code/game/machinery/suit_storage/suit_cycler.dm
  code/game/machinery/suit_storage/suit_cycler_datums.dm
  code/game/machinery/suit_storage/suit_cycler_units.dm
  code/game/machinery/suit_storage/suit_cycler_units_vr.dm
  code/game/machinery/suit_storage/suit_storage.dm
  code/game/machinery/suit_storage/suit_storage_units.dm
  code/game/machinery/suit_storage_unit.dm
  icons/obj/robot_storage.dmi
  icons/obj/suit_cycler.dmi
  icons/obj/suit_storage.dmi
  icons/obj/suitstorage.dmi
  vorestation.dme
Labels: Type: Icon

#15000 Watch your head!
  code/__defines/mobs_vr.dm
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/head/mob_tajaran.dmi
  icons/inventory/head/mob_unathi.dmi
  icons/mob/items/lefthand_hats.dmi
  icons/mob/items/righthand_hats.dmi
  icons/mob/light_overlays.dmi
  icons/obj/light_overlays.dmi
Labels: Type: Icon

#15001 Removes roundstart firework launchers
  maps/groundbase/gb-z2.dmm
  maps/tether/tether-01-surface1.dmm
Labels: Type: Map

#14994 Adds per-belly option to vorepanel for switching between sleeper/belly
  code/modules/mob/living/silicon/robot/robot_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15007 Larger cobra hood
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  icons/mob/vore/ears_vr.dmi
Labels: Type: Icon

#15008 Protean whitelists update
  config/alienwhitelist.txt
Labels: Type: Fluff

#15014 HOTFIX: Fixes TGUI number input to accept decimals
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15018 Synthetic chassis taur body
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#15025 Adds Kira72 to Protean Whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#15028 whitelist: LostInSpess(Protean/Mime)
  config/alienwhitelist.txt
  config/jobwhitelist.txt
Labels: Type: Fluff

#15030 Fixes the invisible Alien Saw
  icons/obj/abductor.dmi
Labels: Type: Icon

#15034 The cyborg can has a saw... as a treat
  icons/obj/surgery_vr.dmi
Labels: Type: Icon

#15022 Forbidden Tuna
  code/game/objects/effects/mines.dm
  icons/obj/weapons.dmi
Labels: Type: Icon

#15037 Adds ability for multi-colored colorable belly overlays to exist, adds one using it
  code/modules/mob/living/carbon/human/life.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/mob/screen_full_colorized_vore.dmi
  icons/mob/screen_full_colorized_vore_overlays.dmi
  icons/mob/screen_full_vore.dmi
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: Type: Vore-Related, Type: Icon, Type: TGUI Bundle

#15038 Turns on the Coffee Vendor
  icons/obj/vending.dmi
Labels: Type: Icon

#15040 New Belts and Accessories
  code/game/objects/items/weapons/storage/belt_vr.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/inventory/accessory/mob_teshari.dmi
  icons/inventory/belt/item.dmi
  icons/inventory/belt/item_vr.dmi
  icons/inventory/belt/mob.dmi
  icons/inventory/belt/mob_vr.dmi
Labels: Type: Icon

#15017 Loadout Overhaul
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_head_vr.dm
  code/modules/client/preference_setup/loadout/loadout_smoking.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uni_selector.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/economy/vending_machines.dm
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
Labels: Type: Icon

#15046 Weekly Map Swap Update (19/06/2023)
  code/_global_vars/lists/misc.dm
  code/game/machinery/air_alarm.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items/weapons/storage/belt_vr.dm
  code/game/objects/stumble_into_vr.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_head_vr.dm
  code/modules/client/preference_setup/loadout/loadout_smoking.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uni_selector.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/client/preferences_factions.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/economy/vending_machines.dm
  code/modules/food/food/snacks.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/prommie_blob.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  code/modules/pda/core_apps.dm
  code/modules/projectiles/guns/energy/altevian_vr.dm
  code/modules/recycling/disposal.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  config/alienwhitelist.txt
  config/jobwhitelist.txt
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/inventory/accessory/mob_teshari.dmi
  icons/inventory/belt/item.dmi
  icons/inventory/belt/item_vr.dmi
  icons/inventory/belt/mob.dmi
  icons/inventory/belt/mob_vr.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/mob/screen_full_colorized_vore.dmi
  icons/mob/screen_full_colorized_vore_overlays.dmi
  icons/mob/screen_full_vore.dmi
  icons/mob/vore/taurs_vr.dmi
  icons/obj/abductor.dmi
  icons/obj/surgery_vr.dmi
  icons/obj/vending.dmi
  icons/obj/weapons.dmi
  tgui/packages/tgui/constants.test.ts
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Fluff

#15049 Aliens
  config/alienwhitelist.txt
Labels: Type: Fluff

#15050 Makes some of the bellies I made colorable
  icons/mob/screen_full_colorized_vore.dmi
  icons/mob/screen_full_colorized_vore_overlays.dmi
Labels: Type: Icon

#15051 6/18/2023 - Smole liddol update extra
  config/alienwhitelist.txt
  icons/mob/screen_full_colorized_vore.dmi
  icons/mob/screen_full_colorized_vore_overlays.dmi
Labels: Type: Fluff, Type: Icon

#15053 Update taurs_vr.dmi - clip mask fix for synthetic chassis
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#15057 fix(map): Fixes missing shutters on tether ground 3
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#15056 fix(repath): Fixes ore satchels from picking up BS crystals
  code/modules/research/teleport_vr.dm
  code/modules/telesci/bscyrstal.dm
  code/modules/telesci/construction.dm
  code/modules/telesci/telepad.dm
  code/modules/telesci/telesci_computer.dm
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  maps/offmap_vr/om_ships/aro3.dmm
  maps/submaps/surface_submaps/plains/leopardmanderden.dmm
  maps/submaps/surface_submaps/wilderness/leopardmanderden.dmm
  maps/tether/submaps/underdark_pois/goldhall.dmm
Labels: Type: Map

#15059 Tweak(mapping): Significantly reworks sci-aerostat solars airlocks
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
Labels: Type: Map

#15063 Significantly reworks V2 outpost airlock and Aerostat (SD) ferry airlock
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  maps/expedition_vr/aerostat/surface.dmm
Labels: Type: Map

#15064 Fixes Chemmaster not registering "Enter" key, not renaming bottles and not making multiple bottles
  tgui/packages/tgui/components/Modal.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15065 Gonna paint the floors red... with hazard lines
  code/game/objects/structures/signs_vr.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/flooring/flooring_decals_vr.dm
  icons/obj/decal_warning_stripes.dmi
  icons/obj/decals.dmi
  icons/turf/flooring/decals.dmi
  icons/turf/flooring/decals_old.dmi
  icons/turf/flooring/decals_vr.dmi
Labels: Type: Icon

#15068 Chickens must also watch their heads
  icons/inventory/head/mob_teshari.dmi
Labels: Type: Icon

#15070 Adds some altevian-themed props
  code/game/objects/structures/props/altevian.dm
  code/modules/power/port_gen.dm
  code/modules/power/port_gen_vr.dm
  icons/obj/props/decor128x128.dmi
  icons/obj/props/decor64x64.dmi
  vorestation.dme
Labels: Type: Icon

#15060 Time to get truly SWOL
  code/modules/economy/vending_machines.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/food/drinkingglass/shaker.dm
  code/modules/food/drinkingglass/shaker_vr.dm
  code/modules/food/food/condiment.dm
  code/modules/reagents/reactions/instant/drinks_vr.dm
  code/modules/reagents/reagents/food_drinks_vr.dm
  icons/obj/drinks.dmi
  icons/obj/food.dmi
  icons/pdrink.dmi
Labels: Type: Icon

#15076 Ranch
  code/controllers/subsystems/mapping.dm
  code/modules/awaymissions/redgate.dm
  icons/obj/redgate.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/groundbase_defines.dm
  maps/groundbase/groundbase_mining.dm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/abandonedisland.dmm
  maps/redgate/darkadventure.dmm
  maps/redgate/innland.dmm
  maps/redgate/teppiranch.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether_defines.dm
  maps/~map_system/maps.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#15079 Fixes Nikki's fluff outfit uniform not rendering onmob sprites
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Type: Fluff, Type: Icon

#15084 Little redgate update
  code/modules/awaymissions/redgate.dm
  maps/redgate/abandonedisland.dmm
  maps/redgate/darkadventure.dmm
  maps/redgate/innland.dmm
  maps/redgate/teppiranch.dmm
Labels: Type: Map

#15082 Replaces some GB wall lockers with painted ones
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
Labels: Type: Map

#15085 Brings classic hard hats as alternate option
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/hardhat.dm
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/head/mob_tajaran.dmi
  icons/inventory/head/mob_teshari.dmi
  icons/mob/items/lefthand_hats.dmi
  icons/mob/items/righthand_hats.dmi
  icons/mob/light_overlays.dmi
  icons/obj/light_overlays.dmi
Labels: Type: Icon

#15086 Map
  maps/redgate/abandonedisland.dmm
  maps/redgate/teppiranch.dmm
Labels: Type: Map

#15081 Climbing Hotfix Update (27/06/2023)
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/modules/awaymissions/redgate.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/multiz/movement_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/head/mob_tajaran.dmi
  icons/inventory/head/mob_teshari.dmi
  icons/mob/items/lefthand_hats.dmi
  icons/mob/items/righthand_hats.dmi
  icons/mob/light_overlays.dmi
  icons/obj/light_overlays.dmi
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/gb-z3.dmm
  maps/redgate/abandonedisland.dmm
  maps/redgate/darkadventure.dmm
  maps/redgate/innland.dmm
  maps/redgate/teppiranch.dmm
Labels: Type: Fluff, Type: Icon, Type: Map

#15087 Remove access from tavern
  maps/redgate/innland.dmm
Labels: Type: Map

#15088 Four new pAI chassis
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  icons/mob/pai_vr64x32.dmi
  icons/mob/pai_vr64x64.dmi
Labels: Type: Icon

#15089 Update some .md to match current state of things
  .github/CONTRIBUTING.md
Labels: Type: .git or .github
