Repository VOREStation/VOREStation, pull requests merged in 2024-06, with the labels that each got.

#16013 allow to only show suitable belly messages
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/exportpanel_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.jsx
  tgui/packages/tgui/interfaces/VorePanelExport.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#16024 Facility Redgate Map
  maps/groundbase/groundbase_defines.dm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/facility.dmm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
Labels: Type: Map

#16025 Virgo 5 outdoors stuff
  code/game/objects/structures/props/prop.dm
  code/game/objects/structures/props/rocks.dm
  code/game/turfs/simulated/outdoors/snow.dm
  code/modules/mining/mine_turfs.dm
  icons/obj/flora/rocks.dmi
  icons/obj/overmap_vr.dmi
  icons/obj/props/decor96x96.dmi
  icons/skybox/virgo5.dmi
  icons/turf/walls.dmi
Labels: Type: Icon

#16020 allows to use more newline breaks for longer posts
  code/_helpers/text.dm
  tgui/packages/tgui-panel/audio/NowPlayingWidget.jsx
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui/interfaces/VorePanel.jsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#16050 do an actual timeout test for chat inits
  code/modules/tgui_panel/tgui_panel.dm
  tgui/packages/tgui-panel/telemetry.js
  tgui/public/tgui-panel.bundle.js
Labels: Type: TGUI Bundle

#16049 SD Explo Maint Door Fix
  maps/stellar_delight/stellar_delight1.dmm
Labels: Type: Map

#16042 Some tgui stuff, lavender again...
  code/modules/hydroponics/seedtypes/flowers.dm
  icons/obj/seeds.dmi
  tgui/packages/tgui/interfaces/AdminTicketPanel.tsx
  tgui/packages/tgui/interfaces/BodyScanner.jsx
  tgui/packages/tgui/interfaces/CloningConsole.jsx
  tgui/packages/tgui/interfaces/ColorMate.jsx
  tgui/packages/tgui/interfaces/Cryo.jsx
  tgui/packages/tgui/interfaces/GasTemperatureSystem.jsx
  tgui/packages/tgui/interfaces/ICAssembly.jsx
  tgui/packages/tgui/interfaces/Jukebox.jsx
  tgui/packages/tgui/interfaces/MentorTicketPanel.tsx
  tgui/packages/tgui/interfaces/NtosEmailClient.jsx
  tgui/packages/tgui/interfaces/NtosNetDownloader.jsx
  tgui/packages/tgui/interfaces/OperatingComputer.jsx
  tgui/packages/tgui/interfaces/PortableGenerator.jsx
  tgui/packages/tgui/interfaces/RCON.jsx
  tgui/packages/tgui/interfaces/ResleevingConsole.jsx
  tgui/packages/tgui/interfaces/ShieldCapacitor.jsx
  tgui/packages/tgui/interfaces/ShieldGenerator.jsx
  tgui/packages/tgui/interfaces/Sleeper.jsx
  tgui/packages/tgui/interfaces/Smes.jsx
  tgui/packages/tgui/interfaces/SolarControl.jsx
  tgui/packages/tgui/interfaces/SupermatterMonitor.jsx
  tgui/packages/tgui/interfaces/TEGenerator.jsx
  tgui/packages/tgui/interfaces/TelecommsLogBrowser.jsx
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon, Type: TGUI Bundle

#16058 fix chat deadlock on first init
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/public/tgui-panel.bundle.js
Labels: Type: TGUI Bundle

#16037 New event species - Part 1
  code/__defines/chemistry_vr.dm
  code/__defines/mobs_vr.dm
  code/__defines/species_languages_vr.dm
  code/game/objects/structures/props/rocks.dm
  code/game/turfs/simulated/water.dm
  code/modules/clothing/spacesuits/void/ert_vr.dm
  code/modules/mob/language/station_vr.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_species_vr.dm
  code/modules/mob/living/carbon/human/species/lleill/lleill.dm
  code/modules/mob/living/carbon/human/species/lleill/lleill_abilities.dm
  code/modules/mob/living/carbon/human/species/lleill/lleill_items.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/simple_mob/subtypes/glamour/homunculus.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  code/modules/mob/new_player/sprite_accessories_vr.dm
  code/modules/mob/new_player/sprite_accessories_wing_vr.dm
  code/modules/multiz/portals_vr.dm
  code/modules/organs/subtypes/lleill.dm
  icons/mob/human_face_vr.dmi
  icons/mob/human_races/r_lleill.dmi
  icons/mob/species/lleill/tail.dmi
  icons/mob/vore.dmi
  icons/mob/vore/ears_32x64.dmi
  icons/obj/glamour.dmi
  icons/obj/stationobjs_vr.dmi
  icons/turf/flooring/glamour.dmi
  vorestation.dme
Labels: Type: Icon

#16062 Bluespace Crackers
  code/game/objects/random/maintenance.dm
  code/game/objects/random/misc.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/vore/resizing/crackers.dm
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/mob/items/lefthand_cracker.dmi
  icons/mob/items/righthand_cracker.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/crackers.dmi
  vorestation.dme
Labels: Type: Icon

#16060 Ports Venom Bite / Injection from Rogue Star
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/reagents/reagents/vore_vr.dm
  code/modules/vore/eating/living_vr.dm
Labels: Type: Feature/Suggestion

#16080 Bundle update
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: Type: TGUI Bundle

#16081 6/30/24 UI Hotfix
  tgui/packages/tgui/interfaces/EmbeddedController/index.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: javascript, Type: TGUI Bundle

#16071 Replaces demons in fantasy dungeon
  maps/redgate/fantasy_dungeon.dmm
  maps/redgate/jungle.dmm
Labels: Type: Map
