Repository VOREStation/VOREStation, pull requests merged in 2024-12, with the labels that each got.

#16537 Airlock Construction
  code/ATMOSPHERICS/components/unary/vent_pump.dm
  code/datums/wires/airlock.dm
  code/datums/wires/wires.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/airlock_program.dm
  code/game/machinery/embedded_controller/construction.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/frame.dm
  code/game/objects/items/weapons/circuitboards/frame.dm
  code/modules/economy/vending_machines.dm
  icons/obj/airlock_machines.dmi
  icons/obj/stock_parts.dmi
  icons/obj/stock_parts_vr.dmi
  tgui/packages/tgui/interfaces/EmbeddedController/AirlockConsoleAdvanced.tsx
  tgui/packages/tgui/interfaces/EmbeddedController/AirlockConsoleSimple.tsx
  tgui/packages/tgui/interfaces/EmbeddedController/DoorAccessConsole.tsx
  tgui/packages/tgui/interfaces/EmbeddedController/PanelOpen.tsx
  tgui/packages/tgui/interfaces/EmbeddedController/index.tsx
  tgui/packages/tgui/interfaces/EmbeddedController/types.ts
  tgui/packages/tgui/interfaces/Wires.tsx
  tgui/packages/tgui/interfaces/WiresAirlock.tsx
  vorestation.dme
Labels: Type: Icon

#16662 Sprite fixes
  icons/mob/human_face_vr.dmi
  icons/obj/card_alt_vr.dmi
Labels: Type: Icon

#16669 Barista love
  code/modules/food/drinkingglass/glass_boxes.dm
  code/modules/food/food/drinks/cup.dm
  code/modules/food/food/drinks/drinkingglass.dm
  code/modules/reagents/machinery/dispenser/cartridge_presets.dm
  code/modules/reagents/machinery/dispenser/dispenser2_energy.dm
  code/modules/reagents/machinery/dispenser/dispenser_presets.dm
  code/modules/reagents/machinery/dispenser/supply.dm
  code/modules/reagents/reactions/instant/drinks.dm
  code/modules/reagents/reagents/_reagents.dm
  code/modules/reagents/reagents/dispenser.dm
  code/modules/reagents/reagents/food_drinks.dm
  icons/obj/chemical.dmi
  icons/obj/drinks.dmi
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/tether/tether-01-surface1.dmm
Labels: Type: Icon, Type: Map

#16670 Space Traffic Update, Cleanup, & KHI Removal
  code/game/gamemodes/technomancer/catalog.dm
  code/game/gamemodes/technomancer/core_obj.dm
  code/game/objects/effects/decals/posters/voreposters_vr.dm
  code/game/objects/items/weapons/storage/firstaid_vr.dm
  code/modules/busy_space/air_traffic.dm
  code/modules/busy_space/organizations.dm
  code/modules/busy_space/organizations_vr.dm
  code/modules/busy_space_vr/air_traffic.dm
  code/modules/busy_space_vr/loremaster.dm
  code/modules/busy_space_vr/organizations.dm
  code/modules/catalogue/catalogue_data.dm
  code/modules/catalogue/catalogue_data_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uni_selector.dm
  code/modules/looking_glass/lg_console.dm
  code/modules/lore_codex/lore_data_vr/orgs.dm
  code/modules/nifsoft/nif.dm
  code/modules/nifsoft/nifsoft.dm
  code/modules/nifsoft/nifsoft_vr.dm
  code/modules/projectiles/ammunition/magnetic.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/cell_loaded.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/ml3m.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/nsfw.dm
  code/modules/projectiles/guns/energy/cell_loaded_vr/nsfw_cells.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun_vr.dm
  code/modules/projectiles/projectile/magnetic.dm
  code/modules/reagents/reagent_containers/pill_vr.dm
  code/modules/reagents/reagents/medicine_vr.dm
  code/modules/resleeving/computers.dm
  code/modules/resleeving/designer.dm
  code/modules/resleeving/documents.dm
  code/modules/resleeving/implant.dm
  code/modules/resleeving/machines.dm
  code/modules/resleeving/sleevecard.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  vorestation.dme
Labels: Type: Fluff

#16687 protean host assimilation
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_powers.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
  icons/mob/species/protean/protean_powers.dmi
Labels: Type: Icon

#16680 fixes rabbit tail
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#16702 fix multizmovement
  code/modules/multiz/movement.dm
  code/modules/multiz/turf.dm
Labels: Type: Bug

#16714 Makes unabsorb chem NOT infinitely hallucinate you!
  code/modules/reagents/reagents/vore_vr.dm
Labels: Type: Bug

#16707 enable define sanity
  .github/workflows/ci.yml
  .gitignore
  code/__defines/belly_modes_vr.dm
  code/__defines/dna.dm
  code/__defines/phobias.dm
  code/datums/locations/qerrvallis.dm
  code/datums/locations/vir.dm
  code/game/dna/dna2.dm
  code/game/dna/dna2_domutcheck.dm
  code/game/objects/items/weapons/wiki_manuals.dm
  code/modules/examine/descriptions/telecomms.dm
  code/modules/games/cah_black_cards.dm
  code/modules/library/hardcode_library/fiction/PortedBooks.dm
  code/modules/library/hardcode_library/fiction/battlefieldcommander.dm
  code/modules/library/hardcode_library/reference/Schnayy.dm
  code/modules/lore_codex/lore_data/important_locations.dm
  code/modules/lore_codex/lore_data/species.dm
  code/modules/lore_codex/lore_data_vr/history.dm
  code/modules/lore_codex/lore_data_vr/species.dm
  code/modules/maps/bapi-dmm/bapi_bindings.dm
  code/modules/mining/ore_datum.dm
  code/modules/mob/living/carbon/human/phobias.dm
  code/modules/projectiles/guns/projectile/leveraction.dm
  code/modules/vore/eating/belly_obj_vr.dm
  tools/define_sanity/check.py
  vorestation.dme
Labels: Type: .git or .github

#16713 Make export chatlog work under 516
  tgui/global.d.ts
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/public/tgui.html
  tools/build/build.js
Labels: Type: TGUI Bundle

#16705 Borg Icon Optimization and Weapon Modulation
  code/__defines/borg_overlays.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_modules_vr.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules/event.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_modules/swarm.dm
  code/modules/mob/living/silicon/robot/robot_modules/syndicate.dm
  code/modules/mob/living/silicon/robot/sprites/_sprite_datum.dm
  code/modules/mob/living/silicon/robot/sprites/combat.dm
  code/modules/mob/living/silicon/robot/sprites/event.dm
  code/modules/mob/living/silicon/robot/sprites/fluff.dm
  code/modules/mob/living/silicon/robot/sprites/science.dm
  code/modules/mob/living/silicon/robot/sprites/security.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  code/modules/projectiles/guns/energy/cyborg.dm
  vorestation.dme
Labels: Type: Bug

#16727 wipes out all cell map edits
  maps/gateway_archive_vr/desertbase.dmm
  maps/gateway_archive_vr/zoo.dmm
  maps/gateway_archive_vr/zresearchlabs.dmm
  maps/gateway_vr/zoo.dmm
  maps/gateway_vr/zoo_b.dmm
  maps/groundbase/gb-centcomm.dmm
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/northern_star/polaris-1.dmm
  maps/northern_star/polaris-2.dmm
  maps/northern_star/polaris-3.dmm
  maps/northern_star/polaris-5.dmm
  maps/redgate/cybercity.dmm
  maps/southern_cross/southern_cross-1.dmm
  maps/southern_cross/southern_cross-5.dmm
  maps/stellar_delight/ship_centcom.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/submaps/admin_use_vr/avii_eventMapv2.dmm
  maps/submaps/admin_use_vr/dhael_centcom.dmm
  maps/tether/submaps/tether_centcom.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/virgo_minitest/virgo_minitest-1.dmm
Labels: Type: Map

#16728 Bodyscanner Eject Fix
  code/game/machinery/adv_med.dm
Labels: Type: Bug

#16732 Makes firefighter hats not useless in fires
  code/modules/clothing/head/hardhat.dm
Labels: Type: Bug

#16744 Fixes borg overlay sprites not reappearing when unstunned & General File cleanup
  code/modules/mob/living/silicon/robot/life.dm
Labels: Type: Bug

#16768 Winter event mobs
  ATTRIBUTIONS.md
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dragon.dm
  icons/mob/alienanimals_x32.dmi
  icons/mob/vore_grayscale_drake.dmi
Labels: Type: Icon

#16766 Makes limbs able to be chopped off with reasonable limits
  code/modules/organs/organ_external.dm
Labels: Type: Feature/Suggestion

#16760 initial ghost spawn is important...
  code/modules/mob/dead/observer/observer.dm
Labels: Type: Bug

#16763 Small bugfixes / clarifications
  code/game/objects/structures/simple_doors.dm
  code/modules/client/record_updater.dm
  code/modules/research/mechfab_designs.dm
Labels: Type: Bug

#16764 bunny ears + various horns port
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  icons/mob/vore/ears_32x64.dmi
  icons/mob/vore/ears_vr.dmi
Labels: Type: Icon

#16753 Allows borg tasers to properly charge when in charging ports
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
Labels: Type: Bug

#16754 Turret & Sound Optimizations
  code/_helpers/mobs.dm
  code/game/machinery/portable_turret.dm
  code/game/sound.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Type: Bug

#16759 Extra borg overlay for more options
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/sprites/_sprite_datum.dm
Labels: Type: Feature/Suggestion

#16774 Fixes taur rigsuits disappearing when dir changed
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Type: Bug

#16762 part 2 borg customization - First downstream of new dullahan sprites.
  code/modules/mob/living/silicon/robot/sprites/civilian.dm
  code/modules/mob/living/silicon/robot/sprites/engineering.dm
  code/modules/mob/living/silicon/robot/sprites/janitor.dm
  code/modules/mob/living/silicon/robot/sprites/medical.dm
  code/modules/mob/living/silicon/robot/sprites/mining.dm
  code/modules/mob/living/silicon/robot/sprites/science.dm
  code/modules/mob/living/silicon/robot/sprites/security.dm
  code/modules/mob/living/silicon/robot/sprites/standard.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  icons/mob/tallborg/dullahan_credit.txt
  icons/mob/tallborg/dullahans64x64.dmi
  icons/mob/tallborg/dullahans64x64.txt
Labels: Type: Icon
