Repository VOREStation/VOREStation, pull requests merged in 2024-04, with the labels that each got.

#15894 robot outsider overhaul
  code/__defines/admin_vr.dm
  code/modules/admin/verbs/modify_robot.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/subtypes/gravekeeper.dm
  code/modules/mob/living/silicon/robot/subtypes/lost_drone.dm
  code/modules/mob/living/silicon/robot/subtypes/syndicate.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  icons/mob/screen1_robot.dmi
  vorestation.dme
Labels: Type: Icon

#15900 fixes an issue with disposal junctions ending with weird directions & RPD icons
  code/ATMOSPHERICS/atmospherics.dm
  code/modules/recycling/disposal-construction.dm
  icons/obj/pipe-item.dmi
  icons/obj/pipes/disposal.dmi
Labels: Type: Icon

#15901 borgs can walk, vtec overhaul, no more borg light and some glow flicker
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/carbon/human/species/station/prommie_blob.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_mob/subtypes/vore/oregrub.dm
  code/modules/mob/living/simple_mob/subtypes/vore/scel.dm
  code/modules/mob/living/simple_mob/subtypes/vore/solargrub.dm
  code/modules/mob/living/simple_mob/subtypes/vore/solargrub_larva.dm
  icons/mob/screen1_robot.dmi
Labels: Type: Icon

#15889 Jungle Redgate and New Vore Mobs
  code/game/machinery/lightswitch.dm
  code/game/objects/items/weapons/capture_crystal.dm
  code/game/objects/items/weapons/paint.dm
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/modules/awaymissions/redgate.dm
  code/modules/mob/living/simple_mob/subtypes/vore/devil.dm
  code/modules/mob/living/simple_mob/subtypes/vore/plants.dm
  code/modules/mob/living/simple_mob/subtypes/vore/scrubble.dm
  code/modules/mob/living/simple_mob/subtypes/vore/sonadile.dm
  code/modules/mob/living/simple_mob/subtypes/vore/stalker.dm
  icons/mob/vore.dmi
  icons/mob/vore64x32.dmi
  icons/mob/vore64x64.dmi
  icons/mob/vore_raptor.dmi
  icons/obj/power_breaker.dmi
  maps/groundbase/groundbase_defines.dm
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/jungle.dmm
  maps/redgate/jungle_underground.dmm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#15903 update bundles
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15907 Scrubble and jungle fixes
  code/modules/mob/living/simple_mob/subtypes/vore/scrubble.dm
  maps/redgate/jungle.dmm
  maps/redgate/jungle_underground.dmm
Labels: Type: Map

#15909 4/8/24 - Update
  code/ATMOSPHERICS/_atmos_setup.dm
  code/modules/mob/living/simple_mob/subtypes/vore/scrubble.dm
  maps/redgate/jungle.dmm
  maps/redgate/jungle_underground.dmm
Labels: Type: Map

#15910 Fixes broken stairs in the jungle
  maps/redgate/jungle_underground.dmm
Labels: Type: Map

#15912 adds search bar to normal vendors. Fix an issue with a wrongly used key
  tgui/packages/tgui/interfaces/Vending.jsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15911 Maint Pred Availability
  code/game/objects/effects/semirandom_mobs_vr.dm
  code/game/objects/random/mob.dm
  code/game/objects/structures/ghost_pods/event_vr.dm
  icons/effects/effects.dmi
  maps/redgate/cybercity.dmm
  maps/redgate/fantasy.dmm
  maps/redgate/fantasy_dungeon.dmm
  maps/redgate/hotsprings.dmm
  maps/redgate/islands.dmm
  maps/redgate/islands_underwater.dmm
  maps/redgate/jungle.dmm
  maps/redgate/jungle_underground.dmm
  maps/redgate/train.dmm
  maps/redgate/train_upper.dmm
  maps/stellar_delight/stellar_delight_defines.dm
Labels: Type: Icon, Type: Map

#15921 Whitelist update
  config/alienwhitelist.txt
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Type: Fluff, Type: TGUI Bundle

#15923 4/14/24 - Map swap
  code/game/machinery/cell_charger.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/effects/semirandom_mobs_vr.dm
  code/game/objects/random/mob.dm
  code/game/objects/structures/catwalk.dm
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/space/space.dm
  code/modules/ai/ai_holder_combat_unseen.dm
  code/modules/examine/descriptions/engineering.dm
  code/modules/examine/descriptions/guns.dm
  code/modules/hydroponics/seed.dm
  code/modules/materials/materials/_materials.dm
  code/modules/mob/living/living_defense.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/reagents/reagent_containers/spray.dm
  config/alienwhitelist.txt
  icons/effects/effects.dmi
  maps/offmap_vr/common_offmaps.dm
  maps/redgate/cybercity.dmm
  maps/redgate/fantasy.dmm
  maps/redgate/fantasy_dungeon.dmm
  maps/redgate/hotsprings.dmm
  maps/redgate/islands.dmm
  maps/redgate/islands_underwater.dmm
  maps/redgate/jungle.dmm
  maps/redgate/jungle_underground.dmm
  maps/redgate/train.dmm
  maps/redgate/train_upper.dmm
  maps/stellar_delight/stellar_delight_defines.dm
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui/components/Autofocus.tsx
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/components/Tabs.tsx
  tgui/packages/tgui/events.ts
  tgui/packages/tgui/interfaces/BodyDesigner.jsx
  tgui/packages/tgui/interfaces/Vending.jsx
  tgui/packages/tgui/layouts/Layout.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map

#15925 Upport Teshari Synth Face mask from Chompstation
  code/modules/clothing/masks/tesh_synth_facemask.dm
  icons/mob/species/teshari/synth_facemask.dmi
Labels: Type: Icon

#15929 Synth facemask upport fix
  code/modules/clothing/masks/tesh_synth_facemask.dm
  vorestation.dme
Labels: Type: Icon

#15930 Whitelist update: Nullspace_industries, Mime
  config/jobwhitelist.txt
Labels: Type: Fluff

#15932 WL update - Selter Protean
  config/alienwhitelist.txt
Labels: Type: Fluff

#15924 some borg upgrade overhaul, power use function, bluespace pounce and some fixes
  code/__defines/misc.dm
  code/__defines/mobs.dm
  code/__defines/span_vr.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_modules_vr.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/guns/launcher/confetti.dm
  code/modules/research/prosfab_designs.dm
  icons/mob/dogborg_vr.dmi
Labels: Type: Icon

#15933 Entrepreneur Expansion (Part 1)
  code/_helpers/global_lists_vr.dm
  code/datums/outfits/jobs/civilian_vr.dm
  code/game/jobs/job/civilian_vr.dm
  code/modules/entrepreneur/entrepreneur_items.dm
  code/modules/food/drinkingglass/metaglass_vr.dm
  code/modules/reagents/reactions/instant/drinks_vr.dm
  code/modules/reagents/reagents/food_drinks_vr.dm
  code/modules/reagents/reagents/other.dm
  code/modules/vore/eating/living_vr.dm
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/drinks_vr.dmi
  icons/obj/entrepreneur.dmi
  icons/obj/gun.dmi
  vorestation.dme
Labels: Type: Icon

#15935 4/21/24 - Map swap
  code/__defines/misc.dm
  code/__defines/mobs.dm
  code/__defines/span_vr.dm
  code/_helpers/global_lists_vr.dm
  code/datums/outfits/jobs/civilian_vr.dm
  code/game/jobs/job/civilian_vr.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/clothing/masks/tesh_synth_facemask.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/entrepreneur/entrepreneur_items.dm
  code/modules/food/drinkingglass/metaglass_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_modules_vr.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/guns/launcher/confetti.dm
  code/modules/reagents/reactions/instant/drinks_vr.dm
  code/modules/reagents/reagents/food_drinks_vr.dm
  code/modules/reagents/reagents/other.dm
  code/modules/research/prosfab_designs.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  config/alienwhitelist.txt
  config/jobwhitelist.txt
  icons/mob/dogborg_vr.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/mob/species/teshari/synth_facemask.dmi
  icons/obj/drinks_vr.dmi
  icons/obj/entrepreneur.dmi
  icons/obj/gun.dmi
  vorestation.dme
Labels: Type: Fluff

#15942 adds afflatuskeeper to xenochimera whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#15943 Entrepreneur Expansion Part 2
  maps/groundbase/gb-z1.dmm
  maps/groundbase/gb-z2.dmm
  maps/groundbase/groundbase_areas.dm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight_areas.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas.dm
Labels: Type: Map

#15945 Fixed Yellow Raptor Sprite
  icons/mob/vore_raptor.dmi
Labels: Type: Icon

#15940 Fix Talon Vent
  maps/offmap_vr/talon/talon_v2.dmm
Labels: Type: Map
