Repository VOREStation/VOREStation, pull requests merged in 2024-07, with the labels that each got.

#16074 tummy hotfix
  code/__defines/_planes+layers_vr.dm
Labels: Sev: 4-Minor, Type: Bug

#16072 Loadout Restrictions Specified
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/client/preference_setup/loadout/loadout_eyes_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uni_selector.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
Labels: Type: Fluff

#16083 fix: cryo UI fixes
  tgui/packages/tgui/interfaces/Cryo/CryoContent.tsx
  tgui/packages/tgui/interfaces/Cryo/constants.ts
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#16093 SD Maint Door Fix 2
  maps/stellar_delight/stellar_delight1.dmm
Labels: Type: Map

#16085 Whitelist update
  config/alienwhitelist.txt
Labels: Type: Fluff

#16091 fixes RD console
  tgui/packages/tgui/interfaces/CloningConsole/types.ts
  tgui/packages/tgui/interfaces/ResearchConsole/index.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#16088 Butterfly nets
  code/game/objects/random/maintenance.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/modules/fishing/fishing_net.dm
  icons/obj/items.dmi
  sound/effects/plop.ogg
Labels: Type: Icon, Type: Sound

#16094 New protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#16097 7/8/24 - Map swap
  code/game/objects/random/maintenance.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/modules/fishing/fishing_net.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  config/alienwhitelist.txt
  icons/obj/items.dmi
  interface/skin.dmf
  maps/stellar_delight/stellar_delight1.dmm
  sound/effects/plop.ogg
  tgui/packages/tgui/interfaces/CloningConsole/types.ts
  tgui/packages/tgui/interfaces/ResearchConsole/index.tsx
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Map, Type: Sound, Type: TGUI Bundle

#16098 Stripping Underclothing
  code/modules/mob/living/carbon/human/stripping.dm
  tgui/packages/tgui/interfaces/InventoryPanelHuman.tsx
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#16102 Fixes teshari stomachs & Unathi Stomachs
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_special_abilities_vr.dm
  code/modules/mob/living/carbon/human/species/station/teshari_vr.dm
Labels: Sev: 4-Minor, Type: Bug

#16101 resyncs chat styles
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-vchatdark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-vchatlight.scss
  tgui/public/tgui-panel.bundle.css
Labels: Type: TGUI Bundle

#16105 yet another clothing port pr
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/inventory/feet/item.dmi
  icons/inventory/feet/mob.dmi
  icons/inventory/feet/mob_digi.dmi
  icons/inventory/hands/item.dmi
  icons/inventory/hands/mob.dmi
  icons/inventory/head/item.dmi
  icons/inventory/head/mob.dmi
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob.dmi
  icons/inventory/uniform/mob_vr.dmi
Labels: Type: Icon

#16110 Mega nukies
  code/__defines/chemistry.dm
  code/game/objects/random/maintenance.dm
  code/game/objects/random/misc_vr.dm
  code/modules/food/food/cans.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/reagents/food_drinks_vr.dm
  icons/obj/drinks.dmi
Labels: Type: Icon

#16111 Monster Bait
  code/datums/supplypacks/recreation.dm
  code/game/machinery/computer/arcade_vr.dm
  code/game/objects/items/toys/toys_vr.dm
  code/game/objects/random/maintenance.dm
  code/game/objects/random/misc.dm
  icons/obj/items.dmi
Labels: Type: Icon

#16119 Smooth Lizard Tail variant
  code/modules/mob/new_player/sprite_accessories_tail_vr.dm
  icons/mob/vore/tails_vr.dmi
Labels: Type: Icon

#16118 Char Setup Background Switch
  code/modules/client/preference_setup/general/03_body.dm
  icons/effects/setup_backgrounds_vr.dmi
Labels: Type: Icon

#16122 small mistake in the UIs, noticed due to conflict
  tgui/packages/tgui/interfaces/ShuttleControl/ShuttleControlConsoleWeb.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#16114 Patchless Military Jackets
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
Labels: Type: Icon

#16123 Whitelist Protean
  config/alienwhitelist.txt
Labels: Type: Fluff

#16127 Lleill Species - Part 2
  code/__defines/flags.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/life_vr.dm
  code/modules/mob/living/carbon/human/species/lleill/lleill.dm
  code/modules/mob/living/carbon/human/species/lleill/lleill_abilities.dm
  code/modules/mob/living/carbon/human/species/lleill/lleill_items.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/reagents/machinery/alembic.dm
  icons/inventory/face/mob.dmi
  icons/inventory/face/mob_vr.dmi
  icons/mob/species/lleill/tail.dmi
  icons/mob/vore/ears_32x64.dmi
  icons/obj/glamour.dmi
Labels: Type: Icon

#16141 input ids & game focus loss fix
  tgui/packages/tgui/components/Modal.tsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/packages/tgui/interfaces/common/ComplexModal.tsx
  tgui/packages/tgui/layouts/Window.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#16142 no early return between hooks
  tgui/packages/tgui/layouts/Window.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle
