Repository VOREStation/VOREStation, pull requests merged in 2024-05, with the labels that each got.

#15958 Void Undersuit Tweaks
  code/modules/client/preference_setup/loadout/loadout_uni_selector.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/under/eva_bodysuits.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
  vorestation.dme
Labels: Type: Icon

#15944 Digestion Pain Pref
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/mob_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.jsx
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15961 Adds new buildmode - DROP
  code/modules/admin/verbs/buildmode.dm
  icons/misc/buildmode.dmi
Labels: Type: Icon

#15963 Ducking silly
  code/game/objects/structures/watercloset.dm
  icons/obj/watercloset.dmi
Labels: Type: Icon

#15966 5/5/24 - Map swap
  code/game/objects/items/falling_object_vr.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/turf.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/verbs/buildmode.dm
  code/modules/client/client procs.dm
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uni_selector.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/under/accessories/torch.dm
  code/modules/clothing/under/eva_bodysuits.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/eventkit/generic_objects/generic_structure.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/research/prosfab_designs.dm
  code/modules/resleeving/autoresleever.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/mob_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
  icons/misc/buildmode.dmi
  icons/obj/watercloset.dmi
  tgui/packages/tgui/interfaces/VorePanel.jsx
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon, Type: TGUI Bundle

#15964 Adds inhand sprites for rubber duckies
  code/game/objects/structures/watercloset.dm
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
Labels: Type: Icon

#15967 Fluff Licenses!
  code/game/objects/items/weapons/id cards/cards.dm
  code/modules/client/preference_setup/loadout/loadout_general_vr.dm
  icons/obj/card_fluff.dmi
Labels: Type: Icon

#15970 Adds Contaminant Detector HUD
  code/__defines/_planes+layers.dm
  code/__defines/mobs.dm
  code/datums/supplypacks/supply.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/random/mapping.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/economy/vending_machines.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/mob_planes.dm
  code/modules/research/designs/HUDs.dm
  icons/inventory/eyes/item.dmi
  icons/inventory/eyes/mob.dmi
  icons/mob/hud.dmi
  vorestation.dme
Labels: Type: Icon

#15972 Watch Yourself
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/economy/vending_machines_vr.dm
  icons/inventory/hands/item.dmi
  icons/inventory/hands/mob.dmi
Labels: Type: Icon

#15978 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#15977 ports gloomy bangs
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_face.dmi
  icons/mob/human_face_m.dmi
Labels: Type: Icon

#15827 icon fixes
  code/game/machinery/computer/cloning.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/modular_computers/computers/modular_computer/ui.dm
  code/modules/reagents/machinery/chem_master.dm
  code/modules/resleeving/computers.dm
  code/modules/tgui/modal.dm
  code/modules/tgui/modules/_base.dm
  code/modules/tgui/modules/atmos_control.dm
  icons/UI_Icons/sleeve_empty.gif
  icons/UI_Icons/sleeve_occupied.gif
  icons/UI_Icons/synthprinter.gif
  icons/UI_Icons/synthprinter_working.gif
  tgui/packages/tgui/components/NanoMap.jsx
  tgui/packages/tgui/interfaces/ChemMaster.jsx
  tgui/packages/tgui/interfaces/CloningConsole.jsx
  tgui/packages/tgui/interfaces/ResleevingConsole.jsx
  tgui/packages/tgui/interfaces/common/ComplexModal.jsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15982 AFK Status/Toggle
  code/modules/mob/living/living.dm
  code/modules/mob/mob_defines.dm
  icons/mob/status_indicators.dmi
Labels: Type: Icon

#15984 Event signs
  code/defines/obj.dm
  icons/obj/stationobjs.dmi
Labels: Type: Icon

#15983 Update alienwhitelist.txt
  config/alienwhitelist.txt
Labels: Type: Fluff

#15992 multiple UI timing issues
  code/modules/assembly/proximity.dm
  code/modules/assembly/timer.dm
  tgui/packages/tgui/interfaces/AssemblyProx.jsx
  tgui/packages/tgui/interfaces/AssemblyTimer.jsx
  tgui/packages/tgui/interfaces/BrigTimer.jsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15995 Event prop and areas
  code/game/objects/structures/props/fantasy.dm
  code/modules/awaymissions/redgate.dm
  icons/obj/props/decor96x96.dmi
Labels: Type: Icon

#16004 Facility event stuff
  code/modules/food/glass/bottle_potion.dm
  code/modules/reagents/machinery/alembic.dm
  code/modules/reagents/reagents/medicine_vr.dm
  icons/mob/vore128x64.dmi
  icons/obj/32x64.dmi
  icons/obj/card_new_vr.dmi
  icons/obj/chemical_potionreagents.dmi
  icons/obj/items_vr.dmi
  icons/turf/flooring/glamour.dmi
  maps/redgate/facility_items.dm
  vorestation.dme
Labels: Type: Icon

#15996 admin jukeboxsong handling
  code/controllers/subsystems/media_tracks.dm
  code/game/machinery/jukebox.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/Jukebox.jsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#16016 Testmap Mini Chemlab
  maps/virgo_minitest/virgo_minitest-1.dmm
Labels: Type: Map

#16011 works directly with seconds
  code/modules/assembly/proximity.dm
  code/modules/assembly/timer.dm
  tgui/packages/tgui/interfaces/AssemblyProx.jsx
  tgui/packages/tgui/interfaces/AssemblyTimer.jsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#16018 fix lavender seed icon
  code/modules/hydroponics/seedtypes/flowers.dm
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
Labels: Type: Icon
