Repository VOREStation/VOREStation, pull requests merged in 2024-02, with the labels that each got.

#15703 Fixes disposal overpressurization
  code/modules/recycling/disposal.dm
Labels: Task: Requires Staff Discussion

#15730 2/4/24 - Map swap
  code/__defines/span_vr.dm
  code/datums/observation/stat_set.dm
  code/game/atoms.dm
  code/game/gamemodes/technomancer/equipment.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/doppler_array.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/game/objects/structures/watercloset.dm
  code/modules/admin/verbs/modify_robot.dm
  code/modules/admin/verbs/resize.dm
  code/modules/casino/casino_prize_vendor.dm
  code/modules/client/preference_setup/global/setting_datums.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/economy/vending.dm
  code/modules/materials/materials/_materials.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_modules_vr.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dominated_brain.dm
  code/modules/mob/mob.dm
  code/modules/recycling/disposal.dm
  code/modules/tables/tables.dm
  code/modules/vore/chat_healthbars.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/obj/watercloset.dmi
  interface/stylesheet.dm
  tgui/packages/tgui-panel/chat/constants.ts
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-vchatdark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-vchatlight.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  vorestation.dme
Labels: Type: Icon

#15735 adds 18th century oufit, ports fox ears, fixes 2 hairs
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  icons/inventory/uniform/item.dmi
  icons/inventory/uniform/mob.dmi
  icons/mob/human_face_m.dmi
  icons/mob/vore/ears_vr.dmi
Labels: Type: Icon

#15733 Ports various clothing items, two sets of cyberlegs & some markings
  code/modules/client/preference_setup/loadout/loadout_accessories_vr.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_head_vr.dm
  code/modules/client/preference_setup/loadout/loadout_uni_selector.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/head/misc_vr.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/clothing/under/miscellaneous_vr.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  code/modules/organs/robolimbs.dm
  icons/inventory/accessory/item.dmi
  icons/inventory/accessory/mob.dmi
  icons/inventory/head/item_vr.dmi
  icons/inventory/head/mob_vr.dmi
  icons/inventory/uniform/item_vr.dmi
  icons/inventory/uniform/mob_vr.dmi
  icons/mob/human_races/cyberlimbs/replikant/replikant.dmi
  icons/mob/human_races/cyberlimbs/replikant/replikant2.dmi
  icons/mob/human_races/markings_vr.dmi
  icons/mob/items/lefthand_hats.dmi
  icons/mob/items/righthand_hats.dmi
  vorestation.dme
Labels: Type: Icon

#15740 Tgui hotfix + more borg handling
  code/__defines/admin_vr.dm
  code/modules/admin/verbs/modify_robot.dm
  tgui/packages/tgui/interfaces/ChemMaster.jsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15742 Fluff item for grallstonefist
  code/modules/mob/new_player/sprite_accessories_taur_vr.dm
  icons/mob/vore/taurs_vr.dmi
Labels: Type: Icon

#15753 Size Toy Fun
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/vore/resizing/sizegun_slow_vr.dm
  code/modules/vore/resizing/sizegun_vr.dm
  icons/inventory/accessory/item_vr.dmi
Labels: Type: Icon

#15755 2/11/24 - Anodduerwun
  code/ZAS/Connection.dm
  code/ZAS/Fire.dm
  code/__defines/__globals.dm
  code/__defines/_compile_options.dm
  code/__defines/projectiles.dm
  code/__defines/vore.dm
  code/_global_vars/sensitive.dm
  code/datums/chat_message.dm
  code/datums/position_point_vector.dm
  code/game/machinery/biogenerator.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/gear_dispenser.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/items/devices/communicator/communicator.dm
  code/game/turfs/unsimulated/planetary_vr.dm
  code/global.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/research/message_server.dm
  code/modules/research/rdconsole_tgui.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/silicon_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/resizing/sizegun_slow_vr.dm
  code/modules/vore/resizing/sizegun_vr.dm
  code/modules/xgm/xgm_gas_mixture.dm
  code/unit_tests/zas_tests.dm
  icons/inventory/accessory/item_vr.dmi
  vorestation.dme
Labels: Type: Icon

#15757 Fixed CharacterDirectory
  code/modules/tgui/external.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui/tgui_window.dm
  tgui/packages/tgui/interfaces/CharacterDirectory.jsx
  tgui/packages/tgui/sanitize.ts
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
Labels: Type: TGUI Bundle

#15758 defaults vchat color to white
  tgui/packages/tgui-panel/styles/tgchat/chat-vchatdark.scss
  tgui/packages/tgui-panel/styles/themes/vchatdark.scss
  tgui/public/tgui-panel.bundle.css
Labels: Type: TGUI Bundle

#15759 Some input updates
  code/game/machinery/air_alarm.dm
  code/game/machinery/airconditioner_vr.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/reagents/machinery/distillery.dm
  code/modules/tgui/modules/overmap.dm
  code/modules/tgui_input/checkboxes.dm
  code/modules/tgui_input/list.dm
  code/modules/tgui_input/number.dm
  code/modules/tgui_input/text.dm
  tgui/.yarnrc.yml
  tgui/package.json
  tgui/packages/common/redux.ts
  tgui/packages/tgui/components/Box.tsx
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/interfaces/BodyScanner.jsx
  tgui/packages/tgui/interfaces/Communicator.tsx
  tgui/packages/tgui/interfaces/ListInputModal.tsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/packages/tgui/interfaces/TraitTutorial.tsx
  tgui/packages/tgui/styles/atomic/centered-image.scss
  tgui/packages/tgui/styles/atomic/fit-text.scss
  tgui/packages/tgui/styles/colors.scss
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/components/Dialog.scss
  tgui/packages/tgui/styles/components/Dimmer.scss
  tgui/packages/tgui/styles/components/Dropdown.scss
  tgui/packages/tgui/styles/components/MenuBar.scss
  tgui/packages/tgui/styles/components/ProgressBar.scss
  tgui/packages/tgui/styles/components/Stack.scss
  tgui/packages/tgui/styles/components/Tabs.scss
  tgui/packages/tgui/styles/components/TextArea.scss
  tgui/packages/tgui/styles/functions.scss
  tgui/packages/tgui/styles/interfaces/AlertModal.scss
  tgui/packages/tgui/styles/interfaces/ListInput.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/reset.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/webpack.config.js
Labels: Type: TGUI Bundle

#15768 restrictedInput fix
  tgui/packages/tgui/components/RestrictedInput.jsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15769 yarn.lock update
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: Type: TGUI Bundle

#15770 chat Timestamps for TG chat + some fixes
  code/modules/mob/hear_say.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui-panel/chat/constants.ts
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui-panel/settings/SettingsPanel.jsx
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui/components/NanoMap.jsx
  tgui/packages/tgui/interfaces/CharacterDirectory.jsx
  tgui/packages/tgui/routes.tsx
  tgui/packages/tgui/stories/Collapsible.stories.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15784 quick fix NTOS crew monitor
  tgui/packages/tgui/interfaces/NtosCrewMonitor.tsx
  tgui/public/tgui.bundle.js
Labels: Type: TGUI Bundle

#15774 Smart Storage Tweaks
  code/modules/persistence/storage/smartfridge.dm
  code/modules/persistence/storage/storage.dm
Labels: Task: Requires Staff Discussion
