Repository VOREStation/VOREStation, pull requests merged in 2025-06, with the labels that each got.

#17766 Add Multishock integration
  code/__defines/shock.dm
  code/modules/client/client procs.dm
  code/modules/client/shock.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  html/shock.js
  interface/skin.dmf
  tgui/packages/tgui/interfaces/ShockConfigurator.tsx
  tgui/packages/tgui/interfaces/VorePanel/VorePanelElements/VorePanelCommonElements.tsx
  vorestation.dme
Labels: Type: Feature/Suggestion

#17792 Bloody Vomit fix
  code/modules/mob/living/living.dm
  code/modules/organs/blood.dm
Labels: Type: Bug

#17797 Vanity TF fixes
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/species/species_getters.dm
Labels: Type: Bug

#17804 Slight tether pool area update
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map

#17787 New Janicart
  code/game/gamemodes/cult/ritual.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/structures/janicart.dm
  code/modules/mob/living/living_movement.dm
  code/modules/vehicles/janicart.dm
  icons/obj/vehicles_vr.dmi
  vorestation.dme
Labels: Type: Icon

#17808 Janicart spawns
  maps/groundbase/gb-z2.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#17798 Add microsoft TTS to chat as an accessibility option
  tgui/packages/tgui-panel/chat/middleware.ts
  tgui/packages/tgui-panel/chat/renderer.tsx
  tgui/packages/tgui-panel/index.tsx
  tgui/packages/tgui-panel/settings/SettingTabs/TTSSettings.tsx
  tgui/packages/tgui-panel/settings/SettingsPanel.tsx
  tgui/packages/tgui-panel/settings/actions.ts
  tgui/packages/tgui-panel/settings/constants.ts
  tgui/packages/tgui-panel/settings/middleware.ts
  tgui/packages/tgui-panel/settings/reducer.ts
Labels: Type: Feature/Suggestion, Type: Misc

#17807 AI Multicam improved
  code/__defines/dcs/signals/signals_client.dm
  code/_onclick/hud/map_popups.dm
  code/_onclick/hud/map_view.dm
  code/_onclick/hud/picture_in_picture.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  code/modules/tgui/modules/camera.dm
  code/modules/tgui/tgui_window.dm
  icons/hud/pic_in_pic.dmi
  icons/misc/pic_in_pic.dmi
  interface/skin.dmf
  vorestation.dme
Labels: Type: Icon

#17825 Prosfab Gold & Plat hotfix
  code/game/mecha/mech_prosthetics.dm
Labels: Type: Bug

#17732 Dna, Bodyrecord, Xenochi Revive Refactor
  code/__defines/dcs/signals.dm
  code/__defines/dna.dm
  code/__defines/mobs.dm
  code/__defines/var_copy.dm
  code/_helpers/global_lists.dm
  code/_helpers/unsorted.dm
  code/datums/components/species/xenochimera.dm
  code/game/dna/dna2.dm
  code/game/dna/dna2_helpers.dm
  code/game/dna/dna_modifier.dm
  code/game/gamemodes/changeling/powers/absorb.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/protean_reconstitutor.dm
  code/game/machinery/virtual_reality/ar_console.dm
  code/game/machinery/virtual_reality/vr_console.dm
  code/game/machinery/virtual_reality/vr_procs.dm
  code/game/objects/structures/ghost_pods/event_vr.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/prometheans.dm
  code/modules/mob/living/living.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories_ear.dm
  code/modules/mob/new_player/sprite_accessories_wing.dm
  code/modules/mob/say_vr.dm
  code/modules/organs/internal/brain.dm
  code/modules/resleeving/autoresleever.dm
  code/modules/resleeving/computers.dm
  code/modules/resleeving/designer.dm
  code/modules/resleeving/infocore_records.dm
  code/modules/resleeving/machines.dm
  code/modules/tgui/modules/appearance_changer.dm
  code/modules/vore/eating/inbelly_spawn.dm
  tgui/packages/tgui/interfaces/AppearanceChanger/AppearanceChangerBody.tsx
  tgui/packages/tgui/interfaces/AppearanceChanger/AppearanceChangerMisc.tsx
  tgui/packages/tgui/interfaces/AppearanceChanger/constants.ts
  tgui/packages/tgui/interfaces/AppearanceChanger/index.tsx
  tgui/packages/tgui/interfaces/AppearanceChanger/types.ts
  vorestation.dme
Labels: Type: Bug, Type: Feature/Suggestion, Type: Refactor, Type: Misc, Type: More Complicated Than You Think, FUCK

#17834 Fixes dormant diseases showing up in Medical scanners
  code/datums/diseases/_MobProcs.dm
  code/game/machinery/adv_med.dm
Labels: Type: Bug

#17839 More blacklisted vars
  code/__defines/var_copy.dm
Labels: Type: Misc

#17840 Electric Fences For POIs
  code/game/objects/structures/fence.dm
  code/game/objects/structures/fence_electric.dm
  icons/obj/fence_electric.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion

#17846 Genetics Tweaks
  code/game/dna/dna_modifier.dm
  code/game/objects/items/devices/scanners/gene.dm
Labels: Type: Misc

#17809 Improved AI Vore
  code/game/machinery/hologram.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/silicon_vr.dm
Labels: Type: Feature/Suggestion

#17832 Add character portraits to the character directory
  code/game/objects/items/weapons/id cards/station_ids.dm
  code/modules/client/verbs/character_directory.dm
  tgui/packages/tgui/interfaces/CharacterDirectory/CharacterDirectoryList.tsx
  tgui/packages/tgui/interfaces/CharacterDirectory/types.ts
Labels: Type: Feature/Suggestion

#17848 What is wrong with me
  code/_onclick/hud/fullscreen.dm
  code/modules/admin/player_effects.dm
  icons/mob/screen_full.dmi
  tgui/packages/tgui/interfaces/PlayerEffects/PlayerEffectsTabs/ControlSmites.tsx
Labels: Type: Icon

#17844 Primitive Colorgrading
  code/__defines/colorgrading.dm
  code/game/area/areas.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/mob.dm
  code/modules/planet/weather.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#17849 Mob Hose Inflation and Draining
  code/datums/components/reagent_hose/connector.dm
  code/datums/components/reagent_hose/inflation.dm
  code/datums/components/reagent_hose/item.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/reagents/holder/holder.dm
  code/modules/vore/eating/living_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#17854 Dogborg sword colorization
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_modules/syndicate.dm
  code/modules/mob/living/silicon/robot/sprites/combat.dm
  code/modules/projectiles/guns/energy/cyborg.dm
  icons/mob/dogborg_vr.dmi
Labels: Type: Feature/Suggestion, Type: Icon

#17851 More Mining Vendor & Kinetic Crusher adjustments
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/mining/kinetic_crusher.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
Labels: Type: Bug, Type: Feature/Suggestion

#17841 Disposal pipe deconstruction fix and new hackable junctions
  code/__defines/wires.dm
  code/datums/wires/disposals.dm
  code/modules/recycling/disposal.dm
  icons/obj/pipes/disposal.dmi
  vorestation.dme
Labels: Type: Bug, Type: Feature/Suggestion, Type: Icon

#17861 Protean SCAs
  config/alienwhitelist.txt
Labels: Type: Fluff

#17865 Gets rid of = new in object defines
  code/_helpers/_lists.dm
  code/_helpers/unsorted.dm
  code/controllers/emergency_shuttle_controller.dm
  code/controllers/subsystems/ticker.dm
  code/datums/helper_datums/events.dm
  code/datums/mind.dm
  code/defines/procs/radio.dm
  code/game/area/areas.dm
  code/game/gamemodes/cult/runes.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/frame.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/status_display_ai.dm
  code/game/mecha/equipment/tools/syringe_gun.dm
  code/game/mecha/mecha.dm
  code/game/mecha/micro/micro.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/blueprints_vr.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/vehicles/vehicle.dm
  code/modules/admin/verbs/buildmode.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/mob_defines.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/scripting/Parser/Parser.dm
  code/modules/scripting/Scanner/Scanner.dm
Labels: Type: Misc

#17850 Completely rewrite xenoarch spectrometer
  code/modules/xenoarcheaology/tools/geosample_scanner.dm
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  maps/tether/tether-07-solars.dmm
  tgui/packages/tgui/interfaces/XenoarchSpectrometer.tsx
Labels: Type: Map

#17855 Add a new process option: Break Bone
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/organs/organ_external.dm
  code/modules/vore/eating/belly_actions.dm
  code/modules/vore/eating/vorepanel_vr.dm
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Refactor

#17858 Forensics Merge Data Fix
  code/datums/forensics_crime.dm
Labels: Type: Bug

#17635 Makes the Voodoo doll scrungle people, various recycler fixes.
  code/modules/maint_recycler/code/maint_recycler.dm
  code/modules/maint_recycler/code/maint_vendor.dm
  code/modules/maint_recycler/code/vendor_datums/entries/hangout_entries.dm
  code/modules/maint_recycler/code/vendor_datums/entries/misc_entries.dm
  code/modules/maint_recycler/code/vendor_datums/entries/scene_tools.dm
  code/modules/maint_recycler/code/vendor_datums/entries/weapons_and_arms.dm
  code/modules/maint_recycler/code/vendor_goodies/remote_scene_tools/displacement_map_generation.dm
  code/modules/maint_recycler/code/vendor_goodies/remote_scene_tools/remote_scene_tools.dm
  code/modules/maint_recycler/code/vendor_goodies/remote_scene_tools/voodoo.dm
  code/modules/maint_recycler/icons/goodies/remote_scene_tools.dmi
  code/modules/maint_recycler/icons/vendor_ads.dmi
  vorestation.dme
Labels: Type: Icon

#17864 Fixes an inheritence issues with arglasses
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
Labels: Type: Bug

#17890 Mining Loadouts
  code/__defines/borg_overlays.dm
  code/_helpers/global_lists_vr.dm
  code/datums/outfits/jobs/cargo.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
Labels: Type: Feature/Suggestion

#17918 Gargoyle adjustments & fixes
  code/datums/components/traits/gargoyle.dm
  code/game/objects/structures/gargoyle.dm
  code/modules/mob/living/carbon/breathe.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Type: Bug, Type: Feature/Suggestion

#17925 Multibelt fixes and QoL
  code/_onclick/click.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_simple_items.dm
  code/modules/mob/living/silicon/robot/sprites/_sprite_datum.dm
  code/modules/mob/living/silicon/robot/sprites/combat.dm
  code/modules/mob/living/silicon/robot/sprites/event.dm
  code/modules/mob/living/silicon/robot/sprites/fluff.dm
  code/modules/mob/living/silicon/robot/sprites/medical.dm
  code/modules/mob/living/silicon/robot/sprites/science.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  code/modules/power/lighting.dm
  code/modules/projectiles/guns/energy/cyborg.dm
  interface/skin.dmf
Labels: Type: Bug, Type: Feature/Suggestion

#17932 starlight optimization
  code/__defines/lighting.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystems/lighting.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf_changing.dm
  code/modules/lighting/lighting_overlay.dm
Labels: Type: Misc
