Repository VOREStation/VOREStation, pull requests merged in 2025-04, with the labels that each got.

#17439 Various fixes & tweaks
  archive/maps/submaps/depreciated_vr/talon.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/objects/structures/transit_tubes.dm
  code/modules/artifice/deadringer.dm
  code/modules/client/preferences.dm
  code/modules/research/designs/xenobio_toys_vr.dm
  tgui/packages/tgui-panel/chat/renderer.tsx
  tgui/packages/tgui/interfaces/PublicLibraryWiki/WikiPages/WikiSearchPage.tsx
  tgui/packages/tgui/interfaces/PublicLibraryWiki/WikiPages/WikiSubPages/WikiOrePage.tsx
  tgui/packages/tgui/styles/functions.scss
  tgui/packages/tgui/styles/interfaces/NuclearBomb.scss
  tgui/packages/tgui/styles/layouts/Window.scss
Labels: Type: Bug, Type: Misc

#17466 DNA Clone Fix
  code/__defines/species_languages.dm
  code/game/dna/dna2_helpers.dm
  code/game/machinery/bioprinter.dm
  code/modules/food/kitchen/cooking_machines/fryer.dm
  code/modules/mob/living/butchering.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species_shapeshift.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/data.dm
  code/modules/organs/organ.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/organ_icon.dm
  code/modules/organs/subtypes/seromi.dm
  code/modules/organs/subtypes/standard.dm
  code/modules/organs/subtypes/xenos.dm
  code/modules/research/prosfab_designs.dm
  vorestation.dme
Labels: Type: Refactor, Type: Misc

#17454 dependency update
  .nvmrc
  code/controllers/subsystems/tgui.dm
  dependencies.sh
  tgui/.gitignore
  tgui/.yarn/releases/yarn-4.7.0.cjs
  tgui/.yarn/releases/yarn-4.8.1.cjs
  tgui/.yarn/sdks/typescript/package.json
  tgui/.yarnrc.yml
  tgui/package.json
  tgui/packages/tgui-panel/chat/renderer.tsx
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-polyfill/1-misc.js
  tgui/packages/tgui-polyfill/index.ts
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/interfaces/Pda/pda_screens/pda_messenger.tsx
  tgui/packages/tgui/package.json
  tgui/public/tgui-polyfill.min.js
  tgui/public/tgui.html
  tgui/tsconfig.json
  tgui/webpack.config.js
  tgui/yarn.lock
Labels: Type: TGUI Bundle

#17473 Explo
  code/modules/mob/living/silicon/robot/subtypes/exploration/exploration-sprites.dm
  icons/mob/robot/tallrobot/tallrobots.dmi
Labels: Type: Icon

#17455 Medical Adjustments
  code/game/objects/items/devices/defib.dm
  code/modules/mob/_modifiers/medical.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin_hud.dm
  code/modules/organs/organ_external.dm
  code/modules/reagents/reagents/_reagents.dm
  code/modules/reagents/reagents/medicine.dm
  code/modules/tgui/states/living.dm
  code/modules/tgui/states/living_adjacent.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/xenoarcheaology/tools/equipment.dm
  maps/common/common_things.dm
  vorestation.dme
Labels: Type: Bug, Type: Feature/Suggestion

#17485 Tesh alternative tail is now human compatible
  code/modules/mob/new_player/sprite_accessories_tail.dm
  icons/mob/human_races/sprite_accessories/taurs.dmi
Labels: Type: Icon

#17390 Blobform tracing & deletion
  code/modules/mob/living/carbon/human/species/station/protean/protean_blob.dm
Labels: Type: Bug

#17384 Resizing & better runechat
  code/datums/chat_message.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_ui_module.dm
  code/modules/vore/resizing/resize_vr.dm
Labels: Type: Bug, Type: Misc

#17489 Put out corpses before CPR
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: Type: Bug

#17491 one too many indents
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/xenoarcheaology/effects/electric_field.dm
Labels: Type: Bug

#17488 Nerfs the neutral trait venom bite, no longer stealthy
  code/modules/mob/living/carbon/human/species/station/station_special_abilities.dm
  code/modules/vore/eating/living_vr.dm
Labels: Type: Misc

#17504 Moves the medical kiosk in SD medbay lobby
  maps/stellar_delight/stellar_delight2.dmm
Labels: Type: Map

#17513 DMI merge driver now anchors icons for new additions
  tools/dmi/merge_driver.py
Labels: Type: Misc

#17508 Fixes broken exit-vr button
  code/game/machinery/virtual_reality/ar_console.dm
  code/game/machinery/virtual_reality/vr_console.dm
  code/modules/client/preference_setup/vore/04_resleeving.dm
  code/modules/mob/living/carbon/human/species/outsider/replicant.dm
  code/modules/mob/living/carbon/human/species/virtual_reality/avatar.dm
  code/modules/organs/subtypes/replicant.dm
Labels: Type: Bug

#17474 Adds Borg Pickup
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/vore/resizing/resize_vr.dm
Labels: Type: Feature/Suggestion

#17522 Fluff item
  code/modules/client/preference_setup/loadout/loadout_fluffitems.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#17492 Fixes stumble & flight vore
  code/game/objects/buckling.dm
  code/game/objects/structures/crates_lockers/__closets.dm
  code/modules/mob/living/carbon/human/species/station/protean/protean_powers.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/space_mouse.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/stardog.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/teppi.dm
  code/modules/mob/living/simple_mob/subtypes/vore/plants.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/simple_animal_vr.dm
  code/modules/vore/eating/slipvore_vr.dm
  code/modules/vore/eating/stumblevore_vr.dm
Labels: Type: Bug

#17527 Fixes a limb augment oversight
  code/modules/organs/internal/augment/armmounted.dm
Labels: Type: Bug

#17542 no decoys as AI
  code/modules/mob/transform_procs.dm
Labels: Type: Bug

#17539 fix samples
  code/_onclick/hud/hud.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/ui_style.dm
  code/modules/samples/samples.dm
  tgui/packages/tgui/interfaces/ICAssembly/Port.tsx
  tgui/packages/tgui/interfaces/common/Connections.tsx
Labels: Type: Bug

#17538 Sleeveless Duster
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/inventory/suit/item.dmi
  icons/inventory/suit/mob.dmi
Labels: Type: Feature/Suggestion, Type: Icon

#17554 protean whitelist
  config/alienwhitelist.txt
Labels: Type: Fluff

#17558 Projectile fix
  code/game/objects/effects/mines.dm
  code/game/objects/items/weapons/grenades/explosive.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile.dm
Labels: Type: Bug

#17502 Gives mining's vendor a machete holster
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
Labels: Type: Feature/Suggestion

#17496 Adds more tails into the game
  code/modules/client/preferences/migrations/17_tails.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_taur.dm
  icons/mob/human_races/sprite_accessories/tails.dmi
  icons/mob/human_races/sprite_accessories/taurs.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Icon

#17490 RMS Adjustments
  code/game/objects/items/weapons/RMS.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#17549 Makes bloodpump process spaceacillin properly
  code/modules/mob/_modifiers/medical.dm
  code/modules/organs/organ_external.dm
Labels: Type: Bug

#17456 Makes bodyscanners show missing internal organs
  code/game/machinery/adv_med.dm
  code/game/objects/items/weapons/storage/belt_vr.dm
  tgui/packages/tgui/interfaces/BodyScanner/BodyScannerMainOccupant.tsx
  tgui/packages/tgui/interfaces/BodyScanner/BodyScannerMainOrgansInternal.tsx
  tgui/packages/tgui/interfaces/BodyScanner/types.ts
Labels: Type: Feature/Suggestion

#17503 More PSG changes
  code/datums/supplypacks/medical.dm
  code/datums/supplypacks/misc.dm
  code/datums/supplypacks/security.dm
  code/datums/supplypacks/supply.dm
  code/game/objects/items/devices/personal_shield_generator_vr.dm
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_vr.dm
  code/modules/mob/_modifiers/modifiers_misc.dm
  code/modules/mob/_modifiers/modifiers_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits/negative.dm
  code/modules/projectiles/gun.dm
Labels: Type: Feature/Suggestion

#17481 Dullahan chestpieces + resting overlays + more decals + condensed dullahans of v1 and v2
  code/modules/mob/living/silicon/robot/sprites/_sprite_datum.dm
  code/modules/mob/living/silicon/robot/sprites/civilian.dm
  code/modules/mob/living/silicon/robot/sprites/engineering.dm
  code/modules/mob/living/silicon/robot/sprites/janitor.dm
  code/modules/mob/living/silicon/robot/sprites/medical.dm
  code/modules/mob/living/silicon/robot/sprites/mining.dm
  code/modules/mob/living/silicon/robot/sprites/science.dm
  code/modules/mob/living/silicon/robot/sprites/security.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  code/modules/mob/living/silicon/robot/subtypes/exploration/exploration-sprites.dm
  code/modules/mob/new_player/login.dm
  icons/mob/robot/dullahan/v1/Dullahanprotean64x64.dmi
  icons/mob/robot/dullahan/v1/dullahan_cargo.dmi
  icons/mob/robot/dullahan/v1/dullahan_clown.dmi
  icons/mob/robot/dullahan/v1/dullahan_eng.dmi
  icons/mob/robot/dullahan/v1/dullahan_explorer.dmi
  icons/mob/robot/dullahan/v1/dullahan_jani.dmi
  icons/mob/robot/dullahan/v1/dullahan_med.dmi
  icons/mob/robot/dullahan/v1/dullahan_mine.dmi
  icons/mob/robot/dullahan/v1/dullahan_sci.dmi
  icons/mob/robot/dullahan/v1/dullahan_sec.dmi
  icons/mob/robot/dullahan/v1/dullahan_serv.dmi
  icons/mob/robot/dullahan/v1/dullahan_syndie.dmi
  icons/mob/robot/dullahan/v3/barista.dmi
  icons/mob/robot/dullahan/v3/coffee.dmi
  icons/mob/robot/dullahan/v3/command.dmi
  icons/mob/robot/dullahan/v3/engineer.dmi
  icons/mob/robot/dullahan/v3/janitor.dmi
  icons/mob/robot/dullahan/v3/mechanist.dmi
  icons/mob/robot/dullahan/v3/medical.dmi
  icons/mob/robot/dullahan/v3/mining.dmi
  icons/mob/robot/dullahan/v3/miscinnfo/dullahan assets.dmi
  icons/mob/robot/dullahan/v3/miscinnfo/dullahan_chestpiece_template.dmi
  icons/mob/robot/dullahan/v3/ninja.dmi
  icons/mob/robot/dullahan/v3/science.dmi
  icons/mob/robot/dullahan/v3/security.dmi
  icons/mob/robot/dullahan/v3/service.dmi
  icons/mob/robot/dullahan/v3/standard.dmi
  icons/mob/robot/dullahan/v3/syndi.dmi
Labels: Type: Icon

#17545 AllergyPen and autoinjector costs
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/economy/vending_machines.dm
  code/modules/reagents/machinery/injector_maker.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/obj/syringe.dmi
Labels: Type: Icon

#17550 Removing the last sleeps in Init
  code/__defines/subsystems.dm
  code/controllers/subsystems/pois.dm
  code/game/atoms.dm
  code/game/objects/effects/landmarks_poi_vr.dm
  code/modules/mob/living/carbon/human/species/station/prommie_blob.dm
  code/modules/mob/living/carbon/human/species/station/protean/protean_blob.dm
  vorestation.dme
Labels: Type: Backend Overhaul

#17571 fix
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: Sev: 2-High, Type: Bug, FUCK

#17572 Removes more sleeps in the code
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/communicator/communicator.dm
  code/game/objects/items/devices/communicator/messaging.dm
  code/game/objects/items/devices/communicator/phone.dm
  code/game/objects/items/devices/radio/electropack.dm
  code/modules/emotes/custom_emote.dm
  code/modules/xenobio2/machinery/slime_replicator.dm
Labels: Type: Misc, Type: Backend Overhaul

#17578 fixes code that makes resting borgs show missing sprite error
  code/controllers/subsystems/robot_sprites.dm
  code/modules/mob/living/silicon/robot/sprites/_sprite_datum.dm
  code/modules/mob/living/silicon/robot/sprites/civilian.dm
  code/modules/mob/living/silicon/robot/sprites/engineering.dm
  code/modules/mob/living/silicon/robot/sprites/janitor.dm
  code/modules/mob/living/silicon/robot/sprites/medical.dm
  code/modules/mob/living/silicon/robot/sprites/mining.dm
  code/modules/mob/living/silicon/robot/sprites/science.dm
  code/modules/mob/living/silicon/robot/sprites/security.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  code/unit_tests/robot_tests.dm
  icons/mob/robot/dullahan/v1/dullahan_cargo.dmi
  icons/mob/robot/dullahan/v1/dullahan_clown.dmi
  icons/mob/robot/dullahan/v1/dullahan_eng.dmi
  icons/mob/robot/dullahan/v1/dullahan_explorer.dmi
  icons/mob/robot/dullahan/v1/dullahan_jani.dmi
  icons/mob/robot/dullahan/v1/dullahan_med.dmi
  icons/mob/robot/dullahan/v1/dullahan_mine.dmi
  icons/mob/robot/dullahan/v1/dullahan_sci.dmi
  icons/mob/robot/dullahan/v1/dullahan_sec.dmi
  icons/mob/robot/dullahan/v1/dullahan_serv.dmi
  icons/mob/robot/dullahan/v1/dullahan_syndie.dmi
  vorestation.dme
Labels: Type: Icon

#17586 Polish the microwave UI
  code/modules/asset_cache/assets/microwave.dm
  code/modules/food/kitchen/microwave.dm
  icons/obj/microwave_ui/base.png
  icons/obj/microwave_ui/microwave.gif
  tgui/packages/tgui/interfaces/Microwave.tsx
  tgui/packages/tgui/styles/interfaces/Microwave.scss
  tgui/packages/tgui/styles/main.scss
  vorestation.dme
Labels: Type: Icon

#17595 Pretty animations and UI overhaul for RIGSuits
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_tgui.dm
  icons/hud/rig_ui_slots.dmi
  tgui/packages/tgui/interfaces/RIGSuit/RIGSuitHardware.tsx
  tgui/packages/tgui/interfaces/RIGSuit/RIGSuitLoader.tsx
  tgui/packages/tgui/interfaces/RIGSuit/RIGSuitStatus.tsx
  tgui/packages/tgui/interfaces/RIGSuit/index.tsx
  tgui/packages/tgui/styles/interfaces/RIGSuit.scss
  tgui/packages/tgui/styles/main.scss
Labels: Type: Icon

#17591 Wingies per request
  code/modules/mob/new_player/sprite_accessories_ear.dm
  code/modules/mob/new_player/sprite_accessories_wing.dm
  icons/mob/human_races/sprite_accessories/ears.dmi
  icons/mob/human_races/sprite_accessories/wings64.dmi
Labels: Type: Icon

#17475 Allow engineers and chief engineers (not atmos techs) to see wire desc
  code/__defines/traits.dm
  code/datums/wires/wires.dm
  code/game/jobs/job/engineering.dm
Labels: Type: Feature/Suggestion

#17602 TEG & Disposal Bin UI
  tgui/packages/tgui/interfaces/DisposalBin.tsx
  tgui/packages/tgui/interfaces/TEGenerator.tsx
Labels: Type: Feature/Suggestion, Type: Misc

#17559 add Xenoarch access to the SD's EVA shuttle
  maps/stellar_delight/stellar_delight1.dmm
Labels: Type: Misc, Type: Map

#17603 Adds colour selection to earrings
  code/modules/client/preference_setup/loadout/loadout_ears.dm
Labels: Type: Feature/Suggestion

#17582 dullahan taurs
  code/modules/mob/living/silicon/robot/sprites/civilian.dm
  code/modules/mob/living/silicon/robot/sprites/command.dm
  code/modules/mob/living/silicon/robot/sprites/engineering.dm
  code/modules/mob/living/silicon/robot/sprites/janitor.dm
  code/modules/mob/living/silicon/robot/sprites/medical.dm
  code/modules/mob/living/silicon/robot/sprites/mining.dm
  code/modules/mob/living/silicon/robot/sprites/science.dm
  code/modules/mob/living/silicon/robot/sprites/security.dm
  code/modules/mob/living/silicon/robot/sprites/standard.dm
  icons/mob/robot/dullahan/dullataurs/dullataur.dmi
Labels: Type: Icon

#17581 CMSS Lobby Screen
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystems/tgui.dm
  code/controllers/subsystems/ticker.dm
  code/datums/managed_browsers/feedback_form.dm
  code/game/jobs/job_controller.dm
  code/modules/asset_cache/assets/lobby.dm
  code/modules/clothing/gloves/miscellaneous_vr.dm
  code/modules/mob/login.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/new_player/lobby_browser.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/logout.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/tgui/tgui.dm
  html/lobby/loading.gif
  interface/skin.dmf
  sound/lobby/lobby_load.ogg
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/packages/tgui/interfaces/LobbyMenu/LobbyButtons.tsx
  tgui/packages/tgui/interfaces/LobbyMenu/LobbyElements.tsx
  tgui/packages/tgui/interfaces/LobbyMenu/constants.ts
  tgui/packages/tgui/interfaces/LobbyMenu/index.tsx
  tgui/packages/tgui/interfaces/LobbyMenu/types.ts
  tgui/packages/tgui/interfaces/MobSpawner.tsx
  tgui/packages/tgui/layouts/Window.tsx
  tgui/packages/tgui/styles/interfaces/LobbyMenu.scss
  tgui/packages/tgui/styles/layouts/Window.scss
  tgui/packages/tgui/styles/main.scss
  vorestation.dme
Labels: Type: Sound

#17607 Update BeakerContents.tsx
  tgui/packages/tgui/interfaces/common/BeakerContents.tsx
Labels: Type: Bug

#17610 sprite fix for jani dullahan taur (wrong rest sprite)
  icons/mob/robot/dullahan/dullataurs/dullataur.dmi
Labels: Type: Icon

#17584 Firefighter Alt title for atmos tech + AR icon
  code/__defines/jobs.dm
  code/game/jobs/job/engineering.dm
  icons/mob/hud.dmi
Labels: Type: Icon

#17497 Multiple Air Alarm Support [DRAFT]
  code/datums/wires/alarm.dm
  code/game/area/areas.dm
  code/game/machinery/air_alarm.dm
  icons/obj/monitors_vr.dmi
  icons/obj/wall_machines_angled.dmi
Labels: Type: Icon

#17623 Convert all of the lobby gifs to either png or webp
  archive/maps/cynosure/cynosure_defines.dm
  archive/maps/example/example_defines.dm
  archive/maps/northern_star/northern_star_defines.dm
  archive/maps/southern_cross/southern_cross_defines.dm
  code/modules/asset_cache/assets/lobby.dm
  html/lobby/above3b.gif
  html/lobby/above3b.png
  html/lobby/endo.gif
  html/lobby/endo.png
  html/lobby/gateway.gif
  html/lobby/gateway.png
  html/lobby/intothedark.gif
  html/lobby/intothedark.png
  html/lobby/logo1.gif
  html/lobby/logo1.png
  html/lobby/logo2.gif
  html/lobby/logo2.png
  html/lobby/mockingjay00.gif
  html/lobby/mockingjay00.webp
  html/lobby/rp2.gif
  html/lobby/rp2.png
  html/lobby/tether.gif
  html/lobby/tether.png
  html/lobby/tether2_dog.gif
  html/lobby/tether2_dog.png
  html/lobby/tether2_love.gif
  html/lobby/tether2_love.png
  html/lobby/tether2_night.gif
  html/lobby/tether2_night.png
  html/lobby/tether_future.gif
  html/lobby/tether_future.png
  html/lobby/tether_night.gif
  html/lobby/tether_night.png
  html/lobby/title.gif
  html/lobby/title.png
  html/lobby/title_old.gif
  html/lobby/title_old.webp
  html/lobby/virgo3C.gif
  html/lobby/virgo3C.png
  html/lobby/youcanttaketheskyfromme.gif
  html/lobby/youcanttaketheskyfromme.png
  maps/groundbase/groundbase_defines.dm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
  maps/virgo_minitest/virgo_minitest_defines.dm
  maps/~map_system/maps.dm
Labels: Type: Icon

#17628 Fixes migration issue
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: Sev: 3-Moderate, Type: Bug, FUCK

#17629 Hotfix
  archive/maps/cynosure/cynosure_defines.dm
  archive/maps/example/example_defines.dm
  archive/maps/northern_star/northern_star_defines.dm
  archive/maps/southern_cross/southern_cross_defines.dm
  code/modules/asset_cache/assets/lobby.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  html/changelogs/AutoChangeLog-pr-17497.yml
  html/changelogs/AutoChangeLog-pr-17612.yml
  html/changelogs/AutoChangeLog-pr-17614.yml
  html/changelogs/AutoChangeLog-pr-17615.yml
  html/changelogs/AutoChangeLog-pr-17617.yml
  html/changelogs/AutoChangeLog-pr-17621.yml
  html/changelogs/AutoChangeLog-pr-17623.yml
  html/changelogs/AutoChangeLog-pr-17628.yml
  html/changelogs/archive/2025-04.yml
  html/lobby/above3b.gif
  html/lobby/above3b.png
  html/lobby/endo.gif
  html/lobby/endo.png
  html/lobby/gateway.gif
  html/lobby/gateway.png
  html/lobby/intothedark.gif
  html/lobby/intothedark.png
  html/lobby/logo1.gif
  html/lobby/logo1.png
  html/lobby/logo2.gif
  html/lobby/logo2.png
  html/lobby/mockingjay00.gif
  html/lobby/mockingjay00.webp
  html/lobby/rp2.gif
  html/lobby/rp2.png
  html/lobby/tether.gif
  html/lobby/tether.png
  html/lobby/tether2_dog.gif
  html/lobby/tether2_dog.png
  html/lobby/tether2_love.gif
  html/lobby/tether2_love.png
  html/lobby/tether2_night.gif
  html/lobby/tether2_night.png
  html/lobby/tether_future.gif
  html/lobby/tether_future.png
  html/lobby/tether_night.gif
  html/lobby/tether_night.png
  html/lobby/title.gif
  html/lobby/title.png
  html/lobby/title_old.gif
  html/lobby/title_old.webp
  html/lobby/virgo3C.gif
  html/lobby/virgo3C.png
  html/lobby/youcanttaketheskyfromme.gif
  html/lobby/youcanttaketheskyfromme.png
  maps/groundbase/groundbase_defines.dm
  maps/stellar_delight/stellar_delight_defines.dm
  maps/tether/tether_defines.dm
  maps/virgo_minitest/virgo_minitest_defines.dm
  maps/~map_system/maps.dm
Labels: Type: Icon

#17569 Makes specific footwear use barefoot stepping sounds (CLOTH FOOTWRAPS)
  code/datums/elements/footstep.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
Labels: Type: Feature/Suggestion

#17624 Skeuomorphic Wires UI
  tgui/packages/tgui/assets/wires/cursed_screw.svg
  tgui/packages/tgui/assets/wires/multitool.svg
  tgui/packages/tgui/assets/wires/signaller.svg
  tgui/packages/tgui/assets/wires/signaller_outline.svg
  tgui/packages/tgui/assets/wires/terminal.svg
  tgui/packages/tgui/assets/wires/wirecutters.svg
  tgui/packages/tgui/interfaces/Wires.tsx
  tgui/packages/tgui/interfaces/WiresAirlock.tsx
  tgui/packages/tgui/styles/interfaces/Wires.scss
  tgui/packages/tgui/styles/main.scss
Labels: Type: Feature/Suggestion

#17643 Makes self surgery not work when var is set to 0
  code/_helpers/unsorted.dm
Labels: Type: Bug
