Repository VOREStation/VOREStation, pull requests merged in 2025-01, with the labels that each got.

#16787 ERT borg additions and sprite fixes
  code/modules/mob/living/silicon/robot/sprites/combat.dm
  icons/mob/robot/combat_large.dmi
  icons/mob/robot/lost_large.dmi
  icons/mob/robot/syndie_large.dmi
Labels: Type: Icon

#16804 SCA whitelist approval
  config/alienwhitelist.txt
Labels: Type: Fluff

#16797 Improved/Buildable Fighter Exosuits
  code/__defines/exosuit_fab.dm
  code/game/mecha/combat/fighter.dm
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/mech_prosthetics.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
  code/game/objects/items/weapons/circuitboards/mecha.dm
  code/modules/research/designs/circuits/circuits.dm
  code/modules/research/mechfab_designs.dm
  icons/mecha/fighters_construct64x64.dmi
  icons/mecha/fighters_construction64x64.dmi
  sound/mecha/fighter/engine_mid_boost_01.ogg
  sound/mecha/fighter/engine_mid_fighter_move.ogg
Labels: Type: Icon, Type: Sound

#16803 Revamps limb-loss code
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living_defense.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/standard.dm
Labels: Type: Bug, Type: Feature/Suggestion

#16813 diff up port leashes
  code/game/objects/items/leash.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/vore/eating/living_vr.dm
  icons/obj/leash.dmi
  vorestation.dme
Labels: Type: Icon

#16840 Mirror Mirror On The Wall...
  maps/groundbase/gb-z1.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: Type: Map

#16887 Fluff Item - Memory Crown
  ATTRIBUTIONS.md
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/vore/custom_clothes_vr.dmi
Labels: Type: Fluff, Type: Icon

#16910 Adds Catborg, Kittyborgs, and Gryphborg
  ATTRIBUTIONS.md
  code/controllers/subsystems/robot_sprites.dm
  code/modules/mob/living/silicon/robot/sprites/catborgs.dm
  code/modules/mob/living/silicon/robot/sprites/fluff.dm
  icons/mob/robot/catborgs/Credit.txt
  icons/mob/robot/catborgs/custom/catborg_cameron.dmi
  icons/mob/robot/catborgs/custom/catborg_matica_custom.dmi
  icons/mob/robot/catborgs/departmental/large/catborg_cargo.dmi
  icons/mob/robot/catborgs/departmental/large/catborg_engineering.dmi
  icons/mob/robot/catborgs/departmental/large/catborg_medical.dmi
  icons/mob/robot/catborgs/departmental/large/catborg_science.dmi
  icons/mob/robot/catborgs/departmental/large/catborg_security.dmi
  icons/mob/robot/catborgs/departmental/large/catborg_service.dmi
  icons/mob/robot/catborgs/departmental/small/kittyborg_cargo.dmi
  icons/mob/robot/catborgs/departmental/small/kittyborg_engi.dmi
  icons/mob/robot/catborgs/departmental/small/kittyborg_jani.dmi
  icons/mob/robot/catborgs/departmental/small/kittyborg_medicat.dmi
  icons/mob/robot/catborgs/departmental/small/kittyborg_sci.dmi
  icons/mob/robot/catborgs/departmental/small/kittyborg_sec.dmi
  icons/mob/robot/catborgs/departmental/small/kittyborg_service.dmi
  icons/mob/robot/resources/drakeborg/Drakeborg-Licensing.txt
  icons/mob/robot/resources/drakeborg/drakeborg_vr.dmi
  vorestation.dme
Labels: Type: Fluff, Type: Feature/Suggestion, Type: Icon

#16811 Python and ubuntu version up
  .github/workflows/ci.yml
  Dockerfile
  dependencies.sh
  tools/requirements.txt
Labels: Type: Icon, Type: .git or .github

#16928 ports topic and click limiting from tg
  code/controllers/configuration/entries/general.dm
  code/modules/client/client defines.dm
  code/modules/client/client procs.dm
  config/example/config.txt
Labels: Task: Needs Testing

#16958 some destroy cleanup
  code/datums/components/_component.dm
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/material/chainsaw.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/blob.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
Labels: Type: Misc

#16977 fixes resting belly borg sprites for sec and medical catborgs
  icons/mob/robot/catborgs/departmental/large/catborg_medical.dmi
  icons/mob/robot/catborgs/departmental/large/catborg_security.dmi
Labels: Type: Icon
