Repository VOREStation/VOREStation, pull requests merged in 2025-09, with the labels that each got.

#18397 Change character setup default to odd scaling
  code/modules/client/preference_setup/general/09_size.dm
Labels: Config Update

#18399 fixes water movement not being applied properly
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Fix

#18402 typing
  tgui/packages/tgui/interfaces/Changelog.tsx
  tgui/packages/tgui/interfaces/ColorPickerModal.tsx
  tgui/packages/tgui/interfaces/ICAssembly/Plane.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/types.ts
  tgui/packages/tgui/interfaces/common/ComplexModal.tsx
Labels: UI, Code Improvement

#18404 fix ghost pods
  code/game/objects/structures/ghost_pods/ghost_pods.dm
Labels: Fix

#18408 fix missing icon
  code/modules/clothing/glasses/hud.dm
Labels: Fix

#18405 Impliment COMSIG_MOVABLE_CROSS and COMSIG_MOVABLE_CROSS_OVER signals
  code/__defines/dcs/signals.dm
  code/game/atoms_movable.dm
Labels: Code Improvement

#18327 Temperature adapt tweaks
  code/modules/mob/living/carbon/human/species/station/traits/neutral.dm
Labels: Feature, Removal, Balance

#18429 quick import follow up
  tgui/packages/tgui/interfaces/VorePanelExport/VorePanelExportDownload.tsx
  tgui/packages/tgui/interfaces/VorePanelImport/ImportElements/CharacterSelector.tsx
  tgui/packages/tgui/interfaces/VorePanelImport/constants.ts
  tgui/packages/tgui/interfaces/VorePanelImport/function.ts
  tgui/packages/tgui/interfaces/VorePanelImport/index.tsx
  tgui/packages/tgui/interfaces/VorePanelImport/types.ts
Labels: UI

#18391 Big fucking shelter capsule update
  code/__defines/misc.dm
  code/game/area/Space Station 13 areas.dm
  code/modules/holomap/holomap_area.dm
  code/modules/maint_recycler/code/vendor_datums/entries/hangout_entries.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  code/modules/mining/ore_redemption_machine/survey_vendor.dm
  code/modules/mining/shelter_atoms_vr.dm
  code/modules/mining/shelters_vr.dm
  code/modules/mob/_modifiers/horror.dm
  code/modules/power/lighting.dm
  code/modules/research/tg/designs/misc_designs.dm
  code/modules/research/tg/techwebs/nodes/research_nodes.dm
  maps/common/common_areas.dm
  maps/stellar_delight/stellar_delight_areas.dm
  maps/submaps/shelters/randomshelters/shelter_blacksmith.dmm
  maps/submaps/shelters/randomshelters/shelter_candlelit_dinner.dmm
  maps/submaps/shelters/randomshelters/shelter_christmas.dmm
  maps/submaps/shelters/randomshelters/shelter_dangerous_pool.dmm
  maps/submaps/shelters/randomshelters/shelter_gallery.dmm
  maps/submaps/shelters/randomshelters/shelter_garden.dmm
  maps/submaps/shelters/randomshelters/shelter_living_room.dmm
  maps/submaps/shelters/randomshelters/shelter_methlab.dmm
  maps/submaps/shelters/randomshelters/shelter_mimic_hell.dmm
  maps/submaps/shelters/randomshelters/shelter_nerd_dungeon_evil.dmm
  maps/submaps/shelters/randomshelters/shelter_nerd_dungeon_good.dmm
  maps/submaps/shelters/randomshelters/shelter_off_color.dmm
  maps/submaps/shelters/randomshelters/shelter_pizza.dmm
  maps/submaps/shelters/randomshelters/shelter_tiny_space.dmm
  maps/submaps/shelters/shelter_3.dmm
  maps/submaps/shelters/shelter_4.dmm
  maps/submaps/shelters/shelter_cafe.dmm
  maps/submaps/shelters/shelter_loss_1.dmm
  maps/submaps/shelters/shelter_loss_2.dmm
  maps/submaps/shelters/shelter_loss_3.dmm
  maps/submaps/shelters/shelter_loss_4.dmm
  maps/submaps/shelters/shelter_recroom.dmm
  maps/submaps/shelters/shelter_sauna.dmm
  maps/submaps/shelters/shelter_tesla.dmm
  maps/tether/tether_areas.dm
Labels: Feature, Map Edit, Balance

#18428 Species Stats Visible During Creation
  code/modules/client/preference_setup/general/01_basic.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/SubtabInfo.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/data.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/functions.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/stats/SpeciesSpaceStats.tsx
Labels: Feature, UI

#18433 Posing buffs
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  icons/mob/status_indicators.dmi
  vorestation.dme
Labels: Feature, Sprites, Quality of Life

#18401 Security Backpack Iconswap
  icons/inventory/back/item.dmi
  icons/inventory/back/mob.dmi
  icons/mob/items/lefthand_storage.dmi
  icons/mob/items/righthand_storage.dmi
  icons/obj/clothing/backpack.dmi
Labels: Sprites

#18409 Taur Coat Fix
  code/modules/clothing/clothing.dm
Labels: Fix

#18407 Techweb SMES Coils (& small tweaks)
  code/modules/power/smes_construction.dm
  code/modules/research/tg/designs/stock_part_designs.dm
  code/modules/research/tg/designs/tool_designs.dm
  code/modules/research/tg/techwebs/nodes/engi_nodes.dm
  icons/obj/stock_parts.dmi
Labels: Feature, Sprites, Quality of Life

#18441 proper typing
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/SubtabInfo.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/SubtabSpecies.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/body/Ears.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/body/EarsSecondary.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/body/Facial.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/body/Hair.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/body/Tail.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/body/Wings.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/data.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/stats/SpeciesSpaceStats.tsx
Labels: UI, Fix

#18444 Uses balloon alerts for mining messages instead of logged ones
  code/modules/mining/mine_turfs.dm
Labels: Quality of Life, Logging

#18436 Incredibly minor capsule fixes
  code/modules/mining/shelter_atoms_vr.dm
  maps/submaps/shelters/shelter_sauna.dmm
Labels: Map Edit

#18439 clean up flags
  code/__defines/admin_verb.dm
  code/controllers/admin.dm
  code/controllers/master.dm
  code/controllers/subsystems/timer.dm
  code/datums/components/antags/changeling/powers/armor.dm
  code/datums/outfits/jobs/special_vr.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/station/loyalist.dm
  code/game/atom/_atom.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/ledges.dm
  code/game/objects/structures/low_wall.dm
  code/game/objects/structures/window.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_vr.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/fps.dm
  code/modules/asset_cache/assets/tgfont.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/food/food/cans.dm
  code/modules/food/food/drinks/bottle.dm
  code/modules/food/food/snacks.dm
  code/modules/food/glass/bottle.dm
  code/modules/food/kitchen/microwave.dm
  code/modules/materials/materials/_materials.dm
  code/modules/materials/sheets/_sheets.dm
  code/modules/mob/_modifiers/modifiers.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/station_vr.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/mob_grab.dm
  code/modules/reagents/reagent_containers/unidentified_hypospray.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/xgm/xgm_gas_data.dm
  maps/common/common_areas.dm
  maps/redgate/fantasy_items.dm
  maps/stellar_delight/stellar_delight_areas.dm
  maps/tether/tether_areas.dm
  maps/~map_system/maps.dm
  tgui/packages/tgui-dev-server/link/retrace.ts
  tgui/packages/tgui/sanitize.ts
  tgui/packages/tgui/stories/ByondUi.stories.tsx
Labels: Map Edit, UI, Code Improvement

#18440 Rotatable Atom Element
  code/ATMOSPHERICS/components/binary_devices/circulator.dm
  code/ATMOSPHERICS/components/binary_devices/pipeturbine.dm
  code/datums/elements/rotatable.dm
  code/game/machinery/frame.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/electricchair.dm
  code/game/objects/structures/gravemarker.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/modules/assembly/infrared.dm
  code/modules/economy/vending.dm
  code/modules/mining/drilling/drill.dm
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
  code/modules/power/generator.dm
  code/modules/power/lighting_vr.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/reagents/machinery/dispenser/dispenser2.dm
  code/modules/reagents/machinery/dispenser/reagent_tank.dm
  code/modules/recycling/disposal-construction.dm
  code/modules/refinery/core/industrial_reagent_machines.dm
  code/modules/shieldgen/shield_capacitor.dm
  code/modules/vore/smoleworld/smoleworld_vr.dm
  code/modules/xenoarcheaology/tools/suspension_generator.dm
  vorestation.dme
Labels: Feature, Refactor, Tools

#18454 Moves destroy_on_drop to TG style and adds signal
  code/__defines/flags.dm
  code/_onclick/telekinesis.dm
  code/datums/components/antags/changeling/powers/armblade.dm
  code/datums/components/antags/changeling/powers/armor.dm
  code/datums/components/antags/changeling/powers/bioelectrogenesis.dm
  code/datums/components/antags/changeling/powers/electric_lockpick.dm
  code/game/gamemodes/technomancer/spell_objs.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/mop_deploy.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/stripping.dm
  code/modules/mob/mob_grab.dm
  code/modules/organs/internal/augment.dm
Labels: Feature, Refactor, Code Improvement

#18456 Small Ship Names Update
  code/modules/busy_space/organizations.dm
Labels: Grammar and Formatting, Code Improvement

#18488 Adds card searching/retrieval to card decks
  code/modules/games/cards.dm
Labels: Quality of Life

#18491 sleeper uses forcemove
  code/game/machinery/Sleeper.dm
Labels: Refactor

#18469 Bird up. Added 3 cawing emotes for the crows lover
  code/modules/emotes/definitions/audible.dm
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/emotes/caw1.ogg
  sound/voice/emotes/caw2.ogg
  sound/voice/emotes/caw_multiple.ogg
Labels: Sound

#18473 jetpacks in zero G should hold you up if you have damaged legs
  code/modules/mob/living/carbon/human/human_organs.dm
Labels: Feature

#18470 Gives internal organs passive regeneration
  code/modules/organs/internal/_organ_internal.dm
Labels: Quality of Life

#18465 Add an implantable health scanner
  code/datums/uplink/implants.dm
  code/game/objects/items/weapons/implants/implantaugment.dm
  code/game/objects/items/weapons/implants/implantcase.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/organs/internal/augment/bio.dm
  code/modules/research/tg/designs/implant_designs.dm
Labels: Feature, Fix

#18474 barricade breakthrough
  code/game/objects/structures/barricades.dm
  code/modules/ai/ai_holder_combat.dm
Labels: Fix

#18468 Vomit fixes
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living.dm
Labels: Fix, Code Improvement

#18509 Negative trait point changes.
  code/modules/mob/living/carbon/human/species/station/traits/negative.dm
  code/modules/mob/living/carbon/human/species/station/traits/negative_genes.dm
Labels: Balance

#18306 Adds new sprites for some guns, consolidates _vr file [IDB IGNORE]
  archive/icons/obj/gun.dmi
  code/modules/mob/living/silicon/robot/dogborg/dog_weapons.dm
  code/modules/projectiles/guns/energy/bsharpoon_vr.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator_vr.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/netgun_vr.dm
  code/modules/projectiles/guns/energy/particle.dm
  code/modules/projectiles/guns/energy/special_vr.dm
  code/modules/projectiles/guns/projectile/automatic_vr.dm
  code/modules/projectiles/guns/projectile/shotgun_vr.dm
  code/modules/vore/resizing/sizegun_slow_vr.dm
  code/modules/vore/resizing/sizegun_vr.dm
  code/modules/xenobio/items/weapons_vr.dm
  icons/obj/gun.dmi
  icons/obj/gun_vr.dmi
  maps/redgate/fantasy_items.dm
Labels: Sprites, Map Edit, Code Improvement

#18420 Fluff icon fixes [IDB IGNORE]
  archive/icons/vore/custom_clothes_vr.dmi
  code/modules/clothing/accessories/clothing.dm
  code/modules/mob/living/carbon/human/species/station/traits/weaver_objs.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/inventory/eyes/mob.dmi
  icons/vore/custom_clothes_item.dmi
  icons/vore/custom_clothes_mob.dmi
  icons/vore/custom_clothes_tesh_vr.dmi
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_onmob_vr.dmi
Labels: Sprites, Fix

#18527 Disposal Atom Flushed Signal
  code/__defines/dcs/signals.dm
  code/modules/recycling/disposal_holder.dm
Labels: Code Improvement

#18522 Disposal sorters use defines instead of magic numbers
  code/modules/recycling/disposal_junctions.dm
Labels: Code Improvement

#18524 Santabag is a bag and no longer turns invisible
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/bags.dm
Labels: Fix

#18526 slug slime does not stack forever
  code/modules/mob/living/simple_mob/subtypes/vore/slug.dm
Labels: Fix

#18528 Transit Tubes Use Forcemove
  code/game/objects/structures/transit_tubes.dm
Labels: Code Improvement

#18518 prevent vr bodyscanner kiosk from scanning
  code/game/machinery/medical_kiosk.dm
Labels: Fix

#18520 Cortical borers should not touch anything while within a host
  code/modules/mob/living/simple_mob/subtypes/animal/borer/borer.dm
Labels: Fix

#18493 [Fluff Item] Modifies Holly's custom capsule shelter
  maps/submaps/shelters/shelter_h.dmm
Labels: Map Edit

#18515 Alphabetically sorts hanner/lleil beast form list
  code/modules/mob/living/carbon/human/species/lleill/lleill_abilities.dm
Labels: Code Improvement

#18517 tracking implants properly fizzle on mob death
  code/game/objects/items/weapons/implants/implant.dm
Labels: Fix

#18529 Maglev track tweaks
  maps/common/common_things.dm
Labels: Feature, Map Edit, Fix

#18508 Cyborg gambling buffs
  code/_helpers/global_lists_vr.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  sound/effects/diceroll_robotic.ogg
Labels: Feature, Sound, Balance

#18492 Adds Coroner as an alternative title for medical doctors
  code/__defines/jobs.dm
  code/game/jobs/job/medical.dm
Labels: Feature

#18523 Dragon Plushie Upport
  code/datums/supplypacks/misc.dm
  code/game/machinery/clawmachine.dm
  code/game/objects/items/toys/toys_vr.dm
  code/game/objects/random/misc.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/economy/vending_machines.dm
  code/modules/random_map/drop/drop_types.dm
  icons/obj/toy.dmi
Labels: Feature, Sprites

#18513 moves law outputs to a block
  code/_helpers/roundend.dm
  code/datums/ai_laws.dm
  code/datums/outfits/tournament.dm
  code/game/objects/items/soap.dm
  code/modules/admin/modify_robot.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/materials/sheets/_sheets.dm
  code/modules/materials/sheets/organic/wood.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/subtypes/lost_drone.dm
  code/modules/tgui/modules/law_manager.dm
Labels: UI, Quality of Life

#18533 Adds logging to bear traps
  code/game/objects/items/weapons/traps.dm
Labels: Administration, Logging

#18544 Makes borg shocker not look active when it's deactivated
  code/modules/projectiles/guns/energy/cyborg.dm
Labels: Fix

#18542 Even STRICTER reaction unittest
  code/__defines/dcs/signals.dm
  code/modules/reagents/holder/holder.dm
  code/modules/reagents/reactions/instant/drinks.dm
  code/modules/reagents/reactions/instant/food.dm
  code/modules/reagents/reactions/instant/instant.dm
  code/modules/reagents/reactions/instant/virology.dm
  code/modules/unit_tests/clothing_tests.dm
  code/modules/unit_tests/reagent_tests.dm
Labels: Code Improvement

#18538 Gives the borg service fabricator all radial menus
  code/game/objects/items/weapons/RSF.dm
Labels: Quality of Life

#18549 dependency up
  .tgs.yml
  dependencies.sh
  tgui/bun.lock
  tgui/package.json
  tgui/packages/tgfont/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui/package.json
  tools/build/bun.lock
  tools/build/package.json
Labels: UI, Tools

#18499 Tethered Item Component
  code/_onclick/hud/action/types/item.dm
  code/datums/components/tethered_item.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/defib.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/radio/radiopack.dm
  code/modules/client/stored_item.dm
  maps/groundbase/groundbase_telecomm_defs.dm
  maps/stellar_delight/stellar_delight_telecomm_defs.dm
  vorestation.dme
Labels: Map Edit, Code Improvement

#18551 Plant and Replicant sex fix
  code/modules/mob/living/carbon/human/species/outsider/replicant.dm
  code/modules/mob/living/carbon/human/species/station/alraune.dm
Labels: Fix

#18557 a few more changes related to map
  code/__defines/turfs.dm
  code/game/objects/micro_structures.dm
  code/game/turfs/simulated/nanogoop.dm
  code/modules/shieldgen/shield_gen_external.dm
Labels: Fix

#18561 Luckier 7 event map content + Card deck init improvement/bugfixing
  code/__defines/sound.dm
  code/modules/casino/casino_cards.dm
  code/modules/games/cards.dm
  maps/gateway_vr/lucky_7.dm
  sound/ambience/casino/casino_1.ogg
  sound/ambience/casino/casino_2.ogg
  sound/ambience/casino/casino_3.ogg
Labels: Map Edit, Sound

#18555 fix vorepanel button for AI
  code/_onclick/hud/ai.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/outfits/jobs/job.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/mob/living/living.dm
  code/modules/vore/eating/living_vr.dm
  icons/mob/screen_ai.dmi
Labels: Sprites, Fix

#18563 Strips byondUI procs not needed for TGUI interaction
  code/ATMOSPHERICS/components/binary_devices/algae_generator_vr.dm
  code/game/machinery/atmoalter/area_atmos_computer.dm
  code/game/machinery/biogenerator.dm
  code/game/machinery/bioprinter.dm
  code/game/machinery/cloning.dm
  code/game/machinery/partslathe_vr.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/suit_storage/suit_cycler.dm
  code/game/machinery/suit_storage/suit_storage.dm
  code/game/machinery/telecomms/logbrowser.dm
  code/game/machinery/telecomms/telemonitor.dm
  code/game/objects/stumble_into_vr.dm
  code/modules/mining/machinery/machine_processing.dm
  code/modules/mining/machinery/machine_stacking.dm
  code/modules/power/port_gen.dm
  code/modules/reagents/machinery/alembic.dm
  code/modules/reagents/machinery/grinder.dm
  code/modules/reagents/machinery/injector_maker.dm
  code/modules/resleeving/machines.dm
Labels: Code Improvement

#18565 Fixes invisibility potions
  code/__defines/_reagents.dm
  code/modules/hydroponics/grown.dm
  code/modules/mob/living/carbon/human/species/lleill/lleill_items.dm
Labels: Fix, Code Improvement

#18573 ports and fixes TG's keycombo input
  code/modules/tgui_input/keycombo.dm
  tgui/packages/tgui/interfaces/KeyComboModal.tsx
  vorestation.dme
Labels: UI, Code Improvement
