Repository VOREStation/VOREStation, pull requests merged in 2025-07, with the labels that each got.

#17868 Unglogs Soap and makes it work similar to how it used to
  code/__defines/_reagents.dm
  code/game/objects/items/soap.dm
  code/game/objects/structures/watercloset.dm
  code/modules/reagents/reactions/instant/instant.dm
  code/modules/reagents/reagents/other.dm
  icons/obj/soap.dmi
Labels: Type: Icon

#17956 Antag examine fix
  code/modules/examine/examine.dm
Labels: Type: Bug

#17966 Minor fixes
  code/__defines/shadekin.dm
  code/datums/components/species/shadekin/helpers/comp_helpers.dm
  code/datums/components/species/shadekin/powers/create_shade.dm
  code/datums/components/species/shadekin/powers/dark_maw.dm
  code/datums/components/species/shadekin/powers/dark_respite.dm
  code/datums/components/species/shadekin/powers/dark_tunnel/dark_tunneling.dm
  code/datums/components/species/shadekin/powers/phase_shift.dm
  code/datums/components/species/shadekin/powers/regenerate_other.dm
  code/datums/components/species/shadekin/shadekin.dm
  code/game/area/areas.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/portals.dm
  code/game/objects/structures/girders.dm
  code/modules/client/preferences/types/character/general/06_special.dm
  code/modules/mining/ore_redemption_machine/equipment_vendor.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin_abilities.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/robot/robot_simple_items.dm
  code/modules/mob/living/simple_mob/subtypes/vore/shadekin/ability_objects.dm
  code/modules/mob/living/simple_mob/subtypes/vore/shadekin/shadekin.dm
  tgui/packages/tgui/interfaces/ShadekinConfig.tsx
  vorestation.dme
Labels: Type: Bug

#17986 use correct list when changing voices using the verb
  code/modules/mob/living/living_vr.dm
Labels: Type: Bug

#17984 Protolathe and qdeleted failsafe
  code/modules/mob/living/silicon/robot/robot_simple_items.dm
  code/modules/research/protolathe.dm
Labels: Type: Bug

#17962 RS Pack try 2
  .github/workflows/ci.yml
  .vscode/settings.json
  dependencies.sh
  tgui/.swcrc
  tgui/bun.lock
  tgui/package.json
  tgui/packages/tgui-dev-server/index.ts
  tgui/packages/tgui-dev-server/webpack.ts
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/package.json
  tgui/rspack.config-dev.ts
  tgui/rspack.config.ts
  tgui/webpack.config.js
  tools/build/build.ts
  tools/build/package.json
Labels: Type: .git or .github, Test Merge Candidate

#17961 up ports a bunch of TGS commands
  code/__defines/admin.dm
  code/_onclick/hud/alert.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystems/inactivity.dm
  code/datums/chat_message.dm
  code/datums/datacore.dm
  code/game/objects/items/devices/scanners/guide.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/smite.dm
  code/modules/client/preference_setup/loadout/02_loadout.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/logout.dm
  code/modules/tgs_commands/vorestation.dm
  code/modules/tgui/states/ticket.dm
  code/modules/tickets/procs.dm
  code/modules/tickets/tickets.dm
  code/modules/tickets/tickets_player_ui.dm
  code/modules/tickets/tickets_ui.dm
  icons/logo.dmi
  tgui/packages/tgui/interfaces/Ticket.tsx
  tgui/packages/tgui/interfaces/TicketChat.tsx
  tgui/packages/tgui/interfaces/TicketsPanel.tsx
  tgui/packages/tgui/interfaces/VorePanel/VorePanelMainTabs/VoreSoulcatcher.tsx
  tgui/packages/tgui/styles/interfaces/TicketPanel.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/abstract.scss
  tools/build/build.ts
  tools/ci/build.ps1
Labels: Type: Icon, Test Merge Candidate, Test Merged

#17994 Makes bodystyle count towards whitelisted items
  code/modules/client/preference_setup/loadout/02_loadout.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: Type: Bug

#17993 Few fixes
  code/datums/components/antags/changeling/changeling.dm
  code/datums/components/antags/changeling/powers/extract_dna_sting.dm
  code/datums/components/antags/changeling/powers/transform_sting.dm
Labels: Type: Bug

#17998 better teshari labcoat fix
  code/modules/clothing/suits/aliens/teshari.dm
  icons/inventory/suit/item_teshari.dmi
Labels: Type: Bug, Type: Icon

#17999 Update to custom collar sprite
  icons/vore/custom_remote_scene_tools.dmi
Labels: Type: Icon

#18008 tgui default background color port
  code/controllers/subsystems/tgui.dm
  code/modules/reagents/reagent_containers/spray.dm
  html/statbrowser.css
  html/statbrowser.js
  tgui/public/tgui.html
Labels: Type: TGUI Bundle

#17903 Makes robotic limbs all equally weak
  code/modules/organs/organ_external.dm
Labels: Type: Feature/Suggestion

#18024 Whitelist Update!
  config/alienwhitelist.txt
Labels: Type: Fluff

#18028 bunny taur sprite fix & misc fixes
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_taur.dm
  icons/mob/human_races/sprite_accessories/taurs.dmi
  icons/mob/vore/taurs_loaf.dmi
  icons/rogue-star/tails_64x32_rs.dmi
Labels: Type: Icon

#18014 Changeling fix & Floortile Placement
  code/datums/components/antags/changeling/powers/fleshmend.dm
  code/datums/components/antags/changeling/powers/lesser_form.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/modules/examine/descriptions/turfs.dm
  code/modules/tickets/procs.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/effects/resurrect.dm
Labels: Type: Feature/Suggestion

#17829 Adds Ninja Module to syndicate borgs.
  code/__defines/dcs/signals.dm
  code/__defines/dcs/signals/signals_mob/signals_mob_main.dm
  code/_helpers/global_lists.dm
  code/_onclick/cyborg.dm
  code/game/objects/items/devices/ai_detector.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/silicon/robot/cloak.dm
  code/modules/mob/living/silicon/robot/robot_modules/syndicate.dm
  code/modules/mob/living/silicon/robot/robot_simple_items.dm
  code/modules/mob/living/silicon/robot/sprites/gooborgs.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  code/modules/mob/living/silicon/robot/subtypes/syndicate.dm
  icons/mob/robot/dullahan/dullataurs/dullataur.dmi
  icons/mob/robot/dullahan/v3/ninja.dmi
  icons/mob/robot/gooborgs/custom/gooborg_ninja.dmi
  icons/mob/robot/ninja.dmi
  icons/mob/robot/ninja_tall.dmi
  vorestation.dme
Labels: Type: Icon

#18041 Tattoo again (using not outdated files)
  code/modules/mob/new_player/sprite_accessories_markings.dm
  icons/mob/human_races/markings.dmi
Labels: Type: Icon

#18038 more TG prefs
  code/datums/components/species/shadekin/helpers/comp_helpers.dm
  code/datums/components/species/shadekin/shadekin.dm
  code/game/objects/structures/gargoyle.dm
  code/modules/client/preferences/types/character/general/03_body.dm
  code/modules/client/preferences/types/character/general/06_special.dm
  code/modules/mob/living/carbon/human/emote_vr.dm
  code/modules/mob/living/carbon/human/human_defines_vr.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin_hud.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  tgui/packages/tgui/interfaces/ShadekinConfig.tsx
Labels: Type: Misc

#18031 Signals and God
  code/ZAS/Airflow.dm
  code/ZAS/ConnectionGroup.dm
  code/__defines/dcs/signals.dm
  code/__defines/mobs.dm
  code/__defines/vv.dm
  code/datums/elements/godmode.dm
  code/game/gamemodes/cult/narsie.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/cult/soulstone.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/freelook/eye.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/decoy/life.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_mob/life.dm
  code/modules/mob/living/simple_mob/simple_mob.dm
  code/modules/organs/organ.dm
  code/modules/organs/organ_external.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/tesla/energy_ball.dm
  vorestation.dme
Labels: Type: Refactor

#18106 Make the bodyscanner show an outline of the actual occupant
  code/game/machinery/adv_med_vr.dm
  icons/obj/Cryogenic2_vr.dmi
Labels: Type: Icon
