Repository VOREStation/VOREStation, pull requests merged in 2025-02, with the labels that each got.

#17017 Adds taur_clip_mask_def to the taur & loaf
  icons/mob/vore/taurs_ch.dmi
  icons/mob/vore/taurs_ch_loaf.dmi
Labels: Type: Bug, Type: Icon

#17027 fix a bunch of missing taur sprites
  code/modules/mob/new_player/sprite_accessories_taur.dm
  icons/mob/vore/taurs_ch.dmi
  icons/mob/vore/taurs_ch_loaf.dmi
  vorestation.dme
Labels: Type: Icon

#17024 fix sword sprites
  icons/mob/items/lefthand_material.dmi
  icons/mob/items/righthand_material.dmi
Labels: Type: Icon

#17019 Makes zaddat able to choose sprite accessories
  code/modules/mob/new_player/sprite_accessories.dm
Labels: Type: Bug

#17018 Misc fixes
  code/game/machinery/frame.dm
  code/modules/projectiles/guns/projectile/shotgun_vr.dm
Labels: Type: Bug

#17011 More xenoarch tweaks
  code/modules/mining/mine_turfs.dm
  code/modules/xenoarcheaology/artifacts/artifact_find.dm
  code/modules/xenoarcheaology/effects/electric_field.dm
  code/modules/xenoarcheaology/finds/Weapons/archeo_eguns.dm
  code/modules/xenoarcheaology/finds/Weapons/archeo_melee.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  code/modules/xenoarcheaology/finds/finds_defines.dm
Labels: Type: Misc

#17003 Glamour Experimentation
  code/__defines/materials.dm
  code/game/turfs/glamour_turfs.dm
  code/modules/admin/player_effects.dm
  code/modules/materials/fifty_spawner_mats.dm
  code/modules/materials/materials/gems.dm
  code/modules/materials/sheets/gems.dm
  code/modules/mob/living/carbon/human/species/lleill/lleill_abilities.dm
  code/modules/mob/living/carbon/human/species/lleill/lleill_items.dm
  code/modules/mob/living/simple_mob/subtypes/glamour/ddraig.dm
  code/modules/power/singularity/particle_accelerator/particle_smasher.dm
  code/modules/projectiles/guns/launcher/bows.dm
  code/modules/reagents/reagents/medicine_vr.dm
  code/modules/vore/mob_tf.dm
  code/modules/vore/mouseray.dm
  icons/obj/glamour.dmi
  icons/obj/guns/projectile/bows.dmi
  icons/obj/stacks.dmi
  icons/turf/flooring/glamour.dmi
  maps/redgate/facility_items.dm
  vorestation.dme
Labels: Type: Icon

#17001 Adds some mask sprites from downstream
  icons/inventory/face/mob_vr.dmi
Labels: Type: Icon

#17000 Adds in more weather effects
  icons/effects/weather.dmi
Labels: Type: Icon

#16994 Fixes some bugs pertaining to breath code
  code/_onclick/hud/alert.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Type: Bug

#17029 Hanner application
  config/alienwhitelist.txt
Labels: Type: Fluff

#17032 Adds new sneptail
  code/modules/mob/new_player/sprite_accessories_tail.dm
  icons/mob/human_races/sprite_accessories/tails.dmi
Labels: Type: Icon

#17045 fixes space chicken leg asymmetry that was making a sprite look weird and also fixing the sprite because it was weird
  code/modules/mob/new_player/sprite_accessories_markings.dm
  icons/mob/human_races/markings.dmi
  icons/mob/human_races/r_teshari_vr.dmi
Labels: Type: Icon

#17057 Begins the taur merging
  code/modules/mob/new_player/sprite_accessories_taur.dm
  icons/mob/human_races/sprite_accessories/taurs.dmi
  icons/mob/vore/taurs_ch.dmi
Labels: Type: Icon

#17058 part 2 of taur consolidation
  code/modules/mob/new_player/sprite_accessories_taur.dm
  icons/mob/human_races/sprite_accessories/taurs.dmi
Labels: Type: Icon

#17059 Taur Consolidation Part 3
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_taur.dm
  icons/mob/human_races/sprite_accessories/taurs.dmi
  icons/mob/vore/taurs_vr_loaf.dmi
Labels: Type: Icon

#17053 new snep tail no longer has holes in its south facing wagging sprite
  icons/mob/human_races/sprite_accessories/tails.dmi
Labels: Type: Icon

#17031 bunch of misc fixes
  code/ATMOSPHERICS/pipes/pipe_base.dm
  code/__defines/_compile_options.dm
  code/_helpers/game.dm
  code/controllers/subsystems/machines.dm
  code/controllers/subsystems/plants.dm
  code/datums/reference_tracking_new.dm
  code/game/atoms_movable.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/ai/ai_holder_combat.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/mob_planes_vr.dm
  code/modules/vore/resizing/crackers.dm
Labels: Type: Bug

#17033 Cleanup revision'd
  icons/inventory/head/item_vr.dmi
  icons/inventory/head/mob_vr.dmi
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
Labels: Type: Icon

#17038 Augment Adjustments & Fixes
  code/game/objects/items/weapons/augment_items.dm
  code/modules/organs/internal/augment.dm
  code/modules/organs/internal/augment/armmounted.dm
  code/modules/organs/internal/augment/bio.dm
  code/modules/research/designs/implants.dm
  code/modules/surgery/robotics.dm
Labels: Type: Bug

#17047 Xenoarch Gas Tweaks
  code/__defines/xenoarcheaology.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/effect_master.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
Labels: Type: Misc

#17043 (Partially) Fixes Out Of Memory crashes
  code/_helpers/mobs.dm
  code/_macros.dm
  code/controllers/subsystems/transcore_vr.dm
  code/game/dna/dna_modifier.dm
  code/game/dna/genes/monkey.dm
  code/game/gamemodes/changeling/absorbed_dna.dm
  code/game/gamemodes/changeling/powers/lesser_form.dm
  code/game/gamemodes/changeling/powers/transform.dm
  code/game/gamemodes/changeling/powers/transform_sting.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
  code/modules/artifice/deadringer.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_transformation_simple.dm
  code/modules/nifsoft/software/13_soulcatcher.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/organ.dm
  code/modules/organs/organ_external.dm
  code/modules/projectiles/dnalocking.dm
  code/modules/research/prosfab_designs.dm
  code/modules/resleeving/designer.dm
  code/modules/resleeving/infocore_records.dm
  code/modules/resleeving/machines.dm
  code/modules/vore/eating/mob_vr.dm
  code/unit_tests/zz_tests.dm
Labels: Type: Bug, Sev: 1-Blocker

#17048 Makes doors not horrid. Also fixes infinite heat
  code/game/machinery/airconditioner_vr.dm
  code/game/machinery/doors/door.dm
  code/modules/mob/living/silicon/robot/robot_animation_vr.dm
Labels: Type: Bug, Type: Feature/Suggestion

#17073 More taur changes
  ATTRIBUTIONS.md
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_taur.dm
  icons/mob/human_races/sprite_accessories/taurs.dmi
  icons/mob/vore/taurs_ch.dmi
  icons/mob/vore/taurs_ch_loaf.dmi
  icons/mob/vore/taurs_loaf.dmi
  icons/mob/vore/taurs_vr_loaf.dmi
Labels: Type: Icon

#17086 Toggleable Recoil
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/particle.dm
  code/modules/projectiles/guns/energy/phase.dm
  code/modules/projectiles/guns/energy/pump.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/xenobio/items/weapons.dm
Labels: Type: Feature/Suggestion

#17062 Fixes the body designer [WIP]
  code/__defines/misc.dm
  code/datums/datacore.dm
  code/game/dna/dna2_helpers.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preference_setup/vore/02_size.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/new_player/sprite_accessories_beards.dm
  code/modules/mob/new_player/sprite_accessories_hair.dm
  code/modules/mob/new_player/sprite_accessories_hair_extra.dm
  code/modules/mob/new_player/sprite_accessories_markings.dm
  code/modules/mob/new_player/sprite_accessories_tail.dm
  code/modules/mob/new_player/sprite_accessories_taur.dm
  code/modules/resleeving/designer.dm
  code/modules/resleeving/infocore_records.dm
  code/modules/tgui/modules/appearance_changer.dm
  code/modules/tgui/modules/appearance_changer_vr.dm
  code/unit_tests/cosmetic_tests.dm
  icons/mob/human_face_alt.dmi
  icons/mob/human_races/markings.dmi
  tgui/packages/tgui/interfaces/AppearanceChanger/AppearanceChangerBody.tsx
  tgui/packages/tgui/interfaces/AppearanceChanger/AppearanceChangerBodyRecords.tsx
  tgui/packages/tgui/interfaces/AppearanceChanger/AppearanceChangerDetails.tsx
  tgui/packages/tgui/interfaces/AppearanceChanger/AppearanceChangerFlavor.tsx
  tgui/packages/tgui/interfaces/AppearanceChanger/AppearanceChangerHairs.tsx
  tgui/packages/tgui/interfaces/AppearanceChanger/AppearanceChangerHeader.tsx
  tgui/packages/tgui/interfaces/AppearanceChanger/AppearanceChangerParts.tsx
  tgui/packages/tgui/interfaces/AppearanceChanger/constants.ts
  tgui/packages/tgui/interfaces/AppearanceChanger/index.tsx
  tgui/packages/tgui/interfaces/AppearanceChanger/types.ts
  tgui/packages/tgui/interfaces/BodyDesigner/BodyDesignerBodyRecords.tsx
  tgui/packages/tgui/interfaces/BodyDesigner/BodyDesignerMain.tsx
  tgui/packages/tgui/interfaces/BodyDesigner/BodyDesignerOOCNotes.tsx
  tgui/packages/tgui/interfaces/BodyDesigner/BodyDesignerSpecificRecord.tsx
  tgui/packages/tgui/interfaces/BodyDesigner/BodyDesignerStockRecords.tsx
  tgui/packages/tgui/interfaces/BodyDesigner/index.tsx
  tgui/packages/tgui/interfaces/BodyDesigner/types.ts
  vorestation.dme
Labels: Status: DO NOT MERGE, Type: Icon

#17081 Medical Kiosk additions
  code/game/machinery/medical_kiosk.dm
Labels: Type: Feature/Suggestion

#17078 Unarmed Attack Fixes
  code/_onclick/click.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/species/species_attack_vr.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
Labels: Type: Bug

#17077 Artifact Tweaks
  code/__defines/xenoarcheaology.dm
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/modules/research/designs/xenoarch_toys.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/effect_master.dm
  code/modules/xenoarcheaology/tools/ano_device_battery.dm
  code/modules/xenoarcheaology/tools/artifact_harvester.dm
  code/modules/xenoarcheaology/tools/artifact_scanner.dm
Labels: Type: Bug, Type: Feature/Suggestion

#17075 Makes airlock alt click now ctrlclick
  code/game/machinery/doors/airlock.dm
Labels: Type: Misc, Type: Sound

#17109 fix firedoor sensors
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
Labels: Type: Bug

#17110 Fixes signalers not signaling
  code/modules/assembly/signaler.dm
Labels: Type: Bug

#17111 Fixes telecube origin_tech
  code/modules/artifice/telecube.dm
Labels: Type: Bug

#17114 More xenoarch tweaks
  code/_helpers/global_lists.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/effect_master.dm
  code/modules/xenoarcheaology/effects/atmospheric.dm
  code/modules/xenoarcheaology/effects/temperature.dm
Labels: Type: Bug

#17126 updates belly handling
  code/modules/mob/living/silicon/robot/robot_bellies.dm
  code/modules/vore/eating/belly_import.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/living_bellies.dm
  code/modules/vore/eating/vorepanel_vr.dm
Labels: Type: Bug

#17125 Fixes bug where micro camera would not reset
  code/modules/mob/holder.dm
Labels: Type: Bug

#17124 No multihiss
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
Labels: Type: Bug

#17140 gas fixes
  code/__defines/atmos.dm
  code/modules/xgm/xgm_gas_mixture.dm
Labels: Type: Bug

#17141 Radiation Fixes
  code/_global_vars/traits/_traits.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
Labels: Type: Bug

#17156 fix runechat offset on resize
  code/datums/chat_message.dm
Labels: Sev: 0

#17157 CHEM DISPENSER HOTFIX [HOTFIX]
  code/modules/reagents/holder/holder.dm
  code/modules/reagents/reagents/food_drinks.dm
Labels: Sev: 3-Moderate, Type: Bug, Status: Hotfixed, Type: More Complicated Than You Think

#17152 Autochangelogs
  .gitattributes
  .github/workflows/autochangelog.yml
  .github/workflows/compile_changelogs.yml
  code/_global_vars/configuration.dm
  code/_global_vars/tgui.dm
  code/datums/changelog/changelog.dm
  code/game/world.dm
  code/global.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/assets/browser.dm
  code/modules/asset_cache/assets/changelog_item.dm
  code/modules/client/client procs.dm
  code/modules/client/preferences/types/game/misc.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/Cerebulon - machinesounds.yml
  html/changelogs/KasparoVy - PR - 7760.yml
  html/changelogs/MDP-indescribable.yml
  html/changelogs/MDP-recipecleanup.yml
  html/changelogs/MDP-utensilsrefactor.yml
  html/changelogs/Mechoid - Encumbrance.yml
  html/changelogs/Meghan Rossi - atmosanalyzer.yml
  html/changelogs/Meghan Rossi - borosilicate shard fix.yml
  html/changelogs/Meghan Rossi - fix infinite ratburgers.yml
  html/changelogs/Meghan Rossi - fix omni filters.yml
  html/changelogs/Meghan Rossi - isolator fix.yml
  html/changelogs/Meghan Rossi - poiareas.yml
  html/changelogs/Meghan Rossi - stripping.yml
  html/changelogs/Meghan Rossi - tesla dissipation.yml
  html/changelogs/Meghan Rossi - the_teslagen.yml
  html/changelogs/Meghan Rossi - triglyceride taste.yml
  html/changelogs/Meghan Rossi - wall machine layering.yml
  html/changelogs/Poojawa - Sunesoundsntoggles.yml
  html/changelogs/Poojawa - devourfeedprefs.yml
  html/changelogs/Runa Dacino -  Exosuit gripper tweak.yml
  html/changelogs/SubberTheFabulous-PR-7642.yml
  html/changelogs/Woodrat - Vote.yml
  html/changelogs/atermonera_stairsv2.yml
  html/changelogs/cameron - drugfix.yml
  html/changelogs/example.yml
  html/changelogs/mechoid - RoboticsRigs.yml
  html/changelogs/mechoid - butchery.yml
  html/changelogs/mechoid - exoexpansion.yml
  html/changelogs/mechoid - hydroupkeep.yml
  html/changelogs/neerti-hacking_QoL.yml
  html/changelogs/schnayy - cooking adjustments.yml
  html/changelogs/woodrat - WR_shutters.yml
  html/changelogs/woodrat - idtweaks.yml
  tgui/packages/tgui/interfaces/Changelog.tsx
  tools/ci/validate_files.sh
  tools/ss13_genchangelog.py
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: .git or .github

#17142 Adds the ability to use storage in storage
  code/__defines/inventory_storage.dm
  code/_onclick/click.dm
  code/modules/detectivework/tools/evidencebag.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#17191 Fixes admin buildmode from gibbing you
  code/game/objects/items/falling_object_vr.dm
  code/modules/admin/verbs/buildmode.dm
Labels: Type: Bug

#17172 Update lockpicks
  code/game/objects/items/lockpicks.dm
  code/game/objects/random/misc.dm
  code/game/objects/structures/fence.dm
  icons/obj/lockpicks.dmi
Labels: Type: Icon

#17198 Orbit fix [IDB IGNORE] [MDB IGNORE]
  code/datums/components/orbiter.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Sev: 2-High, Type: Bug, FUCK

#17200 PIZZA VOUCHERS DON'T GIB YOU, AGAIN. [FUCK]]
  code/game/objects/items/falling_object_vr.dm
Labels: FUCK

#17202 Removes stray pixel from snektail
  icons/mob/human_races/sprite_accessories/tails.dmi
Labels: Type: Bug, Type: Icon

#17205 2/23/25 - Map Swap
  .github/workflows/compile_changelogs.yml
  code/datums/components/orbiter.dm
  code/game/objects/items/falling_object_vr.dm
  code/game/objects/items/lockpicks.dm
  code/game/objects/random/misc.dm
  code/game/objects/structures/artstuff.dm
  code/game/objects/structures/fence.dm
  code/modules/admin/verbs/buildmode.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/makeup/nailpolish.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/overmap/sectors.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/random_map/automata/caves.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  html/changelogs/AutoChangeLog-pr-17190.yml
  html/changelogs/AutoChangeLog-pr-17201.yml
  html/changelogs/archive/2025-02.yml
  icons/mob/human_races/sprite_accessories/tails.dmi
  icons/obj/lockpicks.dmi
  maps/~map_system/_map_selection.dm
Labels: Type: Icon, Type: .git or .github

#17215 Motion tracker subsystem
  code/__defines/dcs/signals.dm
  code/__defines/subsystems.dm
  code/controllers/subsystems/motion_tracker.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/mines.dm
  code/game/objects/effects/motion_echo.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/devices/scanners/motion_tracker.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/traps.dm
  code/game/sound.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/teshari.dm
  code/modules/mob/living/carbon/human/species/station/teshari_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/motiontracker.dm
  code/modules/research/designs/misc.dm
  icons/effects/effects.dmi
  vorestation.dme
Labels: Type: Feature/Suggestion, Type: Icon

#17120 Point Refactor
  code/__defines/dcs/signals/signals_mobs/signals_mob_main.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/point/point.dm
  vorestation.dme
Labels: Type: Feature/Suggestion

#17223 trash eater refactor
  code/game/objects/trash_eating.dm
  code/modules/vore/eating/living_vr.dm
  vorestation.dme
Labels: Type: Misc

#17233 Hide and seek mode
  code/controllers/subsystems/motion_tracker.dm
  code/modules/admin/admin_verb_lists.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
Labels: Type: Bug

#17234 Marker beacons don't have a 7% chance to go invisible when placed #37
  code/game/objects/items/stacks/marker_beacons.dm
Labels: Type: Bug
