Repository VOREStation/VOREStation, pull requests merged in 2025-08, with the labels that each got.

#18126 Point Defense Turret Adjustments
  archive/maps/submaps/depreciated_vr/talon1.dmm
  archive/maps/submaps/depreciated_vr/talon2.dmm
  code/game/machinery/pointdefense.dm
  code/game/objects/effects/temporary_visuals/projectiles/impact.dm
  code/game/objects/effects/temporary_visuals/projectiles/muzzle.dm
  code/game/objects/effects/temporary_visuals/projectiles/tracer.dm
  code/game/objects/items/weapons/circuitboards/machinery/ships.dm
  code/modules/projectiles/projectile/beams.dm
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
  maps/expedition_vr/space/fueldepot.dmm
  maps/groundbase/westwilds/westwilds template.dmm
  maps/groundbase/westwilds/westwilds1.dmm
  maps/groundbase/westwilds/westwilds2.dmm
  maps/offmap_vr/om_ships/aro2.dmm
  maps/offmap_vr/om_ships/aro3.dmm
  maps/offmap_vr/om_ships/bearcat.dmm
  maps/offmap_vr/om_ships/itglight.dmm
  maps/offmap_vr/om_ships/lunaship.dmm
  maps/offmap_vr/om_ships/mercship.dmm
  maps/offmap_vr/om_ships/salamander.dmm
  maps/offmap_vr/om_ships/salamander_wreck.dmm
  maps/offmap_vr/om_ships/sdf_corvette.dmm
  maps/offmap_vr/om_ships/sdf_corvette_wreck.dmm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
  maps/stellar_delight/stellar_delight3.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/admin_use_vr/salamander_trader.dmm
  maps/submaps/pois_vr/debris_field/debris8.dmm
  sound/weapons/frigate_turret/frigate_turret_fire1.ogg
  sound/weapons/frigate_turret/frigate_turret_fire2.ogg
  sound/weapons/frigate_turret/frigate_turret_fire3.ogg
  sound/weapons/frigate_turret/frigate_turret_fire4.ogg
Labels: Type: Icon, Type: Map

#18134 Whitelist update
  config/alienwhitelist.txt
Labels: Type: Fluff

#18140 Refinery Feedback P1
  code/__defines/chemistry.dm
  code/_helpers/global_lists.dm
  code/_helpers/refinery.dm
  code/game/objects/items/devices/scanners/reagents.dm
  code/game/objects/items/stacks/stack.dm
  code/game/turfs/flooring/gas_cracks.dm
  code/modules/materials/sheets/metals/hull.dm
  code/modules/materials/sheets/metals/rods.dm
  code/modules/materials/sheets/organic/wood.dm
  code/modules/reagents/machinery/pump.dm
  code/modules/refinery/core/industrial_reagent_grinder.dm
Labels: Type: Feature/Suggestion

#18142 Fixes chemicals not healing internal bleeding
  code/modules/reagents/reagents/medicine.dm
Labels: Fix

#18145 Unwizards U
  code/game/antagonist/outsider/wizard.dm
Labels: Fix

#18138 Fixes changeling organ rejection bug
  code/datums/components/antags/changeling/powers/transform.dm
Labels: Type: Bug

#18164 Scalpels use a var instead of a typecheck for clamping
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/surgery/generic.dm
Labels: Type: Refactor

#18159 Small refinery runtime
  code/modules/refinery/core/industrial_reagent_grinder.dm
Labels: Fix

#18165 Ports secret emote interaction
  code/modules/mob/living/carbon/human/emote_vr.dm
Labels: Type: Feature/Suggestion

#18161 batch robot sprties
  code/controllers/subsystems/robot_sprites.dm
  code/modules/admin/modify_robot.dm
  code/modules/asset_cache/assets/spritesheets/robot_icons.dm
  code/modules/mob/living/silicon/robot/robot_ui_module.dm
  code/modules/mob/living/silicon/robot/sprites/security.dm
  code/modules/mob/living/silicon/robot/sprites/syndicate.dm
  icons/mob/robot/tallrobot/tallrobots.dmi
Labels: Type: Icon

#18123 Science Expansion Pck-1: Hardsuits
  code/__defines/research/techweb_nodes.dm
  code/modules/clothing/spacesuits/rig/modules/specific/passive_protection.dm
  code/modules/clothing/spacesuits/rig/modules/specific/vision.dm
  code/modules/clothing/spacesuits/rig/modules/vision.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/mob/living/carbon/human/species/station/protean/protean_rig.dm
  code/modules/research/tg/designs/modsuit_designs.dm
  code/modules/research/tg/experisci/experiment/instances/misc.dm
  code/modules/research/tg/techwebs/nodes/engi_nodes.dm
  code/modules/research/tg/techwebs/nodes/modsuit_nodes.dm
  icons/obj/rig_modules.dmi
Labels: Feature, Sprites

#18181 Component safety
  code/datums/components/species/shadekin/shadekin.dm
  code/modules/admin/view_variables/topic_basic.dm
Labels: Fix

#18064 Gripper update
  code/__defines/dcs/signals.dm
  code/_helpers/mobs.dm
  code/_macros.dm
  code/game/machinery/computer/computer.dm
  code/modules/food/kitchen/cooking_machines/_appliance.dm
  code/modules/food/kitchen/cooking_machines/container.dm
  code/modules/food/kitchen/smartfridge/smartfridge.dm
  code/modules/mob/living/carbon/human/stripping.dm
  code/modules/mob/living/silicon/robot/robot_simple_items.dm
  code/modules/reagents/machinery/grinder.dm
  code/modules/refinery/core/industrial_reagent_grinder.dm
  code/modules/surgery/implant.dm
Labels: Type: Misc, Fix

#18179 borgs don't dance
  code/datums/components/animations/dizzy.dm
  code/datums/components/animations/jittery.dm
Labels: Sev: 4-Minor, Fix

#18188 Fixes cell deletion & Drippy
  code/datums/components/traits/drippy.dm
  code/modules/mob/living/silicon/robot/robot_simple_items.dm
Labels: Fix

#18169 Mothroaches <3
  code/__defines/faction.dm
  code/datums/supplypacks/hydroponics.dm
  code/game/objects/effects/semirandom_mobs_vr.dm
  code/game/objects/random/mob.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/events/infestation.dm
  code/modules/mob/living/carbon/human/species/lleill/lleill_items.dm
  code/modules/mob/living/simple_mob/subtypes/animal/passive/mothroach.dm
  code/modules/research/tg/experisci/experiment/instances/misc.dm
  code/modules/xenoarcheaology/artifacts/autocloner.dm
  code/modules/xenoarcheaology/artifacts/replicator_vr.dm
  icons/mob/animal.dmi
  icons/mob/head.dmi
  icons/mob/lefthand_holder.dmi
  icons/mob/righthand_holder.dmi
  maps/stellar_delight/stellar_delight2.dmm
  maps/tether/tether-03-surface3.dmm
  sound/voice/scream/moth/moth_scream.ogg
  vorestation.dme
Labels: Sprites, Map Edit, Sound

#18100 Maybe fix runtime in prosfab
  code/modules/research/tg/machinery/mech_prosfab.dm
Labels: Bug, Fix

#18195 Small adjustment to bloopers
  code/modules/mob/living/say.dm
Labels: Fix

#18198 some DMI test
  code/modules/mob/living/simple_mob/subtypes/vore/softdog.dm
  icons/mob/robot/dullahan/v3/ninja.dmi
  icons/mob/robot/gooborgs/custom/gooborg_ninja.dmi
  icons/mob/robot/ninja.dmi
  icons/mob/robot/ninja_tall.dmi
Labels: Type: Icon

#18171 Changeling Blood Test
  code/modules/food/food.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/traits/negative_genes.dm
  code/modules/organs/blood.dm
  code/modules/reagents/machinery/chem_master.dm
  code/modules/reagents/machinery/dispenser/reagent_tank.dm
  code/modules/reagents/reagent_containers/_reagent_containers.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/virology.dm
  code/modules/reagents/reagents/core.dm
Labels: Feature

#18182 encode patch
  code/__defines/misc.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/silicon/pai/pai_vr.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/stardog.dm
  code/modules/mob/say_old.dm
  code/modules/mob/say_vr.dm
  code/modules/mob/typing_indicator.dm
  code/modules/pda/messenger.dm
Labels: Test Merge Candidate, Fix

#18131 Allergic Reaction Element (And direct_say proc)
  code/__defines/_reagents.dm
  code/__defines/dcs/signals.dm
  code/__defines/species_flags.dm
  code/__defines/species_languages.dm
  code/__defines/species_languages_vr.dm
  code/controllers/subsystems/internal_wiki.dm
  code/datums/components/disabilities/coughing.dm
  code/datums/components/disabilities/epilepsy.dm
  code/datums/components/disabilities/gibbing.dm
  code/datums/components/disabilities/nervousness.dm
  code/datums/components/disabilities/pollen.dm
  code/datums/components/disabilities/rotting.dm
  code/datums/components/disabilities/tourettes.dm
  code/datums/elements/allergy.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/machinery/telecomms/broadcaster_vr.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/food/food/snacks.dm
  code/modules/food/food/snacks/meat.dm
  code/modules/food/food/snacks_vr.dm
  code/modules/hydroponics/seedtypes/mushrooms.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/traits/neutral.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
  code/modules/reagents/reagents/food_drinks.dm
  vorestation.dme
Labels: Feature, Fix, Code Improvement

#18213 fix minor belly typo
  tgui/packages/tgui/interfaces/VorePanel/VoreSelectedBellyTabs/OptionTab/BellyOptionsLeft.tsx
Labels: Grammar and Formatting

#18166 upport petcubes
  code/datums/elements/lootable/trash.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/boxes_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/food/food/snacks.dm
  icons/obj/food.dmi
  vorestation.dme
Labels: Feature, Sprites, Type: Icon

#18214 Adds standard dorm privacy features to redgate train dorms
  code/modules/awaymissions/redgate.dm
  maps/redgate/train_upper.dmm
Labels: Type: Map

#18224 white chocolate is not chocolate
  code/modules/reagents/reagents/food_drinks.dm
Labels: Fix

#18225 Fixes dripping through your pred
  code/datums/components/traits/drippy.dm
Labels: Fix

#18223 Some mob modifications
  code/modules/mob/living/simple_mob/subtypes/glamour/ddraig.dm
  code/modules/mob/living/simple_mob/subtypes/glamour/ysbryd.dm
Labels: Balance

#18215 No more agoraphobia stomach freakout
  code/modules/mob/living/carbon/human/species/station/traits/negative.dm
Labels: Fix

#18216 Makes slimes able to be eaten if pacified
  code/modules/mob/living/simple_mob/subtypes/slime/xenobio/xenobio.dm
Labels: Feature, Type: Vore-Related

#18207 Moves Ringtones To A Unified List
  code/_helpers/global_lists.dm
  code/game/objects/items/devices/communicator/communicator.dm
  code/game/objects/items/devices/communicator/messaging.dm
  code/modules/client/preference_setup/loadout/01_equipment.dm
  code/modules/pda/pda.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/loadout/SubtabEquipment.tsx
Labels: Feature, UI, Fix, Grammar and Formatting, Code Improvement

#18210 Ladder Deconstruction and Fixes
  code/__defines/misc.dm
  code/modules/multiz/ladder_assembly_vr.dm
  code/modules/multiz/ladders.dm
Labels: Feature, Fix

#18231 adjust timeouts
  .github/workflows/run_integration_tests.yml
  .github/workflows/run_linters.yml
Labels: Type: .git or .github

#18228 Floor tile placement and backend logic
  code/game/turfs/simulated/floor_attackby.dm
  code/modules/examine/descriptions/turfs.dm
Labels: Quality of Life, Code Improvement

#18230 Fixes savefile corruption bug and allows character swapping
  code/datums/components/species/shadekin/shadekin.dm
  code/datums/mind.dm
  code/game/antagonist/antagonist_update.dm
  code/game/antagonist/outsider/technomancer.dm
  code/game/antagonist/station/rogue_ai.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/computer/message.dm
  code/game/machinery/computer/robot.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/preferences_tgui.dm
  code/modules/client/record_updater.dm
  code/modules/mob/living/carbon/human/emote_vr.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/transform_procs.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/SubtabBody.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/bay_prefs/general/data.ts
  tgui/packages/tgui/interfaces/ShadekinConfig.tsx
Labels: Sev: 3-Moderate, Fix

#18220 Allows crew kin to use rigs
  code/datums/components/species/shadekin/shadekin.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/void/ert_vr.dm
Labels: Feature

#18237 Absorb Prey Names
  code/modules/emotes/custom_emote.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/say_vr.dm
  code/modules/projectiles/ammunition.dm
  code/modules/vore/eating/belly_import.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/exportpanel_vr.dm
  code/modules/vore/eating/panel_databackend/vorepanel_set_attribute.dm
  code/modules/vore/eating/panel_databackend/vorepanel_vore_data.dm
  tgui/packages/tgui/interfaces/TicketsPanel.tsx
  tgui/packages/tgui/interfaces/VorePanel/VoreSelectedBellyTabs/OptionTab/BellyOptionsLeft.tsx
  tgui/packages/tgui/interfaces/VorePanel/types.ts
Labels: Feature, Type: Vore-Related, Type: .git or .github

#17499 Explosion subsystem
  code/__defines/machinery.dm
  code/__defines/subsystems.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystems/explosions.dm
  code/controllers/subsystems/machines.dm
  code/game/gamemodes/meteor/meteor.dm
  code/game/objects/explosion.dm
  code/game/objects/explosion_recursive.dm
  code/modules/admin/admin_verbs.dm
  code/modules/multiz/movement.dm
  code/modules/power/breaker_box.dm
  code/modules/power/cable.dm
  code/modules/power/pacman2.dm
  code/modules/power/power.dm
  code/modules/reagents/machinery/dispenser/reagent_tank.dm
  code/modules/vore/resizing/grav_pull_vr.dm
  vorestation.dme
Labels: Sev: 1-Blocker, Refactor, FUCK, Config Update

#18244 Login screen init change
  code/controllers/subsystems/lobby_monitor.dm
  code/controllers/subsystems/tgui.dm
Labels: Test Merge Candidate

#18218 Makes direct_say call automatic_custom
  code/modules/mob/living/say.dm
Labels: Code Improvement

#18219 Refactors vore code to allow for instant-vore that does not sleep
  code/game/objects/buckling.dm
  code/game/objects/structures/crates_lockers/__closets.dm
  code/modules/mob/living/carbon/human/species/station/protean/protean_powers.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/space_mouse.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/stardog.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/teppi.dm
  code/modules/mob/living/simple_mob/subtypes/vore/plants.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/simple_animal_vr.dm
  code/modules/vore/eating/slipvore_vr.dm
  code/modules/vore/eating/stumblevore_vr.dm
  code/modules/vore/eating/vore_procs.dm
  vorestation.dme
Labels: Type: Vore-Related, Refactor, Fix

#18170 Overhaul vending machine UI from Bubber
  code/__defines/preferences.dm
  code/modules/client/preferences/types/game/ui.dm
  code/modules/tgui/external.dm
  code/modules/tgui/tgui.dm
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/packages/tgui/interfaces/common/LayoutToggle.tsx
Labels: UI, Quality of Life

#18191 More techweb adjustments
  code/__defines/research/techweb_nodes.dm
  code/modules/research/tg/designs/stock_part_designs.dm
  code/modules/research/tg/designs/tool_designs.dm
  code/modules/research/tg/techwebs/nodes/engi_nodes.dm
  code/modules/research/tg/techwebs/nodes/medbay_nodes.dm
Labels: Feature, Quality of Life

#18155 Multiple buckling and wizard spell fixes
  code/game/objects/items/weapons/scrolls.dm
  code/modules/spells/aoe_turf/blink.dm
  code/modules/spells/aoe_turf/conjure/forcewall.dm
  code/modules/spells/general/area_teleport.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
  code/modules/spells/targeted/targeted.dm
  code/modules/vore/eating/stumblevore_vr.dm
  code/modules/vore/resizing/resize_vr.dm
Labels: Fix

#18250 Cleans up some unticked dm files
  code/__defines/art.dm
  code/_global_vars/_regexes.dm
  code/_helpers/chat.dm
  code/controllers/subsystems/ticker.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/client/client procs.dm
  code/modules/ext_scripts/github.dm
  code/modules/ext_scripts/irc.dm
  code/modules/ext_scripts/python.dm
  code/modules/mob/logout.dm
  code/modules/tickets/procs.dm
  code/modules/tickets/tickets.dm
  vorestation.dme
Labels: Removal, Code Improvement

#18232 clothing _vr dmi cleanup: backpacks, bags, and belts
  code/game/objects/items/devices/radio/radiopack.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/backpack_vr.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/bags_vr.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/belt_vr.dm
  code/game/objects/items/weapons/tanks/tank_types_vr.dm
  code/modules/projectiles/guns/energy/gunsword_vr.dm
  code/modules/projectiles/guns/energy/pump.dm
  icons/inventory/back/item.dmi
  icons/inventory/back/item_vr.dmi
  icons/inventory/back/mob.dmi
  icons/inventory/back/mob_vr.dmi
  icons/inventory/back/mob_werebeast.dmi
  icons/inventory/belt/item.dmi
  icons/inventory/belt/item_vr.dmi
  icons/inventory/belt/mob.dmi
  icons/inventory/belt/mob_vr.dmi
  icons/inventory/belt/mob_werebeast.dmi
  vorestation.dme
Labels: Sprites, Refactor, Type: Icon

#18246 Increased cached_icon_states usage and tweaks to unit testing
  code/_helpers/icons.dm
  code/_helpers/icons/flatten.dm
  code/controllers/subsystems/robot_sprites.dm
  code/game/mecha/mecha_appearance.dm
  code/game/objects/items/magazine.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/assets/research_designs.dm
  code/modules/asset_cache/assets/spritesheets/vending.dm
  code/modules/clothing/clothing.dm
  code/modules/persistence/graffiti.dm
  code/modules/unit_tests/cosmetic_tests.dm
  code/modules/unit_tests/robot_tests.dm
  code/modules/unit_tests/spritesheets.dm
  code/modules/vore/eating/belly_import.dm
  code/modules/vore/eating/panel_databackend/vorepanel_vore_data.dm
Labels: Refactor, Fix, Unit Tests, Code Improvement

#18205 Telekinetic Gloves
  code/__defines/research/techweb_nodes.dm
  code/_onclick/click.dm
  code/_onclick/other_mobs.dm
  code/_onclick/telekinesis.dm
  code/modules/clothing/gloves/telekinetic.dm
  code/modules/research/tg/designs/tool_designs.dm
  code/modules/research/tg/techwebs/nodes/research_nodes.dm
  vorestation.dme
Labels: Feature

#18193 New batteries
  code/modules/power/cell.dm
  code/modules/power/cells/device_cells.dm
  code/modules/power/cells/power_cells.dm
  icons/obj/power_cells.dmi
  icons/obj/power_cells_old.dmi
Labels: Sprites, Balance, Type: Icon

#18273 Techweb additions
  code/__defines/research/techweb_nodes.dm
  code/modules/power/cells/device_cells.dm
  code/modules/research/tg/designs/boards/science.dm
  code/modules/research/tg/designs/misc_designs.dm
  code/modules/research/tg/designs/stock_part_designs.dm
  code/modules/research/tg/designs/tool_designs.dm
  code/modules/research/tg/techwebs/nodes/engi_nodes.dm
  code/modules/research/tg/techwebs/nodes/medbay_nodes.dm
  code/modules/research/tg/techwebs/nodes/service_nodes.dm
  icons/obj/power_cells_old.dmi
Labels: Feature, Sprites

#18263 clothing _vr dmi cleanup: gloves
  code/modules/clothing/accessories/rings.dm
  code/modules/clothing/clothing_vr.dm
  code/modules/clothing/gloves/arm_guards_vr.dm
  code/modules/clothing/gloves/miscellaneous_vr.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  icons/inventory/hands/item.dmi
  icons/inventory/hands/item_vr.dmi
  icons/inventory/hands/mob.dmi
  icons/inventory/hands/mob_teshari.dmi
  icons/inventory/hands/mob_vox.dmi
  icons/inventory/hands/mob_vr.dmi
  icons/inventory/hands/mob_vr_teshari.dmi
  icons/inventory/hands/mob_vr_vox.dmi
  icons/inventory/hands/mob_werebeast.dmi
Labels: Sprites, Refactor

#18277 bunch of missing states
  icons/chattags.dmi
  icons/effects/species_tails_vr.dmi
  icons/inventory/head/item_vox.dmi
  icons/inventory/suit/item_vox.dmi
  icons/misc/map_helpers.dmi
  icons/mob/human_races/r_xenomorph_hybrid.dmi
  icons/mob/pai_vr64x32.dmi
  icons/mob/taursuits_naga_alt.dmi
  icons/obj/card.dmi
  icons/obj/doors/angled/tgmc/2x1comdoor.dmi
  icons/obj/doors/angled/tgmc/2x1generic.dmi
  icons/obj/doors/angled/tgmc/2x1generic_steel.dmi
  icons/obj/doors/angled/tgmc/2x1medidoor.dmi
  icons/obj/doors/angled/tgmc/2x1secdoor.dmi
  icons/obj/doors/angled/tgmc/celldoor.dmi
  icons/obj/doors/angled/tgmc/comdoor.dmi
  icons/obj/doors/angled/tgmc/engidoor.dmi
  icons/obj/doors/angled/tgmc/generic.dmi
  icons/obj/doors/angled/tgmc/maintdoor.dmi
  icons/obj/doors/angled/tgmc/medidoor.dmi
  icons/obj/doors/angled/tgmc/medidoor_glass.dmi
  icons/obj/doors/angled/tgmc/personaldoor.dmi
  icons/obj/doors/angled/tgmc/pod_doors.dmi
  icons/obj/doors/angled/tgmc/prepdoor.dmi
  icons/obj/doors/angled/tgmc/prepdoor_alpha.dmi
  icons/obj/doors/angled/tgmc/prepdoor_bravo.dmi
  icons/obj/doors/angled/tgmc/prepdoor_charlie.dmi
  icons/obj/doors/angled/tgmc/prepdoor_delta.dmi
  icons/obj/doors/angled/tgmc/secdoor.dmi
  icons/obj/doors/angled/tgmc/secdoor_glass.dmi
  icons/obj/doors/angled/tgmc/securedoor.dmi
  icons/obj/engine.dmi
  icons/obj/fulton.dmi
  icons/obj/machines/artillery.dmi
  icons/obj/machines/power/fusion.dmi
  icons/turf/flooring/lava.dmi
Labels: Sprites

#18304 Fixes a typo in a poster that made my eye twitch
  code/game/objects/effects/decals/posters/voreposters_vr.dm
  guides/Overmap Ships and Places - What's Needed.md
Labels: Grammar and Formatting

#18303 Fix lleill teleport
  code/modules/mob/living/carbon/human/species/lleill/lleill_abilities.dm
Labels: Fix

#18296 seismic charge explosion fixed
  code/game/objects/items/weapons/explosives.dm
Labels: Fix

#18257 Makes jetpacks able to be detcted in suit/suit storage
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Quality of Life

#18270 Make fluidpump part upgrades useful
  code/modules/reagents/machinery/pump.dm
Labels: Fix

#18275 ticker followup
  code/_helpers/chat.dm
  code/_helpers/game.dm
  code/_helpers/roundend.dm
  code/_helpers/roundstats.dm
  code/_helpers/text.dm
  code/_helpers/unsorted.dm
  code/controllers/hooks-defs.dm
  code/controllers/subsystems/ticker.dm
  code/datums/browser.dm
  code/game/gamemodes/epidemic/epidemic.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/meteor/meteor.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/food/food/lunch.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/telesci/gps_advanced.dm
  code/modules/tgui/modules/communications.dm
  code/modules/tooltip/tooltip.dm
  vorestation.dme
Labels: UI, Test Merge Candidate, Fix

#18312 fix atmos consoles
  code/controllers/subsystems/atoms.dm
Labels: Fix

#18313 Deep mining scanner shows fracking reagents
  code/modules/mining/drilling/scanner.dm
Labels: Feature

#18276 Updates/polishes luxury cabin capsule
  code/modules/mining/shelter_atoms_vr.dm
  maps/submaps/shelters/shelter_luxury_cabin.dmm
Labels: Feature, Map Edit

#18301 allow to clear chat highlight settings
  biome.json
  bun.lock
  package.json
  tgui/packages/tgfont/static/tgfont.css
  tgui/packages/tgui-dev-server/webpack.ts
  tgui/packages/tgui-panel/audio/player.ts
  tgui/packages/tgui-panel/chat/renderer.tsx
  tgui/packages/tgui-panel/settings/SettingTabs/TextHighlightSettings.tsx
  tgui/packages/tgui-panel/settings/reducer.ts
  tgui/packages/tgui-setup/ntos-error.css
  tgui/packages/tgui/interfaces/Biogenerator.tsx
  tgui/packages/tgui/interfaces/BodyScanner/BodyScannerMainAbnormalities.tsx
  tgui/packages/tgui/interfaces/CasinoPrizeDispenser.tsx
  tgui/packages/tgui/interfaces/Changelog.tsx
  tgui/packages/tgui/interfaces/CharacterDirectory/CharacterDirectoryList.tsx
  tgui/packages/tgui/interfaces/CharacterDirectory/CharacterDirectorySortButton.tsx
  tgui/packages/tgui/interfaces/DisposalBin.tsx
  tgui/packages/tgui/interfaces/MiningVendor.tsx
  tgui/packages/tgui/interfaces/ParticleEdit/helpers.ts
  tgui/packages/tgui/interfaces/ResearchConsole/pages/Constructor.tsx
  tgui/packages/tgui/interfaces/VorePanel/VoreSelectedBellyTabs/VoreContentsPanel.tsx
  tgui/packages/tgui/interfaces/common/Connections.tsx
  tgui/packages/tgui/links.test.ts
Labels: UI, Fix

#18320 explosion subsystem tuning
  code/controllers/subsystems/explosions.dm
Labels: Fix

#18292 clothing _vr dmi cleanup: eyewear and masks
  code/game/objects/items/weapons/traps_vr.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/clothing_vr.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/glasses_vr.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/masks/breath_vr.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/gasmask_vr.dm
  code/modules/clothing/masks/miscellaneous_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/inventory/eyes/item.dmi
  icons/inventory/eyes/item_vr.dmi
  icons/inventory/eyes/mob.dmi
  icons/inventory/eyes/mob_akula.dmi
  icons/inventory/eyes/mob_fennec.dmi
  icons/inventory/eyes/mob_fox.dmi
  icons/inventory/eyes/mob_nevrean.dmi
  icons/inventory/eyes/mob_sergal.dmi
  icons/inventory/eyes/mob_tajaran.dmi
  icons/inventory/eyes/mob_unathi.dmi
  icons/inventory/eyes/mob_vox.dmi
  icons/inventory/eyes/mob_vr.dmi
  icons/inventory/eyes/mob_vulpkanin.dmi
  icons/inventory/face/item.dmi
  icons/inventory/face/item_vr.dmi
  icons/inventory/face/mob.dmi
  icons/inventory/face/mob_akula.dmi
  icons/inventory/face/mob_fennec.dmi
  icons/inventory/face/mob_fox.dmi
  icons/inventory/face/mob_nevrean.dmi
  icons/inventory/face/mob_sergal.dmi
  icons/inventory/face/mob_tajaran.dmi
  icons/inventory/face/mob_teshari.dmi
  icons/inventory/face/mob_unathi.dmi
  icons/inventory/face/mob_vr.dmi
  icons/inventory/face/mob_vr_tajaran.dmi
  icons/inventory/face/mob_vr_teshari.dmi
  icons/inventory/face/mob_vr_unathi.dmi
  icons/inventory/face/mob_vulpkanin.dmi
  icons/inventory/face/mob_werebeast.dmi
Labels: Sprites, Refactor

#18341 Fixes mask sprites to have proper gas_clear sprites
  icons/inventory/eyes/item.dmi
  icons/inventory/eyes/mob.dmi
  icons/inventory/face/mob_akula.dmi
  icons/inventory/face/mob_fennec.dmi
  icons/inventory/face/mob_fox.dmi
  icons/inventory/face/mob_nevrean.dmi
  icons/inventory/face/mob_sergal.dmi
  icons/inventory/face/mob_tajaran.dmi
  icons/inventory/face/mob_teshari.dmi
  icons/inventory/face/mob_unathi.dmi
  icons/inventory/face/mob_vox.dmi
  icons/inventory/face/mob_vulpkanin.dmi
Labels: Sprites, Fix

#18344 fix phoron spider explosion
  code/controllers/subsystems/ticker.dm
  code/modules/mob/living/simple_mob/subtypes/animal/giant_spider/phorogenic.dm
Labels: Fix

#18346 fix name inputs
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/tgui/modules/appearance_changer.dm
Labels: UI, Fix

#18283 Alt click reagent containers to set transfer volume
  code/game/machinery/pandemic.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/items/weapons/paint.dm
  code/modules/detectivework/tools/luminol.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/food/drinkingglass/drinkingglass.dm
  code/modules/food/drinkingglass/glass_types.dm
  code/modules/food/drinkingglass/serving_glasses.dm
  code/modules/food/drinkingglass/shaker.dm
  code/modules/food/food.dm
  code/modules/food/food/condiment.dm
  code/modules/food/food/drinks.dm
  code/modules/food/glass/bottle.dm
  code/modules/food/glass/bottle/robot.dm
  code/modules/hydroponics/backtank.dm
  code/modules/mob/living/silicon/robot/subtypes/boozeborg.dm
  code/modules/reagents/machinery/dispenser/cartridge.dm
  code/modules/reagents/reagent_containers/_reagent_containers.dm
  code/modules/reagents/reagent_containers/bluespacecoffee.dm
  code/modules/reagents/reagent_containers/borghypo.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/spray_vr.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/refinery/equipment/chemcontainer.dm
Labels: Tools, Quality of Life

#18356 dependency up
  bun.lock
  dependencies.sh
  package.json
  tgui/bun.lock
  tgui/package.json
  tools/build/bun.lock
  tools/build/package.json
Labels: UI, Tools

#18364 adds additional deertaur belly sprites.
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories_taur.dm
  icons/mob/vore/Taur_Bellies.dmi
Labels: Sprites

#18337 SD Mini Engineering Tweaks
  maps/stellar_delight/stellar_delight2.dmm
Labels: Map Edit

#18322 adds another maw overlay from Koreley
  code/modules/asset_cache/assets/belly_assets.dm
  icons/mob/screen_full_vore_list.dmi
  icons/mob/screen_full_vore_list_credits.txt
  icons/mob/vore_fullscreens/VBO_maw27.dmi
Labels: Sprites

#18335 Removes some simple sleeps
  code/game/gamemodes/technomancer/core_obj.dm
  code/game/gamemodes/technomancer/spells/targeting_matrix.dm
  code/game/machinery/computer/guestpass.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/toys/toys_vr.dm
  code/game/objects/structures/electricchair.dm
  code/game/objects/stumble_into_vr.dm
  code/modules/looking_glass/lg_turfs.dm
Labels: Removal, Code Improvement

#18333 cleans up the cell mess
  code/modules/research/tg/designs/stock_part_designs.dm
  code/modules/research/tg/techwebs/nodes/engi_nodes.dm
  code/modules/vehicles/rover_vr.dm
Labels: Code Improvement

#18342 sane stacks
  code/ATMOSPHERICS/components/binary_devices/algae_generator_vr.dm
  code/__defines/materials.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/bonfire.dm
  code/game/objects/structures/gravemarker.dm
  code/game/objects/structures/props/puzzledoor.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/game/turfs/simulated/dungeon/wall.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/client/client procs.dm
  code/modules/hydroponics/beekeeping/beehive.dm
  code/modules/materials/materials/alien_alloy.dm
  code/modules/materials/sheets/_sheets.dm
  code/modules/mining/machinery/machine_stacking.dm
  code/modules/mining/ore_vr.dm
  code/modules/mob/living/carbon/human/species/station/protean/protean_species.dm
  code/modules/mob/living/simple_mob/subtypes/animal/giant_spider/tunneler.dm
  code/modules/recycling/recycling.dm
  code/modules/tables/presets.dm
  code/modules/turbolift/turbolift_turfs.dm
Labels: Fix, Code Improvement, Administration

#18371 Adds missing area flags to abandoned outpost underdark POI
  maps/tether/submaps/underdark_pois/abandonded_outpost.dmm
Labels: Map Edit

#18362 adds a timeout to tgui payloads
  code/modules/tgui/helpers.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui_input/say_modal/modal.dm
  vorestation.dme
Labels: Sev: 2-High, UI, Fix

#18316 Circuitry cloning implementation
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/circuit_serialization.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/research/tg/designs/circuitry_designs.dm
  code/modules/research/tg/techwebs/nodes/circuit_nodes.dm
  tgui/packages/tgui/interfaces/ICAssembly/Plane.tsx
  tgui/packages/tgui/interfaces/ICAssembly/index.tsx
  tgui/packages/tgui/interfaces/ICAssembly/types.ts
  tgui/packages/tgui/interfaces/ICExport.tsx
  tgui/packages/tgui/interfaces/ICPrinter.tsx
  vorestation.dme
Labels: Feature, UI

#18372 Fixes three piping issues in the Stellar Delight
  maps/stellar_delight/stellar_delight1.dmm
  maps/stellar_delight/stellar_delight2.dmm
Labels: Map Edit

#18377 missing div
  tgui/packages/tgui/interfaces/VorePanelExport/VorePanelExportBellyString.tsx
Labels: UI

#18379 cleans up the html export somewhat
  tgui/packages/tgui/interfaces/VorePanelExport/VorePanelExportBellyString.tsx
  tgui/packages/tgui/interfaces/VorePanelExport/functions.ts
  tgui/packages/tgui/interfaces/VorePanelExport/types.ts
Labels: UI

#18382 fix program reopening
  code/modules/modular_computers/file_system/program.dm
  code/modules/tickets/procs.dm
Labels: Fix

#18383 Fix circuitry number inputs constraint
  code/modules/integrated_electronics/core/pins.dm
Labels: Fix

#18386 Missing Icon Fixes
  code/modules/clothing/accessories/badges_vr.dm
  code/modules/power/cells/power_cells.dm
Labels: Fix

#18389 sdmm up
  code/game/objects/items/devices/vacpack.dm
  code/modules/food/kitchen/smartfridge/smartfridge.dm
  code/modules/organs/organ_external.dm
  code/modules/tickets/procs.dm
  dependencies.sh
  tgui/bun.lock
  tgui/package.json
Labels: UI, Code Improvement

#18390 We love word games
  code/__defines/_protect.dm
  code/_helpers/roundstats.dm
  code/controllers/subsystems/nerdle.dm
  code/datums/datumvars.dm
  code/datums/managed_browsers/feedback_form.dm
  code/modules/multiz/movement.dm
  code/modules/pda/nerdle.dm
  code/modules/pda/pda.dm
  strings/nerdle_dict.txt
  tgui/packages/tgui/interfaces/Pda/pda_screens/pda_nerdle.tsx
  vorestation.dme
Labels: Feature, UI, Fix, Config Update, Code Improvement
